﻿
@{
    ViewBag.Title = "Account Entry";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Account Entry";
}
<style>
    .displayNone {
        display: none !important;
    }
</style>
<script>
    function AddNew() {
        location.reload();
    }
</script>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Account Entry</h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp;Add New</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <div class="row">
            <input id="AccountEntry" hidden/>
            <input id="ID" hidden value="0" />

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Account No")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_ACC_NO" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Description")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_ACC_DESC" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Description1")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_ACC_DESC1" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Account Type")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_ACC_TYPE" />
                    </div>
                </div>
            </div>

            
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="SubmitAccountEntry" id="SubmitAccountEntry" value="Submit" class="btn btn-outline-primary" />
                <input type="button" name="Delete_AccountEntry" id="Delete_AccountEntry" value="Delete" class="btn btn-outline-danger" />
                <button type="button" class="btn btn-default" id="btn_AUTH_AccountEntry" name="btn_AUTH_AccountEntry" data-toggle="modal" data-target="#UNAUTH_AccountEntry_Modal">
                    Atuthorize
                </button>
            </div>
        </div>
    </div>

</div>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <table id="tbl_AUTH_AccountEntry" class="table table-bordered text-center table-hover  table-sm" width="100%">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>ACCOUNT NO</th>
                    <th>DESCRIPTION</th>
                    <th>DESCRIPTION</th>
                    <th>ACCOUNT TYPE</th>
                </tr>
            </thead>
            <tbody id="">
               
            </tbody>

        </table>
    </div>
</div>



<div class="modal fade" id="UNAUTH_AccountEntry_Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <div class="card-body">
                    <table id="tbl_UNAUTH_AccountEntry" class="table table-bordered text-center table-hover  table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>ACCOUNT NO</th>
                                <th>DESCRIPTION</th>
                                <th>DESCRIPTION</th>
                                <th>ACCOUNT TYPE</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
