﻿
@{
    ViewBag.Title = "ALLOWANCE ENTRY";
    ViewBag.Controller = "Home";
    ViewBag.Action = "ALLOWANCE ENTRY";
}
<style>
    .displayNone {
        display: none !important;
    }
</style>
<script>
    function AddNew() {
        location.reload();
    }
</script>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Allowances Excluding Housing/Conv.Off./Bonus Should Be Coded</h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp;Add New</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
       
        <div class="row">
            
            <input id="AllowanceEnter" hidden />
            <input id="ID" hidden value="0" />

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("1)Allow Abbreviation")
                    <div class="row">
                        <div class="col-md-12">
                            <input class="form-control" id="SP_ALL_CODE" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Branch")
                   <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="SP_BRANCH_A" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" name="btn_tbl_Branch" id="btn_tbl_Branch" data-toggle="modal" data-target="#BranchModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("2)Designation")
                   <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="SP_DESG_A" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" name="btn_tbl_Designation_Modal" id="btn_tbl_Designation_Modal" data-toggle="modal" data-target="#DesignationModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("3)Level")
                   <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="SP_LEVEL_A" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" name="btn_tbl_Level_Modal" id="btn_tbl_Level_Modal" data-toggle="modal" data-target="#LevelModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("4)Category")
                    <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="SP_CATEGORY_A" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" name="btn_tbl_Category_Modal" id="btn_tbl_Category_Modal" data-toggle="modal" data-target="#CategoryModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("5)Description")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_DESC" />
                    </div>                    
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("6)Valid From/To")
                   <div class="row">
                        <div class="col-md-6">
                            <input class="form-control" id="SP_VALID_FROM" placeholder="From" />
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" id="SP_VALID_TO" placeholder="To" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("7)Individual / All")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_ALL_IND" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("8)Amount")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_ALL_AMOUNT" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("9)% With Annual Package")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_PER_ASR" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("10)Related With Attendance")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_ATT_RELATED" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("11)Related With Leave")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_RELATED_LEAV" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("12)Meal / Conveyance")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_MEAL_CONV" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("13)Taxable")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_TAX" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("14)Tax Forecasted")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_FORECAST_TAX" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("15)ASR / Basic")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_ASR_BASIC" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("16)Account No To Effect")
                    <div class="col-md-12">
                        <input class="form-control" id="AccountNoToEffect" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Account Description")
                    <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="SP_ACOUNT_NO" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" name="btn_tbl_Acc_Desc_Modal" id="btn_tbl_Acc_Desc_Modal" data-toggle="modal" data-target="#AccountdescriptionModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="SubmitAllowanceEnter" id="SubmitAllowanceEnter" value="Submit" class="btn btn-outline-primary" />
                <input type="button" name="Delete_AllowanceEnter" id="Delete_AllowanceEnter" value="Delete" class="btn btn-outline-danger" />
                <button type="button" class="btn btn-default" id="btn_AUTH_AllowanceEnter" name="btn_AUTH_AllowanceEnter" data-toggle="modal" data-target="#UNAUTH_AllowanceEnter_Modal">
                    Atuthorize
                </button>
            </div>
        </div>
    </div>
</div>


<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <table id="tbl_AUTH_AllowanceEnter" class="table table-bordered text-center table-hover dTable">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>ALL CODE</th>
                    <th>BRANCH A</th>
                    <th>DESC</th>
                    <th>CATEGORY A</th>
                    <th>DESG A</th>
                    <th>LEVEL A</th>
                    <th>VALID FROM</th>
                    <th>VALID TO</th>
                    <th>ALL AMOUNT</th>
                    <th>PER ASR</th>
                    <th>TAX</th>
                    <th>ATT RELATED</th>
                    <th>RELATED LEAV</th>
                    <th>ASR BASIC</th>
                    <th>MEAL CONV</th>
                    <th>ALL IND</th>
                    <th>ACCOUNT NO</th>
                    <th>FORECAST TAX</th>
                </tr>
            </thead>
            <tbody id="">
                
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="UNAUTH_AllowanceEnter_Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <div class="card-body">
                    <table id="tbl_UNAUTH_AllowanceEnter" class="table table-bordered text-center table-hover  table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>ALL CODE</th>
                                <th>BRANCH A</th>
                                <th>DESC</th>
                                <th>CATEGORY A</th>
                                <th>DESG A</th>
                                <th>LEVEL A</th>                               
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="BranchModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table id="tbl_Branch_Modal" class="table table-bordered text-center table-hover dTable">
                    <thead class="Custom-Table-Head">
                        <tr>
                            <th>SP BRANCH A</th>
                            <th>SP BRANCH NAME</th>
                        </tr>
                    </thead>
                    <tbody id="tbl_Branch_Modal">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="DesignationModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table id="tbl_Designation_Modal" class="table table-bordered text-center table-hover dTable">
                    <thead class="Custom-Table-Head">
                        <tr>
                            <th>SP DESG A</th>                         
                        </tr>
                    </thead>
                    <tbody id="tbl_Designation_Modal">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="LevelModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table id="tbl_Level_Modal" class="table table-bordered text-center table-hover dTable">
                    <thead class="Custom-Table-Head">
                        <tr>                           
                            <th>SP LEVEL A</th>
                        </tr>
                    </thead>
                    <tbody id="tbl_Level_Modal">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="CategoryModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table id="tbl_Category_Modal" class="table table-bordered text-center table-hover dTable">
                    <thead class="Custom-Table-Head">
                        <tr>
                            <th>SP CATEGORY</th>
                        </tr>
                    </thead>
                    <tbody id="tbl_Category_Modal">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="AccountdescriptionModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table id="tbl_Acc_Desc_Modal" class="table table-bordered text-center table-hover dTable">
                    <thead class="Custom-Table-Head">
                        <tr>
                            <th>SP ACCOUNT NO</th>
                            <th>SP ACCOUNT DESCRIPTION</th>
                        </tr>
                    </thead>
                    <tbody id="tbl_Acc_Desc_Modal">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@* <div class="modal fade" id="CodeModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table id="" class="table table-bordered text-center table-hover dTable">
                    <thead class="Custom-Table-Head">
                        <tr>
                            <th>SP ALL CODE</th>
                            <th>SP BRANCH A</th>
                            <th>SP DESC</th>
                            <th>SP CATEGORY A</th>
                            <th>SP DESG A</th>
                            <th>SP LEVEL A</th>
                            <th>SP VALID FROM</th>
                            <th>SP VALID TO</th>
                            <th>SP ALL AMOUNT</th>
                            <th>SP PER ASR</th>
                            <th>SP TAX</th>
                            <th>SP ATT RELATED</th>
                            <th>SP RELATED LEAV</th>
                            <th>SP ASR BASIC</th>
                            <th>SP MEAL CONV</th>
                            <th>SP ALL IND</th>
                            <th>SP ACCOUNT NO</th>
                            <th>SP FORECAST TAX</th>
                        </tr>
                    </thead>
                    <tbody id="">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
 *@

@* 
<div class="modal fade" id="AddAllowancesEntryModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Allowance Enter Details</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <div class="row">

                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.Label("Code")
                                <div class="col-md-2">
                                    <input class="form-control" id="Code" />
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-1">
                                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#CodeModal">
                                        <i class="fas fa-align-center"></i>
                                    </button>
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control" id="Desc" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.Label("Taxable")
                                <div class="col-md-12">
                                    <input class="form-control" id="Taxable"/>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.Label("From / To")
                                <div class="col-md-6">
                                    <input class="form-control" id="DateFrom" type="date" />
                                </div>
                                /
                                <div class="col-md-6">
                                    <input class="form-control" id="DateTo"  type="date"/>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.Label("Amount")
                                <div class="col-md-12">
                                    <input class="form-control" id="Amount" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.Label("ASR / Basic")
                                <div class="col-md-12">
                                    <input class="form-control" id="ASRBasic"/>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.Label("Account No")
                                <div class="col-md-12">
                                    <input class="form-control" id="AccountNo" />
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.Label("Tax Forecast")
                                <div class="col-md-12">
                                    <input class="form-control" id="TaxForecast" />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="card-body">
                    <table id="" class="table table-bordered text-center table-hover dTable">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>PERSONNEL NO</th>
                                <th>NAME</th>
                                <th>REMARKS</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                     </table>
                </div>                
            </div>
        </div>
    </div>
</div> *@



@* <div class="modal fade" id="AllowAbbreviationModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table id="" class="table table-bordered text-center table-hover dTable">
                    <thead class="Custom-Table-Head">
                        <tr>
                            <th>SP ALL CODE</th>
                            <th>SP BRANCH A</th>
                            <th>SP DESG A</th>
                            <th>SP LEVEL A</th>
                            <th>SP CATEGORY</th>
                            <th>SP DESCRIPTION</th>
                        </tr>
                    </thead>
                    <tbody id="">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
 *@
