﻿

@{
    ViewBag.Title = "Attrition Category Entry";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Attrition Category Entry";
}
<style>
    .displayNone {
        display: none !important;
    }
</style>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Attrition Category Entry</h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp;Add New</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <div class="row">
            <input id="ATT_CAT_ENT" hidden />
            <input id="ID" hidden value="0" />
           
            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Code")
                    <div class="col-md-12">
                        <input class="form-control" id="ATTR_CATEGORY_CODE" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Description")
                    <div class="col-md-12">
                        <input class="form-control" id="ATTR_CATEGORY_DESC" />
                    </div>
                </div>
            </div>
                       
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" id="Submit_ATT_CAT_ENT" name="Submit_ATT_CAT_ENT" value="Submit" class="btn btn-outline-primary" />
                <input type="button" name="Delete_ATT_CAT_ENT" id="Delete_ATT_CAT_ENT" value="Delete" class="btn btn-outline-danger" />
                <button type="button" class="btn btn-default" id="btn_AUTH_ATT_CAT_ENT" name="btn_AUTH_ATT_CAT_ENT" data-toggle="modal" data-target="#UNAUTH_ATT_CAT_ENT_Modal">
                    Atuthorize
                </button>
            </div>
        </div>
    </div>

</div>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <table id="tbl_AUTH_ATT_CAT_ENT" class="table table-bordered text-center table-hover dTable">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>CODE</th>
                    <th>DESCRIPTION</th>
                </tr>
            </thead>
            <tbody id="">
                
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="UNAUTH_ATT_CAT_ENT_Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <div class="card-body">
                    <table id="tbl_UNAUTH_ATT_CAT_ENT" class="table table-bordered text-center table-hover  table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>CODE</th>
                                <th>DESCRIPTION</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    function AddNew() {
        location.reload();
    }

    function scrollToTop() {
        window.scrollTo({ top: 0, behavior: 'smooth' })
    }


    $(function () {
        $("#SubmitAttritionCategoryEntry").click(function () {

            if ($('#ATTR_CATEGORY_CODE').val() == '' || $('#ATTR_CATEGORY_DESC').val() == '') {
                if ($('#ATTR_CATEGORY_CODE').val() == '') {
                    $('#ATTR_CATEGORY_CODE').addClass('is-invalid');
                }

                if ($('#ATTR_CATEGORY_DESC').val() == '') {
                    $('#ATTR_CATEGORY_DESC').addClass('is-invalid');
                }

                event.preventDefault;
                event.stopPropagation;
                return false;
            }

            var AttritionCategoryEntry = {};
            AttritionCategoryEntry.ID = parseInt($('#ID').val());
            AttritionCategoryEntry.ATTR_CATEGORY_CODE = $('#ATTR_CATEGORY_CODE').val();
            AttritionCategoryEntry.ATTR_CATEGORY_DESC = $('#ATTR_CATEGORY_DESC').val();

            if (AttritionCategoryEntry != null) {
                $.ajax({
                    type: "POST",
                    url: "/Setup/UpsertAttritionCategoryEntry",
                    data: AttritionCategoryEntry,
                    contentType: "application/x-www-form-urlencoded",
                    method: "POST",
                    success: function (response) {
                        if (response != null) {
                            alert('Your request is successfully completed !');
                            location.reload();
                        } else {
                            alert("Something went wrong");
                        }
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            }
        });
    });

    function DeleteAttritionCategoryEntry(ID) {


        $('#ID').val(ID);
        var AttritionCategoryEntry = {};
        AttritionCategoryEntry.ID = parseInt($('#ID').val());

        if (AttritionCategoryEntry != null) {
            $.ajax({
                type: "POST",
                url: "/Setup/DeleteAttritionCategoryEntry",
                data: AttritionCategoryEntry,
                contentType: "application/x-www-form-urlencoded",
                method: "POST",
                success: function (response) {
                    if (response != null) {
                        alert('Your request is successfully Deleted !');
                        location.reload();
                    } else {
                        alert("Something went wrong");
                    }
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }
    }

    function removeReq(fieldname) {
        if (fieldname == 'ATTR_CATEGORY_CODE') {
            $('#ATTR_CATEGORY_CODE').removeClass('is-invalid');
        }

        if (fieldname == 'ATTR_CATEGORY_DESC') {
            $('#ATTR_CATEGORY_DESC').removeClass('is-invalid');
        }
    }

</script>


