﻿@using CHRIS.Data;
@model List<CHRIS_SP_SETUP_ATTR_TYPE_GETALLResult>


@{
    ViewBag.Title = "Attrition Type Entry";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Attrition Type Entry";
}
<style>
    .displayNone {
        display: none !important;
    }
</style>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">ATTRITION CATEGORY/TYPE ENTRY</h3>
       @* <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp;Add New</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>*@
    </div>
    <!-- /.Case Form Start -->
   @* <div class="card-body">
        <div class="row">
            <input id="ID" hidden value="0" />
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("User")
                    <div class="col-md-12">
                        <input class="form-control" id="User" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Location")
                    <div class="col-md-12">
                        <input class="form-control" id="Location" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Date")
                    <div class="col-md-12">
                        <input class="form-control" id="Date" type="date" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Category Code")
                    <div class="col-md-12">
                        <input class="form-control" id="CategoryCode" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Category Description")
                    <div class="col-md-12">
                        <input class="form-control" id="CategoryDescription" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Type Code")
                    <div class="col-md-12">
                        <input class="form-control" id="TypeCode" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Type Description")
                    <div class="col-md-12">
                        <input class="form-control" id="TypeDescription" />
                    </div>
                </div>
            </div>


        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
            <input type="button" id="SubmitAttritionTypeEntry" name="Submit" value="Submit" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>*@

</div>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <table id="" class="table table-bordered text-center table-hover dTable">
            <thead class="Custom-Table-Head">
                <tr>
                     <th>ID</th>
                    <th>CATEGORY CODE</th>
                    <th>CATEGORY DESCRIPTION</th>
                    <th>TYPE CODE</th>
                    <th>TYPE DESCRIPTION</th>
                   @* <th>ACTION</th>*@
                </tr>
            </thead>
            <tbody id="">
                @if (Model != null)
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.ID</td>
                            <td>@item.ATTR_CATEGORY_CODE</td>
                            <td>@item.ATTR_CATEGORY_DESC</td>
                            <td>@item.ATTR_TYPE_CODE</td>
                            <td>@item.ATTR_TYPE_DESC</td>
                            @*<td>
                                <button type="button" class="btn btn-outline-info" onclick="EditAttritionTypeEntry('@item.ID','@item.SOEID','@item.USER_NAME');">
                                    <span class="fas fa-pen"></span> Edit
                                </button>
                                <button type="button" class="btn btn-outline-danger" onclick="DeleteAttritionTypeEntry('@item.ID');">
                                    <span class="fas fa-times"></span> Delete
                                </button>
                            </td>*@
                        </tr>
                    }
            </tbody>
        </table>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    function AddNew() {
        location.reload();
    }

    //function scrollToTop() {
    //    window.scrollTo({ top: 0, behavior: 'smooth' })
    //}

    //function EditAttritionTypeEntry(ID, SOEID, USER_NAME) {

    //    $('#ID').val(ID);
    //    $('#SOEID').val(SOEID);
    //    $('#USER_NAME').val(USER_NAME);
    //    scrollToTop();
    //}

    //$(function () {
    //    $("#SubmitAttritionTypeEntry").click(function () {

    //        if ($('#SOEID').val() == '' || $('#USER_NAME').val() == '') {
    //            if ($('#SOEID').val() == '') {
    //                $('#SOEID').addClass('is-invalid');
    //            }

    //            if ($('#USER_NAME').val() == '') {
    //                $('#USER_NAME').addClass('is-invalid');
    //            }

    //            event.preventDefault;
    //            event.stopPropagation;
    //            return false;
    //        }

    //        var AttritionTypeEntry = {};
    //        AttritionTypeEntry.ID = parseInt($('#ID').val());
    //        AttritionTypeEntry.SOEID = $('#SOEID').val();
    //        AttritionTypeEntry.USER_NAME = $('#USER_NAME').val();

    //        if (AttritionTypeEntry != null) {
    //            $.ajax({
    //                type: "POST",
    //                url: "/Setup/UpsertAttritionTypeEntry",
    //                data: AttritionTypeEntry,
    //                contentType: "application/x-www-form-urlencoded",
    //                method: "POST",
    //                success: function (response) {
    //                    if (response != null) {
    //                        alert('Your request is successfully completed !');
    //                        location.reload();
    //                    } else {
    //                        alert("Something went wrong");
    //                    }
    //                },
    //                failure: function (response) {
    //                    alert(response.responseText);
    //                },
    //                error: function (response) {
    //                    alert(response.responseText);
    //                }
    //            });
    //        }
    //    });
    //});


    //function DeleteAttritionTypeEntry(ID) {


    //    $('#ID').val(ID);
    //    var AttritionTypeEntry = {};
    //    AttritionTypeEntry.ID = parseInt($('#ID').val());

    //    if (AttritionTypeEntry != null) {
    //        $.ajax({
    //            type: "POST",
    //            url: "/Setup/DeleteAttritionTypeEntry",
    //            data: AttritionTypeEntry,
    //            contentType: "application/x-www-form-urlencoded",
    //            method: "POST",
    //            success: function (response) {
    //                if (response != null) {
    //                    alert('Your request is successfully Deleted !');
    //                    location.reload();
    //                } else {
    //                    alert("Something went wrong");
    //                }
    //            },
    //            failure: function (response) {
    //                alert(response.responseText);
    //            },
    //            error: function (response) {
    //                alert(response.responseText);
    //            }
    //        });
    //    }

    //}

    //function removeReq(fieldname) {
    //    if (fieldname == 'SOEID') {
    //        $('#SOEID').removeClass('is-invalid');
    //    }

    //    if (fieldname == 'USER_NAME') {
    //        $('#USER_NAME').removeClass('is-invalid');
    //    }
    //}

</script>


