﻿@model List<CHRIS.Data.CHRIS_SP_BENCHMARK_MANAGERResult>


@{
    ViewBag.Title = "BenchMark Rate Entry";
    ViewBag.Controller = "Home";
    ViewBag.Action = "BenchMark Rate Entry";
}
<style>
    .displayNone {
        display: none !important;
    }
</style>


<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Benchmark Rate Entry</h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" name="AddNew" id="AddNew"><i class="fas fa-plus"></i>&nbsp;Add New</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <div class="row">
            <div class="col-md-5">
                <button type="button" class="btn btn-info" id="AuthorizeBenMarkRateData" name="AuthorizeBenMarkRateData" data-toggle="modal" data-target="#AuthorizeBenchMarkRateModal">
                    Authorize
                </button>
            </div>
            <div class="col-md-7">

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Date")
                    <div class="col-md-10">
                        <input class="form-control" id="BEN_DATE" type="date" />
                    </div>  
                    <div class="col-md-12">
                        <input type="button" name="btn_SearchDate" id="btn_SearchDate" value="Fetch" class="btn btn-outline-primary" />
                    </div>
                </div>
            </div>
        </div>
        <hr />

        <div class="row">
            <input  id="ID" value="0" hidden/>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("TYPE")
                    <div class="col-md-10">
                        <input class="form-control" id="BEN_FIN_TYPE" readonly/>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Description")
                    <div class="col-md-10">
                        <input class="form-control" id="DESC" readonly />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("RATE")
                    <div class="col-md-10">
                        <input class="form-control" id="BEN_RATE" />
                    </div>
                </div>
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="SaveBenchMarkRateEntry" id="SaveBenchMarkRateEntry" value="Submit" class="btn btn-outline-primary" />
                <input type="button" name="DeleteBenchMarkRateEntry" id="DeleteBenchMarkRateEntry" value="Delete" class="btn btn-outline-danger" />
            </div>
        </div>

    </div>
</div>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <table id="BenchMarkRateEntryList1" class="table table-bordered text-center table-hover dTable">
            <thead class="Custom-Table-Head">
                <tr>                   
                    <th>FINANCE TYPE</th>
                    <th>DESCRIPTION</th>
                    <th>BENCHMARK RATE (%)</th>                  
                </tr>
            </thead>
            <tbody id="BenchMarkRateEntryList">
                
               @*  @if (Model != null)
                {
                    for (int i = 0; i < @Model.Count; i++)
                    {
                        <tr>
                            <td id="ID" name="tr_ID">@Model[i].ID</td>
                            <td id="beN_FIN_TYPE" name="tr_beN_FIN_TYPE">@Model[i].BEN_FIN_TYPE</td>
                            <td id="w_description" name="tr_w_description">@Model[i].w_description</td>
                            <td id="BEN_RATE" name="tr_BEN_RATE"><input class="form-control" type="text" value="@Model[i].BEN_RATE" name="beN_RATE" id="beN_RATE" /></td>
                        </tr>
                    }
                }               *@ 
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="AuthorizeBenchMarkRateModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Records for Authorization</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="BenchMarkRateAuthorizationList" class="table table-bordered text-center table-hover table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>Action</th>
                                <th>Finance Type</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody id="BenchMarkRateAuthorizationList">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>