﻿

@{
    ViewBag.Title = "Branch Setup";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Branch Setup";
}
<style>
    .displayNone {
        display: none !important;
    }
</style>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Branch Setup</h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp;Add New</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <div class="row">
            <input id="BranchSetup" hidden />
            <input id="ID" hidden value="0" />

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Branch Code")
                    <div class="col-md-12">
                        <input class="form-control" id="BRN_CODE" />
                    </div>                  
                </div>
            </div>

            <div class="col-md-8">
                <div class="form-group">
                    @Html.Label("Branch Description")
                    <div class="col-md-12">
                        <input class="form-control" id="BRN_NAME" />
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("Branch Address")
                    <div class="row">
                    <div class="col-md-4">
                        <input class="form-control" id="BRN_ADD1" />
                    </div>
                    <div class="col-md-4">
                        <input class="form-control" id="BRN_ADD2" />
                    </div>
                    <div class="col-md-4">
                        <input class="form-control" id="BRN_ADD3" />
                    </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Branch Cr Account")
                    <div class="col-md-12">
                        <input class="form-control" id="BRN_CR_AC" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Branch Dr Account")
                    <div class="col-md-12">
                        <input class="form-control" id="BRN_DR_AC" />
                    </div>
                </div>
            </div>

        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="SubmitBranchSetup" type="button" name="Submit" value="Submit" class="btn btn-outline-primary" />
                <input type="button" name="Delete_BranchSetup" id="Delete_BranchSetup" value="Delete" class="btn btn-outline-danger" />
                <button type="button" class="btn btn-default" id="btn_AUTH_BranchSetup" name="btn_AUTH_BranchSetup" data-toggle="modal" data-target="#UNAUTH_BranchSetup_Modal">
                    Atuthorize
                </button>
            </div>
        </div>
    </div>

</div>

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <table id="tbl_AUTH_BranchSetup" class="table table-bordered text-center table-hover dTable">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>BRANCH CODE</th>
                    <th>BRANCH DESCRIPTION</th>
                    <th colspan="3">BRANCH ADDRESS</th>
                    <th>BRANCH CR.AMOUNT</th>
                    <th>BRANCH DR.AMOUNT</th>
                </tr>
            </thead>
            <tbody id="">
                
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="UNAUTH_BranchSetup_Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <div class="card-body">
                    <table id="tbl_UNAUTH_BranchSetup" class="table table-bordered text-center table-hover  table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>BRANCH CODE</th>
                                <th>BRANCH DESCRIPTION</th>
                                <th colspan="3">BRANCH ADDRESS</th>
                                <th>BRANCH CR.AMOUNT</th>
                                <th>BRANCH DR.AMOUNT</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    function AddNew() {
        location.reload();
    }

    function scrollToTop() {
        window.scrollTo({ top: 0, behavior: 'smooth' })
    }


    $(function () {
        $("#SubmitBranchSetup").click(function () {

            if ($('#BRN_CODE').val() == '' || $('#BRN_NAME').val() == '' || $('#BRN_ADD1').val() == '' || $('#BRN_ADD2').val() == '' || $('#BRN_ADD3').val() == '' || $('#BRN_CR_AC').val() == '' || $('#BRN_DR_AC').val() == '') {
                if ($('#BRN_CODE').val() == '') {
                    $('#BRN_CODE').addClass('is-invalid');
                }

                if ($('#BRN_NAME').val() == '') {
                    $('#BRN_NAME').addClass('is-invalid');
                }
                
                if ($('#BRN_ADD1').val() == '') {
                    $('#BRN_ADD1').addClass('is-invalid');
                }

                if ($('#BRN_ADD2').val() == '') {
                    $('#BRN_ADD2').addClass('is-invalid');
                }

                if ($('#BRN_ADD3').val() == '') {
                    $('#BRN_ADD3').addClass('is-invalid');
                }

                if ($('#BRN_CR_AC').val() == '') {
                    $('#BRN_CR_AC').addClass('is-invalid');
                }

                if ($('#BRN_DR_AC').val() == '') {
                    $('#BRN_DR_AC').addClass('is-invalid');
                }

                event.preventDefault;
                event.stopPropagation;
                return false;
            }

            var BranchSetup = {};
            BranchSetup.ID = parseInt($('#ID').val());
            BranchSetup.BRN_CODE = $('#BRN_CODE').val();
            BranchSetup.BRN_NAME = $('#BRN_NAME').val();
            BranchSetup.BRN_ADD1 = $('#BRN_ADD1').val();
            BranchSetup.BRN_ADD2 = $('#BRN_ADD2').val();
            BranchSetup.BRN_ADD3 = $('#BRN_ADD3').val();
            BranchSetup.BRN_CR_AC = $('#BRN_CR_AC').val();
            BranchSetup.BRN_DR_AC = $('#BRN_DR_AC').val();

            if (BranchSetup != null) 
            {
                $.ajax({
                    type: "POST",
                    url: "/Setup/UpsertBranchSetup",
                    data: BranchSetup,
                    contentType: "application/x-www-form-urlencoded",
                    method: "POST",
                    success: function (response) {
                        if (response != null) {
                            alert('Your request is successfully completed !');
                            location.reload();
                        } else {
                            alert("Something went wrong");
                        }
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            }
        });
    });


    function DeleteBranchSetup(ID)
    {
       
        $('#ID').val(ID);
        var BranchSetup = {};
        BranchSetup.ID = parseInt($('#ID').val());

        if (BranchSetup != null) {
            $.ajax({
                type: "POST",
                url: "/Setup/DeleteBranchSetup",
                data: BranchSetup,
                contentType: "application/x-www-form-urlencoded",
                method: "POST",
                success: function (response) {
                    if (response != null) {
                        alert('Your request is successfully Deleted !');
                        location.reload();
                    } else {
                        alert("Something went wrong");
                    }
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }
        
    }


    function removeReq(fieldname) {
        if (fieldname == 'BRN_CODE')
        {
            $('#BRN_CODE').removeClass('is-invalid');
        }

        if (fieldname == 'BRN_NAME') 
        {
            $('#BRN_NAME').removeClass('is-invalid');
        }
        
        if (fieldname == 'BRN_ADD1')
        {
            $('#BRN_ADD1').removeClass('is-invalid');
        }

        if (fieldname == 'BRN_ADD2') 
        {
            $('#BRN_ADD2').removeClass('is-invalid');
        }

        if (fieldname == 'BRN_ADD3') 
        {
            $('#BRN_ADD3').removeClass('is-invalid');
        }

        if (fieldname == 'BRN_CR_AC') 
        {
            $('#BRN_CR_AC').removeClass('is-invalid');
        }

        if (fieldname == 'BRN_DR_AC') 
        {
            $('#BRN_DR_AC').removeClass('is-invalid');
        }

    }

</script>