﻿@{
    ViewBag.Title = "Category File List";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Category File List";
}

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Report Parameters</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("DesType")
                    <div class="col-md-10">
                        <select class="form-control" id="DesType" name="DesType">
                            <option value="" selected>--Select DesType--</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" name="RunDesType" value="Run" class="btn btn-outline-primary" />
        </div>
    </div>
</div>
