﻿


@{
    ViewBag.Title = "Category Entry";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Category Entry";
}
<style>
    .displayNone {
        display: none !important;
    }
</style>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">CATEGORY ENTRY</h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp;Add New</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <div class="row">
            <input id="Category_Entry" hidden />
            <input id="ID" hidden value="0" />

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Category Code")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_CAT_CODE" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Category Description")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_DESC" />
                    </div>
                </div>
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="SubmitCategory_Entry" type="button" name="SubmitCategory_Entry" value="Submit" class="btn btn-outline-primary" />
                <input type="button" name="Delete_Cat_Ent" id="Delete_Cat_Ent" value="Delete" class="btn btn-outline-danger" />
                <button type="button" class="btn btn-default" id="btn_AUTH_Cat_Ent" name="btn_AUTH_Cat_Ent" data-toggle="modal" data-target="#UNAUTH_Cat_Ent_Modal">
                    Atuthorize
                </button>
            </div>
        </div>
    </div>

</div>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <table id="tbl_AUTH_Cat_Ent" class="table table-bordered text-center table-hover dTable">
            <thead class="Custom-Table-Head">
                <tr>                   
                    <th>CATEGORY CODE</th>
                    <th>CATEGORY DESCRIPTION</th>                   
                </tr>
            </thead>
            <tbody id="">               
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="UNAUTH_Cat_Ent_Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_UNAUTH_Cat_Ent" class="table table-bordered text-center table-hover table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>CATEGORY CODE</th>
                                <th>CATEGORY DESCRIPTION</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    function AddNew() 
    {
        location.reload();
    }


    
</script>