﻿@{
    ViewBag.Title = "Compensation Entry";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Compensation Entry";
}
<style>
    .displayNone {
        display: none !important;
    }
</style>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Compensation Information Entry</h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp;Add New</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <div class="row">
            <input id="Compensation_Entry" hidden />
            <input id="ID" hidden value="0" />

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Lvl Code")
                    <div class="col-md-12">
                        <input class="form-control" id="LVL_CODE" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Min Salary")
                    <div class="col-md-12">
                        <input class="form-control" id="MIN_SAL" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Mid Salary")
                    <div class="col-md-12">
                        <input class="form-control" id="MID_SAL" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Max Salary")
                    <div class="col-md-12">
                        <input class="form-control" id="MAX_SAL" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Budget Price")
                    <div class="col-md-12">
                        <input class="form-control" id="BDGT_PRICE" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Annual Dep")
                    <div class="col-md-12">
                        <input class="form-control" id="ANL_DEPC" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Petrol Ltr")
                    <div class="col-md-12">
                        <input class="form-control" id="PTRL_LTR" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Petrol Rate")
                    <div class="col-md-12">
                        <input class="form-control" id="PTRL_RATE" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Insurance Rate")
                    <div class="col-md-12">
                        <input class="form-control" id="INS_RATE" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Maintenance Amt")
                    <div class="col-md-12">
                        <input class="form-control" id="MNTNC_AMT" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Driver Cost")
                    <div class="col-md-12">
                        <input class="form-control" id="DRVR_COST" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("GroupHead Allowance")
                    <div class="col-md-12">
                        <input class="form-control" id="GRPHD_ALL" />
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    @Html.Label("Group Head")
                    <div class="col-md-2">
                        <input class="form-control" id="GRPHD" name="GRPHD" type="checkbox" />
                    </div>
                </div>
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="SubmitCompensationEntry" id="SubmitCompensationEntry" value="Submit" class="btn btn-outline-primary" />
                <input type="button" name="DeleteCompensationEntry" id="DeleteCompensationEntry" value="Delete" class="btn btn-outline-danger" />
                <button type="button" class="btn btn-default" id="btn_AUTH_comp_Ent" name="btn_AUTH_comp_Ent" data-toggle="modal" data-target="#UNAUTH_comp_Ent_Modal">
                    Atuthorize
                </button>
            </div>
        </div>
    </div>

</div>


<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <button type="button" class="btn btn-default" id="btn_GroupHead" name="btn_GroupHead" data-toggle="modal" data-target="#GroupHead_Modal">
                Group Head
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <table id="tbl_CompensationEntry" class="table table-bordered text-center table-hover table-sm" width="100%">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>LVL CODE</th>
                    <th>GRP HEAD</th>
                    <th>MIN SAL</th>
                    <th>MID SAL</th>
                    <th>MAX SAL</th>
                    <th>BUDGET PRICE</th>
                    <th>ANNUAL DEP</th>
                    <th>PETROL LTR</th>
                    <th>PETROL RATE</th>
                    <th>INSURANCE RATE</th>
                    <th>MAINTENANCE AMT</th>
                    <th>DRIVER COST</th>
                    <th>GROUPHEAD ALLOWANCE</th>
                </tr>
            </thead>
            <tbody id="">
            </tbody>
        </table>
    </div>
</div>


<div class="modal fade" id="GroupHead_Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Group Head</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="card-body">
                    <div class="row">
                        <input id="comp_Ent_GH" hidden />

                        <input id="ID_GH" hidden value="0" />

                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.Label("Group Head No")
                                <div class="row">
                                    <div class="col-md-10">
                                        <input class="form-control" id="GRHD_NO" disabled />
                                    </div>
                                    <div class="col-md-1">
                                        <button type="button" class="btn btn-default" id="btn_GRHD_NO" name="btn_GRHD_NO" data-toggle="modal" data-target="#GRHD_NO_Modal">
                                            <i class="fas fa-align-center"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.Label("Name")
                                <div class="col-md-12">
                                    <input class="form-control" id="Name" disabled />
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="button" name="Submit_GroupHead" id="Submit_GroupHead" value="Submit" class="btn btn-outline-primary" />
                            <input type="button" name="Delete_comp_Ent_GH" id="Delete_comp_Ent_GH" value="Delete" class="btn btn-outline-danger" />
                            <button type="button" class="btn btn-default" id="btn_AUTH_comp_Ent_GH" name="btn_AUTH_comp_Ent_GH" data-toggle="modal" data-target="#UNAUTH_comp_Ent_GH_Modal">
                                Atuthorize
                            </button>
                        </div>
                    </div>
                </div>


                <div class="card-body">
                    <table id="tbl_AUTH_comp_Ent_GH" class="table table-bordered text-center table-hover table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>GROUP HEAD NO</th>
                                <th>NAME</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="GRHD_NO_Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_GRHD_NO" class="table table-bordered text-center table-hover table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>GROUP HEAD NO</th>
                                <th>NAME</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="UNAUTH_comp_Ent_GH_Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <div class="card-body">
                    <table id="tbl_UNAUTH_comp_Ent_GH" class="table table-bordered text-center table-hover  table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>GROUP HEAD NO</th>
                                <th>NAME</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="UNAUTH_comp_Ent_Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <div class="card-body">
                    <table id="tbl_UNAUTH_comp_Ent" class="table table-bordered text-center table-hover  table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>LVL CODE</th>
                                <th>GRP HEAD</th>
                                <th>MIN SAL</th>
                                <th>MID SAL</th>
                                <th>MAX SAL</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    function AddNew() {
        location.reload();
    }
</script>