﻿
@{
    ViewBag.Title = "Compensation Entry Group Head";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Compensation Entry Group Head";
}
<style>
    .displayNone {
        display: none !important;
    }
</style>

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Group Head Entry Form</h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp;Add New</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>


    <div class="card-body">
        <div class="row">
@*             <input id="comp_Ent_GH" hidden />
 *@            <input id="ID" hidden value="0" />

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Group Head No")
                    <div class="col-md-12">
                        <input class="form-control" id="GRHD_NO" />
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label>&nbsp;&nbsp;</label>
                    <div class="col-md-12">
                        <input type="button" name="SubmitGroupHeadNo" id="SubmitGroupHeadNo" value="Submit" class="btn btn-outline-primary" />
                       @*  <input type="button" name="Delete_comp_Ent_GH" id="Delete_comp_Ent_GH" value="Delete" class="btn btn-outline-danger" />
                        <button type="button" class="btn btn-default" id="btn_AUTH_comp_Ent_GH" name="btn_AUTH_comp_Ent_GH" data-toggle="modal" data-target="#UNAUTH_comp_Ent_GH_Modal">
                            Atuthorize
                        </button> *@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <table id="tbl_AUTH_comp_Ent_GH" class="table table-bordered text-center table-hover dTable">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>GROUP HEAD NO</th>
                    <th>NAME</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody id="">
               
            </tbody>
        </table>
    </div>
</div>@* 

<div class="modal fade" id="UNAUTH_comp_Ent_GH_Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <div class="card-body">
                    <table id="tbl_UNAUTH_comp_Ent_GH" class="table table-bordered text-center table-hover  table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>GROUP HEAD NO</th>
                                <th>NAME</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

 *@
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    function AddNew() {
        location.reload();
    }
</script>