﻿
@{
    ViewBag.Title = "Contractor Code Entry";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Contractor Code Entry";
}
<style>
    .displayNone {
        display: none !important;
    }
</style>

<script>
    function AddNew() {
        location.reload();
    }
    </script>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Contractor Code Entry</h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp;Add New</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <input id="Contract_Code_Ent" hidden />
        <input id="ID" value="0" hidden />

        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("1) Contractor Code")
                   <div class="row">
                        <div class="col-md-12">
                            <input class="form-control" id="SP_CONTRA_CODE" />
                        </div>                       
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("2) Name")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_CONTRA_NAME" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("3) Company Name")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_CONTRA_COMP_NAME" />
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("4) Address")
                   <div class="row">
                        <div class="col-md-4">
                            <input class="form-control" id="SP_CONTRA_ADD1" />
                        </div>
                        <div class="col-md-4">
                            <input class="form-control" id="SP_CONTRA_ADD2" />
                        </div>
                        <div class="col-md-4">
                            <input class="form-control" id="SP_CONTRA_ADD3" />
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("5) Telephone #1")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_CONTRA_PHONE1" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("6) Telephone #2")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_CONTRA_PHONE2" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("7) Agreement Start Date")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_CONTRA_AGRE_DATE"/>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("8) Expiry Date")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_CONTRA_EXP_DATE"/>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("9) NID Card No")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_CONTRA_NID" />
                    </div>
                </div>
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="SubmitContractorCodeEntry" id="SubmitContractorCodeEntry" value="Submit" class="btn btn-outline-primary" />
                <input type="button" name="Delete_Contract_Code_Ent" id="Delete_Contract_Code_Ent" value="Delete" class="btn btn-outline-danger" />
                <button type="button" class="btn btn-default" id="btn_AUTH_Contract_Code_Ent" name="btn_AUTH_Contract_Code_Ent" data-toggle="modal" data-target="#UNAUTH_Contract_Code_Ent_Modal">
                    Atuthorize
                </button>
            </div>
        </div>
    </div>

</div>

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <table id="tbl_AUTH_Contract_Code_Ent" class="table table-bordered text-center table-hover table-sm" width="100%">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>CODE</th>
                    <th>NAME</th>
                    <th>COMP_NAME</th>
                    <th>ADD1</th>
                    <th>ADD2</th>
                    <th>ADD3</th>
                    <th>PHONE1</th>
                    <th>PHONE2</th>
                    <th>AGRE_DATE</th>
                    <th>EXP_DATE</th>
                    <th>NID</th>
                </tr>
            </thead>
            <tbody id="">
                
            </tbody>
        </table>
    </div>
</div>


<div class="modal fade" id="UNAUTH_Contract_Code_Ent_Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <div class="card-body">
                    <table id="tbl_UNAUTH_Contract_Code_Ent" class="table table-bordered text-center table-hover  table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>CODE</th>
                                <th>NAME</th>
                                <th>COMP_NAME</th>
                               @*  <th>ADD1</th>
                                <th>ADD2</th>
                                <th>ADD3</th>
                                <th>PHONE1</th>
                                <th>PHONE2</th>
                                <th>AGRE_DATE</th>
                                <th>EXP_DATE</th>
                                <th>NID</th> *@
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

