﻿

@{
    ViewBag.Title = "Deduction Entry";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Deduction Entry";
}
<style>
    .displayNone {
        display: none !important;
    }
</style>
<script>
    function AddNew() {
        location.reload();
    }
</script>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Deductions Excluding P.Fund/Gratuity/Insurance Premium </h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp;Add New</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">     

        <div class="row">
            <input id="Deduct_Ent" hidden />
            <input id="ID" hidden value="0" />
            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("1) Deduc Abbreviation")
                    <div class="row">
                        <div class="col-md-12">
                            <input class="form-control" id="SP_DED_CODE" />
                        </div>
                       @*  <div class="col-md-1">
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#DeducAbbreviationModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div> *@
                    </div>
                </div>
            </div>


            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Branch")
                   <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="SP_BRANCH_D" />
                    </div>
                    <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="btn_tbl_Branch_DED" name="btn_tbl_Branch_DED" data-toggle="modal" data-target="#BranchModal_DED">
                            <i class="fas fa-align-center"></i>
                        </button>
                    </div>
                   </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("2) Designation")
                   <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="SP_DESG_D" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="btn_modal_Desig_DED" name="btn_modal_Desig_DED" data-toggle="modal" data-target="#Desig_DED_Modal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("3) Level")
                   <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="SP_LEVEL_D" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="btn_modal_LEVEL_DED" name="btn_modal_LEVEL_DED" data-toggle="modal" data-target="#Level_DED_Modal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("4) Category")
                   <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="SP_CATEGORY_D" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="btn_Modal_SP_CATEGORY_D" name="btn_Modal_SP_CATEGORY_D" data-toggle="modal" data-target="#Category_DED_Modal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Description")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_DED_DESC" />
                    </div>                    
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("6) Valid From / To")
                    <div class="row">
                        <div class="col-md-6">
                            <input class="form-control" id="SP_VALID_FROM_D" placeholder="From" />
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" id="SP_VALID_TO_D" placeholder="To" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("7) Individual / All")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_ALL_IND" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("9) Amount")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_DED_AMOUNT" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("9) % With Annual Package")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_DED_PER" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("10) Account No To Effect")
                    <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="SP_ACOUNT_NO_D" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="btn_Modal_SP_ACOUNT_NO_D" name="btn_Modal_SP_ACOUNT_NO_D" data-toggle="modal" data-target="#AccountNoToEffectModal_DED">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Account Description")
                    <div class="col-md-12">
                        <input class="form-control" id="W_ACC_DESC" />
                    </div>
                </div>
            </div>

        </div>
        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="SubmitDeductionEntry" id="SubmitDeductionEntry" value="Submit" class="btn btn-outline-primary" />
                <input type="button" name="Delete_Deduct_Ent" id="Delete_Deduct_Ent" value="Delete" class="btn btn-outline-danger" />
                <button type="button" class="btn btn-default" id="btn_AUTH_Deduct_Ent" name="btn_AUTH_Deduct_Ent" data-toggle="modal" data-target="#UNAUTH_Deduct_Ent_Modal">
                    Atuthorize
                </button>
                <input type="button" name="Query" id="Query" value="Query" class="btn btn-outline-primary" data-toggle="modal" data-target="#QueryModal" />
            </div>
        </div>
    </div>

</div>



<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <table id="tbl_AUTH_Deduct_Ent" class="table table-bordered text-center table-hover table-sm" width="100%">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>DED CODE</th>
                    <th>BRANCH D</th>
                    <th>DED DESC</th>
                    <th>CATEGORY</th>
                    <th>DESG</th>
                    <th>LEVEL</th>
                    <th>VALID FROM</th>
                    <th>VALID TO</th>
                    <th>DED AMOUNT</th>
                    <th>DED ER</th>
                    <th>ALL IND</th>
                    <th>ACOUNT NO</th>
                </tr>
            </thead>
            <tbody id="">
               
            </tbody>
        </table>
    </div>
</div>


<div class="modal fade" id="UNAUTH_Deduct_Ent_Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <div class="card-body">
                    <table id="tbl_UNAUTH_Deduct_Ent" class="table table-bordered text-center table-hover  table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>DED CODE</th>
                                <th>BRANCH D</th>
                                <th>DED DESC</th>
                                <th>CATEGORY</th>
                                <th>DESG</th>
                                <th>LEVEL</th>
                                <th>VALID FROM</th>
                                <th>VALID TO</th>
                                <th>DED AMOUNT</th>
                                <th>DED ER</th>
                                <th>ALL IND</th>
                                <th>ACOUNT NO</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="BranchModal_DED">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_Branch_Modal_DED" class="table table-bordered text-center table-hover dTable">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>SP BRANCH D</th>
                                <th>BRANCH NAME</th>
                            </tr>
                        </thead>
                        <tbody id="tbl_Branch_Modal_DED">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="DeducAbbreviationModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="" class="table table-bordered text-center table-hover dTable">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>SP DED CODE</th>
                                <th>SP BRANCH D</th>
                                <th>SP DESG D</th>
                                <th>SP LEVEL D</th>
                                <th>SP CATEGORY</th>
                                <th>SP DESCRIPTION</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="Level_DED_Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_Level_DED_Modal" class="table table-bordered text-center table-hover dTable">
                        <thead class="Custom-Table-Head">
                            <tr>                               
                                <th>SP LEVEL D</th>
                            </tr>
                        </thead>
                        <tbody id="tbl_Level_DED_Modal">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="Desig_DED_Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_Desig_DED_Modal" class="table table-bordered text-center table-hover dTable">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>SP DESG D</th>                                
                            </tr>
                        </thead>
                        <tbody id="tbl_Desig_DED_Modal">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="Category_DED_Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_Cat_DED_Modal" class="table table-bordered text-center table-hover dTable">
                        <thead class="Custom-Table-Head">
                            <tr>                               
                                <th>SP CATEGORY</th>
                            </tr>
                        </thead>
                        <tbody id="tbl_Cat_DED_Modal">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="AccountNoToEffectModal_DED">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_Acc_Desc_DED_Modal" class="table table-bordered text-center table-hover dTable">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>SP ACCOUNT NO D</th>
                                <th>W ACC DESC</th>
                            </tr>
                        </thead>
                        <tbody id="tbl_Acc_Desc_DED_Modal">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="QueryModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Enter Details</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.Label("Code")
                                <div class="row">
                                    <div class="col-md-10">
                                        <input class="form-control" id="SP_DED_CODE_Modal" disabled />
                                    </div>
                                    <div class="col-md-1">
                                        <button type="button" class="btn btn-default" id="btn_modal_SP_DED_CODE" name="btn_modal_SP_DED_CODE" data-toggle="modal" data-target="#DedDetailEnt">
                                            <i class="fas fa-align-center"></i>
                                        </button>
                                    </div>                                    
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.Label("Description")
                                <div class="col-md-12">
                                    <input class="form-control" id="SP_DED_DESC_Modal" disabled />
                                </div>
                            </div>
                        </div>


                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.Label("From / To")
                                <div class="row">
                                    <div class="col-md-6">
                                        <input class="form-control" id="SP_VALID_FROM_D_Modal" placeholder="From" disabled />
                                    </div>
                                    <div class="col-md-6">
                                        <input class="form-control" id="SP_VALID_TO_D_Modal" placeholder="To" disabled />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.Label("Amount")
                                <div class="col-md-12">
                                    <input class="form-control" id="SP_DED_AMOUNT_Modal" disabled />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.Label("Account No")
                                <div class="col-md-12">
                                    <input class="form-control" id="SP_ACCOUNT_NO_D_Modal" disabled />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="card-body">
                    <table id="tbl_Detail_DedDetailEnt" class="table table-bordered text-center table-hover dTable">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>PERSONNEL NO</th>
                                <th>NAME</th>
                                <th>REMARKS</th>
                            </tr>
                        </thead>
                        <tbody id="tbl_Detail_DedDetailEnt">
                        </tbody>
                     </table>
                </div>                
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="DedDetailEnt">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table id="tbl_DedDetailEnt_Modal" class="table table-bordered text-center table-hover dTable">
                    <thead class="Custom-Table-Head">
                        <tr>
                            <th>SP DED CODE</th>
                            <th>SP DED DESC</th>
                        </tr>
                    </thead>
                    <tbody id="tbl_DedDetailEnt_Modal">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>