﻿@{
    ViewBag.Title = "Department Entry";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Department Entry";
}
<style>
    .displayNone {
        display: none !important;
    }
</style>
<script>
    function AddNew() {
        location.reload();
    }
</script>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Department Entry</h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp;Add New</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <input id="tbl_AUTH_Dep_Ent" hidden />
        <input id="ID" hidden  value="0"/>
       

        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Segment")
                   <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="SP_SEGMENT_D" />
                    </div>                    
                    <div class="col-md-1">
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#SegmentModal">
                            <i class="fas fa-align-center"></i>
                        </button>
                    </div>
                   </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Group Abb")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_GROUP_D" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Dept Abb")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_DEPT" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Cost Center")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_COST_CENTER" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Description1")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_DESC_D1" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Description2")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_DESC_D2" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Dept Head")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_DEPT_HEAD" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Date From")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_DATE_FROM_D" type="date" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Date To")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_DATE_TO_D" type="date" />
                    </div>
                </div>
            </div>

        </div>

     
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" id="Submit_Dept_Entry" name="Submit_Dept_Entry" value="Submit" class="btn btn-outline-primary" />
                <input type="button" name="Delete_Dep_Ent" id="Delete_Dep_Ent" value="Delete" class="btn btn-outline-danger" />
                <button type="button" class="btn btn-default" id="btn_AUTH_Dep_Ent" name="btn_AUTH_Dep_Ent" data-toggle="modal" data-target="#UNAUTH_Dep_Ent_Modal">
                    Atuthorize
                </button>
                <input type="button" id="UploadCostCenter" name="UploadCostCenter" value="Upload Cost Center" class="btn btn-outline-primary" data-toggle="modal" data-target="#UploadCostCenterModal" />
            </div>
        </div>
    </div>

</div>

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <table id="tbl_AUTH_Dep_Ent" class="table table-bordered text-center table-hover dTable">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>SEGMENT</th>
                    <th>GROUP ABB</th>
                    <th>DEPT ABB</th>
                    <th>COST CENTER</th>
                    <th>DESCRIPTION 1</th>
                    <th>DESCRIPTION 2</th>
                    <th>DEPT HEAD</th>
                    <th>FROM</th>
                    <th>TO</th>
                </tr>
            </thead>
            <tbody id="">
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="UNAUTH_Dep_Ent_Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <div class="card-body">
                    <table id="tbl_UNAUTH_Dep_Ent" class="table table-bordered text-center table-hover  table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>SEGMENT</th>
                                <th>GROUP ABB</th>
                                <th>DEPT ABB</th>
                                <th>COST CENTER</th>
                                <th>DESCRIPTION 1</th>
                                <th>DESCRIPTION 2</th>
                                <th>DEPT HEAD</th>
                                <th>FROM</th>
                                <th>TO</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="SegmentModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>


            <div class="modal-body">

                <div class="card-body">
                    <table id="" class="table table-bordered text-center table-hover dTable">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>SP SEGMENT D</th>
                                <th>SP GROUP D</th>
                                <th>SP DEPT</th>
                                <th>SP DATE FROM D</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="UploadCostCenterModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>


            <div class="modal-body">

                <div class="card-body">
                    
                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.Label("Select File")
                                <div class="col-md-12">
                                    <input class="form-control" id="SelectFile" type="file" />
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="button" name="RunFile" value="Run" class="btn btn-outline-primary" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

