﻿

@{
    ViewBag.Title = "Designation Entry";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Designation Entry";
}
<style>
    .displayNone {
        display: none !important;
    }
</style>

<script>
    function AddNew() {
        location.reload();
    }
</script>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Designation Entry</h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp;Add New</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <div class="row"><h3 class="card-title">Designation Entry</h3></div>
        <br />
        <div class="row">
            <input id="DesigEntry" hidden />
            <input id="ID" hidden value="0" />
            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Desg Abbreviation")
                    <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="SP_DESG" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#DesgAbbreviationModal" >
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Desig Description")
                    <div class="row">
                        <div class="col-md-6">
                            <input class="form-control" id="SP_DESC_DG1" />
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" id="SP_DESC_DG2" />
                        </div>
                    </div>                   
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Level")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_LEVEL" />
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    @Html.Label("Category")
                    <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="SP_CATEGORY" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" name="btn_tbl_Category" id="btn_tbl_Category" data-toggle="modal" data-target="#CategoryModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>       
                    </div>                    
                </div>
            </div>

             <div class="col-md-2">
                <div class="form-group">
                    @Html.Label("Cat Description")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_CATEGORY_DESC" />
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    @Html.Label("Branch Code")
                    <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="SP_BRANCH" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" name="btn_tbl_Branch" id="btn_tbl_Branch" data-toggle="modal" data-target="#BranchModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    @Html.Label("Branch Name")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_BRANCH_NAME" />
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    @Html.Label("Confirmed Period")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_CONFIRM" />
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    @Html.Label("Sp Current")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_CURRENT" />
                    </div>
                </div>
            </div>

        </div>

        <div class="row"><h3 class="card-title">Salary Ranges</h3></div>
        <br />
        <div class="row">

            <div class="col-md-2">
                <div class="form-group">
                    @Html.Label("Min")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_MIN" />
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    @Html.Label("Mid")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_MID" />
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    @Html.Label("Max")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_MAX" />
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    @Html.Label("Inc Amount")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_INCREMENT" />
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    @Html.Label("Effective From")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_EFFECTIVE" />
                    </div>
                </div>
            </div>


        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="SubmitDesignationEntry" id="SubmitDesignationEntry" value="Submit" class="btn btn-outline-primary" />
                <input type="button" name="Delete_DesigEntry" id="Delete_DesigEntry" value="Delete" class="btn btn-outline-danger" />
                <button type="button" class="btn btn-default" id="btn_AUTH_DesigEntry" name="btn_AUTH_DesigEntry" data-toggle="modal" data-target="#UNAUTH_DesigEntry_Modal">
                    Atuthorize
                </button>
            </div>
        </div>
    </div>

</div>


<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <table id="tbl_AUTH_DesigEntry" class="table table-bordered text-center table-hover dTable">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>DESG ABB</th>
                    <th colspan="2">DESG DESCRIPTION</th>
                    <th>LEVEL</th>
                    <th>CATEGORY</th>
                    <th>BRANCH CODE</th>
                    <th>CONFIRMED PERIOD</th>
                    <th>SP CURRENT</th>
                    <th>MIN</th>
                    <th>MID</th>
                    <th>MAX</th>
                    <th>INC AMOUNT</th>
                    <th>EFFECTIVE FROM</th>
                </tr>
            </thead>
            <tbody id="">
               
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="UNAUTH_DesigEntry_Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <div class="card-body">
                    <table id="tbl_UNAUTH_DesigEntry" class="table table-bordered text-center table-hover  table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>DESG ABB</th>
                                <th colspan="2">DESG DESCR</th>
                                <th>LEVEL</th>
                                <th>CATEGORY</th>
                                <th>BRANCH CODE</th>
                                <th>CONFIRMED PERIOD</th>
                                <th>SP CURRENT</th>
                                <th>MIN</th>
                                <th>MID</th>
                                <th>MAX</th>
                                <th>INC AMOUNT</th>
                                <th>EFFECT FROM</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="DesgAbbreviationModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_DesgAbbr" class="table table-bordered text-center table-hover dTable">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>SP DESG</th>
                                <th>SP LEVEL</th>
                                <th>SP BRANCH</th>                               
                                <th>SP CATEGORY</th>
                            </tr>
                        </thead>
                        <tbody id="tbl_DesgAbbr">
                             @if (Model != null)
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td name="tr_SP_DESG">@item.SP_DESG</td>
                                        <td name="tr_SP_LEVEL">@item.SP_LEVEL</td>
                                        <td name="tr_SP_BRANCH">@item.SP_BRANCH</td>
                                        <td name="tr_SP_CATEGORY">@item.SP_CATEGORY</td>
                                    </tr>
                                }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="CategoryModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>


            <div class="modal-body">

                <div class="card-body">

                    <table id="tbl_Category" class="table table-bordered text-center table-hover dTable">
                        <thead class="Custom-Table-Head">
                            <tr>                                
                                <th>SP CATEGORY</th>
                                <th>CATEGORY DESCRIPTION</th>
                            </tr>
                        </thead>
                        <tbody id="tbl_Category">
                           
                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="BranchModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>


            <div class="modal-body">

                <div class="card-body">

                    <table id="tbl_Branch" class="table table-bordered text-center table-hover dTable">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>SP BRANCH</th>
                                <th>BRANCH NAME</th>
                            </tr>
                        </thead>
                        <tbody id="tbl_Branch">
                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </div>
</div>
