﻿@{
    ViewBag.Title = "Global Parameter Setup";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Global Parameter Setup";
}
<style>
    .displayNone {
        display: none !important;
    }
</style>
<script>
    function AddNew() {
        location.reload();
    }
</script>
<input id="GlobalParameterSetupQueryPage" hidden/>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Global Parameters Setup</h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp;Add New</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <div class="row">
            <input id="ID" hidden value="0" />
            <input id="GPS" hidden />
            <input id="GLOBAL_PARAM_ID" hidden value="0" />
            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Paramter Name")
                    <div class="col-md-12">
                       @*  <select class="form-control" id="DesgAbb">
                            <option value="">--Select--</option>
                        </select> *@
                        <input class="form-control" id="ParamName" value="MARKUP_RATE" disabled/>
                    </div>                    
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("SOE ID")
                    <div class="col-md-12">
                        <input class="form-control" id="SOE_ID" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Value")
                    <div class="col-md-12">
                        <input class="form-control" id="GLOBAL_PARAM_VALUE" />
                    </div>
                </div>
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="SubmitGlobalParameterSetup" id="SubmitGlobalParameterSetup" value="Submit" class="btn btn-outline-primary" />
                <input type="button" name="Delete_GPS" id="Delete_GPS" value="Delete" class="btn btn-outline-danger" />
                <button type="button" class="btn btn-default" id="btn_AUTH_GPS" name="btn_AUTH_GPS" data-toggle="modal" data-target="#UNAUTH_GPS_Modal">
                    Atuthorize
                </button>
            </div>
        </div>
    </div>

</div>


<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <table id="tbl_AUTH_GPS" class="table table-bordered text-center table-hover   table-sm" width="100%">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>SOE ID</th>
                    <th>VALUE</th>
                </tr>
            </thead>
          
        </table>
    </div>
</div>

<div class="modal fade" id="UNAUTH_GPS_Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <div class="card-body">
                    <table id="tbl_UNAUTH_GPS" class="table table-bordered text-center table-hover  table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>SOE ID</th>
                                <th>VALUE</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
