﻿

@{
    ViewBag.Title = "Group Life Hospital Entry";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Group Life Hospital Entry";
}
<style>
    .displayNone {
        display: none !important;
    }
</style>
<script>
    function AddNew() {
        location.reload();
    }
</script>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Group Entry</h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp;Add New</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">

        <div class="row">
            <input id="GLH_Ent" hidden/>
            <input id="ID" hidden value="0" />
            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("1) Life [I]nsc / Hospitalization")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_TYPE_CODE" />
                    </div>@* 
                    <div class="col-md-1">
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#LifeInsModal">
                            <i class="fas fa-align-center"></i>
                        </button>
                    </div> *@
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("2)  Officials/Unionized")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_STAFF_TYPE" />
                    </div>
                   @*  <div class="col-md-1">
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#OfficialsUnionizedModal">
                            <i class="fas fa-align-center"></i>
                        </button>
                    </div> *@
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("3) Designation")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_DESIG_IN" />
                    </div>@* 
                    <div class="col-md-1">
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#DesignationModal">
                            <i class="fas fa-align-center"></i>
                        </button>
                    </div> *@
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("4) Level")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_LEVEL_IN" />
                    </div>@* 
                    <div class="col-md-1">
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#LevelModal">
                            <i class="fas fa-align-center"></i>
                        </button>
                    </div> *@
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("5) Name Of Insurance Company")
                    <div class="row">
                        <div class="col-md-6">
                            <input class="form-control" id="SP_NAME_1" />
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" id="SP_NAME_2" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("6) Policy No")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_POLICY_NO" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("7) Renewal Date")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_RENEWAL" type="date"/>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("8) Multiply Package By")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_MULT_PACK"/>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("9) Life Coverage")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_L_COVERAGE" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("10) Hospitalization Coverage")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_H_COVERAGE" />
                    </div>
                </div>
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="SubmitGroupLifeHospitalEntry" id="SubmitGroupLifeHospitalEntry" value="Submit" class="btn btn-outline-primary" />
                <input type="button" name="Delete_GLH_Ent" id="Delete_GLH_Ent" value="Delete" class="btn btn-outline-danger" />
                <button type="button" class="btn btn-default" id="btn_AUTH_GLH_Ent" name="btn_AUTH_GLH_Ent" data-toggle="modal" data-target="#UNAUTH_GLH_Ent_Modal">
                    Atuthorize
                </button>
            </div>
        </div>
    </div>

</div>
             
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <table id="tbl_AUTH_GLH_Ent" class="table table-bordered text-center table-hover dTable" width="100%">
            <thead class="Custom-Table-Head">
                <tr>                   
                    <th>TYPE_CODE</th>
                    <th>STAFF_TYPE</th>
                    <th>DESIG_IN</th>
                    <th>LEVEL_IN</th>
                    <th>NAME_1</th>
                    <th>NAME_2</th>
                    <th>RENEWAL</th>
                    <th>POLICY_NO</th>
                    <th>L_COVERAGE</th>
                    <th>H_COVERAGE</th>
                    <th>MULT_PACK</th>
                </tr>
            </thead>
            <tbody id="">
                
            </tbody>
        </table>
    </div>
</div>


<div class="modal fade" id="UNAUTH_GLH_Ent_Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>


            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_UNAUTH_GLH_Ent" class="table table-bordered text-center table-hover table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>TYPE_CODE</th>
                                <th>STAFF_TYPE</th>
                                <th>DESIG_IN</th>
                                <th>LEVEL_IN</th>
                                <th>NAME_1</th>
                                <th>NAME_2</th>
                                <th>RENEWAL</th>
                                <th>POLICY_NO</th>
                                <th>L_COVERAGE</th>
                                <th>H_COVERAGE</th>
                                <th>MULT_PACK</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody id="">                            
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

@*
<div class="modal fade" id="OfficialsUnionizedModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>


            <div class="modal-body">

                <div class="card-body">

                </div>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="DesignationModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>


            <div class="modal-body">

                <div class="card-body">
                </div>

            </div>
        </div>
    </div>
</div>
       

<div class="modal fade" id="LevelModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>


            <div class="modal-body">

                <div class="card-body">
                </div>

            </div>
        </div>
    </div>
</div>
 *@