﻿@using CHRIS.Data;
@model List<CHRIS_SP_SETUP_GROUP1_GETALLResult>


@{
    ViewBag.Title = "Group Entry";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Group Entry";
}
<style>
    .displayNone {
        display: none !important;
    }
</style>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Group Entry</h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp;Add New</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">


        <div class="row">
            <input id="GroupEntry" hidden/>
            <input id="ID" hidden value="0" />
            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Segment")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_SEGMENT" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Group")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_GROUP_CODE" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Description1")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_DESC_1" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Description2")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_DESC_2" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Group Head")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_GROUP_HEAD" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Date From")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_DATE_FROM" type="datetime" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Date To")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_DATE_TO" type="datetime" />
                    </div>
                </div>
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" id="SubmitGroupEntry" name="Submit" value="Submit" class="btn btn-outline-primary" />
                <input type="button" name="Delete_GroupEntry" id="Delete_GroupEntry" value="Delete" class="btn btn-outline-danger" />
                <button type="button" class="btn btn-default" id="btn_AUTH_GroupEntry" name="btn_AUTH_GroupEntry" data-toggle="modal" data-target="#UNAUTH_GroupEntry_Modal">
                    Atuthorize
                </button>
            </div>
        </div>
    </div>

</div>

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <table id="tbl_AUTH_GroupEntry" class="table table-bordered text-center table-hover   table-sm" width="100%">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>SEGMENT</th>
                    <th>GROUP</th>
                    <th>DESCRIPTION 1</th>
                    <th>DESCRIPTION 2</th>
                    <th>GROUP HEAD</th>
                    <th>FROM</th>
                    <th>TO</th>
                </tr>
            </thead>
            <tbody id="">               
            </tbody>
        </table>
    </div>
</div>


<div class="modal fade" id="UNAUTH_GroupEntry_Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <div class="card-body">
                    <table id="tbl_UNAUTH_GroupEntry" class="table table-bordered text-center table-hover  table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>SEGMENT</th>
                                <th>GROUP</th>
                                <th>DESCRIPTION 1</th>
                                <th>DESCRIPTION 2</th>
                                <th>GROUP HEAD</th>
                                <th>FROM</th>
                                <th>TO</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    function AddNew() {
        location.reload();
    }


    function DeleteGroupEntry(ID) {


        $('#ID').val(ID);
        var GroupEntry = {};
        GroupEntry.ID = parseInt($('#ID').val());

        if (GroupEntry != null) {
            $.ajax({
                type: "POST",
                url: "/Setup/DeleteGroupEntry",
                data: GroupEntry,
                contentType: "application/x-www-form-urlencoded",
                method: "POST",
                success: function (response) {
                    if (response != null) {
                        alert('Your request is successfully Deleted !');
                        location.reload();
                    } else {
                        alert("Something went wrong");
                    }
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }

    }

   

</script>