﻿@{
    ViewBag.Title = "IncomeTax Slabs Entry";
    ViewBag.Controller = "Home";
    ViewBag.Action = "IncomeTax Slabs Entry";
}
<style>
    .displayNone {
        display: none !important;
    }
</style>
<script>
    function AddNew() {
        location.reload();
    }
</script>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Incometax Slabs</h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp;Add New</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">

        <div class="row">
            <input id="tbl_AUTH_ITSE" hidden />
            <input id="ID" value="0" hidden />
            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("MIN")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_AMT_FROM" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("MAX")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_AMT_TO" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("EXTP LIMIT")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_REBATE" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Tax % ")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_PERCEN" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Fixed Tax Amount")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_TAX_AMT" />
                    </div>
                </div>
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="Submit_ITSE" id="Submit_ITSE" value="Submit" class="btn btn-outline-primary" />
                <input type="button" name="DeleteITSE" id="DeleteITSE" value="Delete" class="btn btn-outline-danger" />
                <button type="button" class="btn btn-default" id="btn_AUTH_ITSE" name="btn_AUTH_ITSE" data-toggle="modal" data-target="#UNAUTH_ITSE_Modal">
                    Atuthorize
                </button>
                <input type="button" name="IncomeTaxUploader" value="Income Tax Uploader" class="btn btn-outline-primary" data-toggle="modal" data-target="#IncomeTaxUploaderModal" />
            </div>
        </div>
    </div>

</div>

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <table id="tbl_AUTH_ITSE" class="table table-bordered text-center table-hover dTable">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>MIN</th>
                    <th>MAX</th>
                    <th>EXTP LIMIT</th>
                    <th>TAX % </th>
                    <th>FIXED TAX AMOUNT</th>
                </tr>
            </thead>
            <tbody id="">
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="UNAUTH_ITSE_Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <div class="card-body">
                    <table id="tbl_UNAUTH_ITSE" class="table table-bordered text-center table-hover  table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>MIN</th>
                                <th>MAX</th>
                                <th>EXTP LIMIT</th>
                                <th>TAX % </th>
                                <th>FIXED TAX AMOUNT</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="IncomeTaxUploaderModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Tax Adjustment Uploader</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <div class="card-body">

                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.Label("Select File")
                                <div class="col-md-12">
                                    <input class="form-control" id="SelectFile" type="file" />
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="button" name="RunFile" value="Run" class="btn btn-outline-primary" />
                        </div>
                    </div>
                </div>

                <div class="card-body">

                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.Label("From Date")
                                <div class="col-md-12">
                                    <input class="form-control" id="FromDate" type="date" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.Label("To Date")
                                <div class="col-md-12">
                                    <input class="form-control" id="ToDate" type="date" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.Label("Employee ID")
                                <div class="col-md-12">
                                    <input class="form-control" id="EmployeeID" />
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="button" name="Find" value="Find" class="btn btn-outline-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

