﻿@using CHRIS.Data;
@model List<CHRIS_SP_MARGINAL_TAX_GETALLResult>



@{
    ViewBag.Title = "Marginal Tax Setup";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Marginal Tax Setup";
}
<style>
    .displayNone {
        display: none !important;
    }
</style>
<script>
    function AddNew() {
        location.reload();
    }
</script>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Marginal Tax Setup</h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp;Add New</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">

        <div class="row">
            <input id="ID" hidden value="0" />

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Date From")
                    <div class="col-md-12">
                        <input class="form-control" id="MT_DATE_FROM" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Date To")
                    <div class="col-md-12">
                        <input class="form-control" id="MT_DATE_TO"/>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Starting Amount")
                    <div class="col-md-12">
                        <input class="form-control" id="MT_AMT_FROM" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Ending Amount")
                    <div class="col-md-12">
                        <input class="form-control" id="MT_AMT_TO" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Percentage")
                    <div class="col-md-12">
                        <input class="form-control" id="MT_PERCENTAGE" />
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-offset-2 col-md-1">
                    <input type="button" name="SubmitMarginalTaxSetup" id="SubmitMarginalTaxSetup" value="Submit" class="btn btn-outline-primary" />
                </div>
                <div class="col-md-1">
                    <button type="button" class="btn btn-info" id="AuthorizeMarginTaxData" name="AuthorizeMarginTaxData" data-toggle="modal" data-target="#AuthorizeMarginTaxModal">
                        Authorize
                    </button>
                </div>
                <div class="col-md-10"></div>
            </div>
        </div>
    </div>

</div>

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <table id="" class="table table-bordered text-center table-hover dTable">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>ID</th>
                    <th>DATE FROM</th>
                    <th>DATE TO</th>
                    <th>STARTING AMOUNT</th>
                    <th>ENDING AMOUNT</th>
                    <th>PERCENTAGE</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody id="">
                @if (Model != null)
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td id="IDTd">@item.ID</td>
                            <td id="TAX_YEAR_FROM">@item.MT_DATE_FROM</td>
                            <td id="TAX_YEAR_TO"> @item.MT_DATE_TO</td>
                            <td id="TAX_PER">@item.MT_AMT_FROM</td>
                            <td id="TAX_PER">@item.MT_AMT_TO</td>
                            <td id="TAX_PER">@item.MT_PERCENTAGE</td>

                            <td>
                                <button type="button" class="btn btn-outline-info" id="EditMarginalTaxSetup" value="@item.ID,@item.MT_DATE_FROM,@item.MT_DATE_TO,@item.MT_AMT_FROM,@item.MT_AMT_TO,@item.MT_PERCENTAGE">
                                    <span class="fas fa-pen"></span> Edit
                                </button>
                                <button type="button" class="btn btn-outline-danger" id="DeleteMarginalTaxSetup" value="@item.ID">
                                    <span class="fas fa-times"></span> Delete
                                </button>
                            </td>
                        </tr>
                    }
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="AuthorizeMarginTaxModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Records for Authorization</h4>
                <button type="button" class="close" id="MarginTaxModalCloseBTN" >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="MarginTaxAuthorizationList" class="table table-bordered text-center table-hover table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>ACTION</th>
                                <th>DATE FROM</th>
                                <th>DATE TO</th>
                                <th>STARTING AMOUNT</th>
                                <th>ENDING AMOUNT</th>
                                <th>PERCENTAGE</th>
                            </tr>
                        </thead>
                        <tbody id="MarginTaxAuthorizationList">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>