﻿@{
    ViewBag.Title = "SMTP Seting";
    ViewBag.Controller = "Home";
    ViewBag.Action = "SMTP Seting";
}
<style>
    .displayNone {
        display: none !important;
    }
</style>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">SMTP Seting</h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp;Add New</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">

        <div class="row">
            <input id="SMTPSeting" hidden />

            <input id="ID" hidden value="0" />                               

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Shared Folder Path")
                    <div class="col-md-12">
                        <input class="form-control" id="SharedFolderPath" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Subject")
                    <div class="col-md-12">
                        <input class="form-control" id="Subject" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Message Body")
                    <div class="col-md-12">
                        <textarea class="form-control" id="Body"></textarea>
                    </div>
                </div>
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="SubmitSMTPSeting" id="SubmitSMTPSeting" value="Save" class="btn btn-outline-primary" />
                <button type="button" class="btn btn-default" id="btn_AUTH_SMTPSeting" name="btn_AUTH_SMTPSeting" data-toggle="modal" data-target="#UNAUTH_SMTPSeting_Modal">
                    Atuthorize
                </button>
            </div>
        </div>
    </div>

</div>


<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <table id="tbl_AUTH_SMTPSeting" class="table table-bordered text-center table-hover table-sm" width="100%">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>Profile Name</th>
                    <th>Shared Folder Path</th>
                    <th>Subject</th>
                    <th>Body</th>
                </tr>
            </thead>
            <tbody id="">
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="UNAUTH_SMTPSeting_Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>


            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_UNAUTH_SMTPSeting" class="table table-bordered text-center table-hover table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>Profile Name</th>
                                <th>Shared Folder Path</th>
                                <th>Subject</th>
                                <th>Body</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    function AddNew() {
        location.reload();
    }
    </script>