﻿@{
    ViewBag.Title = "Test Payroll Process";
    ViewBag.Controller = "Home";
    ViewBag.Action = " Test Payroll Process";
}
<style>
    .displayNone {
        display: none !important;
    }
</style>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">PAYROLL GENERATION</h3>
        <div class="card-tools">
            <a href="@Url.Action("Setup", "TestPayrollProcess")" class="btn btn-outline-success"><i class="fas fa-plus"></i>&nbsp;Add New</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">

        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Personnel No")
                    <div class="col-md-10">
                        <input class="form-control" id="Personnel No" />
                    </div>
                    <div class="col-md-2l">
                        <button type="button" class="btn btn-default" id="ClearLog" value="Clear Log"></button>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Total Taxable Amount")
                    <div class="col-md-12">
                        <input class="form-control" id="TotalTaxableAmount" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Payroll Processing Date(DD/MM/YYYY)")
                    <div class="col-md-12">
                        <input class="form-control" id="dtpProcDate" type="date" />
                    </div>
                </div>
            </div>
           
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Subs Loan Tax Amount")
                    <div class="col-md-12">
                        <input class="form-control" id="SUBS_LOAN_TAX_AMT"/>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("[YES] Start Generation OR [NO] To Exit")
                    <div class="col-md-12">
                        <input class="form-control" id="W_REPLY" />
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    <label>&nbsp;&nbsp;</label>
                    <div class="col-md-12">
                        <input class="form-control" id="PR_FUNC_TITTLE2" />
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="form-group">
                    <label>&nbsp;&nbsp;</label>
                    <div class="col-md-12">
                        <input class="form-control" id="W_PROC_NAME" />
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            
            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("SNO")
                    <div class="col-md-12">
                        <input class="form-control" id="SNO" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("FIELD")
                    <div class="col-md-12">
                        <input class="form-control" id="FIELD" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("LOG ENTRY")
                    <div class="col-md-12">
                        <input class="form-control" id="LOGENTRY" />
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("Processing Employ No")
                    <div class="col-md-6">
                        <input class="form-control" id="PR_P_NO" />
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" id="W_ANS" />
                    </div>
                </div>
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="SubmitTestPayrollProcess" value="Submit" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>

</div>



<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <table id="" class="table table-bordered text-center table-hover dTable">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>SNO</th>                   
                    <th>FIELD</th>
                    <th>LOG ENTRY</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody id="">
            </tbody>
        </table>
    </div>
</div>

