﻿
@{
    ViewBag.Title = "TIR Entry";
    ViewBag.Controller = "Home";
    ViewBag.Action = "TIR Entry";
}
<style>
    .displayNone {
        display: none !important;
    }
</style>

<script>
    function AddNew() {
        location.reload();
    }
</script>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">TIR % FOR IS / FAST</h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp;Add New</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">

        <div class="row">
            <input id="TIREntry" hidden />
            <input id="ID" hidden value="0" />
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("For The Year")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_YEAR" name="SP_YEAR" />
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("TIR %")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_TIR_PER" />
                    </div>
                </div>
            </div>
            
        </div>

        <div class="row">
            
            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Rank")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_RANK" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Level")
                   <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="SP_LEVEL" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="btn_LevelModal" name="btn_LevelModal" data-toggle="modal" data-target="#LevelModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>            
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Min %")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_MIN_PER" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Max %")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_MAX_PER" name="SP_MAX_PER" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Average %")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_AVERAGE" disabled />
                    </div>
                </div>
            </div>

        </div>
       
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="SubmitTIREntry" id="SubmitTIREntry" value="Submit" class="btn btn-outline-primary" />
                <input type="button" name="Delete_TIREntry" id="Delete_TIREntry" value="Delete" class="btn btn-outline-danger" />
                <button type="button" class="btn btn-default" id="btn_AUTH_TIREntry" name="btn_AUTH_TIREntry" data-toggle="modal" data-target="#UNAUTH_TIREntry_Modal">
                    Atuthorize
                </button>
            </div>
        </div>
    </div>

</div>



<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <table id="tbl_AUTH_TIREntry" class="table table-bordered text-center table-hover  table-sm" width="100%">
            <thead class="Custom-Table-Head">
                <tr>                   
                    <th>YEAR</th>
                    <th>TIR_PER %</th>
                    <th>RANK</th>
                    <th>LEVEL</th>
                    <th>MIN %</th>
                    <th>MAX %</th>
                    <th>AVERAGE %</th>                   
                </tr>
            </thead>
            <tbody id="">
              
            </tbody>
        </table>
    </div>
</div>


<div class="modal fade" id="UNAUTH_TIREntry_Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <div class="card-body">
                    <table id="tbl_UNAUTH_TIREntry" class="table table-bordered text-center table-hover  table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>YEAR</th>
                                <th>TIR_PER %</th>
                                <th>RANK</th>
                                <th>LEVEL</th>
                                <th>MIN %</th>
                                <th>MAX %</th>
                                <th>AVERAGE %</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="LevelModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <div class="card-body">
                    <table id="tbl_LevelModal" class="table table-bordered text-center table-hover  table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>LEVEL</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
