﻿@using CHRIS.Data;
@model List<CHRIS_Setup_Sp_CHRIS_USERS_GETALLResult>


@{
    ViewBag.Title = "User Name Setup";
    ViewBag.Controller = "Home";
    ViewBag.Action = "User Name Setup";
}
<style>
    .displayNone {
        display: none !important;
    }
</style>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">User Name Setup</h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp;Add New</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">

        <div class="row">
            <input id="ID" hidden value="0" />
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("USER ID")
                    <div class="col-md-12">
                        <input class="form-control" id="SOEID" />
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("USER NAME")
                    <div class="col-md-12">
                        <input class="form-control" id="USER_NAME" />
                    </div>
                </div>
            </div>

        </div>
           

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" id="SubmitUserNameSetup" name="Submit" value="Submit" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>

</div>



<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <table id="" class="table table-bordered text-center table-hover dTable">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>ID</th>
                    <th>USER ID</th>
                    <th>USER NAME</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody id="">
                @if (Model != null)
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.ID</td>
                            <td>@item.SOEID</td>
                            <td>@item.USER_NAME</td>
                            <td>
                                <button type="button" class="btn btn-outline-info" onclick="EditUserNameSetup('@item.ID','@item.SOEID','@item.USER_NAME');">
                                    <span class="fas fa-pen"></span> Edit
                                </button>
                                <button type="button" class="btn btn-outline-danger" onclick="DeleteUserNameSetup('@item.ID');">
                                    <span class="fas fa-times"></span> Delete
                                </button>
                            </td>
                        </tr>
                    }
            </tbody>
        </table>
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    function AddNew() {
        location.reload();
    }

    function scrollToTop() {
        window.scrollTo({ top: 0, behavior: 'smooth' })
    }

    function EditUserNameSetup(ID, SOEID, USER_NAME) {

        $('#ID').val(ID);
        $('#SOEID').val(SOEID);
        $('#USER_NAME').val(USER_NAME);
        scrollToTop();
    }

    $(function () {
        $("#SubmitUserNameSetup").click(function () {

            if ($('#SOEID').val() == '' || $('#USER_NAME').val() == '') {
                if ($('#SOEID').val() == '') {
                    $('#SOEID').addClass('is-invalid');
                }

                if ($('#USER_NAME').val() == '') {
                    $('#USER_NAME').addClass('is-invalid');
                }

                event.preventDefault;
                event.stopPropagation;
                return false;
            }

            var UserNameSetup = {};
            UserNameSetup.ID = parseInt($('#ID').val());
            UserNameSetup.SOEID = $('#SOEID').val();
            UserNameSetup.USER_NAME = $('#USER_NAME').val();

            if (UserNameSetup != null) {
                $.ajax({
                    type: "POST",
                    url: "/Setup/UpsertUserNameSetup",
                    data: UserNameSetup,
                    contentType: "application/x-www-form-urlencoded",
                    method: "POST",
                    success: function (response) {
                        if (response != null) {
                            alert('Your request is successfully completed !');
                            location.reload();
                        } else {
                            alert("Something went wrong");
                        }
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            }
        });
    });




    function DeleteUserNameSetup(ID) {


        $('#ID').val(ID);
        var UserNameSetup = {};
        UserNameSetup.ID = parseInt($('#ID').val());

        if (UserNameSetup != null) {
            $.ajax({
                type: "POST",
                url: "/Setup/DeleteUserNameSetup",
                data: UserNameSetup,
                contentType: "application/x-www-form-urlencoded",
                method: "POST",
                success: function (response) {
                    if (response != null) {
                        alert('Your request is successfully Deleted !');
                        location.reload();
                    } else {
                        alert("Something went wrong");
                    }
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }

    }

    function removeReq(fieldname) {
        if (fieldname == 'SOEID') {
            $('#SOEID').removeClass('is-invalid');
        }

        if (fieldname == 'USER_NAME') {
            $('#USER_NAME').removeClass('is-invalid');
        }
    }

</script>