﻿@{
    /**/

    ViewBag.Title = "Group Report";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Group Report";
}
@{
    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}
