﻿@{
    ViewBag.Title = "10-C Bonus Approval";
    ViewBag.Controller = "Home";
    ViewBag.Action = "10-C Bonus Approval";
}

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">10-C BONUS FOR CLERICAL</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("[YES] Start Calculation OR [NO] To Exit")
                    <div class="col-md-12">
                        <input class="form-control" id="StartCalculation" />
                    </div>
                </div>
            </div>

        </div>
    </div>
   
</div>
