﻿@{
    ViewBag.Title = "C Bonus Approval Bonus";
    ViewBag.Controller = "Home";
    ViewBag.Action = "C Bonus Approval Bonus";
}
<style>
    .displayNone {
        display: none !important;
    }
</style>
<script>
    function AddNew() {
        location.reload();
    }
</script>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">10-C BONUS FOR CLERICAL</h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp;Add New</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Enter Year For Which Bonus Has To Be Calculated")
                    <div class="col-md-12">
                        <input class="form-control" id="w_year" />
                    </div>
                </div>
            </div>
@* 
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Name")
                    <div class="col-md-12">
                        <input class="form-control" id="Name" />
                    </div>
                </div>
            </div>
 *@
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("ENTER THE % FOR 10_C BONUS")
                    <div class="col-md-12">
                        <input class="form-control" id="w_10_c"/>
                    </div>
                </div>
            </div>
@* 
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Basic")
                    <div class="col-md-12">
                        <input class="form-control" id="Basic" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Approved")
                    <div class="col-md-12">
                        <input class="form-control" id="Approved" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Govt")
                    <div class="col-md-12">
                        <input class="form-control" id="Govt" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Arears")
                    <div class="col-md-12">
                        <input class="form-control" id="Arears" />
                    </div>
                </div>
            </div>
 *@
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="btn_Cal_CBAB" id="btn_Cal_CBAB" value="Calculate" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>

</div>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <table id="tbl_Cal_CBAB" class="table table-bordered text-center table-hover dTable">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>P.NO</th>
                    <th>NAME</th>
                    <th>10C BONUS</th>
                    <th>BASIC</th>
                    <th>APPROVED</th>
                    <th>GOVT</th>
                    <th>AREARS</th>                   
                </tr>
            </thead>
            <tbody id="">
            </tbody>
        </table>
    </div>
</div>



