﻿@{
    ViewBag.Title = "Finance Payroll History Updation Process";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Finance Payroll History Updation Process";
}

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">PAYROLL HISTORY UPDATION PROCESS</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
       @*  <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Payroll Date")
                    <div class="col-md-12">
                        <input class="form-control" id="dtpPayroll"  />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Messages")
                    <div class="col-md-12">
                        <input class="form-control" id="Messages" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Before")
                    <div class="col-md-12">
                        <input class="form-control" id="Before" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("After")
                    <div class="col-md-12">
                        <input class="form-control" id="After" />
                    </div>
                </div>
            </div>

        </div> *@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="btn_PRO_FPHUP" id="btn_PRO_FPHUP" value="Start" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
   
</div>
