﻿@{
    ViewBag.Title = "Finance Payroll History Updation Process";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Finance Payroll History Updation Process";
}

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">PAYROLL SYSTEM (FOR REGULAR STAFF ONLY) TODAY IS</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    <label>&nbsp;&nbsp;</label>
                    <div class="col-md-12">
                        <input class="form-control" id="CurrDate" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("User")
                    <div class="col-md-12">
                        <input class="form-control" id="User" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Location")
                    <div class="col-md-12">
                        <input class="form-control" id="Location" />
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <h3 class="card-title">Increment  Finalization  Process</h3>
        </div>

        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label(" [YES] Start Generation or  [NO]   to Exit")
                    <div class="col-md-12">
                        <input class="form-control" id="Reply" />
                    </div>
                </div>
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="Submit" value="Submit" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>

</div>
