﻿@{
    ViewBag.Title = "Leaves Year End";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Leaves Year End";
}

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">PAYROLL SYSTEM (LEAVES YEAR END PROCESS)</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
       
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="btn_LeavesYearEnd" id="btn_LeavesYearEnd" value="START PROCESS" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>

</div>
