﻿@{
    ViewBag.Title = "Month End Process Detail";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Month End Process Detail";
}

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("TE_YEAR")
                    <div class="col-md-12">
                        <input class="form-control" id="TE_YEAR" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("PNO")
                    <div class="col-md-12">
                        <input class="form-control" id="PNO" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("MONTH")
                    <div class="col-md-12">
                        <input class="form-control" id="MONTH" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("BRANCH")
                    <div class="col-md-12">
                        <input class="form-control" id="BRANCH" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("DESIG")
                    <div class="col-md-12">
                        <input class="form-control" id="DESIG" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("CATEGORY")
                    <div class="col-md-12">
                        <input class="form-control" id="CATEGORY" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("TYPE")
                    <div class="col-md-12">
                        <input class="form-control" id="TYPE" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("BASIC")
                    <div class="col-md-12">
                        <input class="form-control" id="BASIC" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("HOUSE")
                    <div class="col-md-12">
                        <input class="form-control" id="HOUSE" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("CONV")
                    <div class="col-md-12">
                        <input class="form-control" id="CONV" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("PFUND")
                    <div class="col-md-12">
                        <input class="form-control" id="PFUND" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("OTHRS")
                    <div class="col-md-12">
                        <input class="form-control" id="OTHRS" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("SEGMENT")
                    <div class="col-md-12">
                        <input class="form-control" id="SEGMENT" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("GROUP")
                    <div class="col-md-12">
                        <input class="form-control" id="GROUP" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("DEPT")
                    <div class="col-md-12">
                        <input class="form-control" id="DEPT" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("CONTRIBUTION")
                    <div class="col-md-12">
                        <input class="form-control" id="CONTRIBUTION" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("O T COST")
                    <div class="col-md-12">
                        <input class="form-control" id="OTCOST" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("ATT AWD")
                    <div class="col-md-12">
                        <input class="form-control" id="ATTAWD" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("MEAL")
                    <div class="col-md-12">
                        <input class="form-control" id="MEAL" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("OTHERS")
                    <div class="col-md-12">
                        <input class="form-control" id="OTHERS" />
                    </div>
                </div>
            </div>

        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="Submit" value="Submit" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>

        
</div>


