﻿@{
    ViewBag.Title = "Payroll Generation";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Payroll Generation";
}
<script>
    function AddNew() {
        location.reload();
    }
</script>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Centralized Human Resource Information System (CHRIS) <br />Salary Generation Process</h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp; Clear</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Payroll Processing Date")
                    <div class="col-md-12">
                        <input class="form-control" id="Sys_Date" type="date"/>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Transportation For VP && RVP")
                    <div class="col-md-12">
                        <input class="form-control" id="TB_Transport_Vp" value="40,000" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Marginal Impact [Yes/No]")
                    <div class="col-md-12">
                        <input class="form-control" id="TBMarginal_Impact" value="Y" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Provident Fund Exempt")
                    <div class="col-md-12">
                        <input class="form-control" id="TB_PF_Exempt" value="100,000" />
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

             <div class="col-md-2">
                <div class="form-group">
                    @Html.Label("Total Taxable Amount")
                    <div class="col-md-12">
                        <input class="form-control" id="TB_TotalTaxableAmount" disabled/>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    @Html.Label("Subs Loan Tax Amount")
                    <div class="col-md-12">
                        <input class="form-control" id="TB_LoanTaxAmount" disabled />
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-12">
                <div class="form-group">
                   @*  @Html.Label("[YES] Start Generation OR [NO] to Exit") *@
                    <div class="col-md-2">
                       
                    </div>
                    <div class="col-md-2">
                        <input class="form-control" id="TB_No" disabled  hidden/>
                    </div>
                    <div class="col-md-2">
                        <input class="form-control" id="TB_Status" hidden />
                    </div>
                </div>
            </div>

        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="Submit_PayrollGeneration" id="Submit_PayrollGeneration" value="Generate" class="btn btn-outline-primary" />
            </div>
        </div>
        @* <div class="form-group">
            <div class="col-md-offset-2 col-md-10">                
                @Html.Label("Reset Flag")
                <input type="checkbox" name="TermFlag" id="TermFlag" class="btn btn-outline-primary" />
            </div>
        </div> *@
    </div>


</div>


