﻿@{
    ViewBag.Title = "Payroll History Updation Process";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Payroll History Updation Process";
}

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">PAYROLL SYSTEM FINANCE GENERATION FOR IS AND FAST STAFF ONLY</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Processing Date")
                    <div class="col-md-12">
                        <input class="form-control" id="ProcessingDate" type="date" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Enter Personnel No")
                    <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="PR_P_NO" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="btn_PayrollHistoryUpdationProcess" name="btn_PayrollHistoryUpdationProcess" data-toggle="modal" data-target="#PR_P_NOModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="Submit_PayrollHistoryUpdationProcess" id="Submit_PayrollHistoryUpdationProcess" value="Start Process" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>


</div>


<div class="modal fade" id="PR_P_NOModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_PR_P_NO_PayrollHistoryUpdationProcess" class="table table-bordered text-center table-hover table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>PR_P_NO</th>
                                <th>FIRST LAST ANME</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

