﻿@{
    ViewBag.Title = "Acturial Report";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Acturial Report";
}

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Report Parameters</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("DesType")
                    <div class="col-md-12">
                        <select class="form-control" id="DesType" name="DesType">
                            <option value="" selected>--Select--</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Desname")
                    <div class="col-md-12">
                        <input class="form-control" id="Desname" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Desformat")
                    <div class="col-md-12">
                        <input class="form-control" id="Desformat" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Copies")
                    <div class="col-md-12">
                        <input class="form-control" id="Copies" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Enter Branch or ALL")
                    <div class="col-md-12">
                        <input class="form-control" id="wbranch" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("ENTER GF/GCB")
                    <div class="col-md-12">
                        <input class="form-control" id="wseg" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("[C]=Clerks [Blank]=Officer ")
                    <div class="col-md-12">
                        <input class="form-control" id="w_cate" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Enter Date")
                    <div class="col-md-12">
                        <input class="form-control" id="wdate" type="date" />
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" name="RunActurialReport" value="Run" class="btn btn-outline-primary" />
        </div>
    </div>
</div>
