﻿@{
    ViewBag.Title = "Annual 10C Payment Report";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Annual 10C PaymentReport";
    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}
@using (Html.BeginForm("Annual10CPaymentReport", "PayrollReports", FormMethod.Post))
{
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Report Parameters</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.Case Form Start -->
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Enter Branch or ALL")
                        <div class="col-md-12">
                            <input class="form-control" id="ABR_BRANCH" name="ABR_BRANCH" maxlength="3" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Enter Year")
                        <div class="col-md-12">
                            <input class="form-control" id="ABR_YEAR" name="ABR_YEAR" maxlength="4" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Enter Segment")
                        <div class="col-md-12">
                            <input class="form-control" id="ABR_SEGMENT" name="ABR_SEGMENT" maxlength="3"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="RunAnnual10CPaymentReport" value="Run" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
}