﻿@{
    ViewBag.Title = "ATR Incentive Allow";
    ViewBag.Controller = "Home";
    ViewBag.Action = "ATR Incentive Allow";
    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}
@using (Html.BeginForm("ATRIncentiveAllow", "PayrollReports", FormMethod.Post))
{
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Report Parameters</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.Case Form Start -->
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Category")
                        <div class="col-md-12">
                            <input class="form-control" id="ATRI_CATEGORY" name="ATRI_CATEGORY" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Branch")
                        <div class="col-md-12">
                            <input class="form-control" id="ATRI_BRANCH" name="ATRI_BRANCH" maxlength="3" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("All Code")
                        <div class="col-md-12">
                            <input class="form-control" id="ATRI_ALLOW" name="ATRI_ALLOW" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Emp No")
                        <div class="col-md-12">
                            <input class="form-control" id="ATRI_EMPLOYEE_NO" name="ATRI_EMPLOYEE_NO" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="RunATRIncentiveAllow" value="Run" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
}