﻿@{
    ViewBag.Title = "E Form";
    ViewBag.Controller = "Home";
    ViewBag.Action = "E Form";
    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}
@using (Html.BeginForm("EForm", "PayrollReports", FormMethod.Post))
{
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Report Parameters</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.Case Form Start -->
        <div class="card-body">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        @Html.Label("First Name")
                        <div class="col-md-12">
                            <input class="form-control" id="EF_FIRST_NAME" name="EF_FIRST_NAME" />
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        @Html.Label("Last Name")
                        <div class="col-md-12">
                            <input class="form-control" id="EF_LAST_NAME" name="EF_LAST_NAME" />
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        @Html.Label("Rate")
                        <div class="col-md-12">
                            <input class="form-control" id="EF_RATE" name="EF_RATE" type="number" />
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        @Html.Label("Initiating Officer")
                        <div class="col-md-12">
                            <input class="form-control" id="EF_INITIATING_OFFICER" name="EF_INITIATING_OFFICER" />
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        @Html.Label("Senior Officer")
                        <div class="col-md-12">
                            <input class="form-control" id="EF_SENIOR_OFFICER" name="EF_SENIOR_OFFICER" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="RunEForm" value="Run" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
}