﻿@{
    ViewBag.Title = "Employee List For Salary";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Employee List For Salary";
    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}
@using (Html.BeginForm("EmployeeListForSalary", "PayrollReports", FormMethod.Post))
{
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Report Parameters</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <div class="card-body">
            @* <div class="row">

                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Destination Type")
                        <div class="col-md-12">
                            <select class="form-control" id="DesType" name="DesType">
                                <option value="" selected>--Select--</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Destination Name")
                        <div class="col-md-12">
                            <input class="form-control" id="Desname" />
                        </div>
                    </div>
                </div>

            </div> *@
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" name="RunEmployeeListForSalary" value="Run" class="btn btn-outline-primary" />
                </div>
            </div>
        </div>
    </div>
}