﻿@{
    ViewBag.Title = "FTE Analysis";
    ViewBag.Controller = "Home";
    ViewBag.Action = "FTE Analysis";
    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}
@using (Html.BeginForm("FTEAnalysis", "PayrollReports", FormMethod.Post))
{
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Report Parameters</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.Case Form Start -->
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Month && Year")
                        <div class="col-md-12">
                            <input class="form-control" id="FA_MONTH_YEAR" name="FA_MONTH_YEAR" maxlength="6" placeholder="MMYYYY"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Segment (GF/GCB)")
                        <div class="col-md-12">
                            <input class="form-control" id="FA_SEGMENT" name="FA_SEGMENT" maxlength="3" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Branch or ALL")
                        <div class="col-md-12">
                            <input class="form-control" id="FA_BRANCH" name="FA_BRANCH" maxlength="3" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("From PNo or Null")
                        <div class="col-md-12">
                            <input class="form-control" id="FA_PNO" name="FA_PNO" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="RunFTEAnalysis" value="Run" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
}