﻿@{
    ViewBag.Title = "Monthly Tax Payment Report";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Monthly Tax Payment Report";
    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}
@using (Html.BeginForm("MonthlyTaxPaymentReport", "PayrollReports", FormMethod.Post))
{
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Report Parameters</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.Case Form Start -->
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Run Date")
                        <div class="col-md-12">
                            <input class="form-control" id="MTP_RUNDATE" name="MTP_RUNDATE" type="date"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Enter Valid Branch")
                        <div class="col-md-12">
                            <input class="form-control" id="MTP_BRANCH" name="MTP_BRANCH" maxlength="3" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Month")
                        <div class="col-md-12">
                            <input class="form-control" id="MTP_MONTH" name="MTP_MONTH" maxlength="2" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Year")
                        <div class="col-md-12">
                            <input class="form-control" id="MTP_YEAR" name="MTP_YEAR"  maxlength="4"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="RunMonthlyTaxPaymentReport" value="Run" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
}