﻿@{
    ViewBag.Title = "Monthly Salary Inter";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Monthly Salary Inter";
    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}
@using (Html.BeginForm("MonthlySalaryInter", "PayrollReports", FormMethod.Post))
{
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Report Parameters</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Enter Valid Branch")
                        <div class="col-md-12">
                            <input class="form-control" id="MSI_BRANCH" name="MSI_BRANCH" maxlength="3" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Month")
                        <div class="col-md-12">
                            <input class="form-control" id="MSI_MONTH" name="MSI_MONTH" maxlength="2" type="number" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Year")
                        <div class="col-md-12">
                            <input class="form-control" id="MSI_YEAR" name="MSI_YEAR" maxlength="4" type="number" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="RunMonthlySalaryInter" value="Run" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
}