﻿@{
    ViewBag.Title = "Monthly Staff Payment Listings";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Monthly Staff Payment Listings";
    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}
@using (Html.BeginForm("MonthlyStaffPaymentListings", "PayrollReports", FormMethod.Post))
{
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Report Parameters</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.Case Form Start -->
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Enter Valid Branch")
                        <div class="col-md-12">
                            <select class="form-control" style="width: 100%;" id="MSP_BRANCH" name="MSP_BRANCH">
                                <option>KHI</option>
                                <option>LHR</option>
                                <option>RWP</option>
                                <option>FBD</option>
                                <option>ISL</option>
                                <option>SLK</option>
                                <option>MLT</option>
                                <option>HYD</option>
                                <option>GUJ</option>
                                <option>JHL</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Enter Valid Segment")
                        <div class="col-md-12">
                            <input class="form-control" id="MSP_SEGMENT" name="MSP_SEGMENT" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Enter Catagory or null")
                        <div class="col-md-12">
                            <input class="form-control" id="MSP_CATEGORY" name="MSP_CATEGORY" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Enter Month")
                        <div class="col-md-12">
                            <input class="form-control" id="MSP_MONTH" name="MSP_MONTH" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Enter Year")
                        <div class="col-md-12">
                            <input class="form-control" id="MSP_YEAR" name="MSP_YEAR" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Enter Confirmation (Y/N)")
                        <div class="col-md-12">
                            <input class="form-control" id="MSP_FLAG" name="MSP_FLAG" maxlength="1" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="RunMonthlyStaffPaymentListings" value="Run" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
}