﻿@{
    ViewBag.Title = "OverTime Report";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Overtime Report";
    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}
@using (Html.BeginForm("OverTimeReport", "PayrollReports", FormMethod.Post))
{
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Report Parameters</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.Case Form Start -->
        <div class="card-body">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        @Html.Label("Enter Valid Branch")
                        <div class="col-md-12">
                            <input class="form-control" id="OTR_BRANCH" name="OTR_BRANCH" maxlength="3" />
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        @Html.Label("Enter Valid Segment")
                        <div class="col-md-12">
                            <input class="form-control" id="OTR_SEGMENT" name="OTR_SEGMENT" maxlength="3" />
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        @Html.Label("Enter Month (MM)")
                        <div class="col-md-12">
                            <input class="form-control" type="number" id="OTR_MONTH" name="OTR_MONTH" maxlength="2" />
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        @Html.Label("Enter Year")
                        <div class="col-md-12">
                            <input class="form-control" type="number" id="OTR_YEAR" name="OTR_YEAR" maxlength="4" />
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        @Html.Label("Enter Catagory or null")
                        <div class="col-md-12">
                            <input class="form-control" id="OTR_CATEGORY" name="OTR_CATEGORY" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="RunOvertimeReport" value="Run" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
}