﻿@{
    ViewBag.Title = "Payroll Register";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Payroll Register";
    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}
@using (Html.BeginForm("PayrollRegister", "PayrollReports", FormMethod.Post))
{
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Report Parameters</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.Case Form Start -->
        <div class="card-body">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        @Html.Label("Enter Valid Branch")
                        <div class="col-md-12">
                            <select class="form-control select2" style="width: 100%;" id="PR_BRANCH" name="PR_BRANCH">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        @Html.Label("Enter Valid Segment")
                        <div class="col-md-12">
                            <select class="form-control" style="width: 100%;" id="PR_SEGMENT" name="PR_SEGMENT">
                                <option>GF</option>
                                <option>GCB</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        @Html.Label("Enter Month (MM)")
                        <div class="col-md-12">
                            <input class="form-control" id="PR_MONTH" name="PR_MONTH" maxlength="2" type="number" />
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        @Html.Label("Enter Year")
                        <div class="col-md-12">
                            <input class="form-control" id="PR_YEAR" name="PR_YEAR" maxlength="4" type="number" />
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        @Html.Label("Enter Catagory or null")
                        <div class="col-md-12">
                            <input class="form-control" id="PR_CATEGORY" name="PR_CATEGORY" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="RunPayrollRegister" value="Run" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
}