﻿@{
    ViewBag.Title = "Periodic Report For Inc Promotion";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Periodic Report For Inc Promotion";
    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}
@using (Html.BeginForm("PeriodicReportForIncPromotion", "PayrollReports", FormMethod.Post))
{
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Report Parameters</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.Case Form Start -->
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Enter Valid Branch")
                        <div class="col-md-12">
                            <input class="form-control" id="PRFI_BRANCH" name="PRFI_BRANCH" maxlength="3" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("FROM DATE")
                        <div class="col-md-12">
                            <input class="form-control" id="PRFI_FROM_DATE" name="PRFI_FROM_DATE" type="date" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("TO DATE")
                        <div class="col-md-12">
                            <input class="form-control" id="PRFI_TO_DATE" name="PRFI_TO_DATE" type="date" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="RunPeriodicReportForIncPromotion" value="Run" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
}