﻿@{
    ViewBag.Title = "PY009";
    ViewBag.Controller = "Home";
    ViewBag.Action = "PY009";
}

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Report Parameters</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Destination Type")
                    <div class="col-md-12">
                        <select class="form-control" id="DesType">
                            <option value="" selected>--Select--</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Destination Name")
                    <div class="col-md-12">
                        <input class="form-control" id="Desname" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Enter Valid Branch")
                    <div class="col-md-12">
                        <input class="form-control" id="w_brn" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Enter Valid Segment")
                    <div class="col-md-12">
                        <input class="form-control" id="w_seg" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Enter Month")
                    <div class="col-md-12">
                        <input class="form-control" id="W_MONTH" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Enter Year")
                    <div class="col-md-12">
                        <input class="form-control" id="YEAR" />
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" name="RunPY009" value="Run" class="btn btn-outline-primary" />
        </div>
    </div>
</div>
