﻿@{
    ViewBag.Title = "Salary Settlement Officer";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Salary Settlement Officer";
    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}
@using (Html.BeginForm("SalarySettlementOfficer", "PayrollReports", FormMethod.Post))
{
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Report Parameters</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.Case Form Start -->
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Enter Valid Branch")
                        <div class="col-md-12">
                            <input class="form-control" id="SSO_BRANCH" name="SSO_BRANCH" maxlength="3"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Enter Valid Segment")
                        <div class="col-md-12">
                            <input class="form-control" id="SSO_SEGMENT" name="SSO_SEGMENT" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Enter Valid Department")
                        <div class="col-md-12">
                            <input class="form-control" id="SSO_DEPARTMENT" name="SSO_DEPARTMENT" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Enter Category or NULL")
                        <div class="col-md-12">
                            <input class="form-control" id="SSO_CATEGORY" name="SSO_CATEGORY" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Enter Month")
                        <div class="col-md-12">
                            <input class="form-control" id="SSO_MONTH" name="SSO_MONTH" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Enter Year")
                        <div class="col-md-12">
                            <input class="form-control" id="SSO_YEAR" name="SSO_YEAR" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Enter From PNo")
                        <div class="col-md-12">
                            <input class="form-control" id="SSO_FPNO" name="SSO_FPNO" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Enter To PNo")
                        <div class="col-md-12">
                            <input class="form-control" id="SSO_TPNO" name="SSO_TPNO" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="RunSalarySettlementOfficer" value="Run" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
}