﻿@{
    ViewBag.Title = "Academic Qualification Report";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Academic Qualification Report";
    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}
@using (Html.BeginForm("AcademicQualificationReport", "PersonnelReport", FormMethod.Post))
{
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Report Parameters</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.Case Form Start -->
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Today")
                        <div class="col-md-12">
                            <input class="form-control" id="AQR_TODAY_DATE" name="AQR_TODAY_DATE" type="date"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Enter Valid Branch")
                        <div class="col-md-12">
                            <input class="form-control" id="AQR_BRANCH" name="AQR_BRANCH" maxlength="3" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Enter Valid Segment")
                        <div class="col-md-12">
                            <input class="form-control" id="AQR_SEGMENT" name="AQR_SEGMENT" maxlength="3" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Enter Valid Designation")
                        <div class="col-md-12">
                            <input class="form-control" id="AQR_DESIG" name="AQR_DESIG" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Last Edu Year [YYYY]")
                        <div class="col-md-12">
                            <input class="form-control" id="AQR_YEAR" name="AQR_YEAR" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="RunAcadQualifRep" value="Run" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
}