﻿@{
    ViewBag.Title = "Appraisal Due";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Appraisal Due";
    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}
@using (Html.BeginForm("AppraisalDue", "PersonnelReport", FormMethod.Post))
{
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Report Parameters</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.Case Form Start -->
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.Label("BRANCH CODE")
                        <div class="col-md-12">
                            <input class="form-control" id="AD_BRANCH" name="AD_BRANCH" maxlength="3" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.Label("Appraisal Due From")
                        <div class="col-md-12">
                            <input class="form-control" id="AD_START_DATE" name="AD_START_DATE" type="date" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.Label("Appraisal Due To")
                        <div class="col-md-12">
                            <input class="form-control" id="AD_END_DATE" name="AD_END_DATE" type="date" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="RunAppraisalDue" value="Run" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
}