﻿@{
    ViewBag.Title = "Attrition Summary Report";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Attrition Summary Report";
    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}
@using (Html.BeginForm("AttritionSummaryReport", "PersonnelReport", FormMethod.Post))
{
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Report Parameters</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.Case Form Start -->
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Start Date")
                        <div class="col-md-12">
                            <input class="form-control" id="ASR_START_DATE" name="ASR_START_DATE" type="date" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("End Date")
                        <div class="col-md-12">
                            <input class="form-control" id="ASR_END_DATE" name="ASR_END_DATE" type="date" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Enter Branch Or Null")
                        <div class="col-md-12">
                            <select class="form-control select2" style="width: 100%;" id="ASR_BRANCH" name="ASR_BRANCH">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Enter Segment Or Null")
                        <div class="col-md-12">
                            <select class="form-control" id="ASR_SEGMENT" name="ASR_SEGMENT">
                                <option>GF</option>
                                <option>GCB</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="RunAppraisalDue" value="Run" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
}