﻿@{
    ViewBag.Title = "CITI EMPAD";
    ViewBag.Controller = "Home";
    ViewBag.Action = "CITI EMPAD";
}

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Report Parameters</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Destination Type")
                    <div class="col-md-12">
                        <select class="form-control" id="DesType">
                            <option value="" selected>--Select--</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Destination Name")
                    <div class="col-md-12">
                        <input class="form-control" id="DestinationName" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Desformat")
                    <div class="col-md-12">
                        <input class="form-control" id="Dest_Format" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Copies")
                    <div class="col-md-12">
                        <input class="form-control" id="Copies" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Enter Branch Or [ALL]")
                    <div class="col-md-12">
                        <select class="form-control" id="brn">
                            <option value="">--Select--</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Mode")
                    <div class="col-md-12">
                        <select class="form-control" id="Mode">
                            <option value="">--Select--</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Enter Starting P No")
                    <div class="col-md-12">
                        <input class="form-control" id="spno" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Enter Ending P No")
                    <div class="col-md-12">
                        <input class="form-control" id="tpno" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Enter GF/GCB Or ALL")
                    <div class="col-md-12">
                        <select class="form-control" id="seg">
                            <option value="">--Select--</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Enter Dept Or ALL")
                    <div class="col-md-12">
                        <input class="form-control" id="dpt" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Enter Level Or ALL")
                    <div class="col-md-12">
                        <select class="form-control" id="lev">
                            <option value="">--Select--</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Enter Desig Or ALL")
                    <div class="col-md-12">
                        <select class="form-control" id="p_desig">
                            <option value="">--Select--</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Enter Group Or ALL")
                    <div class="col-md-12">
                        <select class="form-control" id="p_grp">
                            <option value="">--Select--</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" name="RunCITI_EMPAD" value="Run" class="btn btn-outline-primary" />
        </div>
    </div>
</div>
