﻿@{
    ViewBag.Title = "Given Designation";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Given Designation";
    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}
@using (Html.BeginForm("GivenDesignation", "PersonnelReport", FormMethod.Post))
{
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Report Parameters</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.Case Form Start -->
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Today")
                        <div class="col-md-12">
                            <input class="form-control" id="GD_TODAY_DATE" name="GD_TODAY_DATE" type="date" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("ENTER BRANCH OR [ALL]")
                        <div class="col-md-12">
                            <input class="form-control" id="GD_BRANCH" name="GD_BRANCH" maxlength="3" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Designation Code")
                        <div class="col-md-12">
                            <input class="form-control" id="GD_DESIG" name="GD_DESIG" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Segment Code")
                        <div class="col-md-12">
                            <input class="form-control" id="GD_SEGMENT" name="GD_SEGMENT" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="RunGivenDesignation" value="Run" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
}