﻿@{
    ViewBag.Title = "Gratuity Settlement";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Gratuity Settlement";
    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}
@using (Html.BeginForm("GratuitySettlement", "PersonnelReport", FormMethod.Post))
{
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Report Parameters</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.Case Form Start -->
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Today")
                        <div class="col-md-12">
                            <input class="form-control" id="GS_TODAY_DATE" name="GS_TODAY_DATE" type="date" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Year")
                        <div class="col-md-12">
                            <input class="form-control" id="GS_YEAR" name="GS_YEAR" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("PERSONNEL NO FROM")
                        <div class="col-md-12">
                            <input class="form-control" id="GS_PNO" name="GS_PNO" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("ENTER BRANCH OR [ALL]")
                        <div class="col-md-12">
                            <input class="form-control" id="GS_BRANCH" name="GS_BRANCH" maxlength="3"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("ENTER DEPARTMENT OR [ALL]")
                        <div class="col-md-12">
                            <input class="form-control" id="GS_DEPARTMENT" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Termination Dt")
                        <div class="col-md-12">
                            <input class="form-control" id="GS_TERMINATION_DATE" name="GS_TERMINATION_DATE" type="date"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Trustee1")
                        <div class="col-md-12">
                            <input class="form-control" id="GS_TRUSTEES1" name="GS_TRUSTEES1" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Trustee2")
                        <div class="col-md-12">
                            <input class="form-control" id="GS_TRUSTEES2" name="GS_TRUSTEES2" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="RunGratuitySettlement" value="Run" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
}
