﻿@{
    ViewBag.Title = "Head Count Chart";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Head Count Chart";
    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}
@using (Html.BeginForm("HeadCountChart", "PersonnelReport", FormMethod.Post))
{
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Report Parameters</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.Case Form Start -->
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Enter Valid Branch Code")
                        <div class="col-md-12">
                            <input class="form-control" id="HCC_BRANCH" name="HCC_BRANCH" maxlength="3"/>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Enter Segment (GF / GCB)")
                        <div class="col-md-12">
                            <input class="form-control" id="HCC_SEGMENT" name="HCC_SEGMENT" />
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Enter Group Code OR (ALL) ")
                        <div class="col-md-12">
                            <input class="form-control" id="HCC_GROUP" name="HCC_GROUP" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="RunHeadCountChart" value="Run" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
}