﻿@{
    ViewBag.Title = "Leaves Summary Report";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Leaves Summary Report";
    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}
@using (Html.BeginForm("LeavesSummaryReport", "PersonnelReport", FormMethod.Post))
{
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Report Parameters</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.Case Form Start -->
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Dt")
                        <div class="col-md-12">
                            <input class="form-control" id="LSR_DATE" name="LSR_DATE" type="date" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Yr")
                        <div class="col-md-12">
                            <input class="form-control" id="LSR_YEAR" name="LSR_YEAR" type="date" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Dept Code OR ALL")
                        <div class="col-md-12">
                            <input class="form-control" id="LSR_DEPARTMENT" name="LSR_DEPARTMENT" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Branch OR ALL")
                        <div class="col-md-12">
                            <input class="form-control" id="LSR_BRANCH" name="LSR_BRANCH" maxlength="3" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Segment OR ALL")
                        <div class="col-md-12">
                            <input class="form-control" id="LSR_SEGMENT" name="LSR_SEGMENT" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="RunLeavesSummaryReport" value="Run" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
}