﻿@{
    ViewBag.Title = "New Hires Head Count Analysis";
    ViewBag.Controller = "Home";
    ViewBag.Action = "New Hires Head Count Analysis";
    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}
@using (Html.BeginForm("NewHiresHead_CountAnalysis", "PersonnelReport", FormMethod.Post))
{
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Report Parameters</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.Case Form Start -->
        <div class="card-body">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        @Html.Label("Enter Valid Branch Code")
                        <div class="col-md-12">
                            <input class="form-control" id="NHHA_BRANCH" name="NHHA_BRANCH" />
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        @Html.Label("Enter Segment [GF/GCB]")
                        <div class="col-md-12">
                            <input class="form-control" id="NHHA_SEGMENT" name="NHHA_SEGMENT" />
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        @Html.Label("Enter Group Code OR [ALL]")
                        <div class="col-md-12">
                            <input class="form-control" id="NHHA_GROUP" name="NHHA_GROUP" />
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        @Html.Label("Enter Joining From Date ")
                        <div class="col-md-12">
                            <input class="form-control" id="NHHA_FROM_DATE" name="NHHA_FROM_DATE" type="date" />
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        @Html.Label("Enter Joining To Date")
                        <div class="col-md-12">
                            <input class="form-control" id="NHHA_END_DATE" name="NHHA_END_DATE" type="date" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="RunNewHiresHeadCountAnalysis" value="Run" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
}