﻿@{
    ViewBag.Title = "New Induction";
    ViewBag.Controller = "Home";
    ViewBag.Action = "New Induction";
    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}
@using (Html.BeginForm("NewInduction", "PersonnelReport", FormMethod.Post))
{
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Report Parameters</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.Case Form Start -->
        <div class="card-body">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        @Html.Label("Joining From")
                        <div class="col-md-12">
                            <input class="form-control" id="NI_FROM_DATE" name="NI_FROM_DATE" type="date"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        @Html.Label("Joining To")
                        <div class="col-md-12">
                            <input class="form-control" id="NI_TODATE" name="NI_TODATE" type="date" />
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        @Html.Label("Enter Valid Segment")
                        <div class="col-md-12">
                            <input class="form-control" id="NI_SEGMENT" name="NI_SEGMENT" />
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        @Html.Label("Enter Desig Code or 'ALL'")
                        <div class="col-md-12">
                            <input class="form-control" id="NI_DESIG" name="NI_DESIG" />
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        @Html.Label("Enter Branch Code or 'ALL'")
                        <div class="col-md-12">
                            <input class="form-control" id="NI_BRANCH" name="NI_BRANCH" maxlength="3" />
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        @Html.Label("Enter Group or 'ALL'")
                        <div class="col-md-12">
                            <input class="form-control" id="NI_GROUP" name="NI_GROUP" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="RunNewInduction" value="Run" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
}