﻿@{
    ViewBag.Title = "Over Time Entry Report";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Over Time Entry Report";
    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}
@using (Html.BeginForm("OverTimeEntryReport", "PersonnelReport", FormMethod.Post))
{
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Report Parameters</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.Case Form Start -->
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Starting Personnel No")
                        <div class="col-md-12">
                            <input class="form-control" id="OTE_START_PNO" name="OTE_START_PNO" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Ending Personnel No")
                        <div class="col-md-12">
                            <input class="form-control" id="OTE_END_PNO" name="OTE_END_PNO" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Enter Month")
                        <div class="col-md-12">
                            <input class="form-control" id="OTE_MONTH" name="OTE_MONTH" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Enter Branch Code")
                        <div class="col-md-12">
                            <input class="form-control" id="OTE_BRANCH" name="OTE_BRANCH" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="RunOverTimeEntryReport" value="Run" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
}