﻿@{
    ViewBag.Title = "Personal One Pager Report";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Personal One Pager Report";
}

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Report Parameters</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Destination Type")
                    <div class="col-md-12">
                        <select class="form-control" id="DesType">
                            <option value="" selected>--Select--</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Destination Name")
                    <div class="col-md-12">
                        <input class="form-control" id="Dest_Name" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Destination Formate")
                    <div class="col-md-12">
                        <input class="form-control" id="Dest_Formate" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Number of Copies")
                    <div class="col-md-12">
                        <input class="form-control" id="nocopies" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Enter Branch Code or 'ALL'")
                    <div class="col-md-12">
                        <select class="form-control" id="W_BRN">
                            <option value="">--Select--</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Mode")
                    <div class="col-md-12">
                        <select class="form-control" id="Mode">
                            <option value="">--Select--</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Starting Personnel No")
                    <div class="col-md-12">
                        <input class="form-control" id="W_P_NO" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Ending Personnel No")
                    <div class="col-md-12">
                        <input class="form-control" id="W_P_NO1" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Enter GF/GCB Or ALL")
                    <div class="col-md-12">
                        <select class="form-control" id="SEG">
                            <option value="">--Select--</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Enter Dept Or ALL")
                    <div class="col-md-12">
                        <select class="form-control" id="dpt">
                            <option value="">--Select--</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Enter Level Or ALL")
                    <div class="col-md-12">
                        <select class="form-control" id="LEV">
                            <option value="">--Select--</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Enter Desig Or ALL")
                    <div class="col-md-12">
                        <select class="form-control" id="P_DESIG">
                            <option value="">--Select--</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Enter Group Or ALL")
                    <div class="col-md-12">
                        <select class="form-control" id="P_GRP">
                            <option value="">--Select--</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" name="RunPersonalOnePagerReport" value="Run" class="btn btn-outline-primary" />
        </div>
    </div>
</div>
