﻿@{
    ViewBag.Title = "Personnel Report For All";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Personnel Report For All";
    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}

@using (Html.BeginForm("PersonnelReportForAll", "PersonnelReport", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Report Parameters</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.Case Form Start -->
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Valid Branch Or ALL")
                        <div class="col-md-12">
                            <input class="form-control" id="PRFL_BRANCH" name="PRFL_BRANCH" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Valid Segment Or ALL")
                        <div class="col-md-12">
                            <input class="form-control" id="PRFL_SEGMENT" name="PRFL_SEGMENT" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Valid Desig Or ALL")
                        <div class="col-md-12">
                            <input class="form-control" id="PRFL_DESIG" name="PRFL_DESIG" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Starting Personnel No")
                        <div class="col-md-12">
                            <input class="form-control" id="PRFL_FROM_PNO" name="PRFL_FROM_PNO" />
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Ending Personnel No")
                        <div class="col-md-12">
                            <input class="form-control" id="PRFL_END_PNO" name="PRFL_END_PNO" />
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("From Joining Date")
                        <div class="col-md-12">
                            <input class="form-control" id="PRFL_FROM_DATE" name="PRFL_FROM_DATE" type="date" />
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("To Joining Date")
                        <input class="form-control" id="PRFL_TO_DATE" name="PRFL_TO_DATE" type="date" />
                    </div>
                </div>

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="RunPersonnelReportForAll" value="Run" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
}