﻿@{
    ViewBag.Title = "Personnel On Pager Report";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Personnel On Pager Report";
    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}
@using (Html.BeginForm("PersonnelOnPagerReport", "PersonnelReport", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Report Parameters</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.Case Form Start -->
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Enter Branch or ALL")
                        <div class="col-md-12">
                            <select class="form-control" style="width: 100%;" id="POP_BRANCH" name="POP_BRANCH">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Enter Starting P NO")
                        <div class="col-md-12">
                            <input class="form-control" id="POP_START_PNO" name="POP_START_PNO" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Enter Ending P NO")
                        <div class="col-md-12">
                            <input class="form-control" id="POP_END_PNO" name="POP_END_PNO" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Enter GF/GCB or ALL")
                        <div class="col-md-12">
                            <select class="form-control" style="width: 100%;" id="POP_SEGMENT" name="POP_SEGMENT">
                                <option>ALL</option>
                                <option>GF</option>
                                <option>GCB</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Enter Department or ALL")
                        <div class="col-md-12">
                            <select class="form-control select2" style="width: 100%;" id="POP_DEPT" name="POP_DEPT">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Enter Level or ALL")
                        <div class="col-md-12">
                            <select class="form-control" style="width: 100%;" id="POP_LEVEL" name="POP_LEVEL">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Enter Desig or ALL")
                        <div class="col-md-12">
                            <select class="form-control select2" style="width: 100%;" id="POP_DESIG" name="POP_DESIG">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Enter Group or ALL")
                        <div class="col-md-12">
                            <select class="form-control select2" style="width: 100%;" id="POP_GROUP" name="POP_GROUP">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="RunPersonnelOnPagerReport" value="Run" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
}