﻿@{
    ViewBag.Title = "Personnel Info";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Personal Info";
    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}
@using (Html.BeginForm("PersonnelInfo", "PersonnelReport", FormMethod.Post))
{
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Report Parameters</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.Case Form Start -->
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Enter Branch Code or 'ALL'")
                        <div class="col-md-12">
                            <input class="form-control" id="PI_BRANCH" name="PI_BRANCH" maxlength="3" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Starting Personnel No")
                        <div class="col-md-12">
                            <input class="form-control" id="PI_PERSONNEL_NO" name="PI_PERSONNEL_NO" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Ending Personnel No")
                        <div class="col-md-12">
                            <input class="form-control" id="PI_END_PERSONNEL_NO" name="PI_END_PERSONNEL_NO" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Enter GF/GCB Or ALL")
                        <div class="col-md-12">
                            <input class="form-control" id="PI_SEGMENT" name="PI_SEGMENT" maxlength="3" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Enter Dept Or ALL")
                        <div class="col-md-12">
                            <input class="form-control" id="PI_DEPARTMENT" name="PI_DEPARTMENT" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("No Of Years For History")
                        <div class="col-md-12">
                            <input class="form-control" id="PI_YEAR" name="PI_YEAR" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Enter Level Or ALL")
                        <div class="col-md-12">
                            <input class="form-control" id="PI_LEVEL" name="PI_LEVEL" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="RunPersonalInfo" value="Run" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
}