﻿@{
    ViewBag.Title = "PF Report";
    ViewBag.Controller = "Home";
    ViewBag.Action = "PF Report";
    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}
@using (Html.BeginForm("PFReport", "PersonnelReport", FormMethod.Post))
{
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Report Parameters</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.Case Form Start -->
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("YEAR (YYYY)")
                        <div class="col-md-12">
                            <input class="form-control" id="PF_YEAR" name="PF_YEAR" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("PERSONNEL NO FROM")
                        <div class="col-md-12">
                            <input class="form-control" id="PF_PNO" name="PF_PNO" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("ENTER BRANCH OR 'ALL'")
                        <div class="col-md-12">
                            <input class="form-control" id="PF_BRANCH" name="PF_BRANCH" maxlength="3" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("ENTER DEPARTMENT OR 'ALL'")
                        <div class="col-md-12">
                            <input class="form-control" id="PF_DEPARTMENT" name="PF_DEPARTMENT" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Termination Dt")
                        <div class="col-md-12">
                            <input class="form-control" id="PF_TERMINATION_DATE" name="PF_TERMINATION_DATE" type="date" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Trustee 1")
                        <div class="col-md-12">
                            <input class="form-control" id="PF_TRUSTEE1" name="PF_TRUSTEE1" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Trustee 2")
                        <div class="col-md-12">
                            <input class="form-control" id="PF_TRUSTEE2" name="PF_TRUSTEE2" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Zakat Deduction")
                        <div class="col-md-12">
                            <input class="form-control" id="PF_ZAKAT" name="PF_ZAKAT" maxlength="1" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="RunPFReport" value="Run" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
}