﻿@{
    ViewBag.Title = "Previous Emp Letter";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Previous Emp Letter";
    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}
@using (Html.BeginForm("PreviousEmpLetter", "PersonnelReport", FormMethod.Post))
{
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Report Parameters</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.Case Form Start -->
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("PERSONNEL")
                        <div class="col-md-12">
                            <input class="form-control" id="PEL_PNO" name="PEL_PNO" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Auth Name")
                        <div class="col-md-12">
                            <input class="form-control" id="PEL_AUTH_NAME" name="PEL_AUTH_NAME" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Auth Desig")
                        <div class="col-md-12">
                            <input class="form-control" id="PEL_AUTH_DESIG" name="PEL_AUTH_DESIG" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Auth Place")
                        <div class="col-md-12">
                            <input class="form-control" id="PEL_AUTH_PLACE" name="PEL_AUTH_PLACE" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="RunPreviousEmpLetter" value="Run" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
}