﻿@{
    ViewBag.Title = "Prior Experience EDU";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Prior Experience EDU";
    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}
@using (Html.BeginForm("PriorExperienceEDU", "PersonnelReport", FormMethod.Post))
{
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Report Parameters</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.Case Form Start -->
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("ENTER A BRANCH CODE OR ALL")
                        <div class="col-md-12">
                            <input class="form-control" id="PEE_BRANCH" name="PEE_BRANCH" maxlength="3" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("ENTER A SEGMENT OR ALL")
                        <div class="col-md-12">
                            <input class="form-control" id="PEE_SEGMENT" name="PEE_SEGMENT" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("ENTER A DESIGNATION OR ALL")
                        <div class="col-md-12">
                            <input class="form-control" id="PEE_DESIG" name="PEE_DESIG" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("ENTER LAST EDU YEAR(YYYY)")
                        <div class="col-md-12">
                            <input class="form-control" id="PEE_YEAR" name="PEE_YEAR" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="RunPriorExperienceEDU" value="Run" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
}