﻿@{
    ViewBag.Title = "Prior Exp";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Prior Exp";
    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}
@using (Html.BeginForm("PriorExp", "PersonnelReport", FormMethod.Post))
{
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Report Parameters</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.Case Form Start -->
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("TODAY DATE")
                        <div class="col-md-12">
                            <input class="form-control" type="date" id="PR_TODAY_DATE" name="PR_TODAY_DATE" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("ENTER A BRANCH CODE OR ALL")
                        <div class="col-md-12">
                            <input class="form-control" id="PE_BRANCH" name="PE_BRANCH" maxlength="3" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("ENTER A SEGMENT OR ALL")
                        <div class="col-md-12">
                            <input class="form-control" id="PE_SEGMENT" name="PE_SEGMENT" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("ENTER A DESIGNATION OR ALL")
                        <div class="col-md-12">
                            <input class="form-control" id="PE_DESIG" name="PE_DESIG" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="RunPriorExp" value="Run" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
}