﻿@{
    ViewBag.Title = "Report For Department";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Report For Department";
    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}
@using (Html.BeginForm("ReportForDepartment", "PersonnelReport", FormMethod.Post))
{
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Report Parameters</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.Case Form Start -->
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Rundate")
                        <div class="col-md-12">
                            <input class="form-control" id="RD_RUN_DATE" name="RD_RUN_DATE" type="date" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Enter Valid Branch")
                        <div class="col-md-12">
                            <input class="form-control" id="RD_BRANCH" name="RD_BRANCH" maxlength="3" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Enter Segment(GF/GCB)")
                        <div class="col-md-12">
                            <input class="form-control" id="RD_SEGMENT" name="RD_SEGMENT" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Enter Valid Group or ALL")
                        <div class="col-md-12">
                            <input class="form-control" id="RD_GROUP" name="RD_GROUP" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Enter Valid Department")
                        <div class="col-md-12">
                            <input class="form-control" id="RD_DEPARTMENT" name="RD_DEPARTMENT" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="RunReportForDepartment" value="Run" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
}