﻿@{
    ViewBag.Title = "Report For Confirmation Due";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Report For Confirmation Due";
    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}
@using (Html.BeginForm("ReportForConfirmationDue", "PersonnelReport", FormMethod.Post))
{
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Report Parameters</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.Case Form Start -->
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("ENTER BRANCH OR [ALL]")
                        <div class="col-md-12">
                            <input class="form-control" id="RCD_BRANCH" name="RCD_BRANCH" maxlength="3" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Confirmation Due From")
                        <div class="col-md-12">
                            <input class="form-control" id="RCD_ISSUE_DATE" name="RCD_ISSUE_DATE" type="date" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Confirmation Due Date")
                        <div class="col-md-12">
                            <input class="form-control" id="RCD_EXPIRY_DATE" name="RCD_EXPIRY_DATE" type="date" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Segment Code or All")
                        <div class="col-md-12">
                            <input class="form-control" id="RCD_SEGMENT" name="RCD_SEGMENT" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Designation Code or All")
                        <div class="col-md-12">
                            <input class="form-control" id="RCD_DESIG" name="RCD_DESIG" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="RunReportForConfirmationDue" value="Run" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
}