﻿@{
    ViewBag.Title = "Report For All Employees Current Dept Wise";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Report For All Employees Current Dept Wise";
    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}
@using (Html.BeginForm("ReportForAllEmployeesCurrentDeptWise", "PersonnelReport", FormMethod.Post))
{
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Report Parameters</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.Case Form Start -->
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("ENTER BRANCH OR [ALL]")
                        <div class="col-md-12">
                            <input class="form-control" id="RFA_BRANCH" name="RFA_BRANCH" max="3" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("ENTER SEGMENT CODE")
                        <div class="col-md-12">
                            <input class="form-control" id="RFA_SEGMENT" name="RFA_SEGMENT" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("ENTER DEPARTMENT CODE")
                        <div class="col-md-12">
                            <input class="form-control" id="RFA_DEPARTMENT" name="RFA_DEPARTMENT" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("ENTER GROUP CODE")
                        <div class="col-md-12">
                            <input class="form-control" id="RFA_GROUP" name="RFA_GROUP" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("ENTER VALID DESIGNATION")
                        <div class="col-md-12">
                            <input class="form-control" id="RFA_DESIG" name="RFA_DESIG" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("ENTER VALID LEVEL OR [ALL]")
                        <div class="col-md-12">
                            <input class="form-control" id="RFA_LEVEL" name="RFA_LEVEL" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="RunReportForAllEmployeesCurrentDeptWise" value="Run" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
}