﻿@{
    ViewBag.Title = "Service Termination Report";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Service Termination Report";
    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}
@using (Html.BeginForm("ServiceTerminationReport", "PersonnelReport", FormMethod.Post))
{
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Report Parameters</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.Case Form Start -->
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Branch Code")
                        <div class="col-md-12">
                            <input class="form-control" id="STR_BRANCH" name="STR_BRANCH" maxlength="3" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Segment Code")
                        <div class="col-md-12">
                            <input class="form-control" id="STR_SEGMENT" name="STR_SEGMENT" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Designation Code")
                        <div class="col-md-12">
                            <input class="form-control" id="STR_DESIG" name="STR_DESIG" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Termination Date From")
                        <div class="col-md-12">
                            <input class="form-control" type="date" id="STR_START_DATE" name="STR_START_DATE" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Termination Date To")
                        <div class="col-md-12">
                            <input class="form-control" type="date" id="STR_END_DATE" name="STR_END_DATE" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("[ALL]/[T]ERMINATED/[H]OLD")
                        <div class="col-md-12">
                            <input class="form-control" id="STR_HOLD" name="STR_HOLD" maxlength="3" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="RunServiceTerminationReport" value="Run" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
}