﻿@{
    ViewBag.Title = "CHRIS FINAL SETTLEMENT REPORT";
    ViewBag.Controller = "Home";
    ViewBag.Action = "CHRIS FINAL SETTLEMENT REPORT";
}

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Final Settlement Report</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Enter Personnel No")
                    <div class="col-md-12">
                        <input class="form-control" id="PNO" />
                    </div>
                    
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Save File Path")
                    <div class="col-md-12">
                        <input class="form-control" id="SaveFilePath" type="file" />
                    </div>
                </div>
            </div>

        </div>
         <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                    <input type="button" name="Generate" value="Generate Report" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>

</div>



