﻿@{
    ViewBag.Title = "Gratuity Reserves Reports";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Gratuity Reserves Reports";
}

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="Run" value="Run" class="btn btn-outline-primary" />
                <input type="button" name="FinalSettlement" value="Final Settlement" class="btn btn-outline-primary" />

            </div>
        </div>

    </div>

</div>


<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Enter Personnel No")
                    <div class="col-md-12">
                        <input class="form-control" id="PNO" />
                    </div>

                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Save File Path")
                    <div class="col-md-12">
                        <input class="form-control" id="SaveFilePath" type="file" />
                    </div>
                </div>
            </div>

        </div>
        
    </div>

</div>


<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">ADD:</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Leave Encashment In Days")
                    <div class="col-md-12">
                        <input class="form-control" id="PF_ADD_LEAVE_ENCASHMENT_DAYS" value="0"/>
                    </div>

                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Unpaid Salary No # Days")
                    <div class="col-md-12">
                        <input class="form-control" id="PF_ADD_UNPAID_SALARY_DAYS" value="0" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Allowances Payment")
                    <div class="col-md-12">
                        <input class="form-control" id="PF_ADD_ALLOWNCES_PAYMENT" value="0" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("BAF loan subsidy")
                    <div class="col-md-12">
                        <input class="form-control" id="PF_ADD_BAF_LOAN_SUBSIDY_PAY" value="0" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                 <div class="form-group">
                    @Html.Label("Deferred Cash")
                    <div class="col-md-12">
                        <input class="form-control" id="PF_ADD_DEFFERED_CASH" value="0" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Incentive Award")
                    <div class="col-md-12">
                        <input class="form-control" id="PF_ADD_INCENTIVE_AWARD" value="0" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Other Payments 1")
                    <div class="col-md-12">
                        <input class="form-control" id="PF_ADD_OTHER_PAYMENTS_1" value="0" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Other Payments 2")
                    <div class="col-md-12">
                        <input class="form-control" id="PF_ADD_OTHER_PAYMENTS_2" value="0" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("PF Reversal on Own Contribution (Days)")
                    <div class="col-md-12">
                        <input class="form-control" id="PF_ADD_REVERSAL_OWN_CONT_DAYS" value="0" />
                    </div>
                </div>
            </div>

        </div>
        
    </div>

</div>


<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">LESS:</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Citi Outstanding Loan")
                    <div class="col-md-12">
                        <input class="form-control" id="PF_LESS_CITI_OUTSTANDING_LOAN" value="0" />
                    </div>
                </div>
            </div>          
            
            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Advance Settlement Paid Adjustment")
                    <div class="col-md-12">
                        <input class="form-control" id="PF_LESS_ADVANCE_STLMNT_PAID" value="0" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Outstanding Balance of Loan")
                    <div class="col-md-12">
                        <input class="form-control" id="OUT_BAL_SETTLE" value="0" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Allowances Reversal")
                    <div class="col-md-12">
                        <input class="form-control" id="PF_LESS_ALLOWNCES_REVERSAL" value="0" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Salary Reversal (Days)")
                    <div class="col-md-12">
                        <input class="form-control" id="PF_LESS_SALARY_REVERSAL_DAYS" value="0" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("PF Reversal on own Contribution (Days)")
                    <div class="col-md-12">
                        <input class="form-control" id="PF_LESS_PF_REVERSAL_OWN_CONT_DAYS" value="0" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("BAF House Loan Deduct")
                    <div class="col-md-12">
                        <input class="form-control" id="PF_LESS_BAF_HOUSE_LOAN_DEDUCTION" value="0" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("BAF Car Loan Deduction")
                    <div class="col-md-12">
                        <input class="form-control" id="PF_LESS_BAF_CAR_LOAN_DEDUCTION" value="0" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Outstanding 0% Vehicle Loan")
                    <div class="col-md-12">
                        <input class="form-control" id="PF_OUTSTANDING_VEHICLE_LOAN" value="0" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Income Tax deduct on Salary and Leave Encashment")
                    <div class="col-md-12">
                        <input class="form-control" id="PF_LESS_INCOME_TAX_DEDUCTION" value="0" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Other Deductions")
                    <div class="col-md-12">
                        <input class="form-control" id="PF_LESS_OTHER_DEDUCTIONS" value="0" />
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
