﻿@{
    ViewBag.Title = "History Updating Process";
    ViewBag.Controller = "Home";
    ViewBag.Action = "History Updating Process";
}

<script>
    function AddNew() {
        location.reload();
    }
</script>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Gratuity Module Gratuity History Updation Process</h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp; Clear</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
   
    <div class="card-body">

        <div class="col-md-4">
            <div class="form-group">
                @Html.Label("Enter [Y]es / [N]o to start process")
                <div class="col-md-12">
                    <input class="form-control" id="YesNo" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="Submit_HistoryUpdatingProcess" id="Submit_HistoryUpdatingProcess" value="Start Process" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>

</div>



