﻿@{
    ViewBag.Title = "Individual Gratuity Reports";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Individual Gratuity Reports";
    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}
@using (Html.BeginForm("IndividualGratuityReports", "Gratuity", FormMethod.Post))
{
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Enter values for the parameters</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.Case Form Start -->
        <div class="card-body">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        @Html.Label("Enter From Personnel No")
                        <div class="col-md-12">
                            <input class="form-control" id="IGR_FROM_PNO" name="IGR_FROM_PNO" />
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        @Html.Label("Enter To Personnel No")
                        <div class="col-md-12">
                            <input class="form-control" id="IGR_TO_PNO" name="IGR_TO_PNO" />
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        @Html.Label("Enter Branch or [ALL]")
                        <div class="col-md-12">
                            <input class="form-control" id="IGR_BRANCH" name="IGR_BRANCH" maxlenght="3"/>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        @Html.Label("Enter Segment Code or [ALL]")
                        <div class="col-md-12">
                            <input class="form-control" id="IGR_SEGMENT" name="IGR_SEGMENT" />
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        @Html.Label("DEPARTMENT CODE OR [ALL]")
                        <div class="col-md-12">
                            <input class="form-control" id="IGR_DEPARTMENT" name="IGR_DEPARTMENT" />
                        </div>
                    </div>
                </div>

            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" name="Run" value="Run" class="btn btn-outline-primary" />
                </div>
            </div>
        </div>

    </div>
}


