﻿@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home | @ViewBag.title</title>

    <link rel="stylesheet" href="~/Content/Assets/Dashboard/plugins/fontawesome-free/css/all.min.css">
    <!-- daterange picker -->
    <link rel="stylesheet" href="~/Content/Assets/Dashboard/plugins/daterangepicker/daterangepicker.css">
    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="~/Content/Assets/Dashboard/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
    <!-- Toastr -->
    <link rel="stylesheet" href="~/Content/Assets/Dashboard/plugins/toastr/toastr.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/Content/Assets/Dashboard/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/Content/Assets/Dashboard/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/Content/Assets/Dashboard/plugins/datatables-bs5/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="~/Content/Assets/Dashboard/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Content/Assets/Dashboard/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <!-- Theme style -->
    <link href="~/Content/Assets/Dashboard/dist/css/adminlte.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/Assets/Dashboard/dist/css/adminlte.min.css">
    <!-- Font Awsome -->
    <link href="~/Content/Assets/Dashboard/dist/css/fontawesome.css" rel="stylesheet" />
    <link href="~/Content/Assets/Dashboard/dist/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/Content/Assets/Dashboard/dist/css/CustomDatePicker.css" rel="stylesheet" />
    <!-- Custom Style Sheet -->
    <link href="~/Content/Assets/Dashboard/dist/css/CustomStyle.css" rel="stylesheet" />
    <!--ICheck-->
    <link rel="stylesheet" href="~/Content/Assets/Dashboard/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/Assets/Dashboard/plugins/icheck-bootstrap/icheck-bootstrap.css">
    @*<link href="~/content/assets/dashboard/dist/css/print.css" rel="stylesheet" type="text/css" media="print" />*@
</head>
<body class="hold-transition sidebar-mini text-sm">
    <div id="loading" align="center">
        <img src="~/Content/Assets/Dashboard/Images/site_loader.gif" alt="" />
    </div>

   @*  <div id="loading1" align="center">
        <img src="~/Content/Assets/Dashboard/Images/site_loader.gif" alt="" />
    </div> *@

    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-light navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"></a>
                </li>
                <li class="nav-link">
                    <h4 class="custom-header">User Id : <span class="text-blue">@HttpContextAccessor.HttpContext.Session.GetString("USER_ID")</span></h4>
                </li>
            </ul>
            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-link">
                    <a class="logout-btn btn btn-outline-primary btn-sm" title="Logout" data-toggle="tooltip" href="@Url.Action("Logout","Authentication")" onclick="noBack()"><span class="fas fa-power-off"> </span> </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                        <i class="fas fa-th-large"></i>
                    </a>
                </li> -->
            </ul>
        </nav>
        <!-- /.navbar -->
        <h5 class="timeoutReminder" id="timeoutReminder"></h5>
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-light-primary elevation-4">
            <!-- Brand Logo -->
            <a href="@Url.Action("Index", "Home")" class="brand-link">
                <center>
                    <img src="~/Content/Assets/Dashboard/dist/img/logo.jpg" class="custom_img" alt="Citi Bank Logo">
                </center>
            </a>
            <!-- Sidebar -->
            <div class="sidebar">
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                        @await Component.InvokeAsync("Menu")

                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <section class="content-header breadcrumb">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="text-uppercase"><span class="fas fa-caret-right"></span> @ViewBag.Title</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item active"><a href="@Url.Action("Index","Home")">@ViewBag.Controller</a></li>
                                <li class="breadcrumb-item active">@ViewBag.Action</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>
            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">
                    @{
                        @RenderBody()
                        ;
                    }
                </div>
            </div>
        </div>
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-light">
            <!-- Control sidebar content goes here -->
            <div class="p-3">
                <h5>Title</h5>
                <p>Sidebar content</p>
            </div>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <center>
                <strong>Copyright &copy; 2020 </strong> All rights reserved.
            </center>
        </footer>

    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="~/Content/Assets/Dashboard/plugins/jquery/jquery.min.js"></script>
    <!-- date-range-picker -->
    <script src="~/Content/Assets/Dashboard/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Custom jQuery -->
    <script src="~/Content/Assets/Dashboard/build/js/Customjquery.js"></script>
    <script src="~/Content/Assets/Dashboard/build/js/CustomDatePicker.js"></script>
    <script src="~/Content/Assets/Dashboard/build/js/CustomDatePickerUI.js"></script>
    <script src="~/Content/Assets/Dashboard/build/js/CustomJS.js"></script>
    <script src="~/Content/Assets/Dashboard/build/js/CustomJS2.js"></script>
    <!-- SweetAlert2 -->
    <script src="~/Content/Assets/Dashboard/plugins/sweetalert2/sweetalert2.min.js"></script>
    <!-- Toastr -->
    <script src="~/Content/Assets/Dashboard/plugins/toastr/toastr.min.js"></script>
    <script src="~/Content/Assets/Dashboard/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Select2 -->
    <script src="~/Content/Assets/Dashboard/plugins/select2/js/select2.full.min.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="~/Content/Assets/Dashboard/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/Assets/Dashboard/plugins/datatables-bs5/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/Content/Assets/Dashboard/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/Assets/Dashboard/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/Content/Assets/Dashboard/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/Assets/Dashboard/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/Content/Assets/Dashboard/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/Content/Assets/Dashboard/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/Content/Assets/Dashboard/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Content/Assets/Dashboard/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/Content/Assets/Dashboard/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/Assets/Dashboard/dist/js/adminlte.min.js"></script>
    @*<script src="~/content/assets/dashboard/dist/js/jspdf.umd.min.js"></script>*@
    <script src="~/content/assets/dashboard/dist/js/devcustom.js"></script>
</body>
</html>
