@model IEnumerable<CHRIS.Data.CHRIS_ROLE_WITH_FUNCTIONS_LIST_VIEW>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    if (Model != null)
    {
        if (Model.Count() > 0)
        {
            <div class="card">
                <div class="card-header citi-table-head">
                    <h3 class="card-title">List Of Group Role</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                    </div>
                </div>
                <!-- /.Case Form Start -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered text-center table-hover">
                        <thead class="citi-table-head">
                            <tr>
                                <th>Role Name</th>
                                <th>Role Description</th>
                                <th>Assign Roles</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.PR_NAME)</td>
                                    <td>@Html.DisplayFor(modelItem => item.PR_DESCRIPTION)</td>
                                    <td>@Html.DisplayFor(modelItem => item.ASSIGNED_FUNCTION)</td>
                                    <td>
                                        @if (item.PR_ISAUTH == true)
                                        {
                                            <a href="@Url.Action("Index","Manage_Groups", new { R = item.PR_ID})" data-toggle="tooltip" title="Edit @Html.DisplayFor(modelItem => item.PR_NAME)" class="btn btn-outline-primary btn-sm">
                                                Edit
                                            </a>
                                        }
                                        @if (item.PR_ISAUTH == false && item.PR_MAKER_ID != HttpContextAccessor.HttpContext.Session.GetString("USER_ID").ToString())
                                        {
                                            <button type="button" value="@item.PR_ID" name="AuthroizeRole" data-toggle="tooltip" title="Authorize @item.PR_NAME" class="btn btn-outline-success btn-sm">
                                                <span class="fas fa-check"></span>
                                            </button>
                                            <button type="button" value="@item.PR_ID" name="DeleteFromAuthroizeRole" data-toggle="tooltip" title="Reject @Html.DisplayFor(modelItem => item.PR_NAME)" class="btn btn-outline-danger btn-sm">
                                                <span class="fas fa-times"></span>
                                            </button>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot class="citi-table-head">
                            <tr>
                                <th>Role Name</th>
                                <th>Role Description</th>
                                <th>Assign Roles</th>
                                <th>Actions</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        }
    }
}

