﻿@{
    ViewBag.Title = "DisbursementOuts";
    ViewBag.Controller = "Home";
    ViewBag.Action = "DisbursementOuts";
}

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Report Parameters</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Destination Type")
                    <div class="col-md-12">
                        <select class="form-control" id="DesType" name="Dest_Type">
                            <option value="" selected>--Select--</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Destination Name")
                    <div class="col-md-12">
                        <input class="form-control" id="Dest_name" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Destination Format")
                    <div class="col-md-12">
                        <input class="form-control" id="Dest_Format" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Number of Copies")
                    <div class="col-md-12">
                        <input class="form-control" id="nocopies" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("ENTER BRANCH CODE OR  ALL")
                    <div class="col-md-12">
                        <input class="form-control" id="branch" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("ENTER SEGMENT CODE")
                    <div class="col-md-12">
                        <input class="form-control" id="w_seg" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("ENTER DESIGNATION OR ALL")
                    <div class="col-md-12">
                        <input class="form-control" id="w_desig" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("ENTER DEPARTMENT OR ALL")
                    <div class="col-md-12">
                        <input class="form-control" id="w_dept" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("ENTER LEVEL CODE OR ALL")
                    <div class="col-md-12">
                        <input class="form-control" id="w_level" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("ENTER LOAN TYPE OR [A]LL")
                    <div class="col-md-12">
                        <input class="form-control" id="w_type" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("FROM DATE")
                    <div class="col-md-12">
                        <input class="form-control" id="F_DATE" type="date" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("TO DATE")
                    <div class="col-md-12">
                        <input class="form-control" id="T_DATE" type="date" />
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" name="RunDisbursementOuts" value="Run" class="btn btn-outline-primary" />
        </div>
    </div>
</div>
