﻿
@{
    ViewBag.Title = "Finance Liquidation";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Finance Liquidation";
    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}

@using (Html.BeginForm("FinanceLiquidation", "FinanceReports", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Report Parameters</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.Case Form Start -->
        <div class="card-body">
           @*  <div class="row">
                 <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Destination Type")
                        <div class="col-md-12">
                            <select class="form-control" id="DesType" name="Dest_Type">
                                <option value="" selected>--Select--</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Destination Name")
                        <div class="col-md-12">
                            <input class="form-control" id="Dest_name" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Destination Format")
                        <div class="col-md-12">
                            <input class="form-control" id="Dest_Format" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Number of Copies")
                        <div class="col-md-12">
                            <input class="form-control" id="nocopies" />
                        </div>
                    </div>
                </div>
            </div> *@
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        @Html.Label("Valid Branch Or ALL")
                        <div class="col-md-12">
                            <input class="form-control" id="FL_BRANCH" name="FL_BRANCH" maxlength="3" />
                        </div>
                    </div>
                </div>
               @*  <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Mode")
                        <div class="col-md-12">
                            <select class="form-control" id="Mode">
                                <option value="" selected>--Select--</option>
                            </select>
                        </div>
                    </div>
                </div> *@
                <div class="col-md-2">
                    <div class="form-group">
                        @Html.Label("Enter Segment GF or GCB")
                        <div class="col-md-12">
                            <input class="form-control" id="FL_SEGMENT" name="FL_SEGMENT" />
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        @Html.Label("FROM DATE")
                        <div class="col-md-12">
                            <input class="form-control" id="FL_FROM_DATE" name="FL_FROM_DATE" type="date" />
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        @Html.Label("TO DATE")
                        <div class="col-md-12">
                            <input class="form-control" id="FL_TO_DATE" name="FL_TO_DATE" type="date" />
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        @Html.Label("[I]nside/[O]utside")
                        <div class="col-md-12">
                            <input class="form-control" id="FL_FLAG" name="FL_FLAG" placeholder="[I]nside/[O]utside" maxlength="1" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="RunFinanceLiquidation" id="RunFinanceLiquidation" value="Run" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
}