﻿@{
    ViewBag.Title = "Loan Asim";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Loan Asim";
}

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Report Parameters</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Destination Type")
                    <div class="col-md-12">
                        <select class="form-control" id="DesType">
                            <option value="" selected>--Select--</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Destination Name")
                    <div class="col-md-12">
                        <input class="form-control" id="DestName" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Print Job")
                    <div class="col-md-12">
                        <select class="form-control" id="Print">
                            <option value="" selected>--Select--</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Fn P No")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_P_NO" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Pr Amt Availed")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_AMT_AVAILED1" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Tot Month Inst")
                    <div class="col-md-12">
                        <input class="form-control" id="TOT_MONTH_INST1" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Pr Markup")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_MARKUP1" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Amt of Loan Can Avail")
                    <div class="col-md-12">
                        <input class="form-control" id="AMT_OF_LOAN_CAN_AVAIL" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Fn Type")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_TYPE" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Loan App Date")
                    <div class="col-md-12">
                        <input class="form-control" id="LOAN_APP_DATE" type="date" />
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" name="RunInsuranceRequiredReport" value="Run" class="btn btn-outline-primary" />
        </div>
    </div>
</div>
