﻿@{
    ViewBag.Title = "MCO Process";
    ViewBag.Controller = "Home";
    ViewBag.Action = "MCO Process";
}

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Report Parameters</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <div class="row">
            
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Enter Segment")
                    <div class="col-md-12">
                        <input class="form-control" id="W_seg" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Enter Branch Code")
                    <div class="col-md-12">
                        <input class="form-control" id="W_Branch" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Enter As of Date")
                    <div class="col-md-12">
                        <input class="form-control" id="dtAsofDate" type="date" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Finance No")
                    <div class="col-md-12">
                        <input class="form-control" id="FinNo" />
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" name="RunMCOProcess" value="Start Process" class="btn btn-outline-primary" />
        </div>
    </div>
</div>
