﻿@{
    ViewBag.Title = "MCO Report";
    ViewBag.Controller = "Home";
    ViewBag.Action = "MCO Report";
if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}

@using (Html.BeginForm("MCOReport", "FinanceReports", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Report Parameters</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.Case Form Start -->
        <div class="card-body">
            <div class="row">
               @*  <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Enter Segment")
                        <div class="col-md-12">
                            <input class="form-control" id="W_seg" />
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Enter Branch Code")
                        <div class="col-md-12">
                            <input class="form-control" id="W_Branch" />
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Enter As of Date")
                        <div class="col-md-12">
                            <input class="form-control" id="dtAsofDate" type="date" />
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Finance No")
                        <div class="col-md-12">
                            <input class="form-control" id="FinNo" />
                        </div>
                    </div>
                </div> *@

                @* <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Destination Type")
                        <div class="col-md-12">
                            <select class="form-control" id="DesType">
                                <option value="" selected>--Select--</option>
                            </select>
                        </div>
                    </div>
                </div> *@
    @* 
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Destination Name")
                        <div class="col-md-12">
                            <input class="form-control" id="DestName" />
                        </div>
                    </div>
                </div> *@

                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("GL Balance")
                        <div class="col-md-12">
                            <input class="form-control" id="MCO_BALANCE" name="MCO_BALANCE" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Segment")
                        <div class="col-md-12">
                            <input class="form-control" id="MCO_SEGMENT" name="MCO_SEGMENT" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Branch")
                        <div class="col-md-12">
                            <input class="form-control" id="MCO_BRANCH" name="MCO_BRANCH" maxlength="3" />
                        </div>
                    </div>
                </div>

                @* <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Option")
                        <div class="col-md-12">
                            <select class="form-control" id="Option">
                                <option value="" selected>--Select--</option>
                            </select>
                        </div>
                    </div>
                </div> *@

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="RunMonthlyFinance" value="Run" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
}