﻿@{
    ViewBag.Title = "Vehicle Insurance Policy";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Vehicle Insurance Policy";
}

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Report Parameters</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Pol Exp Dt From")
                    <div class="col-md-12">
                        <input class="form-control" id="F_DATE" type="date" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Pol Exp Dt To")
                    <div class="col-md-12">
                        <input class="form-control" id="T_DATE" type="date" />
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" name="RunVehicleInsurancePolicy" value="Run" class="btn btn-outline-primary" />
        </div>
    </div>
</div>
