﻿@using CHRIS.Data;
@model List<CHRIS_PR_COUNTRY_GETALLResult>



@{
    ViewBag.Title = "Country Code";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Country Code";
}

<script>
    function AddNew() {
        location.reload();
    }
</script>

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Interest Differential Country Code Entry(Maintenance)</h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp;Add New</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">


        <div class="row">
            <input id="ID" hidden value="0" />
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Country Code")
                    <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="PR_COUNTRY_CODE" />
                        </div>
                       @*  <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="btn_Modal_PR_COUNTRY_CODE" name="btn_Modal_PR_COUNTRY_CODE" data-toggle="modal" data-target="#PR_COUNTRY_CODEModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div> *@
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Country Name")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_COUNTRY_DESC" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Debit A/c #")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_COUNTRY_AC" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("CitiMail(Y/N)")
                    <div class="col-md-12">
                        <select class="form-control" id="PR_CITIMAIL">
                            <option value="" selected>--Select--</option>
                            <option value="Y">Y</option>
                            <option value="N">N</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Record Status [C] Close")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_STATUS"  disabled/>
                    </div>
                </div>
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="SubmitCountryCode" id="SubmitCountryCode" value="Submit" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>

</div>


<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <table id="" class="table table-bordered text-center table-hover dTable" width="100%">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>ID</th> 
                    <th>COUNTRY CODE</th>
                    <th>COUNTRY DESC</th>
                    <th>COUNTRY AC</th>
                    <th>CITIMAIL</th>
                    <th>MAKER NAME</th>
                    <th>MAKER DATE</th>
                    <th>MAKER TIME</th>
                    <th>MAKER LOC</th>
                    <th>MAKER TERM</th>
                    <th>AUTH NAME</th>
                    <th>AUTH DATE</th>
                    <th>AUTH TIME</th>
                    <th>AUTH LOC</th>
                    <th>AUTH TERM</th>
                    <th>AUTH FLAG</th>
                    <th>STATUS</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody id="">
                @if (Model != null)
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.ID</td>
                            <td>@item.PR_COUNTRY_CODE</td>
                            <td>@item.pr_country_desc</td>
                            <td>@item.PR_COUNTRY_AC</td>
                            <td>@item.PR_CITIMAIL</td>
                            <td>@item.PR_MAKER_NAME</td>
                            <td>@item.PR_MAKER_DATE</td>
                            <td>@item.PR_MAKER_TIME</td>
                            <td>@item.PR_MAKER_LOC</td>
                            <td>@item.PR_MAKER_TERM</td>
                            <td>@item.PR_AUTH_NAME</td>
                            <td>@item.PR_AUTH_DATE</td>
                            <td>@item.PR_AUTH_TIME</td>
                            <td>@item.PR_AUTH_LOC</td>
                            <td>@item.PR_AUTH_TERM</td>
                            <td>@item.PR_AUTH_FLAG</td>
                            <td>@item.PR_STATUS</td>

                            <td>
                                <button type="button" class="btn btn-outline-info" id="EditCountryCode" value="@item.ID,@item.PR_COUNTRY_CODE,@item.pr_country_desc,@item.PR_COUNTRY_AC,@item.PR_CITIMAIL,@item.PR_MAKER_NAME,@item.PR_MAKER_DATE,@item.PR_MAKER_TIME,@item.PR_MAKER_LOC,@item.PR_MAKER_TERM,@item.PR_AUTH_NAME,@item.PR_AUTH_DATE,@item.PR_AUTH_TIME,@item.PR_AUTH_LOC,@item.PR_AUTH_TERM,@item.PR_AUTH_FLAG,@item.PR_STATUS">
                                    <span class="fas fa-pen"></span> Edit
                                </button>
                                <button type="button" class="btn btn-outline-danger" id="DeleteCountryCode" value="@item.ID">
                                    <span class="fas fa-times"></span> Delete
                                </button>
                            </td>
                        </tr>
                    }
            </tbody>
        </table>
    </div>
</div>



<div class="modal fade" id="PR_COUNTRY_CODEModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_PR_COUNTRY_CODE_Modal" class="table table-bordered text-center table-hover dTable">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>PR COUNTRY CODE</th>
                                <th>PR COUNTRY DESC</th>
                            </tr>
                        </thead>
                        <tbody id="tbl_PR_COUNTRY_CODE_Modal">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


