﻿@{
    ViewBag.Title = "Country Code Authorization";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Country Code Authorization";
}

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Interest Differential Country Code Entry (Authorization)</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <input hidden id="CountryCodeAuthorizationPage" />
        <div class="row">
            <input id="ID" hidden value="0" />
            

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Country Code")
                   <div class="row">
                        <div class="col-md-12">
                            <input class="form-control" id="PR_COUNTRY_CODE" disabled />
                        </div>
                        @* <div class="col-md-1">
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#PR_COUNTRY_CODEModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div> *@
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Country Name")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_COUNTRY_DESC" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Debit A/c #")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_COUNTRY_AC" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("CitiMail(Y/N)")
                    <div class="col-md-12">
                        <select class="form-control" id="PR_CITIMAIL" disabled>
                            <option selected value="">--Select--</option>
                            <option value="Y">Y</option>
                            <option value="N">N</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Record Status [C] Close")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_STATUS" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="form-group">
                    @Html.Label("Auth Flag [A] Authorized Record")
                    <div class="row">
                        <div class="col-md-2">
                            <input class="form-control" id="PR_AUTH_FLAG" disabled />
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-default" id="btn_Authorize" name="btn_Authorize" value="A">
                               Authorize
                            </button>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-default" id="btn_Un_Authorize" name="btn_Un_Authorize" value="">
                                Un_Authorize
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Maker Name")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_MAKER_NAME" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Maker Date")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_MAKER_DATE" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Maker Time")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_MAKER_TIME" disabled />
                    </div>
                </div>
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="SubmitCountryCodeAuthorization" id="SubmitCountryCodeAuthorization" value="Submit" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>

</div>


<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <table id="tbl_CountryCodeAuthorization" class="table table-bordered text-center table-hover dTable" width="100%">
            <thead class="Custom-Table-Head">
                <tr>                    
                    <th>ID</th>
                    <th>COUNTRY_CODE</th>
                    <th>COUNTRY_DESC</th>
                    <th>COUNTRY_AC</th>
                    <th>CITIMAIL</th>
                    <th>STATUS</th>
                    <th>AUTH_FLAG</th>
                    <th>MAKER_NAME</th>
                    <th>MAKER_DATE</th>
                    <th>MAKER_TIME</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody id="tbl_CountryCodeAuthorization">
               
            </tbody>
        </table>
    </div>
</div>



@* <div class="modal fade" id="PR_COUNTRY_CODEModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="" class="table table-bordered text-center table-hover dTable">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>PR COUNTRY CODE</th>
                                <th>PR COUNTRY DESC</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
 *@

