﻿@{
    ViewBag.Title = "Dollar Rate Authorization";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Dollar Rate Authorization";
}

<script>
    function AddNew() {
        location.reload();
    }
</script>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Interest Differential U.S. $ Rate Entry (Authorization)</h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp; Clear</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">

   

        <div class="row">

            <input id="ID" hidden value="0" />
            <input id="DollarRateAuthorizationPage" hidden />

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Input Date")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_DATE" disabled/>
                    </div>@* 
                    <div class="col-md-1">
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#FN_DATEModal">
                            <i class="fas fa-align-center"></i>
                        </button>
                    </div> *@
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Transaction Date")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_TRN_DATE" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("US $ Rate")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_RATE" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Record Status [C] Close")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_STATUS" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Auth Flag [A] Authorized Record")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_AUTH_FLAG" disabled />
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Maker Name")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_MAKER_NAME" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Maker Date")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_MAKER_DATE" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Maker Time")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_MAKER_TIME" disabled />
                    </div>
                </div>
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" class="btn btn-outline-primary" id="btn_AUTH_FLAG_DollarRateAuthorization" name="btn_AUTH_FLAG_DollarRateAuthorization">Authorize/Un-Authorize</button>
                <input type="button" name="SubmitDollarRateAuthorization" id="SubmitDollarRateAuthorization" value="Submit" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>

</div>

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <table id="tbl_DollarRateAuthorization" class="table table-bordered text-center table-hoverd table-responsive" width="100%">
            <thead class="Custom-Table-Head">
                <tr>

                    <th>ID</th>
                    <th>DATE</th>
                    <th>TRN_DATE</th>
                    <th>RATE</th>
                    <th>MAKER_NAME</th>
                    <th>MAKER_DATE</th>
                    <th>MAKER_TIME</th>
                    <th>MAKER_LOC</th>
                    <th>MAKER_TERM</th>
                    <th>AUTH_NAME</th>
                    <th>AUTH_DATE</th>
                    <th>AUTH_TIME</th>
                    <th>AUTH_LOC</th>
                    <th>AUTH_TERM</th>
                    <th>AUTH_FLAG</th>
                    <th>STATUS</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>


@* <div class="modal fade" id="FN_DATEModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="" class="table table-bordered text-center table-hover dTable">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>FN DATE</th>
                                <th>FN TM DATE</th>
                                <th>FN RATE</th>
                                <th>FN STATUS</th>
                                <th>AUTH FLAG</th>
                                <th>FN MAKER NAME</th>
                                <th>FN MAKER DATE</th>
                                <th>FN MAKER TIME</th>
                                <th>ID 1</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
 *@

