﻿@{
    ViewBag.Title = "FNREP32";
    ViewBag.Controller = "Home";
    ViewBag.Action = "FNREP32";
}

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Enter values for the parameters</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Destination Type")
                    <div class="col-md-12">
                        <select class="form-control" id="Dest_Type">
                            <option value="">--Select--</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Destination Name")
                    <div class="col-md-12">
                        <input class="form-control" id="Dest_name" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Enter From Date")
                    <div class="col-md-12">
                        <input class="form-control" id="fdate" type="date" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Enter To Date")
                    <div class="col-md-12">
                        <input class="form-control" id="Tdate" type="date" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("C Citimail")
                    <div class="col-md-12">
                        <input class="form-control" id="C_Citimail" />
                    </div>
                </div>
            </div>

        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="Run" value="Run" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>

</div>



