﻿@{
    ViewBag.Title = "Interest Differentail Process";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Interest Differentail Process";
}
<script>
    function AddNew() {
        location.reload();
    }
</script>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Enter values for the parameters</h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp; Clear</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <input id="InterestDifferentailProcessPage" hidden />

        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.Label("Enter From Date")
                            <div class="col-md-12">
                                <input class="form-control" id="SLFromDate" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.Label("Enter To Date")
                            <div class="col-md-12">
                                <input class="form-control" id="SLToDate" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.Label("DELETE CRITERIA")
                        <div class="col-md-12">
                            <input class="form-control" id="SLFromDate1" />
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        @Html.Label("DELETE CRITERIA")
                        <div class="col-md-12">
                            <input class="form-control" id="SLToDate1"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    @Html.Label("Enter Personnel #  Or Null for All :")
                    <div class="row">
                        <div class="col-md-6">
                            <input class="form-control" id="txtPersonal" />
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" id="txtPer" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Enter Rate")
                    <div class="col-md-12">
                        <input class="form-control" id="txtRate" />
                    </div>
                </div>
            </div>

        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="Submit_InterestDifferentailProcess" id="Submit_InterestDifferentailProcess" value="Start Process" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>

</div>



