﻿@using CHRIS.Data;
@model List<CHRIS_SP_FN_INT_DIFF_GETALLResult>


@{
    ViewBag.Title = "LS Other Entry";
    ViewBag.Controller = "Home";
    ViewBag.Action = "LS Other Entry";
}

<script>
    function AddNew() {
        location.reload();
    }
</script>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Interest Differential I.S / Others Entry (Maintenance)</h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp; Clear</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">

    
        <div class="row">
            <input id="LSOtherEntryPage" hidden />
            <input id="ID" value="0" hidden />

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Personnel No")
                   <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="PR_P_NO1" disabled />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="btn_Modal_PR_P_NO1" name="btn_Modal_PR_P_NO1" data-toggle="modal" data-target="#PR_P_NO_Modal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Name")
                    <div class="col-md-12">
                        <input class="form-control" id="Name" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Segment")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_SEGMENT" name="FN_SEGMENT" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Country Code")
                    <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="FN_COUNTRY_CODE" disabled />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="btn_Modal_FN_COUNTRY_CODE" name="btn_Modal_FN_COUNTRY_CODE" data-toggle="modal" data-target="#FN_COUNTRY_CODE_Modal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Country Desc")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_Country_Desc" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Rentail Guarnatee")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_RENTAL_GUARANT" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Record Status [C] Close")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_STATUS" disabled />
                    </div>
                </div>
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" class="btn btn-outline-primary" id="btn_Closed_Record" value="C">Closed Record</button>
                <button type="button" class="btn btn-outline-primary" id="btn_Reopen_Record" value="">Reopen Record</button>
                <input type="button" name="SubmitLSOtherEntry" id="SubmitLSOtherEntry" value="Submit" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>

</div>

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <table id="tbl_LSOtherEntry" class="table table-bordered text-center table-hover dTable" width="100%">
            <thead class="Custom-Table-Head" >
                <tr>
                  
                  <th>ID</th>    
                  <th>PR_P_NO</th>
                  <th>Name</th>
                  <th>COUNTRY_CODE</th>
                  <th>Country_Desc</th>
                  <th>SEGMENT</th>
                  <th>RENTAL_GUARANT</th>
                  <th>MAKER_NAME</th>
                  <th>MAKER_DATE</th>
                  <th>MAKER_TIME</th>
                  <th>MAKER_LOC</th>
                  <th>MAKER_TERM</th>
                  <th>AUTH_NAME</th>
                  <th>AUTH_DATE</th>
                  <th>AUTH_TIME</th>
                  <th>AUTH_LOC</th>
                  <th>AUTH_TERM</th>
                  <th>AUTH_FLAG</th>
                  <th>STATUS</th>
                  <th>ACTION</th>
                   
                </tr>
            </thead>
            <tbody id="tbl_LSOtherEntry">
                @if (Model != null)
                    @foreach (var item in Model)
                    {
                        <tr>
                           <td>@item.ID</td>
                           <td>@item.PR_P_NO</td>     
                           <td>@item.Name</td>
                           <td>@item.FN_COUNTRY_CODE</td>
                           <td>@item.FN_Country_Desc</td>
                           <td>@item.FN_SEGMENT</td>
                           <td>@item.FN_RENTAL_GUARANT</td>
                           <td>@item.FN_MAKER_NAME</td>
                           <td>@item.FN_MAKER_DATE</td>
                           <td>@item.FN_MAKER_TIME</td>
                           <td>@item.FN_MAKER_LOC</td>
                           <td>@item.FN_MAKER_TERM</td>
                           <td>@item.FN_AUTH_NAME</td>
                           <td>@item.FN_AUTH_DATE</td>
                           <td>@item.FN_AUTH_TIME</td>
                           <td>@item.FN_AUTH_LOC</td>
                           <td>@item.FN_AUTH_TERM</td>
                           <td>@item.FN_AUTH_FLAG</td>
                           <td>@item.FN_STATUS</td>
                            <td>
                                <button type="button" class="btn btn-outline-info" id="EditLSOtherEntry" value="@item.ID,@item.PR_P_NO,@item.Name,@item.FN_COUNTRY_CODE,@item.FN_Country_Desc,@item.FN_SEGMENT,@item.FN_RENTAL_GUARANT,@item.FN_MAKER_NAME,@item.FN_MAKER_DATE,@item.FN_MAKER_TIME,@item.FN_MAKER_LOC,@item.FN_MAKER_TERM,@item.FN_AUTH_NAME,@item.FN_AUTH_DATE,@item.FN_AUTH_TIME,@item.FN_AUTH_LOC,@item.FN_AUTH_TERM,@item.FN_AUTH_FLAG,@item.FN_STATUS">
                                    <span class="fas fa-pen"></span> Edit
                                </button>
                                <button type="button" class="btn btn-outline-danger" id="DeleteLSOtherEntry" value="@item.ID">
                                    <span class="fas fa-times"></span> Delete
                                </button>
                            </td>
                        </tr>
                    }
            </tbody>
        </table>
    </div>
</div>


<div class="modal fade" id="PR_P_NO_Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_PR_P_NO" class="table table-bordered text-center table-hover dTable">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>NAME</th>
                                <th>PR P NO</th>
                            </tr>
                        </thead>
                        <tbody id="tbl_PR_P_NO">

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="FN_COUNTRY_CODE_Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_FN_COUNTRY_CODE" class="table table-bordered text-center table-hover dTable">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>FN COUNTRY DESC</th>
                                <th>FN COUNTRY CODE</th>
                            </tr>
                        </thead>
                        <tbody id="tbl_FN_COUNTRY_CODE">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

