﻿

@{
    ViewBag.Title = "LS Other Authorization";
    ViewBag.Controller = "Home";
    ViewBag.Action = "LS Other Authorization";
}
<script>
    function AddNew() {
        location.reload();
    }
</script>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Interest Differential I.S / Others Entry  (Authorization)</h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp; Clear</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">


        <div class="row">
            <input id="ID" value="0" hidden/>
            <input id="LSOtherAuthorizationPage" hidden />
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Personnel No")
                    <div class="row">
                        <div class="col-md-6">
                            <input class="form-control" id="PR_P_NO" disabled/>
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" id="Name" disabled />
                        </div>
                    </div>                           
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Segment")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_SEGMENT" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Country Code")
                    <div class="row">
                        <div class="col-md-6">
                            <input class="form-control" id="FN_COUNTRY_CODE" disabled />
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" id="FN_COUNTRY_DESC" disabled />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Rentail Guarnatee")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_RENTAL_GUARANT" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Record Status [C] Close")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_STATUS" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Auth Flag [A] Authorized Record")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_AUTH_FLAG" disabled />
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Maker Name")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_MAKER_NAME" disabled />
                    </div>                             
                </div>                                 
            </div>                                     
                                                       
            <div class="col-md-4">                     
                <div class="form-group">               
                    @Html.Label("Maker Date")          
                    <div class="col-md-12">            
                        <input class="form-control" id="FN_MAKER_DATE" disabled />
                    </div>                             
                </div>                                 
            </div>                                     
                                                       
            <div class="col-md-4">                     
                <div class="form-group">               
                    @Html.Label("Maker Time")          
                    <div class="col-md-12">            
                        <input class="form-control" id="FN_MAKER_TIME" disabled />
                    </div>
                </div>
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" class="btn btn-outline-primary" id="btn_Authorize" value="A">Authorize</button>
                <button type="button" class="btn btn-outline-primary" id="btn_UnAuthorize" value="">Un-Authorize</button>
                <input  type="button" name="SubmitLSOtherAuthorization" id="SubmitLSOtherAuthorization" value="Submit" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>

</div>


<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <table id="tbl_LSOtherAuthorization" class="table table-bordered text-center table-hover table-responsive" width="100%">
            <thead class="Custom-Table-Head">
                <tr>

                    <th>ID</th>
                    <th>PR_P_NO</th>
                    <th>Name</th>
                    <th>COUNTRY_CODE</th>
                    <th>Country_Desc</th>
                    <th>SEGMENT</th>
                    <th>RENTAL_GUARANT</th>
                    <th>MAKER_NAME</th>
                    <th>MAKER_DATE</th>
                    <th>MAKER_TIME</th>
                    <th>MAKER_LOC</th>
                    <th>MAKER_TERM</th>
                    <th>AUTH_NAME</th>
                    <th>AUTH_DATE</th>
                    <th>AUTH_TIME</th>
                    <th>AUTH_LOC</th>
                    <th>AUTH_TERM</th>
                    <th>AUTH_FLAG</th>
                    <th>STATUS</th>
                    <th>ACTION</th>

                </tr>
            </thead>
            <tbody>
               
            </tbody>
        </table>
    </div>
</div>



@*  <div class="col-md-1">
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#PR_P_NOModal">
    <i class="fas fa-align-center"></i>
    </button>
</div>    *@

@* 
<div class="modal fade" id="PR_P_NOModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="" class="table table-bordered text-center table-hover dTable">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>NAME</th>
                                <th>PR P NO</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

@*
 <div class="col-md-1">
 <button type="button" class="btn btn-default" data-toggle="modal" data-target="#FN_COUNTRY_CODEModal">
 <i class="fas fa-align-center"></i>
 </button>
 </div>

<div class="modal fade" id="FN_COUNTRY_CODEModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="" class="table table-bordered text-center table-hover dTable">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>FN COUNTRY DESC</th>
                                <th>FN COUNTRY CODE</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
 *@