﻿@{
    ViewBag.Title = "Actual Leave Entry";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Actual Leave Entry";
}

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Personnel System (L E A V E S)</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <div class="row">

            <div class="col-md-8">
                <div class="form-group">
                    @Html.Label("Personnel No / Name")
                    <div class="col-md-4">
                        <input class="form-control" id="PNO" />
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#PrNoModal">
                            <i class="fas fa-align-center"></i>
                        </button>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <select class="form-control" id="LC_PR_NAME">
                            <option value="" selected>--Select--</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="card-body">
        
        <div class="row">

            <div class="col-md-2">
                <div class="form-group">
                    @Html.Label("PL Availed")
                    <div class="col-md-12">
                        <input class="form-control" id="lc_pl_avail" />
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    @Html.Label("CL Availed")
                    <div class="col-md-12">
                        <input class="form-control" id="lc_cl_avail" />
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    @Html.Label("SL Availed")
                    <div class="col-md-12">
                        <input class="form-control" id="lc_sl_avail" />
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    @Html.Label("ML Availed")
                    <div class="col-md-12">
                        <input class="form-control" id="lc_ml_avail" />
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    @Html.Label("Carry Forward")
                    <div class="col-md-12">
                        <input class="form-control" id="LC_C_FORWARD" />
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    @Html.Label("PL Balance")
                    <div class="col-md-12">
                        <input class="form-control" id="lc_pl_bal" />
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    @Html.Label("CL Balance")
                    <div class="col-md-12">
                        <input class="form-control" id="lc_cl_bal" />
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    @Html.Label("SL Balance")
                    <div class="col-md-12">
                        <input class="form-control" id="lc_sl_bal" />
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    @Html.Label("ML Balance")
                    <div class="col-md-12">
                        <input class="form-control" id="lc_ml_bal" />
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    @Html.Label("Mandatory Availed [Y/N]")
                    <div class="col-md-12">
                        <input class="form-control" id="lc_mandatory" />
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    @Html.Label("PL Advance")
                    <div class="col-md-12">
                        <input class="form-control" id="w_pl_adv" />
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    @Html.Label("SL Half")
                    <div class="col-md-12">
                        <input class="form-control" id="m_slh" />
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    @Html.Label("PL Entitlement")
                    <div class="col-md-12">
                        <input class="form-control" id="W_PL_ENT" />
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    @Html.Label("CL Entitlement")
                    <div class="col-md-12">
                        <input class="form-control" id="W_CL_ENT" />
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    @Html.Label("SL Entitlement")
                    <div class="col-md-12">
                        <input class="form-control" id="W_SL_ENT" />
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    @Html.Label("ML Entitlement")
                    <div class="col-md-12">
                        <input class="form-control" id="W_ML_ENT" />
                    </div>
                </div>
            </div>

        </div>
        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Type")
                    <div class="col-md-12">
                        <input class="form-control" id="Type" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Started On")
                    <div class="col-md-12">
                        <input class="form-control" id="Started" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Ended On")
                    <div class="col-md-12">
                        <input class="form-control" id="Ended" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Days")
                    <div class="col-md-12">
                        <input class="form-control" id="Days" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Remarks")
                    <div class="col-md-12">
                        <input class="form-control" id="Remarks" />
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <table id="" class="table table-bordered text-center table-hover dTable">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>TYPE</th>
                    <th>STARTED ON</th>
                    <th>ENDED ON</th>
                    <th>DAYS</th>
                    <th>REMARKS</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody id="">
            </tbody>
        </table>
    </div>
</div>


<div class="modal fade" id="PrNoModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="" class="table table-bordered text-center table-hover dTable">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>PF NAME</th>
                                <th>PF PR P NO</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
