﻿@{
    ViewBag.Title = "Actual Leave Entry";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Actual Leave Entry";
}

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Personnel System (L E A V E S)</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Personnel No / Name")
                    <div class="col-md-4">
                        <input class="form-control" id="PNO" />
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#PrNoModal">
                            <i class="fas fa-align-center"></i>
                        </button>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <select class="form-control" id="LC_PR_NAME">
                            <option value="" selected>--Select--</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Leave Type")
                    <div class="col-md-10">
                        <input class="form-control" id="LEV_LV_TYPE" />
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#LEV_LV_TYPEModal">
                            <i class="fas fa-align-center"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Start Date")
                    <div class="col-md-12">
                        <input class="form-control" id="LEV_START_DATE" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("End Date")
                    <div class="col-md-12">
                        <input class="form-control" id="LEV_END_DATE" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Joining Date")
                    <div class="col-md-12">
                        <input class="form-control" id="W_JOINING" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Total Days")
                    <div class="col-md-12">
                        <input class="form-control" id="W_DAYS" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Medical Certificate [Y/N]")
                    <div class="col-md-12">
                        <input class="form-control" id="LEV_MED_CERTIF" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Approved By Head [Y/N]")
                    <div class="col-md-12">
                        <input class="form-control" id="LEV_APPROVED" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Remarks")
                    <div class="col-md-12">
                        <input class="form-control" id="LEV_REMARKS" />
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="card-body">
        <div class="row">
            <h5>L E A V E S      S T A T U S</h5>
        </div>
        <div class="row">

            <div class="col-md-2">
                <div class="form-group">
                    @Html.Label("PL Availed")
                    <div class="col-md-12">
                        <input class="form-control" id="lc_pl_avail" />
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    @Html.Label("CL Availed")
                    <div class="col-md-12">
                        <input class="form-control" id="lc_cl_avail" />
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    @Html.Label("SL Availed")
                    <div class="col-md-12">
                        <input class="form-control" id="lc_sl_avail" />
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    @Html.Label("ML Availed")
                    <div class="col-md-12">
                        <input class="form-control" id="lc_ml_avail" />
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    @Html.Label("Carry Forward")
                    <div class="col-md-12">
                        <input class="form-control" id="LC_C_FORWARD" />
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    @Html.Label("PL Balance")
                    <div class="col-md-12">
                        <input class="form-control" id="lc_pl_bal" />
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    @Html.Label("CL Balance")
                    <div class="col-md-12">
                        <input class="form-control" id="lc_cl_bal" />
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    @Html.Label("SL Balance")
                    <div class="col-md-12">
                        <input class="form-control" id="lc_sl_bal" />
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    @Html.Label("ML Balance")
                    <div class="col-md-12">
                        <input class="form-control" id="lc_ml_bal" />
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    @Html.Label("Mandatory Availed [Y/N]")
                    <div class="col-md-12">
                        <input class="form-control" id="lc_mandatory" />
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    @Html.Label("PL Advance")
                    <div class="col-md-12">
                        <input class="form-control" id="w_pl_adv" />
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    @Html.Label("SL Half")
                    <div class="col-md-12">
                        <input class="form-control" id="m_slh" />
                    </div>
                </div>
            </div>

        </div>
    </div>
    
</div>
