﻿@{
    ViewBag.Title = "Branch Manager Transfer";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Branch Manager Transfer";
}

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">PERSONNEL SYSTEM BRANCH TO BRANCH</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <div id="BTB_SELECTOR_DIV">
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <button type="button" id="BTB_ADD_BTN" name="BTB_ADD_BTN" class="btn btn-outline-primary">
                            Add
                        </button>
                        &nbsp;
                        <button type="button" id="BTB_UPDATE_BTN" name="BTB_UPDATE_BTN" class="btn btn-outline-success">
                            Update
                        </button>
                        &nbsp;
                        <button type="button" id="BTB_DELETE_BTN" name="BTB_DELETE_BTN" class="btn btn-outline-danger">
                            Delete
                        </button>
                        &nbsp;
                        <button type="button" id="BTB_VIEW_BTN" name="BTB_VIEW_BTN" class="btn btn-outline-info">
                            View
                        </button>
                    </div>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
            </div>
            <hr />
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-10">
                            <input hidden id="BTB_ID" />
                            <input hidden id="BTB_SELECTOR" />
                            <input hidden id="BTB_TRANSFER_DATE" />
                            <input class="form-control" id="BTB_OP_DESC" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="BTB_OP_DESC_LIST" name="BTB_OP_DESC_LIST" data-toggle="modal" data-target="#BTB_OP_DESC_MODAL">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Personnel No")
                    <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="BTN_PR_P_NO" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="BTN_PR_P_NO_LIST" name="BTN_PR_P_NO_LIST" data-toggle="modal" data-target="#PrNoModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Name")
                    <div class="row">
                        <div class="col-md-6">
                            <input class="form-control" id="BTB_FIRST_NAME" readonly />
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" id="BTB_LAST_NAME" readonly />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Designation")
                    <div class="col-md-12">
                        <input class="form-control" id="BTB_DESIG" readonly />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Level")
                    <div class="col-md-12">
                        <input class="form-control" id="BTB_LEVEL" readonly />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Functional Title")
                    <div class="col-md-12">
                        <input class="form-control" id="BTB_FUNC_TITTLE1" readonly />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Title")
                    <div class="col-md-12">
                        <input class="form-control" id="BTB_FUNC_TITTLE2" readonly />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Branch")
                    <div class="col-md-12">
                        <input class="form-control" id="BTB_BRANCH" readonly />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Transfer Type") 
                    <div class="col-md-12">
                        <input class="form-control" id="BTB_TRANSFER" readonly />
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div id="BranchToBranchReadOnlyTableDataDiv">
            <table id="BranchToBranchReadOnlyTableData" class="table table-bordered text-center table-hover table-sm" width="100%">
                <thead class="Custom-Table-Head">
                    <tr>
                        <th>SEG</th>
                        <th>DEPT</th>
                        <th>% CONTRIB</th>
                    </tr>
                </thead>
                <tbody id="BranchToBranchReadOnlyTableData">
                </tbody>
            </table>
            <hr />
        </div>
        <h3 class="text-center">Transfer Information</h3>
        <hr />
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("New Branch")
                    <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="BTB_NEW_BRANCH" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="BTB_NEW_BRANCH_LIST" name="BTB_NEW_BRANCH_LIST" data-toggle="modal" data-target="#PR_NEW_BRANCHModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Forlough City")
                    <div class="col-md-12">
                        <input class="form-control" id="BTB_FURLOUGH" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Functional Title")
                    <div class="row">
                        <div class="col-md-6">
                            <input class="form-control" id="BTB_FUNC_1" />
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" id="BTB_FUNC_2" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Effective Date")
                    <div class="col-md-12">
                        <input class="form-control" id="BTB_EFFECTIVE" type="date" />
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <div class="form-group">
                    @Html.Label("Remarks")
                    <div class="col-md-12">
                        <input class="form-control" id="BTB_REMARKS" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="ConditionalDivForBTB">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Rent")
                    <div class="col-md-12">
                        <input class="form-control" id="SD_RENT" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Utilities")
                    <div class="col-md-12">
                        <input class="form-control" id="SD_UTILITIES" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Tax on Tax")
                    <div class="col-md-12">
                        <input class="form-control" id="SD_TAX_ON_TAX" />
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" id="AddUpdateBranchToBranchData" name="AddUpdateBranchToBranchData" value="Submit" class="btn btn-outline-primary" />
                    <input type="button" id="BTB_DELETE_ACTUAL_RECORD" name="BTB_DELETE_ACTUAL_RECORD" value="Delete" class="btn btn-outline-danger" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3">
                            @Html.Label("SEGMENT")
                        </div>
                        <div class="col-md-9">
                            <input id="BTB_List_ID" type="hidden" />
                            <input class="form-control" id="BTB_SEGMENT" type="text" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3">
                            @Html.Label("DEPT")
                        </div>
                        <div class="col-md-7">
                            <input class="form-control" id="BTB_DEPT" type="text" />
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-default" id="BTB_DEPT_LIST" name="BTB_DEPT_LIST" data-toggle="modal" data-target="#PR_CSDepartmentModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3">
                            @Html.Label("CONTRI")
                        </div>
                        <div class="col-md-9">
                            <input class="form-control" id="BTB_CONTRI" type="text" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="form-group">
                        <input type="button" name="AddListOfBranchToBranch" id="AddListOfBranchToBranch" value="Add" class="btn btn-outline-success btn-sm" />
                    </div>
                    <div class="form-group">
                        <input type="button" name="ClearListOfBranchToBranch" id="ClearListOfBranchToBranch" value="Clear" class="btn btn-outline-info btn-sm" />
                    </div>
                </div>
            </div>
        </div>
        <table id="BranchToBranchDataGrid" class="table table-bordered text-center table-hover table-sm" width="100%">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>SEGMENT</th>
                    <th>DEPT</th>
                    <th>CONTRI %</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody id="BranchToBranchDataGrid">
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="BTB_OP_DESC_MODAL">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="BTB_OP_DESC_TABLE" class="table table-bordered text-center table-hover table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>Op Desc</th>
                            </tr>
                        </thead>
                        <tbody id="BTB_OP_DESC_TABLE">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="PR_NEW_BRANCHModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="GetBTBBranchTable" class="table table-bordered text-center table-hover table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>PR NEW BRANCH</th>
                                <th>BRANCH NAME</th>
                            </tr>
                        </thead>
                        <tbody id="GetBTBBranchTable">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="PrNoModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="BTB_PERSONNEL_TABLE" class="table table-bordered text-center table-hover table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>FIRSTNAME</th>
                                <th>LASTNAME</th>
                                <th>PR P NO</th>
                            </tr>
                        </thead>
                        <tbody id="BTB_PERSONNEL_TABLE">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="PR_CSDepartmentModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="BTB_DEPARTMENT_TABLE" class="table table-bordered text-center table-hover table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>DEPT</th>
                            </tr>
                        </thead>
                        <tbody id="BTB_DEPARTMENT_TABLE">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>