﻿@{
    ViewBag.Title = "Confirmation Entry";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Confirmation Entry";
}



<div class="modal fade" id="ConfirmationEntryPopUpModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                   <div class="row">
                       <div class="col-md-5"></div>
                       <div class="col-md-2">
                            <div class="form-group">
                                @Html.Label("Month")
                                <div class="col-md-12">
                                    <input type="number" class="form-control ConfirmationEntryMonth" id="ConfirmationEntryMonth" name="ConfirmationEntryMonth" maxlength="2" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                       <div class="col-md-5"></div>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">PERSONNEL SYSTEM CONFIRMATIONS</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Personnel No")
                    <div class="col-md-12">
                        <input class="form-control" id="ConfirmationPrNo" />
                        <input hidden id="ConfirmationEntryID" />
                    </div>                    
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Name")
                    <div class="col-md-12">
                        <input class="form-control" id="ConfirmationName" />
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Confirmation Due")
                    <div class="col-md-12">
                        <input type="date" class="form-control" id="ConfirmationDueDate" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Confirmed (Y/N)")
                    <div class="col-md-12">
                        <input class="form-control" id="ConfirmationDue" maxlength="1" autocomplete="off" />
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Confirmation Date")
                    <div class="col-md-12">
                        <input type="date" class="form-control" id="ConfirmationDate" />
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Expected Date")
                    <div class="col-md-12">
                        <input type="date" class="form-control" id="ConfirmationExpectedDate" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="SubmitConfirmationEntry" id="SubmitConfirmationEntry" value="Submit" class="btn btn-outline-primary" />
                @* <input type="button" name="AuthorizeConfirmationEntry" id="AuthorizeConfirmationEntry" value="Authorize" class="btn btn-outline-primary" /> *@
            </div>
        </div>
    </div>
</div>


<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <table id="ConfirmationEntryTable" class="table table-bordered text-center table-hover dTable">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>PERSONNEL NO</th>
                    <th>NAME</th>
                    <th>CONFIRMATION DUE</th>
                    <th>CONFIRMED (Y/N)</th>
                    <th>CONFIRMATION DATE</th>
                    <th>EXPECTED DATE</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody id="ConfirmationEntryTable">
            </tbody>
        </table>
    </div>
</div>


