﻿@{
    ViewBag.Title = "Contract Staff Hiring Ent";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Contract Staff Hiring Ent";
}



<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">PERSONNEL SYSTEM CONTRACTUALS ENTRY</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <input type="hidden" id="ContractStaffEntryPage" />
        <div id="CONTRACT_STAFF_SELECTOR_DIV">
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <button type="button" id="CONTRACT_STAFF_ADD_BTN" name="CONTRACT_STAFF_ADD_BTN" class="btn btn-outline-primary">
                            Add
                        </button>
                        &nbsp;
                        <button type="button" id="CONTRACT_STAFF_UPDATE_BTN" name="CONTRACT_STAFF_UPDATE_BTN" class="btn btn-outline-success">
                            Update
                        </button>
                        &nbsp;
                        <button type="button" id="CONTRACT_STAFF_DELETE_BTN" name="CONTRACT_STAFF_DELETE_BTN" class="btn btn-outline-danger">
                            Delete
                        </button>
                        &nbsp;
                        <button type="button" id="CONTRACT_STAFF_VIEW_BTN" name="CONTRACT_STAFF_VIEW_BTN" class="btn btn-outline-info">
                            View
                        </button>
                    </div>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
            </div>
            <hr />
        </div>
        <div class="text-center">
            <label hidden id="ContractStaffEntryActionSelectorLabel">Options: A = Add, D = Delete, M = Modify, V = View</label>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <div class="col-md-12">
                        <button type="button" id="AuthorizeContractStaff" class="btn btn-info" data-toggle="modal" data-target="#AuthModal">
                            Authorize
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-2">
                <div class="col-md-10">
                    <input type="text" hidden class="form-control text-center" id="ContractStaffEntryFormSelector" maxlength="1" autocomplete="off" />
                </div>
            </div>
            <div class="col-md-5"></div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Personnel No")
                    <div class="row">
                        <div class="col-md-1-">
                            <input class="form-control" id="ContractStaffPrNo" autocomplete="off" />
                            <input hidden id="ContractStaffID" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="ContractStaffPRNO" name="ContractStaffPRNO" data-toggle="modal" data-target="#PrNoModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Branch")
                    <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="ContStaffBranch" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="ContractStaffBranch" name="ContractStaffBranch" data-toggle="modal" data-target="#BranchModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("First Name")
                    <div class="col-md-12">
                        <input class="form-control" id="FirstName" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Last Name")
                    <div class="col-md-12">
                        <input class="form-control" id="LastName" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Designation")
                    <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="PR_DESIG" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="ContractStaffDesig" name="ContractStaffDesig" data-toggle="modal" data-target="#PR_DESIGModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Contractor")
                    <div class="row">
                        <div class="col-md-4">
                            <input class="form-control" id="PR_CONTRACTOR" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="ContractStaffContractor" name="ContractStaffContractor" data-toggle="modal" data-target="#PR_CONTRACTORModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-6">
                            <input class="form-control" id="W_CONTRA_NAME" readonly />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("From / To")
                    <div class="row">
                        <div class="col-md-6">
                            <input class="form-control" id="PR_FROM_DATE" type="date" />
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" id="PR_TO_DATE" type="date" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Address")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_ADDRESS" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Phone")
                    <div class="row">
                        <div class="col-md-6">
                            <input class="form-control" id="PR_PHONE_1" />
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" id="PR_PHONE_2" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Date Of Birth")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_DATE_BIRTH" type="date" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Marital")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_MARITAL" maxlength="1" placeholder="[S]Single [M]Married" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Sex")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_SEX" maxlength="1" placeholder="[M]Male [F]Female" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("NID Card No")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_NID" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Monthly Salary")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_MONTHLY_SALARY"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="SubmitContraStafHirEnt" id="SubmitContraStafHirEnt" value="Submit" class="btn btn-outline-primary" />
                <input type="button" name="DeleteContraStafHirEnt" id="DeleteContraStafHirEnt" value="Delete" class="btn btn-outline-danger" />
            </div>
        </div>
    </div>
</div>


<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3">
                            @Html.Label("SEGMENT")
                        </div>
                        <div class="col-md-9">
                            <input id="CS_List_ID" type="hidden" />
                            <input class="form-control" id="CS_SEGMENT" type="text" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3">
                            @Html.Label("DEPT")
                        </div>
                        <div class="col-md-7">
                            <input class="form-control" id="CS_DEPT" type="text" />
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-default" id="ContractStaffDepartment" name="ContractStaffDepartment" data-toggle="modal" data-target="#PR_CSDepartmentModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3">
                            @Html.Label("CONTRI")
                        </div>
                        <div class="col-md-9">
                            <input class="form-control" id="CS_CONTRI" type="text" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
               <div class="row">
                    <div class="form-group">
                        <input type="button" name="UpdateListOfContractStaff" id="UpdateListOfContractStaff" value="Add" class="btn btn-outline-success btn-sm" />
                    </div>
                    <div class="form-group">
                        <input type="button" name="ClearListOfContractStaff" id="ClearListOfContractStaff" value="Clear" class="btn btn-outline-info btn-sm" />
                    </div>
                </div>  
            </div>
        </div>
        <table id="ContractStaffDataGrid" class="table table-bordered text-center table-hover dTable">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>SEGMENT</th>
                    <th>DEPT</th>
                    <th>CONTRI %</th>                    
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody id="ContractStaffDataGrid">
            </tbody>
        </table>
    </div>
</div>



<div class="modal fade" id="AuthModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="LoadPrNoForAuthorization" class="table table-bordered text-center table-hover dTable">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>Action</th>
                                <th>PR P NO</th>
                                <th>PR FIRST NAME</th>                                
                            </tr>
                        </thead>
                        <tbody id="LoadPrNoForAuthorization">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="PrNoModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="ContractStaffPRNOtable" class="table table-bordered text-center table-hover dTable">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>PR P NO</th>
                                <th>PR FIRST NAME</th>
                            </tr>
                        </thead>
                        <tbody id="ContractStaffPRNOtable">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="BranchModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="ContractStaffBranchTable" class="table table-bordered text-center table-hover dTable">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>PR BRANCH</th>
                                <th>BRANCH NAME</th>
                            </tr>
                        </thead>
                        <tbody id="ContractStaffBranchTable">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="PR_DESIGModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="ContractStaffDesigTable" class="table table-bordered text-center table-hover dTable">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>PR DESIG</th>
                                <th>SP DESC DG 1</th>
                            </tr>
                        </thead>
                        <tbody id="ContractStaffDesigTable">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="PR_CONTRACTORModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="ContractStaffContractorTable" class="table table-bordered text-center table-hover dTable">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>PR CONTRACTOR</th>
                                <th>W CONTRA NAME</th>
                            </tr>
                        </thead>
                        <tbody id="ContractStaffContractorTable">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="PR_CSDepartmentModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="ContractStaffDepartmentTable" class="table table-bordered text-center table-hover dTable">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>PR Dept</th>
                                <th>SP Segment D</th>
                                <th>SP Desc D1</th>
                            </tr>
                        </thead>
                        <tbody id="ContractStaffDepartmentTable">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
