﻿@{
    ViewBag.Title = "Fast Or IS Transfer City Page";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Fast Or IS Transfer City Page";
}



<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->

    <div class="card-body">

        <div class="row">


            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("IS Co-ordinate")
                    <div class="col-md-12">
                        <input class="form-control" id="IS_Co_ordinate" />
                    </div>
                    
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Furlough City")
                    <div class="col-md-12">
                        <input class="form-control" id="FurloughCity" />
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>



