﻿@{
    ViewBag.Title = "Fast Or IS Transfer";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Fast Or IS Transfer";
}


@*<div class="modal fade" id="">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="" class="table table-bordered text-center table-hover dTable">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>W TYPE OF</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
*@

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">PERSONNEL SYSTEM FAST TO IS</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->

    <div class="card-body">

        <div class="row">


            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Option")
                    <div class="col-md-12">
                        <input class="form-control" id="CurrOption" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Date")
                    <div class="col-md-12">
                        <input class="form-control" id="Date" />
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="card-body">

        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("1 Personnel No")
                    <div class="col-md-1-">
                        <input class="form-control" id="PrNo" />
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#PrNoModal">
                            <i class="fas fa-align-center"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("2 Name")
                    <div class="col-md-6">
                        <input class="form-control" id="PRName" />
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" id="PRName1" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("3 Designation")
                    <div class="col-md-12">
                        <input class="form-control" id="P_PR_DESIG" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("4 Level")
                    <div class="col-md-12">
                        <input class="form-control" id="P_PR_LEVEL" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("5 Functional")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_FUNC_TITTLE1" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("6 Transfer Type")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_TRANSFER" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Title")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_FUNC_TITTLE2" />
                    </div>
                </div>
            </div>

        </div>
    </div>

    
    <div class="card-body">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="Authorize" value="Authorize" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="PrNoModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="" class="table table-bordered text-center table-hover dTable">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>PR NAME</th>
                                <th>PR NAME 1</th>
                                <th>PR TR NO</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
