﻿@{
    ViewBag.Title = "Fast Or IS Transfer Page";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Fast Or IS Transfer Page";
}



<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Transfer Information</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->


    <div class="card-body">
        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Transfer Country")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_COUNTRY" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Transfer City")
                    <div class="col-md-12">
                        <input class="form-control" id="City" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Designation")
                    <div class="col-md-12">
                        <input class="form-control" id="Designation " />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Level")
                    <div class="col-md-12">
                        <input class="form-control" id="Level" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Department")
                    <div class="col-md-12">
                        <input class="form-control" id="Department" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Current Annual Package")
                    <div class="col-md-12">
                        <input class="form-control" id="CurrentAnnualPackage" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("New Annual Package")
                    <div class="col-md-12">
                        <input class="form-control" id="NewAnnualPackage" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("ASR Currency Type")
                    <div class="col-md-12">
                        <input class="form-control" id="ASRCurrencyType" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Effective Date")
                    <div class="col-md-12">
                        <input class="form-control" id="EffectiveDate" type="date" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Regret/Non Regret")
                    <div class="col-md-12">
                        <input class="form-control" id="RegretNonRegret" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Voluntary/Non Voluntary")
                    <div class="col-md-12">
                        <input class="form-control" id="VoluntaryNonVoluntary" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Remarks")
                    <div class="col-md-12">
                        <input class="form-control" id="Remarks" />
                    </div>
                </div>
            </div>

        </div>
    </div>

    @*<div class="card-body">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="Close" value="Close" class="btn btn-outline-primary" />
                <input type="button" name="Reject" value="Reject" class="btn btn-outline-primary" />
                <input type="button" name="Approve" value="Approve" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>*@
</div>



