﻿@{
    ViewBag.Title = "Fast Or IS Transfer Fast End Date Page";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Fast Or IS Transfer Fast End Date Page";
}



<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->

    <div class="card-body">

        <div class="row">


            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("FAST END DATE")
                    <div class="col-md-6">
                        <input class="form-control" id="dtFastEndDate" />
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" id="PrEffective" />
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>



