﻿@{
    ViewBag.Title = "Fast Or IS Transfer Detail";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Fast Or IS Transfer Detail";
}



<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">PERSONNEL SYSTEM FAST TO IS</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->


    <div class="card-body">

        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("1 Personnel No")
                    <div class="col-md-1-">
                        <input class="form-control" id="PrNo" />
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#PrNoModal">
                            <i class="fas fa-align-center"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("2 Name")
                    <div class="col-md-6">
                        <input class="form-control" id="PRName" />
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" id="PRName1" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("3 Designation")
                    <div class="col-md-12">
                        <input class="form-control" id="P_PR_DESIG" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("4 Level")
                    <div class="col-md-12">
                        <input class="form-control" id="P_PR_LEVEL" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("5 Functional")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_FUNC_TITTLE1" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("6 Transfer Type")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_TRANSFER" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Title")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_FUNC_TITTLE2" />
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="card-body">
        <h3 class="card-title">Transfer Information</h3>
        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Transfer Country")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_COUNTRY" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Transfer City")
                    <div class="col-md-12">
                        <input class="form-control" id="City" />
                    </div>
                </div>
            </div>
            
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Designation")
                    <div class="col-md-12">
                        <input class="form-control" id="Designation " />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Level")
                    <div class="col-md-12">
                        <input class="form-control" id="Level" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Department")
                    <div class="col-md-12">
                        <input class="form-control" id="Department" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Current Annual Package")
                    <div class="col-md-12">
                        <input class="form-control" id="CurrentAnnualPackage" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("New Annual Package")
                    <div class="col-md-12">
                        <input class="form-control" id="NewAnnualPackage" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("ASR Currency Type")
                    <div class="col-md-12">
                        <input class="form-control" id="ASRCurrencyType" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Effective Date")
                    <div class="col-md-12">
                        <input class="form-control" id="EffectiveDate" type="date" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Regret/Non Regret")
                    <div class="col-md-12">
                        <input class="form-control" id="RegretNonRegret" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Voluntary/Non Voluntary")
                    <div class="col-md-12">
                        <input class="form-control" id="VoluntaryNonVoluntary" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Remarks")
                    <div class="col-md-12">
                        <input class="form-control" id="Remarks" />
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="card-body">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="Close" value="Close" class="btn btn-outline-primary" />
                <input type="button" name="Reject" value="Reject" class="btn btn-outline-primary" />
                <input type="button" name="Approve" value="Approve" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="PrNoModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="" class="table table-bordered text-center table-hover dTable">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>PR NAME</th>
                                <th>PR NAME 1</th>
                                <th>PR TR NO</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
