﻿@{
    ViewBag.Title = "GEID Entry";
    ViewBag.Controller = "Home";
    ViewBag.Action = "GEID Entry";
}



<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">GEID Entry Form</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->


    <div class="card-body">
        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Personnel No")
                    <div class="col-md-10">
                        <input class="form-control" id="PR_NO" />
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#PrNoModal">
                            <i class="fas fa-align-center"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("First Name")
                    <div class="col-md-12">
                        <input class="form-control" id="GEI_FIRST_NAME" />
                    </div>                    
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Last Name")
                    <div class="col-md-12">
                        <input class="form-control" id="GEI_LAST_NAME" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Count Pay Loc")
                    <div class="col-md-12">
                        <input class="form-control" id="GEI_COUNT_PAY_LOC" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Geid No")
                    <div class="col-md-12">
                        <input class="form-control" id="GEI_GEID_NO" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Date Of Birth")
                    <div class="col-md-12">
                        <input class="form-control" id="GEI_BIRTH_DATE" type="date" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Rec Type")
                    <div class="col-md-12">
                        <input class="form-control" id="GEI_REC_TYPE" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Gei Date")
                    <div class="col-md-12">
                        <input class="form-control" id="GEI_DATE" type="date"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="Submit" value="Submit" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
</div>

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->


    <div class="card-body">
        <table id="" class="table table-bordered text-center table-hover dTable">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>PERSONNEL NO</th>
                    <th>FIRST NAME</th>
                    <th>LAST NAME</th>
                    <th>DOB</th>
                    <th>GEI REC TYPE</th>
                    <th>GEI DATE</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody id="">
            </tbody>
        </table>
    </div>

    
</div>



<div class="modal fade" id="PrNoModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="" class="table table-bordered text-center table-hover dTable">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>PERSONNEL NO</th>
                                <th>FIRST NAME</th>
                                <th>LAST NAME</th>
                                <th>DOB</th>
                                <th>GEI REC TYPE</th>
                                <th>GEI DATE</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
