﻿@{
    ViewBag.Title = "Increment Officers";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Increment Officers";
}



<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">PERSONNEL SYSTEM INCREMENTS / PROMOTIONS (OFFICERS STAFF)</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->

    <div class="card-body">
        <div class="card-body">
            <div id="INC_OFF_SELECTOR_DIV">
                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <button type="button" id="INC_OFF_ADD_BTN" name="INC_OFF_ADD_BTN" class="btn btn-outline-primary">
                                Add
                            </button>
                            &nbsp;
                            <button type="button" id="INC_OFF_UPDATE_BTN" name="INC_OFF_UPDATE_BTN" class="btn btn-outline-success">
                                Update
                            </button>
                            &nbsp;
                            <button type="button" id="INC_OFF_DELETE_BTN" name="INC_OFF_DELETE_BTN" class="btn btn-outline-danger">
                                Delete
                            </button>
                            &nbsp;
                            <button type="button" id="INC_OFF_VIEW_BTN" name="INC_OFF_VIEW_BTN" class="btn btn-outline-info">
                                View
                            </button>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                </div>
                <hr />
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Personnel No")
                        <div class="row">
                            <div class="col-md-10">
                                <input type="hidden" id="INC_OFF_ID" />
                                <input type="hidden" id="INC_OFF_SELECTOR" />
                                <input type="hidden" id="txtPR_ANNUAL_PREVIOUS1" />
                                <input type="hidden" id="txtPR_DESIG_PREVIOUS" />
                                <input type="hidden" id="txtPR_LEVEL_PREVIOUS" />
                                <input type="hidden" id="txtPR_FUNCT_1_PREVIOUS" />
                                <input type="hidden" id="txtPR_FUNCT_2_PREVIOUS" />
                                <input type="hidden" id="txtPR_LEVEL_PRESENT1" />
                                <input type="hidden" id="txtPR_FUNCT_1_PRESENT" />
                                <input type="hidden" id="txtPR_FUNCT_2_PRESENT" />
                                <input class="form-control" id="INC_OFF_PR_NO" />
                            </div>
                            <div class="col-md-1">
                                <button type="button" class="btn btn-default" id="INC_OFF_PR_NO_List" name="INC_OFF_PR_NO_List" data-toggle="modal" data-target="#PrNoModal">
                                    <i class="fas fa-align-center"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("ASR")
                        <div class="col-md-12">
                            <input class="form-control" id="INC_OFF_PR_ANNUAL_PRESENT" readonly />
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Desig")
                        <div class="col-md-12">
                            <input class="form-control" id="INC_OFF_PR_DESIG_PRESENT" readonly />
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Level")
                        <div class="col-md-12">
                            <input class="form-control" id="INC_OFF_PR_LEVEL_PRESENT" readonly />
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Name")
                        <div class="col-md-12">
                            <input class="form-control" id="INC_OFF_PR_FIRST_NAME" readonly />
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Increment Type")
                        <div class="row">
                            <div class="col-md-10">
                                <input class="form-control" id="INC_OFF_PR_INC_TYPE" placeholder="[I]ncrement [A]djustment [P]romotion" maxlength="1" />
                            </div>
                            <div class="col-md-1">
                                <button type="button" class="btn btn-default" id="INC_OFF_PR_INC_TYPE_LIST" name="INC_OFF_PR_INC_TYPE_LIST" data-toggle="modal" data-target="#PR_INC_TYPEModal">
                                    <i class="fas fa-align-center"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Effective from")
                        <div class="row">
                            <div class="col-md-10">
                                <input class="form-control" id="INC_OFF_PR_EFFECTIVE" />
                            </div>
                            <div class="col-md-1">
                                <button type="button" class="btn btn-default" id="INC_OFF_PR_EFFECTIVE_LIST" name="INC_OFF_PR_EFFECTIVE_LIST" data-toggle="modal" data-target="#PR_EFFECTIVEModal">
                                    <i class="fas fa-align-center"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Ranking & Ranking Date(Before Effective)")
                        <div class="row">
                            <div class="col-md-10">
                                <input class="form-control" id="INC_OFF_PR_RANKING_DATE" type="date" />
                            </div>
                            <div class="col-md-2">
                                <input class="form-control" id="INC_OFF_PR_RANK" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Increment Amount")
                        <div class="col-md-12">
                            <input class="form-control" id="INC_OFF_PR_INC_AMT" />
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Increment %")
                        <div class="col-md-12">
                            <input class="form-control" id="INC_OFF_PR_INC_PER" />
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("New Annual Package")
                        <div class="col-md-12">
                            <input class="form-control" id="INC_OFF_PR_NEW_ANNUAL_PACKAGE" />
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Last Appraisal")
                        <div class="col-md-12">
                            <input class="form-control" id="INC_OFF_PR_LAST_APP" type="date" />
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Next Appraisal")
                        <div class="col-md-12">
                            <input class="form-control" id="INC_OFF_PR_NEXT_APP" type="date" />
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Remarks")
                        <div class="col-md-12">
                            <input class="form-control" id="INC_OFF_PR_REMARKS" />
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Previous Package")
                        <div class="col-md-12">
                            <input class="form-control" id="INC_OFF_PREVIOUS_PACKAGE" readonly />
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="card-body">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" id="AddUpdateOfficerStaffIncrement" name="AddUpdateOfficerStaffIncrement" value="Submit" class="btn btn-outline-primary" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="PrNoModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="INC_OFF_PRNO_TABLE" class="table table-bordered text-center table-hover dTable">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>PR FIRST NAME</th>
                                <th>PR P NO</th>                                
                            </tr>
                        </thead>
                        <tbody id="INC_OFF_PRNO_TABLE">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="PR_INC_TYPEModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="INC_OFF_INCREMENT_TYPE_TABLE" class="table table-bordered text-center table-hover dTable">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>PR INC TYPE</th>
                                <th>PR EFFECTIVE</th>
                                <th>PR REMARKS</th>
                            </tr>
                        </thead>
                        <tbody id="INC_OFF_INCREMENT_TYPE_TABLE">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="PR_EFFECTIVEModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="INC_OFF_EFFECTIVE_FROM_TABLE" class="table table-bordered text-center table-hover dTable">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>PR EFFECTIVE</th>
                            </tr>
                        </thead>
                        <tbody id="INC_OFF_EFFECTIVE_FROM_TABLE">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
