﻿@{
    ViewBag.Title = "Leaves Carry Forward";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Leaves Carry Forward";
}



<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">LEAVES APPROVALS</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->


    <div class="card-body">
        <table id="" class="table table-bordered text-center table-hover dTable">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>PERSONNEL NO</th>
                    <th>NAME</th>
                    <th>PREV YEAR PL BALANCE</th>
                    <th>CARRY FORWARD (Y/N)</th>
                    <th>NO OF LEAVES</th>
                    <th>APPTOVED (Y/N)</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody id="">
            </tbody>
        </table>
    </div>


</div>

