﻿@{
    ViewBag.Title = "Leaves Schedule Entry";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Leaves Schedule Entry";
}



<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">LEAVES SCHEDUL</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <div class="row">


            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("P No")
                    <div class="col-md-10">
                        <input class="form-control" id="LSH_PR_NO" />
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#PrNoModal">
                            <i class="fas fa-align-center"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Name")
                    <div class="col-md-12">
                        <input class="form-control" id="Name" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Pl Bal")
                    <div class="col-md-12">
                        <input class="form-control" id="W_PL_BAL" />
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="card-body">
        <div class="row">

            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("JAN")
                    <div class="col-md-2">
                       1 <input class="form-control" id="LSH_JAN1" />
                    </div>
                    <div class="col-md-2">
                       2 <input class="form-control" id="LSH_JAN2" />
                    </div>
                    <div class="col-md-2">
                      3  <input class="form-control" id="LSH_JAN3" />
                    </div>
                    <div class="col-md-2">
                      4  <input class="form-control" id="LSH_JAN12" />
                    </div>
                    <div class="col-md-2">
                      5  <input class="form-control" id="LSH_JAN5" />
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("FEB")
                    <div class="col-md-2">
                        1 <input class="form-control" id="LSH_FEB1" />
                    </div>
                    <div class="col-md-2">
                        2 <input class="form-control" id="LSH_FEB2" />
                    </div>
                    <div class="col-md-2">
                        3  <input class="form-control" id="LSH_FEB3" />
                    </div>
                    <div class="col-md-2">
                        4  <input class="form-control" id="LSH_FEB12" />
                    </div>
                    <div class="col-md-2">
                        5  <input class="form-control" id="LSH_FEB5" />
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("MAR")
                    <div class="col-md-2">
                        1 <input class="form-control" id="LSH_MAR1" />
                    </div>
                    <div class="col-md-2">
                        2 <input class="form-control" id="LSH_MAR2" />
                    </div>
                    <div class="col-md-2">
                        3  <input class="form-control" id="LSH_MAR3" />
                    </div>
                    <div class="col-md-2">
                        4  <input class="form-control" id="LSH_MAR12" />
                    </div>
                    <div class="col-md-2">
                        5  <input class="form-control" id="LSH_MAR5" />
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("APR")
                    <div class="col-md-2">
                        1 <input class="form-control" id="LSH_APR1" />
                    </div>
                    <div class="col-md-2">
                        2 <input class="form-control" id="LSH_APR2" />
                    </div>
                    <div class="col-md-2">
                        3  <input class="form-control" id="LSH_APR3" />
                    </div>
                    <div class="col-md-2">
                        4  <input class="form-control" id="LSH_APR12" />
                    </div>
                    <div class="col-md-2">
                        5  <input class="form-control" id="LSH_APR5" />
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("MAY")
                    <div class="col-md-2">
                       1 <input class="form-control" id="LSH_MAY1" />
                    </div>
                    <div class="col-md-2">
                       2 <input class="form-control" id="LSH_MAY2" />
                    </div>
                    <div class="col-md-2">
                      3  <input class="form-control" id="LSH_MAY3" />
                    </div>
                    <div class="col-md-2">
                      4  <input class="form-control" id="LSH_MAY12" />
                    </div>
                    <div class="col-md-2">
                      5  <input class="form-control" id="LSH_MAY5" />
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("JUN")
                    <div class="col-md-2">
                        1 <input class="form-control" id="LSH_JUN1" />
                    </div>
                    <div class="col-md-2">
                        2 <input class="form-control" id="LSH_JUN2" />
                    </div>
                    <div class="col-md-2">
                        3  <input class="form-control" id="LSH_JUN3" />
                    </div>
                    <div class="col-md-2">
                        4  <input class="form-control" id="LSH_JUN12" />
                    </div>
                    <div class="col-md-2">
                        5  <input class="form-control" id="LSH_JUN5" />
                    </div>
                </div>
            </div>
            
            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("JUL")
                    <div class="col-md-2">
                        1 <input class="form-control" id="LSH_JUL1" />
                    </div>
                    <div class="col-md-2">
                        2 <input class="form-control" id="LSH_JUL2" />
                    </div>
                    <div class="col-md-2">
                        3  <input class="form-control" id="LSH_JUL3" />
                    </div>
                    <div class="col-md-2">
                        4  <input class="form-control" id="LSH_JUL12" />
                    </div>
                    <div class="col-md-2">
                        5  <input class="form-control" id="LSH_JUL5" />
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("AUG")
                    <div class="col-md-2">
                        1 <input class="form-control" id="LSH_AUG1" />
                    </div>
                    <div class="col-md-2">
                        2 <input class="form-control" id="LSH_AUG2" />
                    </div>
                    <div class="col-md-2">
                        3  <input class="form-control" id="LSH_AUG3" />
                    </div>
                    <div class="col-md-2">
                        4  <input class="form-control" id="LSH_AUG12" />
                    </div>
                    <div class="col-md-2">
                        5  <input class="form-control" id="LSH_AUG5" />
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("SEP")
                    <div class="col-md-2">
                        1 <input class="form-control" id="LSH_SEP1" />
                    </div>
                    <div class="col-md-2">
                        2 <input class="form-control" id="LSH_SEP2" />
                    </div>
                    <div class="col-md-2">
                        3  <input class="form-control" id="LSH_SEP3" />
                    </div>
                    <div class="col-md-2">
                        4  <input class="form-control" id="LSH_SEP12" />
                    </div>
                    <div class="col-md-2">
                        5  <input class="form-control" id="LSH_SEP5" />
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("OCT")
                    <div class="col-md-2">
                        1 <input class="form-control" id="LSH_OCT1" />
                    </div>
                    <div class="col-md-2">
                        2 <input class="form-control" id="LSH_OCT2" />
                    </div>
                    <div class="col-md-2">
                        3  <input class="form-control" id="LSH_OCT3" />
                    </div>
                    <div class="col-md-2">
                        4  <input class="form-control" id="LSH_OCT12" />
                    </div>
                    <div class="col-md-2">
                        5  <input class="form-control" id="LSH_OCT5" />
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("NOV")
                    <div class="col-md-2">
                        1 <input class="form-control" id="LSH_NOV1" />
                    </div>
                    <div class="col-md-2">
                        2 <input class="form-control" id="LSH_NOV2" />
                    </div>
                    <div class="col-md-2">
                        3  <input class="form-control" id="LSH_NOV3" />
                    </div>
                    <div class="col-md-2">
                        4  <input class="form-control" id="LSH_NOV12" />
                    </div>
                    <div class="col-md-2">
                        5  <input class="form-control" id="LSH_NOV5" />
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("DEC")
                    <div class="col-md-2">
                        1 <input class="form-control" id="LSH_DEC1" />
                    </div>
                    <div class="col-md-2">
                        2 <input class="form-control" id="LSH_DEC2" />
                    </div>
                    <div class="col-md-2">
                        3  <input class="form-control" id="LSH_DEC3" />
                    </div>
                    <div class="col-md-2">
                        4  <input class="form-control" id="LSH_DEC12" />
                    </div>
                    <div class="col-md-2">
                        5  <input class="form-control" id="LSH_DEC5" />
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="PrNoModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="" class="table table-bordered text-center table-hover dTable">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>PR  NAME</th>
                                <th>PR P NO</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
