﻿@{
    ViewBag.Title = "One Pager Personal Entry";
    ViewBag.Controller = "Home";
    ViewBag.Action = "One Pager Personal Entry";
}



<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <div class="row">


            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Personnel No")
                    <div class="col-md-10">
                        <input class="form-control" id="PR_NO" />
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#PrNoModal">
                            <i class="fas fa-align-center"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("First Name")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_FIRST_NAME" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Last Name")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_LAST_NAME" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("GEID")
                    <div class="col-md-12">
                        <input class="form-control" id="GEID" />
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#GEIDModal">
                            <i class="fas fa-align-center"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Functional Title")
                    <div class="col-md-6">
                        <input class="form-control" id="PR_FUNC_TITTLE1" />
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" id="PR_FUNC_TITTLE2" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Repto No")
                    <div class="col-md-6">
                        <input class="form-control" id="PR_REP_NO" />
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" id="name" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Salary Account #")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_ACCOUNT_NO" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Confirmation Date")
                    <div class="col-md-6">
                        <input class="form-control" id="PR_CONFIRM_ON" />
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" id="PR_CONFIRM" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Religion")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_RELIGION" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("National Tax No")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_NATIONAL_TAX" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Joining Date")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_JOINING_DATE" type="date" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Designation")
                    <div class="col-md-12">
                        <input class="form-control" id="DESIG" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Current Business")
                    <div class="col-md-12">
                        <input class="form-control" id="SEG" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Level")
                    <div class="col-md-12">
                        <input class="form-control" id="Level" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Current Department")
                    <div class="col-md-12">
                        <input class="form-control" id="DEPT" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Date of Birth")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_D_BIRTH" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Place Of Birth")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_PLC_BIRTH" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Nationality")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_NATIONALITY" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Current Phone")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_CRNT_PHONE" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Curr Res Add")
                    <div class="col-md-6">
                        <input class="form-control" id="PR_ADD1" />
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" id="PR_ADD2" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Permanent Residence Phone #")
                    <div class="col-md-6">
                        <input class="form-control" id="PR_PHONE1" />
                    </div>/
                    <div class="col-md-6">
                        <input class="form-control" id="PR_PHONE2" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Permanent Residence Address")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_PER_ADDR" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Mobile No")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_MOBILE_NO" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("ID Card No")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_ID_CARD_NO" />
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("Language")
                    <div class="col-md-2">
                        <input class="form-control" id="PR_LANG_1" />
                    </div>
                    <div class="col-md-2">
                        <input class="form-control" id="PR_LANG_2" />
                    </div>
                    <div class="col-md-2">
                        <input class="form-control" id="PR_LANG_3" />
                    </div>
                    <div class="col-md-2">
                        <input class="form-control" id="PR_LANG_4" />
                    </div>
                    <div class="col-md-2">
                        <input class="form-control" id="PR_LANG_5" />
                    </div>
                    <div class="col-md-2">
                        <input class="form-control" id="PR_LANG_6" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Father's Name")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_FATHER_NAME" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Mother's Name")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_MOTHER_NAME" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Marital Status")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_MARITAL" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Date of Marriage")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_MARRIAGE" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Spouse Name")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_SPOUSE" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Spouse Date of Birth")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_BIRTH_SP" type="date"/>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("No of Children")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_NO_OF_CHILD" />
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <table id="" class="table table-bordered text-center table-hover dTable">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>CHILDREN NAME</th>
                    <th>DATE OF BIRTH</th>
                    <th>SEX</th>                    
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody id="">
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="PrNoModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="" class="table table-bordered text-center table-hover dTable">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>PR  NAME</th>
                                <th>PR P NO</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
