﻿@{
    ViewBag.Title = "Re-Hiring";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Re-Hiring";
}

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Re-Hiring</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <table id="" class="table table-bordered text-center table-hover dTable">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>PERSONNEL NO NEW</th>
                    <th>NUMBER OLD</th>
                    <th>NAME</th>
                    <th>RE-HIRE</th>
                    <th>CONFIRMATION DATE</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody id="">
            </tbody>
        </table>
    </div>
</div>