﻿@{
    ViewBag.Title = "Regular Staff Hiring Ent";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Regular Staff Hiring Ent";
}

<div class="card card-primary card-outline">
    <div class="card-header">
       <h3 class="card-title">PERSONNEL SYSTEM PERSONNEL INFORMATION</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <input type="hidden" id="RegularStaffRecord" />
        <div id="REGULAR_STAFF_SELECTOR_DIV">
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <button type="button" id="REGULAR_STAFF_ADD_BTN" name="REGULAR_STAFF_ADD_BTN" class="btn btn-outline-primary">
                            Add
                        </button>
                        &nbsp;
                        <button type="button" id="REGULAR_STAFF_UPDATE_BTN" name="REGULAR_STAFF_UPDATE_BTN" class="btn btn-outline-success">
                            Update
                        </button>
                        &nbsp;
                        <button type="button" id="REGULAR_STAFF_DELETE_BTN" name="REGULAR_STAFF_DELETE_BTN" class="btn btn-outline-danger">
                            Delete
                        </button>
                        &nbsp;
                        <button type="button" id="REGULAR_STAFF_VIEW_BTN" name="REGULAR_STAFF_VIEW_BTN" class="btn btn-outline-info">
                            View
                        </button>
                    </div>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
            </div>
            <hr />
        </div>
        <div class="text-center">
            <label hidden id="RegularStaffActionSelectorLabel">Options: A = Add, D = Delete, M = Modify, V = View</label>
        </div>
        <div class="row">
            <div class="col-md-5">
                <button type="button" class="btn btn-info" id="AuthorizeRegularStaffHiringData" name="AuthorizeRegularStaffHiringData" data-toggle="modal" data-target="#AuthorizeRegularStaffHiringDataModal">
                    Authorize
                </button>
            </div>
            <div class="col-md-2">
                <div class="col-md-10">
                    <input type="text" hidden class="form-control text-center" id="RegularStaffFormSelector" maxlength="1" autocomplete="off" />
                </div>
            </div>
            <div class="col-md-5"></div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Personnel No")
                    <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="PR_NO" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="RegularStaffPRNO" name="RegularStaffPRNO" data-toggle="modal" data-target="#PrNoModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Branch")
                    <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="PR_BRANCH" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="RegularStaffBranchList" name="RegularStaffBranchList" data-toggle="modal" data-target="#PR_BRANCHModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("Location")
                    <div class="col-md-12">
                        <input class="form-control" id="LOCATION" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("First Name")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_FIRST_NAME" />
                    </div>                    
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Last Name")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_LAST_NAME" />
                    </div>                    
                </div>
            </div>
        </div>
        <div class="row">
             <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Report No")
                    <div class="row">
                        <div class="col-md-10">
                        <input class="form-control" id="PR_REP_NO" />
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-default" id="ReportNoList" name="ReportNoList" data-toggle="modal" data-target="#PR_REP_NOModal">
                            <i class="fas fa-align-center"></i>
                        </button>
                    </div>
                    <div class="col-md-1"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Name")
                    <div class="col-md-12">
                        <input class="form-control" id="NAME" readonly />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Designation Code")
                    <div class="row">
                        <div class="col-md-10">
                        <input class="form-control" id="PR_DESIG" />
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-default" name="DesignationCodeList" id="DesignationCodeList" data-toggle="modal" data-target="#PR_DESIGModal">
                            <i class="fas fa-align-center"></i>
                        </button>
                    </div>
                    <div class="col-md-1"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Level")
                    <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="PR_LEVEL" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="LevelList" name="LevelList" data-toggle="modal" data-target="#PR_LEVELModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("SOEID")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_SOEID" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Geid No")
                    <div class="col-md-12">
                        <input class="form-control" id="F_GEID_NO" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Functional Title")
                    <div class="row">
                        <div class="col-md-6">
                            <input class="form-control" id="PR_FUNC_TITTLE1"/>
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" id="PR_FUNC_TITTLE2" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("FT/PT")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_EMP_TYPE" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Segment")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_SEGMENT" />
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Department")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_Dept" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Joining Date")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_JOINING_DATE"  type="date"/>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Confirmation")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_CONFIRM" type="date"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Annual Package(Rs)")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_ANNUAL_PACK" />
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("National Tax No")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_NATIONAL_TAX" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Account No")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_ACCOUNT_NO" />
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Cost Code")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_COSTCODE" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Bank ID Card Issued [Y/N]")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_BANK_ID" maxlength="1" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("ID Card Issue Date")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_ID_ISSUE" type="date"/>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("ID Card Expiry Date")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_EXPIRY" type="date"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Taxable Income")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_TAX_INC" />
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Tax Paid")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_TAX_PAID" />
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Email")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_EMAIL" />
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @* <input type="button" name="Authorize" value="Authorize" class="btn btn-outline-primary" /> *@
                <input type="button" id="NextToEmploymentHistoryScreen" name="NextToEmploymentHistoryScreen" value="Next" class="btn btn-outline-primary" />
                <input type="button" id="DeleteRegularStaffData" name="DeleteRegularStaffData" value="Delete" class="btn btn-outline-danger" />
            </div>
        </div>

    </div>
</div>


<div class="modal fade" id="PR_Employment_History">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Previouse Employment History</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                @Html.Label("From")
                                <input id="EmploymentHistoryID" type="hidden" />
                                <input class="form-control" id="EmploymentHistoryFrom" type="text" placeholder="DD/MM/YYYY" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                @Html.Label("To")
                                <input class="form-control" id="EmploymentHistoryTo" type="text" placeholder="DD/MM/YYYY" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                @Html.Label("Organization Address")
                                <input class="form-control" id="EmploymentHistoryOrganizationAddress" type="text" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                @Html.Label("Destination")
                                <input class="form-control" id="EmploymentHistoryDestination" type="text" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                @Html.Label("Remarks")
                                <input class="form-control" id="EmploymentHistoryRemarks" type="text" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            @Html.Label("Action")
                            <div class="row">
                                <div class="form-group">
                                    <input type="button" name="AddEmploymentHistoryDataToList" id="AddEmploymentHistoryDataToList" value="Add" class="btn btn-outline-success btn-sm" />
                                </div>
                                <div class="form-group">
                                    <input type="button" name="NextPageToPersonnelInformation" id="NextPageToPersonnelInformation" value="Next" class="btn btn-outline-info btn-sm" data-toggle="modal" data-target="#PR_PersonnelInformation" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <table id="RegularStaffEmploymentHistoryTable" class="table table-bordered text-center table-hover table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>From</th>
                                <th>To</th>
                                <th>Orgination Address</th>
                                <th>Destination</th>
                                <th>Remarks</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="RegularStaffEmploymentHistoryTable">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="PR_PersonnelInformation">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">PERSONNEL INFORMATION</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Address 1")
                                <input id="PersonnelInfoID" type="hidden" />
                                <input class="form-control" id="PersonnelInfoAddress1" type="text" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Address 2")
                                <input class="form-control" id="PersonnelInfoAddress2" type="text" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.Label("Phone 1")
                                <input class="form-control" id="PersonnelInfoPhone1" type="text" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.Label("Phone 2")
                                <input class="form-control" id="PersonnelInfoPhone2" type="text" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.Label("Date of Birth")
                                <input class="form-control" id="PersonnelInfoDateOfBirth" type="date" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.Label("Sex")
                                <input class="form-control" id="PersonnelInfoSex" type="text" maxlength="1" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.Label("Languages")
                                <div class="row">
                                    <div class="col-md-2">
                                        <input class="form-control" id="PersonnelInfoLanguage1" type="text" />
                                    </div>
                                    <div class="col-md-2">
                                        <input class="form-control" id="PersonnelInfoLanguage2" type="text" />
                                    </div>
                                    <div class="col-md-2">
                                        <input class="form-control" id="PersonnelInfoLanguage3" type="text" />
                                    </div>
                                    <div class="col-md-2">
                                        <input class="form-control" id="PersonnelInfoLanguage4" type="text" />
                                    </div>
                                    <div class="col-md-2">
                                        <input class="form-control" id="PersonnelInfoLanguage5" type="text" />
                                    </div>
                                    <div class="col-md-2">
                                        <input class="form-control" id="PersonnelInfoLanguage6" type="text" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.Label("ID Card No")
                                <input class="form-control" id="PersonnelInfoIDCardNo" type="text" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.Label("Old ID Card")
                                <input class="form-control" id="PersonnelInfoOldIDCardNo" type="text" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.Label("Martial Status")
                                <input class="form-control" id="PersonnelInfoMartialStatus" type="text" maxlength="1" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.Label("Date of Marriage")
                                <input class="form-control" id="PersonnelInfoDateOfMarriage" type="date" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.Label("Enrolled in Group Life")
                                <input class="form-control" id="PersonnelInfoEnrolledInGroupLife" type="text" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.Label("Enrolled in Out Patient")
                                <input class="form-control" id="PersonnelInfoEnrolledInOutPatient" type="text" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.Label("Enrolled in Group Hosp")
                                <input class="form-control" id="PersonnelInfoEnrolledInGroupHosp" type="text" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.Label("User ID on PRIME")
                                <input class="form-control" id="PersonnelInfoUserIdOnPrime" type="text" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.Label("Spouse Name")
                                <input class="form-control" id="PersonnelInfoSpouseName" type="text" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.Label("Date Of Birth")
                                <input class="form-control" id="PersonnelInfoSpouseDateOfBirth" type="date" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.Label("No of Children's")
                                <input class="form-control" id="PersonnelInfoNoOfChildrens" type="text" />
                            </div>
                        </div>
                    </div>
                   
                    <hr />
                    <label>Child Details</label>
                    <hr />
                     <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    @Html.Label("Child Name")
                                    <input id="PersonnelInfoChildListID" type="hidden" />
                                    <input class="form-control" id="PersonnelInfoChildName" type="text" />
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    @Html.Label("Date Of Birth")
                                    <input class="form-control" id="PersonnelInfoChildDateOfBirth" type="date" />
                                </div>
                            </div>

                            <div class="col-md-2">
                                @Html.Label("Action")
                                <div class="row">
                                    <div class="form-group">
                                        <input type="button" name="PersonnelInfoAddButton" id="PersonnelInfoAddButton" value="Add" class="btn btn-outline-success btn-sm" />
                                    </div>
                                    <div class="form-group">
                                        <input type="button" name="PersonnelInfoNextButton" id="PersonnelInfoNextButton" value="Next" class="btn btn-outline-info btn-sm" data-toggle="modal" data-target="#PR_EducationInformation" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    <table id="PersonnelInfoChildDetailTable" class="table table-bordered text-center table-hover table-sm" width="100%">
                    <thead class="Custom-Table-Head">
                        <tr>
                            <th>Child Name</th>
                            <th>Date Of Birth</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                        <tbody id="PersonnelInfoChildDetailTable">
                        </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="PR_EducationInformation">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Education Information</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                @Html.Label("Year")
                                <input id="EducationInformationID" type="hidden" />
                                <input class="form-control" id="EducationInformationYear" type="text" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                @Html.Label("Certificate/Degree")
                                <input class="form-control" id="EducationInformationCertificate" type="text" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                @Html.Label("Division/Grade")
                                <input class="form-control" id="EducationInformationDivision" type="text" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                @Html.Label("School/College/University")
                                <input class="form-control" id="EducationInformationSchool" type="text" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                @Html.Label("City")
                                <input class="form-control" id="EducationInformationCity" type="text" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                @Html.Label("Country")
                                <input class="form-control" id="EducationInformationCountry" type="text" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5"></div>
                        <div class="col-md-2">
                            @Html.Label("Action")
                            <div class="row">
                                <div class="form-group">
                                    <input type="button" name="EducationInformationDataToList" id="EducationInformationDataToList" value="Add" class="btn btn-outline-success btn-sm" />
                                </div>
                                <div class="form-group">
                                    <input type="button" name="SubmitRegualrStaffHiringForm" id="SubmitRegualrStaffHiringForm" value="Submit Form" class="btn btn-outline-info btn-sm" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5"></div>
                    </div>
                    <table id="EducationInformationDataTable" class="table table-bordered text-center table-hover table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>Year</th>
                                <th>Certificate/Degree</th>
                                <th>Division/Grade</th>
                                <th>School/College/University</th>
                                <th>City</th>
                                <th>Country</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="EducationInformationDataTable">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="PrNoModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="RegularStaffPRNOTable" class="table table-bordered text-center table-hover table-sm" width="100%">
                    <thead class="Custom-Table-Head">
                        <tr>
                            <th>Personnel No</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                        <tbody id="RegularStaffPRNOTable">
                        </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="PR_BRANCHModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="RegularStaffBranchTable" class="table table-bordered text-center table-hover table-sm" width="100%">
                    <thead class="Custom-Table-Head">
                        <tr>
                            <th>Branch Code</th>
                            <th>Branch Name</th>
                        </tr>
                    </thead>
                        <tbody id="RegularStaffBranchTable">
                        </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="PR_REP_NOModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="RegularStaffReportNoList" class="table table-bordered text-center table-hover table-sm" width="100%">
                    <thead class="Custom-Table-Head">
                        <tr>
                            <th>Name</th>
                            <th>Personnel No</th>
                        </tr>
                    </thead>
                        <tbody id="RegularStaffReportNoList">
                        </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="PR_DESIGModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="RegularStaffDesignationCodeList" class="table table-bordered text-center table-hover table-sm" width="100%">
                    <thead class="Custom-Table-Head">
                        <tr>
                            <th>Designation</th>
                            <th>Level</th>
                            <th>Min</th>
                            <th>Description</th>
                            <th>Branch</th>
                        </tr>
                    </thead>
                        <tbody id="RegularStaffDesignationCodeList">
                        </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="PR_LEVELModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="RegularStaffLevelList" class="table table-bordered text-center table-hover table-sm" width="100%">
                    <thead class="Custom-Table-Head">
                        <tr>
                            <th>Level</th>
                            <th>Min</th>
                            <th>Designation</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                        <tbody id="RegularStaffLevelList">
                        </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="AuthorizeRegularStaffHiringDataModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Records for Authorization</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="RegularStaffAuthorizationList" class="table table-bordered text-center table-hover table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>Action</th>
                                <th>Personnel No</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody id="RegularStaffAuthorizationList">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>