﻿@{
    ViewBag.Title = "Segmt Or Dept Trans";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Segmt Or Dept Trans";
}



<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Personnel System Segment To Segment/ Dept To Dept Transfer</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <div id="SEG_OR_DEPT_SELECTOR_DIV">
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <button type="button" id="SD_ADD_BTN" name="SD_ADD_BTN" class="btn btn-outline-primary">
                            Add
                        </button>
                        &nbsp;
                        <button type="button" id="SD_UPDATE_BTN" name="SD_UPDATE_BTN" class="btn btn-outline-success">
                            Update
                        </button>
                        &nbsp;
                        <button type="button" id="SD_DELETE_BTN" name="SD_DELETE_BTN" class="btn btn-outline-danger">
                            Delete
                        </button>
                        &nbsp;
                        <button type="button" id="SD_VIEW_BTN" name="SD_VIEW_BTN" class="btn btn-outline-info">
                            View
                        </button>
                    </div>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
            </div>
            <hr />
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Personnel No")
                    <div class="row">
                        <div class="col-md-10">
                            <input hidden id="SD_ID" />
                            <input hidden id="SD_SELECTOR" />
                            <input hidden id="SD_JOINING_DATE" />
                            <input hidden id="SD_TERMIN_DATE" />
                            <input hidden id="SD_TRANSFER_DATE" />
                            <input class="form-control" id="SD_PR_NO" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="SD_PR_NO_LIST" name="SD_PR_NO_LIST" data-toggle="modal" data-target="#PrNoModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Branch")
                    <div class="col-md-12">
                        <input class="form-control" id="SD_PR_NEW_BRANCH" readonly />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Name")
                    <div class="row">
                        <div class="col-md-6">
                            <input class="form-control" id="SD_FIRST_NAME" readonly />
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" id="SD_LAST_NAME" readonly />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Designation")
                    <div class="col-md-12">
                        <input class="form-control" id="SD_DESG" readonly />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Level")
                    <div class="col-md-12">
                        <input class="form-control" id="SD_LEVEL" readonly />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Functional")
                    <div class="col-md-12">
                        <input class="form-control" id="SD_FUNCTIONAL" readonly />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Title")
                    <div class="col-md-12">
                        <input class="form-control" id="SD_TITLE" readonly />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Transfer Type")
                    <div class="col-md-12">
                        <input class="form-control" id="SD_TRANSFER_TYPE" readonly />
                    </div>
                </div>
            </div>
        </div>
        <div id="SegmentOrDeptDataGridReadonlyTableDiv">
            <hr />
            <table id="SegmentOrDeptDataGridReadonly" class="table table-bordered text-center table-hover table-sm" width="100%">
                <thead class="Custom-Table-Head">
                    <tr>
                        <th>SEGMENT</th>
                        <th>DEPT</th>
                        <th>CONTRI %</th>
                    </tr>
                </thead>
                <tbody id="SegmentOrDeptDataGridReadonly">
                </tbody>
            </table>
        </div>
        <hr />
        <h3 class="text-center">Transfer Information</h3>
        <hr />
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Functional Title")
                    <div class="row">
                        <div class="col-md-6">
                            <input class="form-control" id="SD_FUNC_1" />
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" id="SD_FUNC_2" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Effective Date")
                    <div class="col-md-12">
                        <input class="form-control" id="SD_EFFECTIVE_DATE" type="date" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Reporting To")
                    <div class="row">
                        <div class="col-md-5">
                            <input class="form-control" id="SD_W_REP" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="SD_W_REP_LIST" name="SD_W_REP_LIST" data-toggle="modal" data-target="#W_REPModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" id="SD_W_REPName" readonly />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Rcvd Date")
                    <div class="col-md-12">
                        <input class="form-control" id="SD_W_GOAL_DATE" type="date" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Goals Rcvd")
                    <div class="col-md-12">
                        <input class="form-control" id="SD_W_GOAL" />
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" id="AddUpdateSegmentOrDepartmentData" name="AddUpdateSegmentOrDepartmentData" value="Submit" class="btn btn-outline-primary" />
                    <input type="button" id="SD_DELETE_ACTUAL_RECORD" name="SD_DELETE_ACTUAL_RECORD" value="Delete" class="btn btn-outline-danger" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3">
                            @Html.Label("SEGMENT")
                        </div>
                        <div class="col-md-9">
                            <input id="SD_List_ID" type="hidden" />
                            <input class="form-control" id="SD_SEGMENT" type="text" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3">
                            @Html.Label("DEPT")
                        </div>
                        <div class="col-md-7">
                            <input class="form-control" id="SD_DEPT" type="text" />
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-default" id="SD_DEPT_LIST" name="SD_DEPT_LIST" data-toggle="modal" data-target="#PR_CSDepartmentModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3">
                            @Html.Label("CONTRI")
                        </div>
                        <div class="col-md-9">
                            <input class="form-control" id="SD_CONTRI" type="text" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="form-group">
                        <input type="button" name="AddListOfSegmentOrDept" id="AddListOfSegmentOrDept" value="Add" class="btn btn-outline-success btn-sm" />
                    </div>
                    <div class="form-group">
                        <input type="button" name="ClearListOfSegmentOrDept" id="ClearListOfSegmentOrDept" value="Clear" class="btn btn-outline-info btn-sm" />
                    </div>
                </div>
            </div>
        </div>
        <table id="SegmentOrDeptDataGrid" class="table table-bordered text-center table-hover table-sm" width="100%">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>SEGMENT</th>
                    <th>DEPT</th>
                    <th>CONTRI %</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody id="SegmentOrDeptDataGrid">
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="PrNoModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="SD_PR_NO_TABLE" class="table table-bordered text-center table-hover table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>PR FIRST NAME</th>
                                <th>PR LAST NAME</th>
                                <th>PR TR NO</th>
                            </tr>
                        </thead>
                        <tbody id="SD_PR_NO_TABLE">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="W_REPModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="SegmentDepartmentReportingTable" class="table table-bordered text-center table-hover table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>W REP</th>
                                <th>W REP NAME</th>
                            </tr>
                        </thead>
                        <tbody id="SegmentDepartmentReportingTable">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="PR_CSDepartmentModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="SEGMENT_DEPT_DEPARTMENT_TABLE" class="table table-bordered text-center table-hover table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>PR Dept</th>
                                <th>SP Segment D</th>
                            </tr>
                        </thead>
                        <tbody id="SEGMENT_DEPT_DEPARTMENT_TABLE">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>