﻿@{
    ViewBag.Title = "Shadow Salary";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Shadow Salary";
}

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Personnel System</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="Submit" value="Submit" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
</div>

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">

        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("User")
                    <div class="col-md-12">
                        <input class="form-control" id="User" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Location")
                    <div class="col-md-12">
                        <input class="form-control" id="Location" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Option")
                    <div class="col-md-12">
                        <input class="form-control" id="Option" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Date")
                    <div class="col-md-12">
                        <input class="form-control" id="Date" />
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">S H A D O W      S A L A R Y</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">

        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("1) Personnel No")
                    <div class="col-md-10">
                        <input class="form-control" id="PR_NO" />
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#PrNoModal">
                            <i class="fas fa-align-center"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("2) First Name")
                    <div class="col-md-12">
                        <input class="form-control" id="LC_PR_NAME" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("3) Designation")
                    <div class="col-md-12">
                        <input class="form-control" id="SHS_DESIG" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("4) Level")
                    <div class="col-md-12">
                        <input class="form-control" id="SHS_LEVEL" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("5) Transfer Date")
                    <div class="col-md-12">
                        <input class="form-control" id="SHS_TRANSFER_DATE" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("6) City")
                    <div class="col-md-12">
                        <input class="form-control" id="SHS_CITY" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("7) Country")
                    <div class="col-md-12">
                        <input class="form-control" id="SHS_COUNTRY" />
                    </div>
                </div>
            </div>

        </div>
    </div>    
</div>


<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">HOST COUNTRY INFROMATION</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">

        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("1) Date of Last Inc")
                    <div class="col-md-10">
                        <input class="form-control" id="SHS_INC_LAST_DATE" />
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#SHS_INC_LAST_DATEModal">
                            <i class="fas fa-align-center"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("2) Increment Date")
                    <div class="col-md-12">
                        <input class="form-control" id="SHS_INC_CRNT_DATE" type="date"/>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("3) IS-TIR %")
                    <div class="col-md-12">
                        <input class="form-control" id="SHS_IS_TIR" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("4) Annual Package $")
                    <div class="col-md-12">
                        <input class="form-control" id="SHS_ANL_PKG" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("5) Ranking In HC")
                    <div class="col-md-12">
                        <input class="form-control" id="SHS_RANK_HC" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("6) Increment % $")
                    <div class="col-md-12">
                        <input class="form-control" id="SHS_INC_PERCENT" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("7) Increment Type")
                    <div class="col-md-12">
                        <input class="form-control" id="SHS_INC_TYPE" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("8) Revise Package  $")
                    <div class="col-md-12">
                        <input class="form-control" id="SHS_REV_PKG" />
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">LOCAL COUNTRY INFROMATION</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">

        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("1) Annual Shadow sal")
                    <div class="col-md-12">
                        <input class="form-control" id="SHS_ANL_SHD_SAL" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("2) Ranking /Date")
                    <div class="col-md-2">
                        <input class="form-control" id="SHS_LOC_RANK"/>
                    </div>
                    <div class="col-md-10">
                        <input class="form-control" id="SHS_LOC_DATE" type="date" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("3) Local TIR %")
                    <div class="col-md-12">
                        <input class="form-control" id="LC_LOCAL_TIR" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("4) Increment % RS")
                    <div class="col-md-12">
                        <input class="form-control" id="LC_INC_RS" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("5) Revise Schedule sal")
                    <div class="col-md-12">
                        <input class="form-control" id="SHS_LOC_SALARY" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("6) Remarks")
                    <div class="col-md-12">
                        <input class="form-control" id="SHS_REMARKS" />
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="PrNoModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="" class="table table-bordered text-center table-hover dTable">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>LC PR NAME</th>
                                <th>SHS PR NO</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="SHS_INC_LAST_DATEModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    
                </div>
            </div>
        </div>
    </div>
</div>
