﻿@{
    ViewBag.Title = "Summer Inerns Hiring";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Summer Inerns Hiring";
}



<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Personnel System SUMMER INTERNS ENTRY</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <input type="hidden" id="SummerIntersHiringPage" />
        <div id="SUMMBER_INTERN_SELECTOR_DIV">
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <button type="button" id="SUMMBER_INTERN_ADD_BTN" name="SUMMBER_INTERN_ADD_BTN" class="btn btn-outline-primary">
                            Add
                        </button>
                        &nbsp;
                        <button type="button" id="SUMMBER_INTERN_UPDATE_BTN" name="SUMMBER_INTERN_UPDATE_BTN" class="btn btn-outline-success">
                            Update
                        </button>
                        &nbsp;
                        <button type="button" id="SUMMBER_INTERN_DELETE_BTN" name="SUMMBER_INTERN_DELETE_BTN" class="btn btn-outline-danger">
                            Delete
                        </button>
                        &nbsp;
                        <button type="button" id="SUMMBER_INTERN_VIEW_BTN" name="SUMMBER_INTERN_VIEW_BTN" class="btn btn-outline-info">
                            View
                        </button>
                    </div>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
            </div>
            <hr />
        </div>
        <div class="text-center">
            <label hidden id="SummerIntersHiringActionSelectorLabel">Options: A = Add, D = Delete, M = Modify, V = View</label>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <div class="col-md-12">
                        <button type="button" id="AuthorizeSumIntersHiring" class="btn btn-info" data-toggle="modal" data-target="#AuthModalSumIntersHiring">
                            Authorize
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-2">
                <div class="col-md-10">
                    <input type="text" hidden class="form-control text-center" id="SummerIntersHiringFormSelector" maxlength="1" autocomplete="off" />
                </div>
            </div>
            <div class="col-md-5"></div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Personnel No")
                    <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="SUM_INT_PR_NO" name="SUM_INT_PR_NO" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" id="SUM_INT_PR_NO_LIST_BTN" name="SUM_INT_PR_NO_LIST_BTN" class="btn btn-default" data-toggle="modal" data-target="#PrNoModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Branch")
                    <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="SUM_INT_PR_BRANCH" name="SUM_INT_PR_BRANCH" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" id="SUM_INT_PR_BRANCH_LIST_BTN" name="SUM_INT_PR_BRANCH_LIST_BTN" class="btn btn-default" data-toggle="modal" data-target="#PR_BRANCHModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("First Name")
                    <div class="col-md-12">
                        <input class="form-control" id="SUM_INT_PR_FIRST_NAME" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Last Name")
                    <div class="col-md-12">
                        <input class="form-control" id="SUM_INT_PR_LAST_NAME" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("University")
                    <div class="col-md-12">
                        <input class="form-control" id="SUM_INT_PR_UNIVERSITY" />
                    </div>
                </div>
            </div>
            
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Class")
                    <div class="col-md-12">
                        <input class="form-control" id="SUM_INT_PR_CLASS" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("From / To")
                    <div class="row">
                        <div class="col-md-6">
                            <input type="date" class="form-control" id="SUM_INT_PR_CON_FROM" />
                        </div>
                        <div class="col-md-6">
                            <input type="date" class="form-control" id="SUM_INT_PR_CON_TO" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Previous Internship (With CitiBank)")
                    <div class="col-md-12">
                        <input class="form-control" id="SUM_INT_PR_INTERNSHIP" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Recommendation To Hire")
                    <div class="col-md-12">
                        <input class="form-control" id="SUM_INT_PR_RECOM" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Stipend")
                    <div class="col-md-12">
                        <input class="form-control" id="SUM_INT_PR_STIPENED" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Address")
                    <div class="col-md-12">
                        <input class="form-control" id="SUM_INT_PR_ADDRESS" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Phone")
                    <div class="row">
                        <div class="col-md-6">
                            <input class="form-control" id="SUM_INT_PR_PHONE1" />
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" id="SUM_INT_PR_PHONE2" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Date Of Birth")
                    <div class="col-md-12">
                        <input type="date" class="form-control" id="SUM_INT_PR_DATE_BIRTH" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Marital Status:")
                    <div class="col-md-12">
                        <input class="form-control" id="SUM_INT_PR_MAR_STATUS" maxlength="1" placeholder="[S]Single [M]Married" autocomplete="off" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Sex")
                    <div class="col-md-12">
                        <input class="form-control" id="SUM_INT_Sex" maxlength="1" placeholder="[M]Male [F]Female" autocomplete="off" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("NID Card No")
                    <div class="col-md-12">
                        <input class="form-control" id="SUM_INT_PR_NID_CARD" />
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="card-body">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" id="SUM_INT_SUBMIT_BTN" name="Submit" value="Submit" class="btn btn-outline-primary" />
                <input type="button" id="SUM_INT_DELETE_BTN" name="SUM_INT_DELETE_BTN" value="DELETE" class="btn btn-outline-danger" />
            </div>
        </div>
    </div>
</div>



<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3">
                            @Html.Label("SEGMENT")
                        </div>
                        <div class="col-md-9">
                            <input id="SUM_INT_CS_List_ID" type="hidden" />
                            <input class="form-control" id="SUM_INT_CS_SEGMENT" type="text" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3">
                            @Html.Label("DEPT")
                        </div>
                        <div class="col-md-7">
                            <input class="form-control" id="SUM_INT_CS_DEPT" type="text" />
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-default" id="SUM_INT_DEPARTMENT" name="SUM_INT_DEPARTMENT" data-toggle="modal" data-target="#PR_CSDepartmentModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3">
                            @Html.Label("CONTRI")
                        </div>
                        <div class="col-md-9">
                            <input class="form-control" id="SUM_INT_CS_CONTRI" type="text" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="form-group">
                        <input type="button" name="UpdateListOfSumInter" id="UpdateListOfSumInter" value="Add" class="btn btn-outline-success btn-sm" />
                    </div>
                    <div class="form-group">
                        <input type="button" name="ClearListOfSumInter" id="ClearListOfSumInter" value="Clear" class="btn btn-outline-info btn-sm" />
                    </div>
                </div>
            </div>
        </div>
        <table id="SUM_INT_ENTRY_LIST" class="table table-bordered text-center table-hover dTable">
            <thead class="Custom-Table-Head">
                <tr>                   
                    <th>SEGMENT</th>
                    <th>DEPT</th>
                    <th>CONTRI %</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody id="SUM_INT_ENTRY_LIST">
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="PrNoModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="SUM_INT_PRNO_LIST" class="table table-bordered text-center table-hover dTable">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>PR P No</th>
                                <th>PR Branch</th>
                                <th>PR First Name</th>
                                <th>PR Last Name</th>
                            </tr>
                        </thead>
                        <tbody id="SUM_INT_PRNO_LIST">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="PR_BRANCHModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="SUM_INT_BRANCH_LIST" class="table table-bordered text-center table-hover dTable">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>PR NAME FIRST</th>
                                <th>PR NAME LAST</th>
                            </tr>
                        </thead>
                        <tbody id="SUM_INT_BRANCH_LIST">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="PR_CSDepartmentModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="SUM_INT_DEPT_LIST" class="table table-bordered text-center table-hover dTable">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>PR Dept</th>
                                <th>PR Segment D</th>
                                <th>PR Desc D1</th>
                            </tr>
                        </thead>
                        <tbody id="SUM_INT_DEPT_LIST">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="AuthModalSumIntersHiring">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="LoadPrNoForAuthorizationSumIntersHiring" class="table table-bordered text-center table-hover dTable">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>Action</th>
                                <th>PR P No</th>
                                <th>PR Branch</th>
                                <th>PR First Name</th>
                                <th>PR Last Name</th>
                            </tr>
                        </thead>
                        <tbody id="LoadPrNoForAuthorizationSumIntersHiring">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>