﻿@{
    ViewBag.Title = "Termination Entry";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Termination Entry";
}


<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Personnel System TERMINATIONS</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <div class="text-center">
            <label hidden id="TerminationEntryActionSelectorLabel">Options: A = Add, D = Delete, M = Modify, V = View</label>
        </div>
        <div id="TERMINATION_SELECTOR_DIV">
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <button type="button" id="TERMINATION_ADD_BTN" name="TERMINATION_ADD_BTN" class="btn btn-outline-primary">
                            Add
                        </button>
                        &nbsp;
                        <button type="button" id="TERMINATION_UPDATE_BTN" name="TERMINATION_UPDATE_BTN" class="btn btn-outline-success">
                            Update
                        </button>
                        &nbsp;
                        <button type="button" id="TERMINATION_DELETE_BTN" name="TERMINATION_DELETE_BTN" class="btn btn-outline-danger">
                            Delete
                        </button>
                        &nbsp;
                        <button type="button" id="TERMINATION_VIEW_BTN" name="TERMINATION_VIEW_BTN" class="btn btn-outline-info">
                            View
                        </button>
                    </div>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
            </div>
            <hr />
        </div>
        <div class="row">
           <div class="col-md-5">
                <button type="button" id="TERMINATION_Authorize" name="TERMINATION_Authorize" class="btn btn-info" data-toggle="modal" data-target="#AuthModal">
                    Authorize
                </button>
            </div>
            <div class="col-md-2">
                <div class="col-md-10">
                    <input type="text" hidden class="form-control text-center" id="TerminationEntryFormSelector" maxlength="1" autocomplete="off" />
                </div>
            </div>
            <div class="col-md-5"></div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Personnel No")
                    <div class="row">
                        <div class="col-md-10">
                            <input type="hidden" id="Termination_ID" name="Termination_ID" />
                            <input class="form-control" id="TerminationPR_NO" name="TerminationPR_NO" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" id="TerminationPR_NO_List" name="TerminationPR_NO_List" class="btn btn-default" data-toggle="modal" data-target="#PrNoModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Name")
                    <div class="col-md-12">
                        <input class="form-control" id="TERMINATION_FIRST_NAME" readonly />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Termination Type")
                    <div class="col-md-12">
                        <input class="form-control" id="TERMINATION_TERMIN_TYPE" placeholder="Enter [T]ermination,[R]esignation,[S]ereration,[M]is Conduct" title="Enter [T]ermination,[R]esignation,[S]ereration,[M]is Conduct" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Termination Date")
                    <div class="col-md-12">
                        <input class="form-control" id="TERMINATION_DATE" type="date" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Reasons Of Leaving")
                    <div class="col-md-12">
                        <input class="form-control" id="TERMINATION_REASONS" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Resignation Received Y/N")
                    <div class="col-md-12">
                        <input class="form-control" id="TERMINATION_RESIG_RECV" placeholder="Enter [Y] or [N]" maxlength="1" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Approval Of Resignation Y/N")
                    <div class="col-md-12">
                        <input class="form-control" id="TERMINATION_APP_RESIG" placeholder="Enter [Y] or [N]" maxlength="1" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Exit Interview Done Y/N")
                    <div class="col-md-12">
                        <input class="form-control" id="TERMINATION_EXIT_INTER" placeholder="Enter [Y] or [N]" maxlength="1" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("ID Card Returned Y/N")
                    <div class="col-md-12">
                        <input class="form-control" id="TERMINATION_ID_RETURN" placeholder="Enter [Y] or [N]" maxlength="1" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Notice Of Staff Change Y/N")
                    <div class="col-md-12">
                        <input class="form-control" id="TERMINATION_NOTICE" placeholder="Enter [Y] or [N]" maxlength="1" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Power Of Attorney Cancel Y/N")
                    <div class="col-md-12">
                        <input class="form-control" id="TERMINATION_ARTONY" placeholder="Enter [Y] or [N]" maxlength="1" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Delete from Micro/Prime Y/N")
                    <div class="col-md-12">
                        <input class="form-control" id="TERMINATION_DELETION" placeholder="Enter [Y] or [N]" maxlength="1" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Final Settlement Report Y/N")
                    <div class="col-md-12">
                        <input class="form-control" id="TERMINATION_SETTLE" placeholder="Enter [Y] or [N]" maxlength="1" />
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="card-body">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="TERMINATION_Submit" id="TERMINATION_Submit" value="Submit" class="btn btn-outline-primary" />
                <input type="button" name="TERMINATION_DELETE" id="TERMINATION_DELETE" value="Delete" class="btn btn-outline-danger" />
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="PrNoModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="TERMINATION_PRNO_LIST" class="table table-bordered text-center table-hover dTable">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>PR NAME FIRST</th>
                                <th>PR P No</th>
                                <th>PR Termin Type</th>
                                <th>PR Termin Date</th>
                            </tr>
                        </thead>
                        <tbody id="TERMINATION_PRNO_LIST">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="AuthModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Unauthorized Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="LoadPrNoForAuthorizationTermination" class="table table-bordered text-center table-hover dTable">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>Action</th>
                                <th>PR NAME FIRST</th>
                                <th>PR P No</th>
                                <th>PR Termin Type</th>
                                <th>PR Termin Date</th>
                            </tr>
                        </thead>
                        <tbody id="LoadPrNoForAuthorizationTermination">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>