﻿@model IEnumerable<CHRIS.Data.CHRIS_FUNCTIONS>
@{
    ViewBag.Title = "Home";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    @{
        foreach (var item in Model)
        {
            <div class="col-lg-4">
                <!-- small box -->
                <div class="small-box custom-small-box">
                    <div class="inner">
                        <h4>@item.PF_NAME</h4>

                        <p class="text-transparent">.</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-@item.PF_ICON text-white"></i>
                    </div>
                    <a href="@Url.Action(item.PF_ACTION, item.PF_CONTROLLER)" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
        }
    }
</div>
