﻿@model IEnumerable<CHRIS.Data.CHRIS_FUNCTIONS>

@if (Model != null && Model.Count() > 0)
{
    foreach (var item in Model.Where(m => m.PF_PARENT_ID == 0).OrderBy(m => m.PF_ORDER))
    {

        List<CHRIS.Data.CHRIS_FUNCTIONS> Childs = Model.Where(m => m.PF_PARENT_ID == item.PF_ID).OrderBy(m => m.PF_ORDER).ToList();
        if (Childs != null && Childs.Count > 0)
        {
            <li class="nav-item menu-close">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-@item.PF_ICON"></i>
                    <p data-toggle="tooltip" title="@item.PF_NAME">
                        @if (item.PF_NAME.Count() >= 20)
                        {
                            string Display = item.PF_NAME.Substring(0, 20).ToString() + "...";
                            @(Display.ToString())
                            ;
                        }
                        else
                        {
                            @(item.PF_NAME.ToString())
                            ;
                        }
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    @{
                        foreach (var child in Childs)
                        {
                            <li class="nav-item">
                                <a href="@Url.Action(child.PF_ACTION, child.PF_CONTROLLER)" class="nav-link">
                                    <i class="far fas fa-@child.PF_ICON nav-icon"></i>
                                    <p data-toggle="tooltip" title="@child.PF_NAME">
                                        @if (child.PF_NAME.Count() >= 20)
                                        {
                                            string Display = child.PF_NAME.Substring(0, 20).ToString() + "...";
                                            @(Display.ToString())
                                            ;
                                        }
                                        else
                                        {
                                            @(child.PF_NAME.ToString())
                                            ;
                                        }
                                    </p>
                                </a>
                            </li>
                        }
                    }
                </ul>
            </li>

        }
        else
        {
            <li class="nav-item">
                <a href="@Url.Action(item.PF_ACTION, item.PF_CONTROLLER)" class="nav-link">
                    <i class="nav-icon fas fa-@item.PF_ICON"></i>
                    <p data-toggle="tooltip" title="@item.PF_NAME">
                        @if (item.PF_NAME.Count() >= 20)
                        {
                            string Display = item.PF_NAME.Substring(0, 20).ToString() + "...";
                            @(Display.ToString())
                            ;
                        }
                        else
                        {
                            @(item.PF_NAME.ToString())
                            ;
                        }
                    </p>
                </a>
            </li>
        }

    }
}
else
{
    <p> Problem While Fetching Functions <br /> Please Login Again to Continue.</p>
}







@*<div id="DynamicMenuForImport">

</div>*@