﻿@{
    ViewBag.Title = "Annual Tax Processing";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Annual Tax Processing";
}

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Annual Tax Closing Module <br />Tax Year End Closing Process</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Tax From")
                    <div class="row">
                        <div class="col-md-12">
                            <input class="form-control" id="TaxFrom" disabled/>
                        </div>
                       @*  <div class="col-md-6">
                            <input class="form-control" id="TaxFromDate" />
                        </div> *@
                    </div>
                </div>
            </div>

           @*  <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Amount")
                    <div class="col-md-12">
                        <input class="form-control" id="Amount" />
                    </div>
                </div>
            </div>
 *@
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Tax To")
                    <div class="row">
                        <div class="col-md-12">
                            <input class="form-control" id="TaxTo" disabled />
                        </div>
                        @* <div class="col-md-6">
                            <input class="form-control" id="TaxToDate" />
                        </div> *@
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("PNo")
                    <div class="col-md-12">
                        <input class="form-control" id="PNo" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Name")
                    <div class="col-md-12">
                        <input class="form-control" id="Name" disabled />
                    </div>
                </div>
            </div>

           @*  <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("TRANSPORT ALLOWANCE FOR [VP/RVP]")
                    <div class="col-md-12">
                        <input class="form-control" id="TransportAllowance" />
                    </div>
                </div>
            </div> *@
    </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="RunAnnualTaxProcessing" id="RunAnnualTaxProcessing" value="START PROCESS" class="btn btn-outline-primary" />
            </div>
        </div>
   
    </div>
</div>
