﻿@{
    ViewBag.Title = "Annual Tax Processing For";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Annual Tax Processing For";
}

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">PROCESSING TAX FOR</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
   
    <div class="card-body">
        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    <div class="col-md-4">
                        <input class="form-control" id="PR_P_NO" />
                    </div>
                    <div class="col-md-8">
                        <input class="form-control" id="PR_NAME" />
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
