﻿@{
    ViewBag.Title = "Deduction Letter Report";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Deduction Letter Report";
}

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Report Parameters</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("DesType")
                    <div class="col-md-12">
                        <select class="form-control" id="DesType">
                            <option value="" selected>--Select--</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Destination Name")
                    <div class="col-md-12">
                        <input class="form-control" id="Dest_name" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Destination Format")
                    <div class="col-md-12">
                        <input class="form-control" id="Dest_format" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Number Of Copies")
                    <div class="col-md-12">
                        <input class="form-control" id="copies" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("ENTER FROM NAME")
                    <div class="col-md-12">
                        <input class="form-control" id="FNAME" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("DESIGNATION")
                    <div class="col-md-12">
                        <input class="form-control" id="FDESIG" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("START PERSONNEL NO")
                    <div class="col-md-12">
                        <input class="form-control" id="W_SPNO" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("END PERSONNEL NO")
                    <div class="col-md-12">
                        <input class="form-control" id="W_EPNO" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("DATE")
                    <div class="col-md-12">
                        <input class="form-control" id="DATE"  type="date"/>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Enter Valid Branch")
                    <div class="col-md-12">
                        <input class="form-control" id="branch" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Fn From Date")
                    <div class="col-md-12">
                        <input class="form-control" id="from_date" type="date"/>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Fn To Date")
                    <div class="col-md-12">
                        <input class="form-control" id="To_date" type="date" />
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" name="Run139TaxStatement" value="Run" class="btn btn-outline-primary" />
        </div>
    </div>
</div>
