﻿@{
    ViewBag.Title = "Income Tax Assessment Status";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Income Tax Assessment Status";
}

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Report Parameters</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Destination Type")
                    <div class="col-md-12">
                        <select class="form-control" id="DesType">
                            <option value="" selected>--Select--</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Destination Name")
                    <div class="col-md-12">
                        <input class="form-control" id="Dest_name" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Destination Format")
                    <div class="col-md-12">
                        <input class="form-control" id="Dest_format" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Number Of Copies")
                    <div class="col-md-12">
                        <input class="form-control" id="copies" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Enter Valid Branch")
                    <div class="col-md-12">
                        <input class="form-control" id="branch" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Year")
                    <div class="col-md-12">
                        <input class="form-control" id="Year" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Income or Wealth tax (I/W)")
                    <div class="col-md-12">
                        <input class="form-control" id="W_CHOICE" />
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" name="RunIncomeTaxAssessmentStatus" value="Run" class="btn btn-outline-primary" />
        </div>
    </div>
</div>
