﻿@{
    ViewBag.Title = "Provident Fund Entry";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Provident Fund Entry";
}
<style>
    .displayNone {
        display: none !important;
    }
</style>
<script>
    function AddNew() {
        location.reload();
    }
</script>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp; Clear</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
       
        <div class="row">
            <input id="ID" value="0" hidden/>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("P NO")
                    <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="AN_P_NO" disabled />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="btn_AN_P_NO_PFE" name="btn_AN_P_NO_PFE" data-toggle="modal" data-target="#AN_P_NO_PFE_Modal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Name")
                    <div class="col-md-12">
                        <input class="form-control" id="AN_P_NAME" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("P Fund C/F Amount")
                    <div class="col-md-12">
                        <input class="form-control" id="AN_PF_BAL" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("P Fund This Year")
                    <div class="col-md-12">
                        <input class="form-control" id="AN_PFUND" />
                    </div>
                </div>
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="Submit_PFE" id="Submit_PFE" value="Submit" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>

</div>
<input id="tbl_load" hidden />
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <table id="tbl_AN_P_NO_PFE1" class="table table-bordered text-center table-hover  table-sm" width="100%">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>P. NO</th>
                    <th>NAME</th>
                    <th>P.FUND C/F AMOUNT</th>
                    <th>P.FUND THIS YEAR</th>           
                </tr>
            </thead>
            <tbody id="">
            </tbody>
        </table>
    </div>
</div>


<div class="modal fade" id="AN_P_NO_PFE_Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_AN_P_NO_PFE" class="table table-bordered text-center table-hover  table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>AN P NAME</th>
                                <th>AN P NO</th>
                                <th>AN PF BAL</th>
                                <th>AN P FUND</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
