﻿@{
    ViewBag.Title = "Salary Certificate";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Salary Certificate";
}

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Report Parameters</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Destination Type")
                    <div class="col-md-12">
                        <select class="form-control" id="DesType">
                            <option value="" selected>--Select--</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Destination Name")
                    <div class="col-md-12">
                        <input class="form-control" id="Dest_name" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Destination Format")
                    <div class="col-md-12">
                        <input class="form-control" id="Dest_format" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Number Of Copies")
                    <div class="col-md-12">
                        <input class="form-control" id="copies" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("BRANCH CODE OR ALL")
                    <div class="col-md-12">
                        <input class="form-control" id="BRANCH" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Mode")
                    <div class="col-md-12">
                        <select class="form-control" id="Mode">
                            <option value="">--Select--</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("PERSONNEL NO FROM OR ALL")
                    <div class="col-md-12">
                        <input class="form-control" id="FPNO" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("PERSONNEL NO TO OR ALL")
                    <div class="col-md-12">
                        <input class="form-control" id="TPNO" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("SIGNEE")
                    <div class="col-md-12">
                        <input class="form-control" id="SIGN" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("DESIGNATION")
                    <div class="col-md-12">
                        <input class="form-control" id="DESIG" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("DATE")
                    <div class="col-md-12">
                        <input class="form-control" id="DATE"/>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" name="RunSalaryCertificate" value="Run" class="btn btn-outline-primary" />
        </div>
    </div>
</div>
