﻿@{
    ViewBag.Title = "Tax Assessment Status";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Tax Assessment Status";
}

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">PAYROLL SYSTEM TAX ASSESSMENT STATUS ENTRY</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("User")
                    <div class="col-md-12">                        
                        <input class="form-control" id="User" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Location")
                    <div class="col-md-12">
                        <input class="form-control" id="Location" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Option")
                    <div class="col-md-12">                        
                        <input class="form-control" id="Option" />
                    </div>
                </div>
            </div>           

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Date")
                    <div class="col-md-12">
                        <input class="form-control" id="Date" />
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Personnel No")
                    <div class="col-md-10">
                        <input class="form-control" id="PR_P_NO" />
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#P_NoModal">
                            <i class="fas fa-align-center"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("First Name")
                    <div class="col-md-12">
                        <input class="form-control" id="FirstName" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Last Name")
                    <div class="col-md-12">
                        <input class="form-control" id="LastName" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Date Of Joining")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_JOINING_DATE" type="date" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("NTN No")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_NATIONAL_TAX"/>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("NTN Certificate Received [Y]es Or [N]o")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_NTN_CERT_REC" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("NTN Card Received [Y]es Or [N]o")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_NTN_CARD_REC" />
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("INCOME YEAR")
                    <div class="col-md-12">
                        <input class="form-control" id="INCOME_YEAR" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("ASS ORDER INCOME TAX")
                    <div class="col-md-12">
                        <input class="form-control" id="ASS_ORDER_INCOME_TAX" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("ASS ORDER WEALTH TAX")
                    <div class="col-md-12">
                        <input class="form-control" id="ASS_ORDER_WEALTH_TAX" />
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" name="SubmitTaxAssessmentStatus" value="Submit" class="btn btn-outline-primary" />
        </div>
    </div>
</div>

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <table id="" class="table table-bordered text-center table-hover dTable">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>INCOME YEAR</th>
                    <th>ASS. ORDER INCOME TAX</th>
                    <th>ASS. ORDER WEALTH TAX</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody id="">
            </tbody>
        </table>
    </div>
</div>


<div class="modal fade" id="P_NoModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="" class="table table-bordered text-center table-hover dTable">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>PR P NO</th>
                                <th>PR LAST NAME</th>
                                <th>PR FIRST NAME</th>
                                <th>PR JOINING DATE</th>
                                <th>PR NATIONAL TAX</th>
                                <th>PR NTN CERT REC</th>
                                <th>PR NTN CARD REC</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
