﻿@{
    ViewBag.Title = "Tax Update Entry";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Tax Update Entry";
}
<script>
    function AddNew() {
        location.reload();
    }
</script>

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Annual Tax System Annual Tax Statement Updation</h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp; Clear</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <input id="ID" hidden value="" />
        <input id="UNFURNISHED_SQ" hidden value="0" />
        <input id="FURNISHED_SQ" hidden value="0" />
        <input id="GRATUITY" hidden value="0" />
        <input id="AN_ASSES_TO" hidden value="0" />
        <input id="AN_ASSES_FROM" hidden value="0" />
        <input id="AN_ADD2" hidden value="0" />
        <input id="AN_ADD1" hidden value="0" />
        <input id="AN_PF_BAL" hidden value="0" />
        <input id="AN_REFUND_FOR" hidden value="0" />
      
        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("F_PNO")
                    <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="F_PNO" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="btn_F_PNO_TAX_U_E" name="btn_F_PNO_TAX_U_E" data-toggle="modal" data-target="#P_NoModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Name")
                    <div class="col-md-12">
                        <input class="form-control" id="Name" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Designation")
                    <div class="col-md-12">
                        <input class="form-control" id="AN_DESIG" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Tax From")
                    <div class="col-md-12">
                        <input class="form-control" id="AN_TAX_FROM_DATE" type="date" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("To")
                    <div class="col-md-12">
                        <input class="form-control" id="AN_TAX_TO_DATE" type="date" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Level")
                    <div class="col-md-12">
                        <input class="form-control" id="AN_LEVEL" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Category")
                    <div class="col-md-12">
                        <input class="form-control" id="AN_CATEGORY" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Branch")
                    <div class="col-md-12">
                        <input class="form-control" id="AN_BRANCH" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Inc TaxNo")
                    <div class="col-md-12">
                        <input class="form-control" id="AN_TAX_NUM" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Basic")
                    <div class="col-md-12">
                        <input class="form-control" id="AN_BASIC" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("House Rent")
                    <div class="col-md-12">
                        <input class="form-control" id="AN_HOUSE_RENT" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Conveyance")
                    <div class="col-md-12">
                        <input class="form-control" id="AN_CONV" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Conv Added")
                    <div class="col-md-12">
                        <input class="form-control" id="AN_CONV_ADDED" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("P Fund")
                    <div class="col-md-12">
                        <input class="form-control" id="AN_PFUND" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("10 C Bonus")
                    <div class="col-md-12">
                        <input class="form-control" id="AN_10C_BONUS" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Inc Bonus")
                    <div class="col-md-12">
                        <input class="form-control" id="AN_INC_BONUS" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Zakat")
                    <div class="col-md-12">
                        <input class="form-control" id="AN_ZAKAT" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Overtime")
                    <div class="col-md-12">
                        <input class="form-control" id="AN_OVT" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Taxable Allow")
                    <div class="col-md-12">
                        <input class="form-control" id="AN_TAXABLE_ALL" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("GH Allow")
                    <div class="col-md-12">
                        <input class="form-control" id="AN_GHA_ALL" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Subs Loan Tax:")
                    <div class="col-md-12">
                        <input class="form-control" id="AN_SUBS_LOAN_TAX" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Sevarance Paid")
                    <div class="col-md-12">
                        <input class="form-control" id="AN_SEVARANCE_AMT" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Tax Asr")
                    <div class="col-md-12">
                        <input class="form-control" id="AN_TAX_ASR" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Taxable Income")
                    <div class="col-md-12">
                        <input class="form-control" id="AN_TAXABLE_INC" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Regular/Resig")
                    <div class="col-md-12">
                        <input class="form-control" id="AN_FLAG" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Tax Paid")
                    <div class="col-md-12">
                        <input class="form-control" id="AN_TAX_PAID" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("TaxPaid")
                    <div class="col-md-12">
                        <input class="form-control" id="AN_LFA" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Tax Refund")
                    <div class="col-md-12">
                        <input class="form-control" id="AN_REFUND_AMT" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Education")
                    <div class="col-md-12">
                        <input class="form-control" id="AN_EDUCATION" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Servent Sal")
                    <div class="col-md-12">
                        <input class="form-control" id="AN_SER_SAL" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Light H Water")
                    <div class="col-md-12">
                        <input class="form-control" id="AN_L_H_WATER" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Slab Amount")
                    <div class="col-md-12">
                        <input class="form-control" id="AN_TAX_FROM_AMT" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Rebate")
                    <div class="col-md-12">
                        <input class="form-control" id="AN_REBATE" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Remaining Amt")
                    <div class="col-md-12">
                        <input class="form-control" id="AN_REM_AMT" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Fixed Tax on Slab Amt:")
                    <div class="col-md-12">
                        <input class="form-control" id="AN_FIX_TAX" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Tax on Remaining Amt")
                    <div class="col-md-12">
                        <input class="form-control" id="AN_TAX_REM" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Surcharge")
                    <div class="col-md-12">
                        <input class="form-control" id="AN_SUR" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("RF Unfurnished")
                    <div class="col-md-12">
                        <input class="form-control" id="AN_RNT_FREE_UNFURNISHED" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("RF Furnished")
                    <div class="col-md-12">
                        <input class="form-control" id="AN_RNT_FREE_FURNISHED" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Private")
                    <div class="col-md-12">
                        <input class="form-control" id="PRIVATE" />
                    </div>
                </div>
            </div>

        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="Submit_TxUptEntry" id="Submit_TxUptEntry" value="Submit" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>    
</div>


<div class="modal fade" id="P_NoModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_P_No_TxUptEntry" class="table table-bordered text-center table-hover table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>P NO</th>
                                <th>Name</th>                                
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
