﻿
@{
    ViewBag.Title = "Arear Update";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Arear Update";
}
<style>
    .displayNone {
        display: none !important;
    }
</style>

<script>
    function AddNew() {
        location.reload();
    }
</script>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Salary Arear Updation</h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp; Clear</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <div class="row">
            <input id="ID" value="0" hidden/>
            <input id="ArearUpdatePage" hidden />
            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("P NO")
                    <div class="col-md-12">
                        <input class="form-control" id="SA_P_NO" type="number"/>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Entry Date (dd/MM-yyyy)")
                    <div class="col-md-12">
                        <input class="form-control" id="SA_DATE" type="date" />
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Salary Arear")
                    <div class="col-md-12">
                        <input class="form-control" id="SA_SAL_AREARS" type="number" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("PF Arear")
                    <div class="col-md-12">
                        <input class="form-control" id="SA_PF_AREARS" type="number" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("OT Arear")
                    <div class="col-md-12">
                        <input class="form-control" id="SA_OT_AREARS" type="number" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Approve [Y/N]")
                    <div class="col-md-12">
                        <input class="form-control" id="SA_AREARS_APPROV" />
                    </div>
                </div>
            </div>

        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="Submit_ArearUpdate" id="Submit_ArearUpdate" value="Submit" class="btn btn-outline-primary" />
                <input type="button" name="Delete_ArearUpdate" id="Delete_ArearUpdate" value="Delete" class="btn btn-outline-danger" />
            </div>
        </div>
    </div>
</div>


<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"> </h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <table id="tbl_ArearUpdate" class="table table-bordered text-center table-hover dTable">
            <thead class="Custom-Table-Head">
                <tr>
                    
                    <th>P NO</th>
                    <th>Entry Date</th>
                    <th>Salary Arear</th>
                    <th>PF Arear</th>
                    <th>OT Arear</th>
                    <th>Approve [Y/N]</th>                    
                </tr>
            </thead>
            <tbody id="">
                
            </tbody>
        </table>
    </div>
</div>
