﻿@{
    ViewBag.Title = "CHRSP";
    ViewBag.Controller = "Home";
    ViewBag.Action = "CHRSP";
}
<style>
    .displayNone {
        display: none !important;
    }
</style>

<script>
    function AddNew() {
        location.reload();
    }
</script>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">CHRSP</h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp; Clear</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="CHRSP_VIEW" id="CHRSP_VIEW" value="VIEW" class="btn btn-outline-primary" />
                <input type="button" name="CHRSP_GENERATE" id="CHRSP_GENERATE" value="GENERATE" class="btn btn-outline-primary" />
                <input type="button" name="CHRSP_PRINT" id="CHRSP_PRINT" value="PRINT" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
</div>

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"><label id="HPAYROLL"></label> </h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <table id="tbl_CHRSP_1" class="table table-bordered text-center table-hover dTable">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>BRANCH</th>
                    <th>HEAD COUNT</th>
                    <th>AMOUNT</th>
                    <th>AMOUNT IN CHRSP</th>                   
                </tr>
            </thead>
            <tbody id="">

            </tbody>            
        </table>
        <table id="tbl_CHRSP_2" class="table table-bordered text-center table-hover dTable">            
            <tbody id="">
                
            </tbody>
        </table>
    </div>
</div>

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Enter Value Date (YYYYMMDD)")
                    <div class="col-md-12">
                        <input class="form-control" id="validate" type="date" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Enter File Name With Path")
                    <div class="col-md-12">
                        <input class="form-control" id="FilePath"/>
                    </div>
                </div>
            </div>

        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="CHRSP_START" id="CHRSP_START" value="START" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>

</div>

