﻿@{
    ViewBag.Title = "FTE Entry";
    ViewBag.Controller = "Home";
    ViewBag.Action = "FTE Entry";
}
<style>
    .displayNone {
        display: none !important;
    }
</style>
<script>
    function AddNew() {
        location.reload();
    }
</script>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">FTE AND HEAD COUNT ENTRY</h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-primary" data-toggle="modal" data-target="#Updation_Modal"><i class="fas fa-upload"></i>&nbsp; Updation</a>
            <a href="#" class="btn btn-outline-danger" id="DeleteFTEEntry" name="DeleteFTEEntry"><i class="fas fa-delete-left"></i>&nbsp; Delete</a>
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp; Clear</a>      
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    
    <div class="card-body" id="FTE_Div">
        <div class="row">
            <input id="ID" value="0" hidden />
            <input id="PR_TRANSFER_DATE" value="0" hidden />
            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("P No")
                   <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="PR_P_NO" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="btn_PR_P_NO_Modal" name="btn_PR_P_NO_Modal" data-toggle="modal" data-target="#PR_P_NO_Modal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Name")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_NAME" />
                    </div>                    
                </div>
            </div>

        </div>

    </div>
</div>

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Details</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body" id="FTE1_Div">

        <div class="row">
            <input id="ID_D" value="0" hidden />

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("SEGMENT")
                    <div class="col-md-12">
                        <input class="form-control" id="DP_SEG" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("DEPT")
                   <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="DP_DEPT" disabled />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="btn_DP_DEPT_Modal" name="btn_DP_DEPT_Modal" data-toggle="modal" data-target="#DP_DEPT_Modal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("HEAD COUNT")
                    <div class="col-md-12">
                        <input class="form-control" id="DP_HC" type="number"/>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("FTE %")
                    <div class="col-md-12">
                        <input class="form-control" id="DP_FTE" type="number"/>
                    </div>
                </div>
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="SubmitFTEEntry1" id="SubmitFTEEntry1" value="Submit" class="btn btn-outline-primary" />
            </div>
        </div>

    </div>
</div>


<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <table id="tbl_FTEEntry" class="table table-bordered text-center table-hover dTable">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>ID</th>
                    <th>SEGMENT</th>
                    <th>DEPT</th>
                    <th>HEAD COUNT</th>
                    <th>FTE % </th>
                </tr>
            </thead>
            <tbody id="">

            </tbody>
        </table>
    </div>
</div>


<div class="modal fade" id="PR_P_NO_Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_PR_P_NO_Modal1" class="table table-bordered text-center table-hover table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>PR NAME</th>
                                <th>PR P NO</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="DP_DEPT_Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_DP_DEPT_Modal" class="table table-bordered text-center table-hover table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>DEPT</th>
                                <th>DESC</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="Updation_Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">FTE Entry Processing Dialog</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                @Html.Label("Enter Month for FTE (YYYYMM)")
                                <div class="col-md-12">
                                    <input class="form-control" id="MonthYear" type="number"/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <p>
                                    FTE Updation For <br />
                                    1) All Employees <br />
                                    2) Regular Staff Only<br />
                                    3) Interns Only<br />
                                    4) Contractual Staff Only                                    
                                </p>
                                <div class="col-md-12">
                                    <input class="form-control" id="EmployeeType" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="button" id="Update_FTEEntry" name="Update_FTEEntry" value="Start Process" class="btn btn-outline-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


