﻿@{
    ViewBag.Title = "Incentive Bonus Entry";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Incentive Bonus Entry";
}
<style>
    .displayNone {
        display: none !important;
    }
</style>

<script>
    function AddNew() {
        location.reload();
    }
</script>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">PAYROLL SYSTEM INCENTIVE BONUS APPROVALS</h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp; Clear</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <input id="ID" value="0" hidden />
    <input id="IncentiveBonusEntryPage" hidden />

    <div class="card-body">
        <div class="row">
           
            <div class="col-md-2">
                <div class="form-group">
                    @Html.Label("Year")
                    <div class="col-md-12">
                        <input class="form-control" id="Year" disabled/>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("P No")
                    <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="PR_P_NO" disabled />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="btn_PR_P_NO_Modal1" name="btn_PR_P_NO_Modal1" data-toggle="modal" data-target="#PR_P_NO_Modal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Name")
                    <div class="col-md-12">
                        <input class="form-control" id="PNAME" disabled />
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Bonus")
                    <div class="col-md-12">
                        <input class="form-control" id="BO_INC_AMOUNT"/>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("HLMarkup")
                    <div class="col-md-12">
                        <input class="form-control" id="BO_HL_MARKUP" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Utilities/V Tax/Other Taxes")
                    <div class="col-md-12">
                        <input class="form-control" id="BO_Utilities" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Investment")
                    <div class="col-md-12">
                        <input class="form-control" id="BO_Investment" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Doation")
                    <div class="col-md-12">
                        <input class="form-control" id="BO_Donation" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Approved [Y/N]")
                    <div class="col-md-12">
                        <input class="form-control" id="BO_INC_APP" name="BO_INC_APP" />
                    </div>
                </div>
            </div>

        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" class="btn btn-outline-danger" id="btn_IncentiveBonusEntry_Delete_Modal" name="btn_IncentiveBonusEntry_Delete_Modal" data-toggle="modal" data-target="#Delete_Modal">Delete</button>
                <button type="button" class="btn btn-outline-primary" id="btn_IncentiveBonusEntry_Modify_Modal" name="btn_IncentiveBonusEntry_Modify_Modal" data-toggle="modal" data-target="#Modify_Modal">Modify</button>
                <input type="button" name="SubmitIncentiveBonusEntry" id="SubmitIncentiveBonusEntry" value="Submit" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
</div>

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"> </h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <table id="tbl_IncentiveBonusEntry" class="table table-bordered text-center table-hover dTable">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>P NO</th>
                    <th>NAME</th>
                    <th>DATE</th>
                    <th>BONUS</th>
                    <th>BO HL MARKUP</th>
                    <th>Approve [Y/N]</th>                    
                </tr>
            </thead>
            <tbody id="">
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="Delete_Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_IncentiveBonusEntry_Delete_Modal" class="table table-bordered text-center table-hover dTable">
                        <thead class="Custom-Table-Head">
                            <tr>                                
                                <th>P NO</th>                                
                                <th>DATE</th>
                                <th>BONUS</th>
                                <th>BO HL MARKUP</th>
                                <th>Approve [Y/N]</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Modify_Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_IncentiveBonusEntry_Modify_Modal" class="table table-bordered text-center table-hover dTable">
                        <thead class="Custom-Table-Head">
                            <tr>

                                <th>P NO</th>
                                <th>DATE</th>
                                <th>BONUS</th>
                                <th>BO HL MARKUP</th>
                                <th>Approve [Y/N]</th>  
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="PR_P_NO_Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_IncentiveBonusEntry_Modal" class="table table-bordered text-center table-hover dTable">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>PR P NO</th>
                                <th>PR NAME</th>                              
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>



