﻿@{
    ViewBag.Title = "Individual Allowance Entry";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Individual Allowance Entry";
}
<style>
    .displayNone {
        display: none !important;
    }
</style>
<script>
    function AddNew() {
        location.reload();
    }
</script>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Allowance</h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp; Clear</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>   
    <div class="card-body" id="Div1">
        <div class="row">
            <input id="ID" value="0" hidden />

            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Sp All Code")
                    <div class="row">
                        <div class="col-md-4">
                            <input class="form-control" id="SP_ALL_CODE" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="btn_SP_ALL_CODE_modal" name="btn_SP_ALL_CODE_modal" data-toggle="modal" data-target="#SP_ALL_CODE_Modal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                        <div class="col-md-7">
                            <input class="form-control" id="SP_DESC" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-1">
                <div class="form-group">
                    @Html.Label("Taxable")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_TAX" />
                    </div>
                </div>
            </div>

            <div class="col-md-1">
                <div class="form-group">
                    @Html.Label("Forecast")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_FORECAST_TAX" />
                    </div>
                </div>
            </div>

            <div class="col-md-1">
                <div class="form-group">
                    @Html.Label("Asr/Basic")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_ASR_BASIC" />
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="form-group">
                    @Html.Label("From / To")
                   <div class="row">
                        <div class="col-md-6">
                            <input class="form-control" id="SP_VALID_FROM" />
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" id="SP_VALID_TO" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Amount")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_ALL_AMOUNT" />
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("Sp Acount No")
                  <div class="row">
                        <div class="col-md-4">
                            <input class="form-control" id="SP_ACOUNT_NO" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="btn_SP_ACOUNT_NO_Modal" name="btn_SP_ACOUNT_NO_Modal" data-toggle="modal" data-target="#SP_ACOUNT_NOModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                        <div class="col-md-7">
                            <input class="form-control" id="SP_ACC_DESC" />
                        </div>
                    </div>
                </div>
            </div>                      

        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="SubmitIndividualAllowanceEntry" id="SubmitIndividualAllowanceEntry" value="Submit" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
</div>


<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Allowance Details</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body" id="Div2">

        <div class="row">
            <input id="ID1" value="0" hidden />

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Personnel No")
                    <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="SP_P_NO" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="btn_SP_P_NO_Modal1" name="btn_SP_P_NO_Modal1" data-toggle="modal" data-target="#SP_P_NO_Modal1">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Name")
                    <div class="col-md-12">
                        <input class="form-control" id="P_Name" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Allowance Amount")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_ALL_AMT" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Remarks")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_REMARKS" />
                    </div>
                </div>
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="SubmitIndividualAllowanceEntry1" id="SubmitIndividualAllowanceEntry1" value="Submit" class="btn btn-outline-primary" />
            </div>
        </div>

    </div>
</div>


<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Allowance Details</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <table id="tbl_IndividualAllowanceEntry" class="table table-bordered text-center table-hover  table-sm" width="100%" ">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>PERSONNEL NO</th>
                    <th>PERSONNEL NAME</th>
                    <th>ALLOWANCE AMOUNT</th>
                    <th>REMARKS</th>
                </tr>
            </thead>
            <tbody id="">
            </tbody>
        </table>
    </div>
</div>


<div class="modal fade" id="SP_ALL_CODE_Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_SP_ALL_CODE_Modal" class="table table-bordered text-center table-hover table-responsive" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>ALL_CODE</th>
                                <th>BRANCH_A</th>
                                <th>DESC</th>
                                <th>CATEGORY_A</th>
                                <th>DESG_A</th>
                                <th>LEVEL_A</th>
                                <th>VALID_FROM</th>
                                <th>VALID_TO</th>
                                <th>ALL_AMOUNT</th>
                                <th>PER_ASR</th>
                                <th>TAX</th>
                                <th>_RELATED</th>
                                <th>RELATED_LEAV</th>
                                <th>ASR_BASIC</th>
                                <th>MEAL_CONV</th>
                                <th>ALL_IND</th>
                                <th>ACOUNT_NO</th>
                                <th>FORECAST_TAX</th>
                                <th>ACC_DESC</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="SP_P_NO_Modal1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_SP_P_NO_Modal1" class="table table-bordered text-center table-hover  table-sm" width="100%" ">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>SP_P_NO</th>
                                <th>P_NAME</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="SP_ACOUNT_NOModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_SP_ACOUNT_NO_Modal" class="table table-bordered text-center table-hover dTable">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>SP_ACOUNT_NO</th>
                                <th>SP_ACC_DESC</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
