﻿@{
    ViewBag.Title = "Individual Deduction Entry";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Individuals Deduction Entry";
}
<style>
    .displayNone {
        display: none !important;
    }
</style>
<script>
    function AddNew() {
        location.reload();
    }
</script>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">PAYROLL SYSTEM INDIVIDUAL DEDUCTION ENTRY</h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-danger" id="DeleteIndividualsDeductionEntry" name="DeleteIndividualsDeductionEntry"><i class="fas fa-delete-left"></i>&nbsp; Delete</a>
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp; Clear</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>

    <div class="card-body" id="Deduction_Div">
        <div class="row">
            <input id="ID" value="0" hidden/>

            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Code")
                    <div class="row">
                        <div class="col-md-4">
                        <input class="form-control" id="SP_ALL_CODE" />
                    </div>
                    <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="btn_SP_ALL_CODE_Modal_D" name="btn_SP_ALL_CODE_Modal_D" data-toggle="modal" data-target="#SP_ALL_CODE_Modal">
                            <i class="fas fa-align-center"></i>
                        </button>
                    </div>
                    <div class="col-md-7">
                        <input class="form-control" id="SP_DESC" />
                    </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("From / To")
                    <div class="row">
                        <div class="col-md-6">
                            <input class="form-control" id="SP_VALID_FROM"/>
                        </div>                    
                        <div class="col-md-6">
                            <input class="form-control" id="SP_VALID_TO"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Amount")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_ALL_AMOUNT" />
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="form-group">
                    @Html.Label("Acount No")
                   <div class="row">
                        <div class="col-md-4">
                        <input class="form-control" id="SP_ACOUNT_NO" />
                    </div>
                    <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="btn_SP_ACOUNT_NO_Modal_D" name="btn_SP_ACOUNT_NO_Modal_D" data-toggle="modal" data-target="#SP_ACOUNT_NO_Modal_D">
                            <i class="fas fa-align-center"></i>
                        </button>
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" id="SP_ACC_DESC" />
                    </div>
                   </div>
                </div>
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="SubmitIndividualsDeductionEntry" id="SubmitIndividualsDeductionEntry" value="Submit" class="btn btn-outline-primary" />
            </div>
        </div>

    </div>
</div>


<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Deduction Details</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body" id="Deduction1_Div">

        <div class="row">
            <input id="ID_D" value="0" hidden />

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Personnel No")
                    <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="SP_P_NO_D" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="btn_SP_P_NO_D_Modal" name="btn_SP_P_NO_D_Modal" data-toggle="modal" data-target="#SP_P_NO_D_Modal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Name")
                    <div class="col-md-12">
                        <input class="form-control" id="P_Name" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Ded Amount")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_DED_AMT" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Remarks")
                    <div class="col-md-12">
                        <input class="form-control" id="SP_REMARKS" />
                    </div>
                </div>
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="SubmitIndividualsDeductionEntry1" id="SubmitIndividualsDeductionEntry1" value="Submit" class="btn btn-outline-primary" />
            </div>
        </div>

    </div>
</div>


<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <table id="tbl_IndividualsDeductionEntry" class="table table-bordered text-center table-hover dTable">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>PERSONNEL NO</th>
                    <th>PERSONNEL NAME</th>
                    <th>DEPT AMOUNT</th>
                    <th>REMARKS</th>
                </tr>
            </thead>
            <tbody id="">
            </tbody>
        </table>
    </div>
</div>


<div class="modal fade" id="SP_ALL_CODE_Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_SP_ALL_CODE_Modal_D" class="table table-bordered text-center table-hover table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>PR NAME</th>
                                <th>DED_CODE</th>
                                <th>DED_DESC</th>
                                <th>VALID_FROM_D</th>
                                <th>VALID_TO_D</th>
                                <th>DED_AMOUNT</th>
                                <th>ACOUNT_NO_D</th>
                                <th>ACC_DESC</th>
                                <th>ID</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="SP_P_NO_D_Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_SP_P_NO_D_Modal" class="table table-bordered text-center table-hover table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>PR NAME</th>
                                <th>PR P NO</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="SP_ACOUNT_NO_Modal_D">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_SP_ACOUNT_NO_Modal_D" class="table table-bordered text-center table-hover dTable">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>SP_ACOUNT_NO_D</th>
                                <th>SP_ACC_DESC</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
