﻿@{
    ViewBag.Title = "LFAEntry";
    ViewBag.Controller = "Home";
    ViewBag.Action = "LFAEntry";
}
<style>
    .displayNone {
        display: none !important;
    }
</style>
<script>
    function AddNew() {
        location.reload();
    }
</script>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">PAYROLL SYSTEM LEAVE FAIR ASSISTANCE</h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp; Clear</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>


    <div class="card-body">
        <div class="row">
            <input id="ID" value="0" hidden />

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Personnel No")
                    <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="LF_P_NO" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="btn_LF_P_NO_Modal" value="btn_LF_P_NO_Modal" data-toggle="modal" data-target="#LFAEntry_LF_P_NO_Modal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>                   
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Name")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_NAME" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Leave Balance")
                    <div class="col-md-12">
                        <input class="form-control" id="LF_LEAV_BAL" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("LFA Amount")
                    <div class="col-md-12">
                        <input class="form-control" id="LF_LFA_AMOUNT" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Approved [Y/N]")
                    <div class="col-md-12">
                        <input class="form-control" id="LF_APPROVED" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Date Of Generation")
                    <div class="col-md-12">
                        <input class="form-control" id="LF_DATE" />
                    </div>
                </div>
            </div>

        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="SubmitLFAEntry" id="SubmitLFAEntry" value="Submit" class="btn btn-outline-primary"/>
                <input type="button" name="VIEWLFAEntry" id="VIEWLFAEntry" value="View" class="btn btn-outline-primary" data-toggle="modal" data-target="#LFAEntry_View_Modal" />
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="LFAEntry_LF_P_NO_Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_LFAEntry_LF_P_NO_Modal" class="table table-bordered text-center table-hover dTable">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>LF_P_NO</th>
                                <th>PR_NAME</th>                               
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="LFAEntry_View_Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_LFAEntry_LF_P_NO_View" class="table table-bordered text-center table-hover dTable">
                        <thead class="Custom-Table-Head">
                            <tr>
                               <th>ID</th>   
                               <th>P_NO</th>
                               <th>DATE</th>
                               <th>LEAV_BAL</th>
                               <th>LFA_AMOUNT</th>
                               <th>APPROVED</th>
                               <th>PR_NAME</th>
                               <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
