﻿@{
    ViewBag.Title = "Loan Update";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Loan Update";
}
<style>
    .displayNone {
        display: none !important;
    }
</style>
<script>
    function AddNew() {
        location.reload();
    }
</script>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <input type="button" name="Submit_LoanUpdate" id="Submit_LoanUpdate" value="Submit" class="btn btn-outline-primary" />
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp; Clear</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>    
</div>

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Loan Booking Information</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <div class="row">
            <input id="ID" value="0" hidden/>
            <input id="LoanUpdatePage" hidden />
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Personnel No")
                   <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="PR_P_NO" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="btn_PR_P_NO_LoanUpdate_Modal" name="btn_PR_P_NO_LoanUpdate_Modal" data-toggle="modal" data-target="#PR_P_NOModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Loan Type")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_TYPE" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Finance No")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_FINANCE_NO" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("End Date")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_END_DATE" type="date" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Availed Amt")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_AMT_AVAILED" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Credit Ratio")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_C_RATIO_PER" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Branch")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_BRANCH" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Payment Schedule")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_PAY_SCHED" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Start Date")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_START_DATE" type="date" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Extra Time")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_EXTRA_TIME" type="date"/>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Monthly Deduction")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_MONTHLY_DED" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Liquidation Flag")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_LIQUIDATE" />
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Monthly Installment Information</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <div class="row">
            <input id="ID1" value="0" hidden />

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Date")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_MDATE" type="date" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Debit")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_DEBIT" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Credit")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_CREDIT" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Pay Left")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_PAY_LEFT" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("O/S Balance")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_BALANCE" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Loan Balance")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_LOAN_BALANCE" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Markup")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_MARKUP" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Flag")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_LIQ_FLAG" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Branch")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_M_BRANCH" />
                    </div>
                </div>
            </div>

        </div>       
    </div>
</div>


<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"> </h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <table id="tbl_Monthly_Install_Info" class="table table-bordered text-center table-hover dTable">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>Date</th>
                    <th>Debit</th>
                    <th>Credit</th>
                    <th>Pay Left</th>
                    <th>O/S Balance</th>
                    <th>Loan Balance</th>
                    <th>Markup</th>
                    <th>Flag</th>
                    <th>Branch</th>                  
                </tr>
            </thead>
            <tbody id="">
            </tbody>
        </table>
    </div>
</div>




<div class="modal fade" id="PR_P_NOModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_LoanUpdate_PR_P_NO_Modal" class="table table-bordered text-center table-hover table-sm dTable" width="100%">
                        <thead class="Custom-Table-Head">
                            
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

