﻿@{
    ViewBag.Title = "PR111 Serial No";
    ViewBag.Controller = "Home";
    ViewBag.Action = "PR111 Serial No";
}
<style>
    .displayNone {
        display: none !important;
    }
</style>
<script>
    function AddNew() {
        location.reload();
    }
</script>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Employee Serial Number</h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp; Clear</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Last Generated Employee Number")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_SNO" />
                        <input id="ID" value="0" hidden />
                        <input id="PR_TYPE" value="" hidden />
                    </div>
                </div>
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="Submit_PR111_Serial_No" id="Submit_PR111_Serial_No" value="Submit" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
</div>