﻿@{
    ViewBag.Title = "Salary Advance Entry";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Salary Advance Entry";
}
<style>
    .displayNone {
        display: none !important;
    }
</style>
<script>
    function AddNew() {
        location.reload();
    }
</script>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">PAYROLL SYSTEM SALARY ADVANCE</h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp; Clear</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>

   
    <div class="card-body">
        <div class="row">
            <input id="ID" value="0" hidden/>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Personnel No")
                    <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="SA_P_NO" name="SA_P_NO" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="btn_SA_P_NO_Modal" name="btn_SA_P_NO_Modal" data-toggle="modal" data-target="#SalaryAdvanceEntry_SA_P_NO_Modal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div> 
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Name")
                    <div class="col-md-12">
                        <input class="form-control" id="Name" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Month 1")
                    <div class="col-md-12">
                        <input class="form-control" id="SA_FOR_THE_MONTH1" name="SA_FOR_THE_MONTH1" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Month 2")
                    <div class="col-md-12">
                        <input class="form-control" id="SA_FOR_THE_MONTH2" name="SA_FOR_THE_MONTH2" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Advance Amount")
                    <div class="col-md-12">
                        <input class="form-control" id="SA_ADV_AMOUNT" name="SA_ADV_AMOUNT" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Date On Which Advance Was Taken")
                   <div class="col-md-12">
                        <input class="form-control" id="SA_DATE" />
                    </div>
                </div>
            </div>

        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="SubmitSalaryAdvanceEntry" id="SubmitSalaryAdvanceEntry" value="Submit" class="btn btn-outline-primary" />
                <input type="button" name="ModifySalaryAdvanceEntry" id="ModifySalaryAdvanceEntry" value="Modify/View" class="btn btn-outline-primary" data-toggle="modal" data-target="#SalaryAdvanceEntry_Modify_Modal" />
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="SalaryAdvanceEntry_SA_P_NO_Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_SalaryAdvanceEntry_SA_P_NO_Modal" class="table table-bordered text-center table-hover dTable">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>NAME</th>
                                <th>SA P NO</th>                                
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="SalaryAdvanceEntry_Modify_Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_Modify_SalaryAdvanceEntry" class="table table-bordered text-center table-hover dTable">
                        <thead class="Custom-Table-Head">
                            <tr>                               
                                <th>P_NO</th>
                                <th>DATE</th>
                                <th>ADV_AMOUNT</th>
                                <th>FOR_THE_MONTH1</th>
                                <th>FOR_THE_MONTH2</th>
                                <th>PAYROLL_GEN</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
