﻿@{
    ViewBag.Title = "Salary Update";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Salary Update";
}
<style>
    .displayNone {
        display: none !important;
    }
</style>
<script>
    function AddNew() {
        location.reload();
    }
</script>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Salary Updation</h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp; Clear</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>

    <div class="card-body">
        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("P No")
                    <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="PR_P_NO" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="btn_PR_P_NO_SalaryUpdate_Modal" name="btn_PR_P_NO_SalaryUpdate_Modal" data-toggle="modal" data-target="#PR_P_NOModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Name")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_FIRST_NAME" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Branch")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_NEW_BRANCH" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Designation")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_DESIG" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Category")
                    <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="PR_CATEGORY" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="btn_PR_CATEGORY_SalaryUpdate_Modal" name="btn_PR_CATEGORY_SalaryUpdate_Modal" data-toggle="modal" data-target="#PR_CATEGORYModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Annual Package")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_ANNUAL_PACK" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Conf Date")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_CONFIRM_ON" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Level")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_LEVEL" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Joining Date")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_JOINING_DATE"/>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Monthly Award")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_MONTH_AWARD" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Confirmed Y/N")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_CONF_FLAG" />
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="card-body">
        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Salary Date")
                    <div class="col-md-12">
                        <input class="form-control" id="PA_DATE" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Basic")
                    <div class="col-md-12">
                        <input class="form-control" id="PA_BASIC" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Conveyance")
                    <div class="col-md-12">
                        <input class="form-control" id="PA_CONV_OFF" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Income Tax")
                    <div class="col-md-12">
                        <input class="form-control" id="PA_INCOME_TAX" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Loan Interest")
                    <div class="col-md-12">
                        <input class="form-control" id="PA_L_INTREST" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Loan Install")
                    <div class="col-md-12">
                        <input class="form-control" id="PA_L_INSTALL" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Worked Days")
                    <div class="col-md-12">
                        <input class="form-control" id="PA_WORKED_DAYS" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("House")
                    <div class="col-md-12">
                        <input class="form-control" id="PA_HOUSE" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("P Fund")
                    <div class="col-md-12">
                        <input class="form-control" id="PA_PFUND" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Ins Premium")
                    <div class="col-md-12">
                        <input class="form-control" id="PA_INS_PREMIUM" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Finance Int")
                    <div class="col-md-12">
                        <input class="form-control" id="PA_F_INTREST" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Finance Inst")
                    <div class="col-md-12">
                        <input class="form-control" id="PA_F_INSTALL" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Sal Advance")
                    <div class="col-md-12">
                        <input class="form-control" id="PA_SAL_ADVANCE" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Branch")
                    <div class="col-md-12">
                        <input class="form-control" id="PA_BRANCH" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Pay Flg ")
                    <div class="col-md-12">
                        <input class="form-control" id="PA_FLAG" />
                    </div>
                </div>
            </div>
           
        </div>
    </div>

</div>

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Other Allowances</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Allowance Code")
                   <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="PW_ALL_CODE" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="btn_PW_ALL_CODE_SalaryUpdate_Modal" name="btn_PW_ALL_CODE_SalaryUpdate_Modal" data-toggle="modal" data-target="#PW_ALL_CODEModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="form-group">
                    @Html.Label("Allowances Amount")
                    <div class="col-md-12">
                        <input class="form-control" id="PW_ALL_AMOUNT" />
                    </div>
                </div>
            </div>

           @*  <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Date")
                    <div class="row">
                        <div class="col-md-12">
                            <input class="form-control" id="PA_DATE" disabled/>
                        </div>
                        <div class="col-md-4">
                            <input id="PW_PAY_DATE" hidden />
                        </div>
                        <div class="col-md-4">
                            <input class="form-control" id="PR_P_NO" hidden />
                        </div>
                    </div>
                </div>
            </div> *@

        </div>
    </div>
</div>

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Deductions</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Deduction Code")
                    <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="PD_DED_CODE" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="btn_PD_DED_CODE_SalaryUpdate_Modal" name="btn_PD_DED_CODE_SalaryUpdate_Modal" data-toggle="modal" data-target="#PD_DED_CODEModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="form-group">
                    @Html.Label("Deduction Amount")
                    <div class="col-md-12">
                        <input class="form-control" id="PD_DED_AMOUNT" />
                    </div>
                </div>
            </div>

         @*    <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Date")
                   <div class="row">
                        <div class="col-md-12">
                            <input class="form-control" id="PA_DATE_D" disabled />
                        </div>
                        <div class="col-md-4">
                            <input id="PD_PAY_DATE" hidden/>
                        </div>
                        <div class="col-md-4">
                            <input id="PD_P_NO"  hidden />
                        </div>
                    </div>
                </div>
            </div> *@

        </div>
    </div>
</div>

<div class="modal fade" id="PR_P_NOModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_SalaryUpdate_PR_P_NO_Modal" class="table table-bordered text-center table-hover table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>PR P NO</th>
                                <th>PR FIRST NAME</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="PR_CATEGORYModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_PR_CATEGORY_SalaryUpdate_Modal" class="table table-bordered text-center table-hover table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>PR CATEGORY</th>
                                <th>SP DESC</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="PW_ALL_CODEModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_PW_ALL_CODE_SalaryUpdate_Modal" class="table table-bordered text-center table-hover table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>ALL CODE</th>
                                <th>ALL AMOUNT</th>
                                <th>DESC</th>
                                <th>DESG A</th>
                                <th>LEVEL A</th>
                                <th>CATEGORY A</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="PD_DED_CODEModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_PD_DED_CODE_SalaryUpdate_Modal" class="table table-bordered text-center table-hover table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>DED CODE</th>
                                <th>DED AMOUNT</th>
                                <th>DED DESC</th>
                                <th>DESG A</th>
                                <th>LEVEL A</th>
                                <th>CATEGORY A</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
