﻿@{
    ViewBag.Title = "Salary Entry";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Salary Entry";
}
<style>
    .displayNone {
        display: none !important;
    }
</style>
<script>
    function AddNew() {
        location.reload();
    }
</script>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Union Arrears Processing</h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp; Clear</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>

  
    <div class="card-body">
        <div class="row">
            <input id="pr_category" hidden />

            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Start From/To")
                    <div class="row">
                        <div class="col-md-6">
                            <input class="form-control" id="W_FROM" />
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" id="W_TO" />
                        </div>
                    </div>                    
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Branch")
                    <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="W_BRN" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="btn_Branch_Modal" name="btn_Branch_Modal" data-toggle="modal" data-target="#BranchModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Old Meal")
                    <div class="col-md-12">
                        <input class="form-control" id="W_MOLD" type="number" />
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    @Html.Label("Old Conv")
                    <div class="col-md-12">
                        <input class="form-control" id="W_COLD" type="number" />
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    @Html.Label("Old LFA")
                    <div class="col-md-12">
                        <input class="form-control" id="W_LFA" type="number" />
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    @Html.Label("Old Medical")
                    <div class="col-md-12">
                        <input class="form-control" id="W_MED" type="number" />
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    @Html.Label("New Meal")
                    <div class="col-md-12">
                        <input class="form-control" id="W_MEAL_AMT" type="number" />
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    @Html.Label("New Conv")
                    <div class="col-md-12">
                        <input class="form-control" id="W_CONV_AMT" type="number" />
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    @Html.Label("New LFA")
                    <div class="col-md-12">
                        <input class="form-control" id="W_NEW_LFA" type="number" />
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    @Html.Label("New Medical")
                    <div class="col-md-12">
                        <input class="form-control" id="W_NEW_MED" type="number" />
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    @Html.Label("Start Processing [Y/N]")
                    <div class="col-md-12">
                        <input class="form-control" id="W_ANS" name="W_ANS" />
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    @Html.Label("Processing  Employee No")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_P_NO" name="PR_P_NO" />
                    </div>
                </div>
            </div>

        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="Process_SalaryEntry" id="Process_SalaryEntry" value="Start Process" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="BranchModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_branch" class="table table-bordered text-center table-hover dTable">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>BRN_CODE</th>
                                <th>BRN_NAME</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


