﻿@{
    ViewBag.Title = "Shift Entry";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Shift Entry";
}
<style>
    .displayNone {
        display: none !important;
    }
</style>
<script>
    function AddNew() {
        location.reload();
    }
</script>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp; Clear</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>


    <div class="card-body">
        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Enter Month")
                    <div class="col-md-12">
                        <input class="form-control" id="Month" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Year")
                    <div class="col-md-12">
                        <input class="form-control" id="Year" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("User / Location")
                    <div class="row">
                        <div class="col-md-6">
                            <input class="form-control" id="User1" />
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" id="Location1" />
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("P No")
                   <div class="row">
                        <div class="col-md-4">
                            <input class="form-control" id="PR_P_NO" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#PR_P_NOModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" id="PNAME" />
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
        <input type="button" name="VIEW" value="VIEW" class="btn btn-outline-primary" />
        </div>
        </div>
    </div>
</div>


<div class="modal fade" id="BranchModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="" class="table table-bordered text-center table-hover dTable">
                        <thead class="Custom-Table-Head">
                            <tr>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


