﻿@{
    ViewBag.Title = "View Tax Details";
    ViewBag.Controller = "Home";
    ViewBag.Action = "View Tax Details";
}
<style>
    .displayNone {
        display: none !important;
    }
</style>


<script>
    function AddNew() {
        location.reload();
    }
</script>


<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp; Clear</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
</div>


<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Select Employe For Tax Details</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">

        <div class="row">
            <input id="View_Tax_Details_Page" hidden/>
            <input  id="ID" value="0" hidden/>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Personnel No")
                   <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="PR_P_NO" disabled />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#PR_P_NO_Modal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Name")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_FIRST_NAME" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Designation")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_DESIG" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Category")
                    <div class="row">
                        <div class="col-md-12">
                            <input class="form-control" id="PR_CATEGORY" disabled />
                        </div>                        
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Annual Package")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_ANNUAL_PACK" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Conf Date")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_CONFIRM_ON" type="date" disabled/>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Branch")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_NEW_BRANCH"  disabled/>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Level")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_LEVEL" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Joining Date")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_JOINING_DATE" type="date" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Monthly Award")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_MONTH_AWARD" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Confirmed Y/N")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_CONF_FLAG" disabled />
                    </div>
                </div>
            </div>

        </div>
        
    </div>
</div>


<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">View Tax Details</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">

        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Select Date")
                    <div class="col-md-12">
                        <input class="form-control" id="SelectDate" type="date"/>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Start Date Of Cal")
                    <div class="col-md-12">
                        <input class="form-control" id="START_DATE_OF_CAL"  disabled/>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("End Date Of Cal")
                    <div class="col-md-12">
                        <input class="form-control" id="END_DATE_OF_CALC" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Subs Loan Tax Amt")
                    <div class="col-md-12">
                        <input class="form-control" id="TXT_SUBS_LOAN_TAX_AMT" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Annual Salary")
                    <div class="col-md-12">
                        <input class="form-control" id="ANNUAL_SALARY" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Gross Salary")
                    <div class="col-md-12">
                        <input class="form-control" id="GROSS_SALARY" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Annual PF")
                    <div class="col-md-12">
                        <input class="form-control" id="ANNUAL_PF" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("PF Exempt")
                    <div class="col-md-12">
                        <input class="form-control" id="PF_EXEMPT" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Car Allownce")
                    <div class="col-md-12">
                        <input class="form-control" id="CAR_ALLOWNCE" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("GHA Allownce")
                    <div class="col-md-12">
                        <input class="form-control" id="GHA_ALLOWNCE" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("OPD Allownce")
                    <div class="col-md-12">
                        <input class="form-control" id="OPD_ALLOWNCE" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Fuel Allownce")
                    <div class="col-md-12">
                        <input class="form-control" id="FUEL_ALLONCE" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Other Allownce")
                    <div class="col-md-12">
                        <input class="form-control" id="OTHER_ALLOWNCE" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Zakat Allownce")
                    <div class="col-md-12">
                        <input class="form-control" id="ZAKAT_DONATION" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Bounce Payments")
                    <div class="col-md-12">
                        <input class="form-control" id="BONUS_PAYMENT"  disabled/>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Divident Stock")
                    <div class="col-md-12">
                        <input class="form-control" id="DIVIDENT_STOCK" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("HL Markup")
                    <div class="col-md-12">
                        <input class="form-control" id="HL_MARKUP" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Global W 10 amt")
                    <div class="col-md-12">
                        <input class="form-control" id="GLOBAL_W_10_AMT"  disabled/>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Investment")
                    <div class="col-md-12">
                        <input class="form-control" id="Investment" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Rebate")
                    <div class="col-md-12">
                        <input class="form-control" id="Invrebate" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Donation")
                    <div class="col-md-12">
                        <input class="form-control" id="Donation" disabled/>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Rebate")
                    <div class="col-md-12">
                        <input class="form-control" id="DonationRebate"  disabled/>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("V.Tax / Utilities / Other Taxes")
                    <div class="col-md-12">
                        <input class="form-control" id="Utilities" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Total Taxable Income")
                    <div class="col-md-12">
                        <input class="form-control" id="TOTAL_TAXABLE_INCOME" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Amount Exceeding Excemption Limit")
                    <div class="col-md-12">
                        <input class="form-control" id="AMOUNT_EXCEEDING_EXCEMPTION_LIMIT" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Fixed Tax")
                    <div class="col-md-12">
                        <input class="form-control" id="FIXED_TAX" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Var Tax")
                    <div class="col-md-12">
                        <input class="form-control" id="VAR_TAX" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Tax Exempt Limit from Slab")
                    <div class="col-md-12">
                        <input class="form-control" id="TAX_EXEMPT_LIMIT_FROM_SLAB" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Tax Already Paid")
                    <div class="col-md-12">
                        <input class="form-control" id="TAX_ALREADY_PAID" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Tax Rate From Slab")
                    <div class="col-md-12">
                        <input class="form-control" id="TAX_RATE_FROM_SLAB" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Final Annual Tax")
                    <div class="col-md-12">
                        <input class="form-control" id="FINAL_ANNUAL_TAX"  disabled/>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Ramaining Months")
                    <div class="col-md-12">
                        <input class="form-control" id="REMAINING_MONTHS"  disabled/>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("W ITax")
                    <div class="col-md-12">
                        <input class="form-control" id="W_ITAX" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("W Inst L")
                    <div class="col-md-12">
                        <input class="form-control" id="W_INST_L"  disabled/>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Global W Inc Amt")
                    <div class="col-md-12">
                        <input class="form-control" id="GLOBAL_W_INC_AMT" disabled />
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="PR_P_NO_Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_View_Info_PR_P_NO_Modal" class="table table-bordered text-center table-hover table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
