﻿@{
    ViewBag.Title = "Zakat Entry";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Zakat Entry";
}
<style>
    .displayNone {
        display: none !important;
    }
</style>
<script>
    function AddNew() {
        location.reload();
    }
</script>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">PAYROLL SYSTEM ZAKAT/ TAX REFUND ENTRY</h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp; Clear</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>


    <div class="card-body">

        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("P No")
                    <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="PR_P_NO" disabled />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="btn_PR_P_NO_Zakat_Entry_Modal" name="btn_PR_P_NO_Zakat_Entry_Modal" data-toggle="modal" data-target="#Zakat_Entry_PR_P_NO_Modal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>             
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("First Name")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_NAME" disabled />
                    </div>                    
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Zakat Amount")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_ZAKAT_AMT" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Tax Refund Amount")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_REFUND_AMT" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Refund For the Year")
                    <div class="row">
                        <div class="col-md-6">
                            <input class="form-control" id="PR_REFUND_FOR1" />
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" id="PR_REFUND_FOR2" />
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="Submit_Zakat_Entry" id="Submit_Zakat_Entry" value="Submit" class="btn btn-outline-primary" />
                <input type="button" name="Delete_Zakat_Entry" id="Delete_Zakat_Entry" value="Delete" class="btn btn-outline-danger" />
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="Zakat_Entry_PR_P_NO_Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_Zakat_Entry_Modal" class="table table-bordered text-center table-hover dTable">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>PR NO</th>
                                <th>NAME</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


