﻿@{
    ViewBag.Title = "CF Entry GHIDE03";
    ViewBag.Controller = "Home";
    ViewBag.Action = "CF Entry GHIDE03";
}
<script>
    function AddNew() {
        location.reload();
    }
</script>

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">GROUP HOSPITALIZATION CLAIM FORM ENTRY</h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp;Add New</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">

        <input id="CFEnt" hidden />
        <input id="ID" value="0" hidden />

        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Policy No")
                    <dive class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="CLA_POLICY"/>
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="btn_CLA_POLICY" name="btn_CLA_POLICY" data-toggle="modal" data-target="#CLA_POLICYModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </dive>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("[C]lerical/[O]fficer")
                    <div class="row">
                        <div class="col-md-4">
                            <input class="form-control" id="Pol_Ctt_Off" />
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" id="Pol_Ctt_Off1" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Personnel No")
                    <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="CLA_P_NO" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="btn_CLA_P_NO" name="btn_CLA_P_NO" data-toggle="modal" data-target="#CLA_P_NOModal">
                            <i class="fas fa-align-center"></i>
                        </button>
                        </div>
                    </div>
                </div>
            </div>
            

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Insured Person")
                    <div class="col-md-12">
                        <input class="form-control" id="Person_Name" />
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("S No")
                    <div class="col-md-12">
                        <input class="form-control" id="CLA_S_NO" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Date")
                    <div class="col-md-12">
                        <input class="form-control" id="CLA_DATE" type="date" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Claimed Amount")
                    <div class="col-md-12">
                        <input class="form-control" id="CLA_CLAIMED_AMT" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Amount Received")
                    <div class="col-md-12">
                        <input class="form-control" id="CLA_REC_AMT" />
                    </div>
                </div>
            </div>


        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="btn_CFEntry_GHIDE03" id="btn_CFEntry_GHIDE03" value="Submit" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>


</div>

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"> </h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <table id="tbl_CFEntry_GHIDE03" class="table table-bordered text-center table-hover table-sm" width="100%">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>S NO</th>
                    <th>DATE</th>
                    <th>CLAIMED AMOUNT</th>
                    <th>AMOUNT RECEIVED</th>
                </tr>
            </thead>
            <tbody id="">
            </tbody>
        </table>
    </div>
</div>


<div class="modal fade" id="CLA_POLICYModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_CLA_POLICY" class="table table-bordered text-center table-hover table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>                               
                                <th>CLA POLICY</th>
                                <th>POL CTT OFF</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="CLA_P_NOModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_CLA_P_NO" class="table table-bordered text-center table-hover table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>PERSON NAME</th>
                                <th>CLA P NO</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
