﻿@{
    ViewBag.Title = "CF Entry OMIDE03";
    ViewBag.Controller = "Home";
    ViewBag.Action = "CF Entry OIDE03";
}
<script>
    function AddNew() {
        location.reload();
    }
</script>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">OUT PATIENT MEDICAL CLAIM FORM ENTRY</h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp;Add New</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">

        <input id="PR_OPD" hidden />
        <input id="W_TRANSFER_DATE" hidden />
        <input id="W_JOINING_DATE" hidden />
        <input id="W_MARRIAGE_DATE" hidden />
        <input id="W_STATUS" hidden />
        <div class="row">
                        
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Personnel No")
                    <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="OMI_P_NO" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="btn_OMI_P_NO_CFEnt_OMIDE03" name="btn_OMI_P_NO_CFEnt_OMIDE03" data-toggle="modal" data-target="#OMI_P_NOModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Name")
                    <div class="col-md-12">
                        <input class="form-control" id="NAME" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Branch")
                    <div class="col-md-12">
                        <input class="form-control" id="W_BNAME" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Total Claims")
                    <div class="col-md-12">
                        <input class="form-control" id="OMI_TOTAL_CLAIMS" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Claim For The Month Of")
                   <div class="row">
                        <div class="col-md-5">
                            <input class="form-control" id="W_MONTH" />
                        </div>/
                        <div class="col-md-5">
                            <input class="form-control" id="W_YEAR" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#MONTHYEAR_LOV_Modal" id="btn_MONTHYEAR_LOV" name="btn_MONTHYEAR_LOV">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Total OMI Limit")
                    <div class="col-md-12">
                        <input class="form-control" id="W_OMI_LIMIT" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Total Amt Claimed/Recv")
                    <div class="col-md-12">
                        <input class="form-control" id="OMI_TOTAL_CALIM1" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Outstanding Balance")
                    <div class="col-md-12">
                        <input class="form-control" id="W_OS_BALANCE" />
                    </div>
                </div>
            </div>
        </div>

        <hr />

        <h5><u>OMI Limit:</u></h5>

        <div class="row">
           

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Self")
                    <div class="col-md-12">
                        <input class="form-control" id="W_SELF" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Spouse")
                    <div class="col-md-12">
                        <input class="form-control" id="W_SPOUSE" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Childern")
                    <div class="col-md-12">
                        <input class="form-control" id="W_CHILD" />
                    </div>
                </div>
            </div>

        </div>

        <hr />

        <h5><u>Balance:</u></h5>

        <div class="row">
           

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Self")
                    <div class="col-md-12">
                        <input class="form-control" id="OMI_SELF" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Spouse")
                    <div class="col-md-12">
                        <input class="form-control" id="OMI_SPOUSE" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Childern")
                    <div class="col-md-12">
                        <input class="form-control" id="OMI_CHILD" />
                    </div>
                </div>
            </div>

        </div>

        <hr />

        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("S No")
                    <div class="col-md-12">
                        <input class="form-control" id="OMI_CLAIM_NO" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Bill Date")
                    <div class="col-md-12">
                        <input class="form-control" id="OMI_BILL_DATE" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Patient`s Name")
                    <div class="col-md-12">
                        <input class="form-control" id="OMI_PATIENTS_NAME" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Relation")
                    <div class="col-md-12">
                        <input class="form-control" id="OMI_RELATION" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Amount")
                    <div class="col-md-12">
                        <input class="form-control" id="OMI_CLAIM_AMOUNT" />
                    </div>
                </div>
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="Submit" value="Submit" class="btn btn-outline-primary" />
            </div>
        </div>

    </div>


</div>

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"> </h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <table id="Tbl_Dept_CFEnt_OMIDE03" class="table table-bordered text-center table-hover table-sm" width="100%">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>SEG</th>
                    <th>DEPT</th>
                    <th>CONTB</th>
                </tr>
            </thead>
            <tbody id="">
            </tbody>
        </table>
    </div>
</div>


<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"> </h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <table id="tbl_CFEnt_OMIDE03_M" class="table table-bordered text-center table-hover table-sm" width="100%">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>S NO</th>
                    <th>BILL DATE</th>
                    <th>PATIENT'S NAME</th>
                    <th>RELATION</th>
                    <th>AMOUNT</th>
                </tr>
            </thead>
            <tbody id="">
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="OMI_P_NOModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="Tbl_OMI_P_NO_CFEnt_OMIDE03" class="table table-bordered text-center table-hover table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>NAME</th>
                                <th>OMI P NO</th>
                                <th>PR OPD</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="MONTHYEAR_LOV_Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_MONTHYEAR_LOV" class="table table-bordered text-center table-hover table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                               <th>OMI P NO</th>
                               <th>W MONTH</th>
                               <th>W YEAR</th>
                               <th>OMI TOTAL CLAIMS</th>
                               <th>OMI TOTAL CLAIM</th>
                               <th>OMI TOTAL RECEIVE</th>
                               <th>OMI SELF</th>
                               <th>OMI SPOUSE</th>
                               <th>OMI CHILD</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
