﻿@{
    ViewBag.Title = "ENROLLMENT LETTER";
    ViewBag.Controller = "Home";
    ViewBag.Action = "ENROLLMENT LETTER";
}
<script>
    function AddNew() {
        location.reload();
    }
</script>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">LIFE INSURANCE ENROLLMENT ENTRY</h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp;Add New</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">

        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Enter Personnel No")
                    <div class="row">
                        <div class="col-md-8">
                            <input class="form-control" id="PR_P_NO" />
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary" id="btn_PR_P_NO_Enrol_Let" name="btn_PR_P_NO_Enrol_Let">
                                Submit
                            </button>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>

    </div>
</div>

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"> </h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <table id="tbl_EnrollmentLetter" class="table table-bordered text-center table-hover table-sm" width="100%">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>S NO</th>
                    <th>NAME</th>
                    <th>DATE OF JOINING</th>
                    <th>IENROLLED[Y/N]</th>
                </tr>
            </thead>
            <tbody id="">
            </tbody>
        </table>
    </div>
</div>



