﻿@{
    ViewBag.Title = "OMI Lim Calc";
    ViewBag.Controller = "Home";
    ViewBag.Action = "OMI Lim Calc";
}

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">GROUP HOSPITALIZATION PROCESS</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Enter Month / Year")
                    <div class="row">
                        <div class="col-md-6">
                            <input class="form-control" id="W_Month" />
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" id="W_Year" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="btn_OMILimCalc" id="btn_OMILimCalc" value="Run" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>   
</div>
