﻿@{
    ViewBag.Title = "Pay Entry";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Pay Entry";
}
<script>
    function AddNew() {
        location.reload();
    }
</script>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">OUT PATIENT MEDICAL PAYMENT ENTRY</h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp;Add New</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">

        <input id="PayEntry" hidden />

        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Claim For The Month Of")
                    <div class="row">
                        <div class="col-md-2">
                            <input class="form-control" id="omi_month" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="btn_MonthYearLOV" name="btn_MonthYearLOV" data-toggle="modal" data-target="#W_MonthModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" id="omi_year" />
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"> </h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <table id="tbl_PayEntry" class="table table-bordered text-center table-hover table-sm" width="100%">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>P NO</th>
                    <th>NAME</th>
                    <th>CLAIMED AMOUNT</th>
                    <th>AMOUNT RECEIVED</th>
                </tr>
            </thead>
            <tbody id="">
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="W_MonthModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_MonthYearLOV" class="table table-bordered text-center table-hover table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>OMI MONTH</th>
                                <th>OMI YEAR</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
