﻿@{
    ViewBag.Title = "Per Claim Qr";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Per Claim Qr";
}
<script>
    function AddNew() {
        location.reload();
    }
</script>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">OUT PATIENT MEDICAL OMI CLAIM QUERY</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#List_Modal" id="btn_List" name="btn_List">List <i class="fas fa-list"></i></button>
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp;Add New</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">

        <input value="0" id="ID" hidden />
        <input id="ENROLL" hidden />
        <input id="W_JOINING_DATE" hidden />
        <input id="W_CAT" hidden />
        <input id="W_MARRIAGE_DATE" hidden />
        <input id="W_STATUS" hidden />
        <input id="OMI_YEAR" hidden />

        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Personnel No")
                   <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="OMI_P_NO" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="btn_LOV_PNO" name="btn_LOV_PNO" data-toggle="modal" data-target="#OMI_P_NOModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>              
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Name")
                    <div class="col-md-12">
                        <input class="form-control" id="W_NAME" />
                    </div>                    
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Branch")
                    <div class="col-md-12">
                        <input class="form-control" id="W_Branch" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Total OMI Limit")
                    <div class="col-md-12">
                        <input class="form-control" id="W_Omi_Limit" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Total Amt Claimed/Recv")
                    <div class="col-md-12">
                        <input class="form-control" id="Omi_Total_Claim" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Outstanding Balance")
                    <div class="col-md-12">
                        <input class="form-control" id="W_Os_Balance" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Self")
                    <div class="col-md-12">
                        <input class="form-control" id="W_Self" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Spouse")
                    <div class="col-md-12">
                        <input class="form-control" id="W_Spouse" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Childern")
                    <div class="col-md-12">
                        <input class="form-control" id="W_Child" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Self")
                    <div class="col-md-12">
                        <input class="form-control" id="OMI_SELF" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Spouse")
                    <div class="col-md-12">
                        <input class="form-control" id="OMI_SPOUSE" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Childern")
                    <div class="col-md-12">
                        <input class="form-control" id="OMI_CHILD" />
                    </div>
                </div>
            </div>


        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" id="btn_PerClaimQr_proc" name="btn_PerClaimQr_proc" value="START PROCESS" class="btn btn-outline-primary" />
            </div>
        </div>

    </div>


</div>

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"> </h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <table id="Tbl_Dept" class="table table-bordered text-center table-hover table-sm" width="100%">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>SEG</th>
                    <th>DEPT</th>
                    <th>CONTB</th>
                </tr>
            </thead>
            <tbody id="">
            </tbody>
        </table>
    </div>
</div>

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"> </h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <table id="tbl_List" class="table table-bordered text-center table-hover table-sm" width="100%">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>MONTH</th>
                    <th>YEAR</th>
                    <th>BILL DATE</th>
                    <th>PATIENT NAME</th>
                    <th>RELATION</th>
                    <th>CLAIM AMOUNT</th>
                    <th>RECEV</th>
                </tr>
            </thead>
            <tbody id="">
            </tbody>
        </table>
    </div>
</div>


<div class="modal fade" id="OMI_P_NOModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_LOV_PNO" class="table table-bordered text-center table-hover table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>ENROLL</th>                                
                                <th>OMI_P_NO</th>                     
                                <th>W_Branch</th>                     
                                <th>W_CAT</th>                  
                                <th>W_JOINING_DATE </th>                           
                                <th>W_MARRIAGE_DATE</th>                            
                                <th>W_NAME</th>                    
                                <th>W_STATUS</th>
                               
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="List_Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_List1" class="table table-bordered text-center table-hover table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                               
                                <th>OMI_CHILD</th> 
                                <th>OMI_MONTH</th>
                                <th>OMI_P_NO</th>
                                <th>OMI_SELF</th>
                                <th>OMI_SPOUSE</th>
                                <th>OMI_TOTAL_CLAIM</th>
                                <th>OMI_TOTAL_CLAIMS</th>
                                <th>OMI_TOTAL_RECEV</th>
                                <th>OMI_YEAR</th>

                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>















