﻿@{
    ViewBag.Title = "Policy Info Detail";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Policy Info Detail";
}
<script>
    function AddNew() {
        location.reload();
    }
</script>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">SETUP ENTRY</h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp;Add New</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <input id="PID" hidden />
    <input id="ID" hidden value="0" />
    <!-- /.Case Form Start -->
    <div class="card-body">
        <div class="row">
          <strong>
                01) Group Life Insurance  <br />
                02) Group Hospitalization <br />
                03) Out Patient Medical   <br />
            </strong>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">          
                    <div class="row">
                        <div class="col-md-6">
                            <input class="form-control" id="txt_choice" />
                        </div>
                        <div class="col-md-6">
                            <input type="button" id="btn_Choice" name="btn_Choice" value="Enter" class="btn btn-outline-primary" />
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        
    </div>
    <div id="abc" class="card-body">

        <div id="d1" class="row">

            <div class="col-md-3">
                <div class="form-group">
                    <label>&nbsp;&nbsp;</label>
                    <div class="col-md-10">
                        <input class="form-control" id="W_Opt_Desc" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    @Html.Label("Date")
                    <div class="col-md-12">
                        <input class="form-control" id="TodayDate" disabled />
                    </div>
                </div>
            </div>

        </div>

        <div id="d2" class="row">

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Policy No")
                    <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="POL_POLICY_NO" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="btn_POL_POLICY_NO_Modal" name="btn_POL_POLICY_NO_Modal" data-toggle="modal" data-target="#POL_POLICY_NO_Modal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>                    
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Branch")
                    <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="POL_BRANCH" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="btn_POL_BRANCH" name="btn_POL_BRANCH" data-toggle="modal" data-target="#Pol_Branch_Modal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Segment")
                    <div class="col-md-12">
                        <input class="form-control" id="POL_SEGMENT" />
                    </div>                    
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Policy Type")
                    <div class="col-md-12">
                        <input class="form-control" id="POL_POLICY_TYPE" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("[C]lerical / [O]fficer")
                    <div class="row">
                        <div class="col-md-4">
                            <input class="form-control" id="POL_CTT_OFF" />
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" id="POL_CTT_OFF_DESCRIPTION" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("From / To")
                   <div class="row">
                        <div class="col-md-6">
                            <input class="form-control" id="POL_FROM" type="date" />
                        </div>

                        <div class="col-md-6">
                            <input class="form-control" id="POL_TO" type="date" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Contact Person")
                    <div class="col-md-12">
                        <input class="form-control" id="POL_CONTACT_PER" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Company Name")
                    <div class="row">
                        <div class="col-md-6">
                            <input class="form-control" id="POL_COMP_NAME1" />
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" id="POL_COMP_NAME2" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("Address")
                    <div class="row">
                        <div class="col-md-3">
                            <input class="form-control" id="POL_ADD1" />
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" id="POL_ADD2" />
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" id="POL_ADD3" />
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" id="POL_ADD4" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="d_01" class="row">

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Coverage (ASR multiples)")
                    <div class="col-md-12">
                        <input class="form-control" id="POL_COV_MULTI" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Minimum Limit Of Life Coverage")
                    <div class="col-md-12">
                        <input class="form-control" id="POL_MAX_LIMIT" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Minimum Limit Of Accidental")
                    <div class="col-md-12">
                        <input class="form-control" id="POL_MAX_ACC" />
                    </div>
                </div>
            </div>

        </div>

        <div id="d_02" class="row">

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Maximum Limit Per Ailmont")
                    <div class="col-md-12">
                        <input class="form-control" id="POL_AILMENT" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("For Normal Delivery Max Limit")
                    <div class="col-md-12">
                        <input class="form-control" id="POL_DELV_LIMIT" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Room Charge Per Day")
                    <div class="col-md-12">
                        <input class="form-control" id="POL_ROOM_CHG" />
                    </div>
                </div>
            </div>

        </div>

        <div id="d_03" class="row">

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Maximum Limit")
                    <div class="col-md-12">
                        <input class="form-control" id="POL_OMI_LIMIT" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Self")
                    <div class="col-md-12">
                        <input class="form-control" id="POL_OMI_SELF" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Per Dependent Amount")
                    <div class="col-md-12">
                        <input class="form-control" id="POL_PER_DEPEN" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Maximum Dependent Covered")
                    <div class="col-md-12">
                        <input class="form-control" id="POL_ROOM_CHG" />
                    </div>
                </div>
            </div>

        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" id="btn_PolicyInfo_Detail" name="btn_PolicyInfo_Detail" value="Submit" class="btn btn-outline-primary" />
            </div>
        </div>

    </div>
</div>


<div class="modal fade" id="POL_POLICY_NO_Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_POL_POLICY_NO" class="table table-bordered text-center table-hover table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>POL POLICY NO</th>
                                <th>POL BRANCH</th>
                                <th>POL SEGMENT</th>
                                <th>POL CTT OFF</th>
                                <th>POL CTT OFF DESCRIPTION</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Pol_Branch_Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_POL_BRANCH" class="table table-bordered text-center table-hover  table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>POL BRANCH</th>
                                <th>POL BRANCH DESCRIPTION</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

