﻿@{
    ViewBag.Title = "Premium Info GLIDE02";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Premium Info GLIDE02";
}

<script>
    function AddNew() {
        location.reload();
    }
</script>

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">LIFE INSURANCE PREMIUM INFORMATION</h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp;Add New</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">

        <input id="ID" hidden value="0" />
        <input id="PIG" hidden />

        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Policy No")
                    <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="PRE_POLICY" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="btn_PRE_POLICY" name="btn_PRE_POLICY" data-toggle="modal" data-target="#PRE_POLICY_Modal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("[C]lerical / [O]fficer")
                   <div class="row">
                        <div class="col-md-2">
                            <input class="form-control" id="W_Type" />
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" id="W_Type_Desc" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="btn_W_Type" name="btn_W_Type" data-toggle="modal" data-target="#W_Type_Modal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Payment Date")
                   <div class="row">
                        <div class="col-md-12">
                            <input class="form-control" id="PRE_PAYMENT_DATE" type="date" />
                        </div>
                       
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Premium Amount")
                    <div class="col-md-12">
                        <input class="form-control" id="PRE_PREMIUM_AMT" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Bill No")
                    <div class="col-md-12">
                        <input class="form-control" id="PRE_BILL_NO" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("MC No")
                    <div class="col-md-12">
                        <input class="form-control" id="PRE_MC_NO" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Subject")
                    <div class="col-md-12">
                        <input class="form-control" id="PRE_SUBJECT" />
                    </div>
                </div>
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" id="btn_PI_GLIDE02" name="btn_PI_GLIDE02" value="Submit" class="btn btn-outline-primary" />
                <input type="button" name="btn_PremInfo_GLIDE02_Del" id="btn_PremInfo_GLIDE02_Del" value="Delete" class="btn btn-danger" />

            </div>
        </div>

    </div>

</div>

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <table id="tbl_PI_GLIDE02" class="table table-bordered text-center table-hover  table-sm" width="100%">
            <thead class="Custom-Table-Head">
                <tr>                   
                    <th>PRE_POLICY</th>
                    <th>PRE_PAYMENT_DATE</th>
                    <th>PRE_PREMIUM_AMT</th>
                    <th>PRE_BILL_NO</th>
                    <th>PRE_MC_NO</th>
                    <th>PRE_SUBJECT</th>
                </tr>
            </thead>
            <tbody id="">
            </tbody>

        </table>
    </div>
</div>

<div class="modal fade" id="PRE_POLICY_Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_PRE_POLICY" class="table table-bordered text-center table-hover table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>PRE POLICY</th>
                                <th>W TYPE</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="W_Type_Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_W_Type" class="table table-bordered text-center table-hover table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>W TYPE</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

