﻿@{
    ViewBag.Title = "St Med Ins";
    ViewBag.Controller = "Home";
    ViewBag.Action = "St Med Ins";
} 

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Report Parameters</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Destination Type")
                    <div class="col-md-12">
                        <select class="form-control" id="DestType">
                            <option value="">--Select--</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Today")
                    <div class="col-md-12">
                        <input class="form-control" id="Today" type="date" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Destination Name")
                    <div class="col-md-12">
                        <input class="form-control" id="DestName" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Destination Format")
                    <div class="col-md-12">
                        <input class="form-control" id="DestFormat" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Copies")
                    <div class="col-md-12">
                        <input class="form-control" id="nocopies" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("FOR YEAR")
                    <div class="col-md-12">
                        <input class="form-control" id="w_year" />
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" name="Run" value="Run" class="btn btn-outline-primary" />
        </div>
    </div>
</div>
