﻿@model IEnumerable<CHRIS.Data.CHRIS_USER_WITH_ROLES_LIST_VIEW>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@if (Model != null)
{
    if (Model.Count() > 0)
    {
        <div class="card">
            <div class="card-header citi-table-head">
                <h3 class="card-title">Login User List</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example1" class="table table-bordered text-center table-hover">
                    <thead class="citi-table-head">
                        <tr>
                            <th>User ID</th>
                            <th>User Name</th>
                            <th>User Email</th>
                            <th>Assigned Role</th>
                            <th>User Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PLOG_USER_ID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PLOG_USER_NAME)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PLOG_EMAIL)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ASSIGNED_ROLES)
                                </td>
                                <td>
                                    @if (item.PLOG_USER_STATUS == "Active")
                                    {
                                        <p class="badge badge-success badge-font">Active</p>
                                    }
                                    else
                                    {
                                        <p class="badge badge-danger badge-font">Deactive</p>
                                    }
                                </td>
                                <td>
                                    @if (item.PLOG_ISAUTH == true)
                                    {
                                        <a href="@Url.Action("AddUser", "Manage_Users", new { L = item.PLOG_ID })" data-toggle="tooltip"
                           title="Edit @Html.DisplayFor(modelItem => item.PLOG_USER_ID)" class="btn btn-outline-primary btn-sm">
                                            Edit
                                        </a>
                                    }
                                    @if (item.PLOG_ISAUTH == false && item.PLOG_MAKER_ID != HttpContextAccessor.HttpContext.Session.GetString("USER_ID").ToString())
                                    {
                                        <button type="button" value="@item.PLOG_ID" name="AuthroizeUser" data-toggle="tooltip" title="Authorize @item.PLOG_USER_NAME" class="btn btn-outline-success btn-sm">
                                            <span class="fas fa-check"></span>
                                        </button>
                                        <button type="button" value="@item.PLOG_ID" name="DeleteFromAuthroizeUser" data-toggle="tooltip" title="Reject @item.PLOG_USER_NAME" class="btn btn-outline-danger btn-sm">
                                            <span class="fas fa-times"></span>
                                        </button>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot class="citi-table-head">
                        <tr>
                            <th>User ID</th>
                            <th>User Name</th>
                            <th>User Email</th>
                            <th>Assigned Role</th>
                            <th>User Status</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    }
}


