﻿@*@model IEnumerable<Import_CHRIS.Data.Manage_USER_ACTIVITY_REPORT_Result>
@{
    ViewBag.Title = "User Report";
    ViewBag.Controller = "Home";
    ViewBag.Action = "User Report";
}
@{
    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}
@using (Html.BeginForm("UserActivity", "Manage_Users", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="card card-default card-outline">
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">

                            <div class="row">
                                <div class="col-md-2">
                                    @Html.Label("From Date")
                                </div>
                                <div class="col-md-10">
                                    <input type="text" name="FromDate" id="FromDate" class="form-control CustomDatePicker" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    @Html.Label("To Date")
                                </div>
                                <div class="col-md-10">
                                    <input type="text" name="EndDate" id="EndDate" class="form-control CustomDatePicker" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <div class="col-md-10">
                                <input type="submit" value="Fetch" class="btn btn-outline-primary btn-sm" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@{
    if (Model != null)
    {
        if (Model.Count() > 0)
        {
            <div class="card card-default card-outline">
                <div class="card-body">
                    <table id="Reporting" class="table table-bordered text-center table-hover">
                        <thead class="citi-table-head">
                            <tr>
                                <th>
                                    @Html.Label("User Id")
                                </th>
                                <th>
                                    @Html.Label("Email")
                                </th>
                                <th>
                                    @Html.Label("Assigned Group")
                                </th>
                                <th>
                                    @Html.Label("Maker")
                                </th>
                                <th>
                                    @Html.Label("Make Date")
                                </th>
                                <th>
                                    @Html.Label("Activator")
                                </th>
                                <th>
                                    @Html.Label("Activate Date")
                                </th>
                                <th>
                                    @Html.Label("Status")
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PULOG_USER_ID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PULOG_EMAIL)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PULOG_ASSIGN_GROUP)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PULOG_ADDED_BY)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PULOG_ADDED_DATETIME)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PULOG_ACTIVATED_BY)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PULOG_ACTIVATED_DATETIME)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PULOG_STATUS)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
        else
        {
            <h2 class="text-center">No Data Found</h2>
        }
    }
}*@
