﻿@{
    ViewBag.Title = "Allowance Deduction Payroll Query";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Allowance Deduction Payroll Query";
}
<style>
    .displayNone {
        display: none !important;
    }
</style>

<script>
    function AddNew() {
        location.reload();
    }
</script>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp;Add New</a>

            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Personnel No")
                    <div class="row">
                        <div class="col-md-5">
                            <input class="form-control" id="AD_PrNo" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" id="AD_PNO_LIST" name="AD_PNO_LIST" class="btn btn-default" data-toggle="modal" data-target="#PrNoModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" id="AD_Name" readonly />
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>

    <div class="card-body">
        <table id="AD_MAIN_TABLE" class="table table-bordered text-center table-hover dTable">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>DATE</th>
                    <th>PFUND</th>                   
                    <th>BRANCH</th>
                    <th>BASIC</th>
                    <th>NET PAY</th>
                </tr>
            </thead>
            <tbody id="AD_MAIN_TABLE">
            </tbody>
        </table>
    </div>
</div>



<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Allowances</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>

    <div class="card-body">
        <table id="AD_ALLOWANCE_TABLE" class="table table-bordered text-center table-hover dTable">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>ALLOWANCES CODE</th>
                    <th>PAY DATE</th>
                    <th>AMOUNT</th>
                    <th>ACCOUNT</th>
                </tr>
            </thead>
            <tbody id="AD_ALLOWANCE_TABLE">
            </tbody>
        </table>
    </div>
</div>

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Deductions</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>

    <div class="card-body">
        <table id="AD_DEDUCTION_TABLE" class="table table-bordered text-center table-hover dTable">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>DEDUCTIONS CODE</th>
                    <th>PAY DATE</th>
                    <th>AMOUNT</th>
                    <th>ACCOUNT</th>
                </tr>
            </thead>
            <tbody id="AD_DEDUCTION_TABLE">
            </tbody>
        </table>
    </div>
</div>


<div class="modal fade" id="PrNoModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table id="AllowanceDeductionPRNOTable" class="table table-bordered text-center table-hover table-sm" width="100%">
                    <thead class="Custom-Table-Head">
                        <tr>
                            <th>Personnel No</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody id="AllowanceDeductionPRNOTable">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
