﻿@{
    ViewBag.Title = "Dept Wise Query";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Dept Wise Query";
}
<style>
    .displayNone {
        display: none !important;
    }
</style>
<script>
    function AddNew() {
        location.reload();
    }
</script>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Department Wise Query  Of Employee's</h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp;Add New</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Branch Code")
                    <div class="col-md-10">
                        <input class="form-control" id="Branch" />
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Description")
                    <div class="col-md-10">
                        <input class="form-control" id="Description" readonly="readonly" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Seg/Dept Code")
                    <div class="row">
                        <div class="col-md-5">
                            <input class="form-control" id="D_SEG" />
                        </div>
                        <div class="col-md-5">
                            <input class="form-control" id="DEPARTMENT_NO" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="DEPARTMENT_NO_LIST" name="DEPARTMENT_NO_LIST" data-toggle="modal" data-target="#SegDeptCodeModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Name")
                    <div class="col-md-10">
                        <input class="form-control" id="Name" readonly="readonly" />
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="Submit" value="Submit" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>

</div>

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <table id="DepartmentWise_Main_List" class="table table-bordered text-center table-hover table-sm" width="100%">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>Personnel No</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Category</th>
                    <th>Level</th>
                    <th>Designation</th>
                </tr>
            </thead>
            <tbody id="DepartmentWise_Main_List">
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="SegDeptCodeModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="DepartmentWiseDepartment_List_Table" class="table table-bordered text-center table-hover table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>D Name</th>
                                <th>D No</th>
                                <th>D Seg</th>
                            </tr>
                        </thead>
                        <tbody id="DepartmentWiseDepartment_List_Table">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



