﻿@{
    ViewBag.Title = "Employee Current Status Query";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Employee Current Status Query";
}
<style>
    .displayNone {
        display: none !important;
    }
</style>
<script>
    function AddNew() {
        location.reload();
    }
</script>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Employee's Current Status</h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp;Add New</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <input type="hidden" id="EmployeeCurrentStatusQueryPage" />
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Personnel Number")
                    <div class="col-md-12">
                        <select class="form-control select2" style="width: 100%;" id="PersonelNoDropDown" name="PersonelNoDropDown">
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Name")
                    <div class="col-md-12">
                        <input class="form-control" id="Name" readonly />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Last Name")
                    <div class="col-md-12">
                        <input class="form-control" id="LastName" readonly />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Designation")
                    <div class="col-md-12">
                        <input class="form-control" id="DGG" readonly />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Category")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_CATEGORY" readonly />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Level")
                    <div class="col-md-12">
                        <input class="form-control" id="Level" readonly />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Location")
                    <div class="col-md-12">
                        <input class="form-control" id="Location" readonly />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Branch")
                    <div class="col-md-12">
                        <input class="form-control" id="Branch" readonly />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Functional")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_FUNC_TITTLE1" readonly />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Title")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_FUNC_TITTLE2" readonly />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Joining Date")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_JOINING_DATE" readonly />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Confirm Due")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_CONFIRM" readonly />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Confirm Date")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_CONFIRM_ON" readonly />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Last Appraisal")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_LAST_INCREMENT" readonly />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Next Appraisal")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_NEXT_INCREMENT" readonly />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("G E ID No")
                    <div class="col-md-12">
                        <input class="form-control" id="GEIDNO" readonly />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Annual Package")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_NEW_ANNUAL_PACK" readonly />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("National Tax No")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_NATIONAL_TAX" readonly />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Account No")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_ACCOUNT_NO" readonly />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Education")
                    <div class="col-md-12">
                        <input class="form-control" id="DGREE" readonly />
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="card-body">
        <table id="" class="table table-bordered text-center table-hover dTable">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>SEG</th>
                    <th>DEPT</th>
                    <th>CONTRIB</th>
                    <th>COST CENTER</th>
                </tr>
            </thead>
            <tbody id="">
            </tbody>
        </table>
    </div>

    <div class="card-body">
        <div class="row">
            <h3 class="card-title">PERSONAL</h3>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Address")
                    <div class="row">
                        <div class="col-md-6">
                            <input class="form-control" id="PR_ADD1" readonly />
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" id="PR_ADD2" readonly />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Phone No")
                    <div class="row">
                        <div class="col-md-6">
                            <input class="form-control" id="PR_PHONE1" readonly />
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" id="PR_PHONE2" readonly />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("NIC No")
                    <div class="col-md-12">
                        <input class="form-control" id="NICNo" readonly />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Sex")
                    <div class="col-md-12">
                        <input class="form-control" id="Sex" readonly />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Date Of Birth")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_D_BIRTH" readonly />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Marital Status")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_MARITAL" readonly />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Marraige Date")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_MARRIAGE" readonly />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Spouse Date Of Birth")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_BIRTH_SP" readonly />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Spouse Name")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_SPOUSE" readonly />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("No Of Children")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_NO_OF_CHILD" readonly />
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="card-body">
        <table id="EmployeeChildDetialsTable" class="table table-bordered text-center table-hover dTable">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>CHILD NAME</th>
                    <th>DATE OF BIRTH</th>
                </tr>
            </thead>
            <tbody id="">
            </tbody>
        </table>
    </div>
</div>


<div class="modal fade" id="PrNoModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="" class="table table-bordered text-center table-hover dTable">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>PR NO</th>
                                <th>NAME</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
