﻿@{
    ViewBag.Title = "Rank History Query";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Rank History Query";
}
<style>
    .displayNone {
        display: none !important;
    }
</style>
<script>
    function AddNew() {
        location.reload();
    }
</script>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Rank Query</h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp;Add New</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <input type="hidden" id="RankHistoryQuery" />
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Pr No")
                    <div class="col-md-10">
                        <select class="form-control select2" style="width: 100%;" id="RankHistoryPersonelNoDropDown" name="RankHistoryPersonelNoDropDown">
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Name")
                    <div class="col-md-12">
                        <input class="form-control" id="NAME" readonly />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Desig")
                    <div class="col-md-12">
                        <input class="form-control" id="Desig" readonly />
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Level")
                    <div class="col-md-12">
                        <input class="form-control" id="Level" readonly />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Annual Package")
                    <div class="col-md-12">
                        <input class="form-control" id="AnnualPackage" readonly />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Branch")
                    <div class="col-md-12">
                        <input class="form-control" id="Branch" readonly />
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
     @*    <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3">
                            @Html.Label("YEAR")
                        </div>
                        <div class="col-md-9">
                            <input id="RHQ_ID" type="hidden" />
                            <input class="form-control" id="RHQ_YEAR" type="text" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3">
                            @Html.Label("QTR")
                        </div>
                        <div class="col-md-9">
                            <input class="form-control" id="RHQ_ATR" type="text" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3">
                            @Html.Label("RANK")
                        </div>
                        <div class="col-md-9">
                            <input class="form-control" id="RHQ_RANK" type="text" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="form-group">
                        <input type="button" name="UPDATE_LIST_OF_RHQ" id="UPDATE_LIST_OF_RHQ" value="Add" class="btn btn-outline-success btn-sm" />
                    </div>
                    <div class="form-group">
                        <input type="button" name="CLEAR_LIST_OF_RHQ" id="CLEAR_LIST_OF_RHQ" value="Clear" class="btn btn-outline-info btn-sm" />
                    </div>
                </div>
            </div>
        </div> *@
        <table id="RankHistoryQueryList" class="table table-bordered text-center table-hover dTable">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>YEAR</th>
                    <th>QTR</th>
                    <th>RANK</th>             
                </tr>
            </thead>
            <tbody id="">
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="PrNoModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="" class="table table-bordered text-center table-hover dTable">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>PR NO</th>
                                <th>NAME</th>                                
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



