﻿@{
    ViewBag.Title = "Salary History Query";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Salary History Query";
}
<style>
    .displayNone {
        display: none !important;
    }
</style>
<script>
    function AddNew() {
        location.reload();
    }
</script>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Salary History Query</h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp;Add New</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <div id="SalaryHistoryQueryPage"></div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Pr No")
                    <div class="col-md-10">
                        <select class="form-control select2" style="width: 100%;" id="PRNoDropDown" name="PRNoDropDown">
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Name")
                    <div class="col-md-10">
                        <input class="form-control" id="NAME" readonly="readonly" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Joining Date")
                    <div class="col-md-10">
                        <input class="form-control" id="pr_joining_date" readonly="readonly" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Level")
                    <div class="col-md-10">
                        <input class="form-control" id="Level" readonly="readonly" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Annual Package")
                    <div class="col-md-10">
                        <input class="form-control" id="PR_ANNUAL_PACK" readonly="readonly" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("Designation")
                    <div class="col-md-10">
                        <input class="form-control" id="w_desig" readonly="readonly" />
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="Submit" value="Submit" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>

</div>

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <table id="SalaryHistoryQueryDatatableResult" class="table table-bordered text-center table-hover dTable">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>DATE</th>
                    <th>INCREMENT TYPE</th>
                    <th>LEVEL</th>
                    <th>DESIGNATION</th>
                    <th>ANNUAL PACKAGE</th>
                </tr>
            </thead>
            <tbody id="">
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="PrNoModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="" class="table table-bordered text-center table-hover dTable">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>PR NO</th>
                                <th>NAME</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



