﻿@{
    ViewBag.Title = "Tax Information Income";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Tax Information Income";
}
<style>
    .displayNone {
        display: none !important;
    }
</style>
<script>
    function AddNew() {
        location.reload();
    }
</script>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Tax Information Income</h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp;Add New</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">

        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("From")
                    <div class="col-md-12">
                        <input class="form-control" id="From" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("To")
                    <div class="col-md-12">
                        <input class="form-control" id="To" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Rebate Male")
                    <div class="col-md-12">
                        <input class="form-control" id="RebateMale" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("% M")
                    <div class="col-md-12">
                        <input class="form-control" id="Per_M" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("F")
                    <div class="col-md-12">
                        <input class="form-control" id="F" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Tax Amount Male")
                    <div class="col-md-12">
                        <input class="form-control" id="TaxAmountMale" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Tax Amount Female")
                    <div class="col-md-12">
                        <input class="form-control" id="TaxAmountFemale" />
                    </div>
                </div>
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="Submit" value="Submit" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>

</div>

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <table id="" class="table table-bordered text-center table-hover dTable">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>FROM</th>
                    <th>TO</th>
                    <th>REBATE MALE</th>
                    <th>FEMALE</th>
                    <th>% M</th>
                    <th>F</th>
                    <th>TAX AMOUNT MALE</th>
                    <th>TAX AMOUNT FEMALE</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody id="">
            </tbody>
        </table>
    </div>
</div>



