﻿@{
    ViewBag.Title = "Tax Information Query";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Tax Information Query";
}
<style>
    .displayNone {
        display: none !important;
    }
</style>
<script>
    function AddNew() {
        location.reload();
    }
</script>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Tax Query</h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp;Add New</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <input type="hidden" id="TaxInformationQueryPage" />
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Personnel No")
                    <div class="col-md-10">
                        <select class="form-control select2" style="width: 100%;" id="TaxInfoPersonelNoDropDown" name="TaxInfoPersonelNoDropDown">
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("First Name")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_FIRST_NAME" readonly />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Last Name")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_LAST_NAME" readonly />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Payroll Date")
                    <div class="col-md-12">
                        <input type="text" class="form-control" id="PA_DATE" placeholder="DD/MM/YYYY" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Tax Period (YY)")
                    <div class="row">
                        <div class="col-md-6">
                            <input class="form-control" id="TaxPeriod1" />
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" id="TaxPeriod2" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Desig")
                    <div class="col-md-12">
                        <input class="form-control" id="Desig" readonly />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Level")
                    <div class="col-md-12">
                        <input class="form-control" id="Level" readonly />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Category")
                    <div class="col-md-12">
                        <input class="form-control" id="Category" readonly />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Joining Date")
                    <div class="col-md-12">
                        <input class="form-control" id="W_JOIN_DATE" readonly />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Promotion Date")
                    <div class="col-md-12">
                        <input class="form-control" id="W_PR_DATE" readonly />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Increment Date")
                    <div class="col-md-12">
                        <input class="form-control" id="W_INC_EFF" readonly />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Annual Package")
                    <div class="col-md-12">
                        <input class="form-control" id="W_AN_PACK" readonly />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Annual Basic")
                    <div class="col-md-12">
                        <input class="form-control" id="W_ANNUAL_INCOME" readonly />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("VP/RVP Trans")
                    <div class="col-md-12">
                        <input class="form-control" id="W_VP" readonly />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Taxable Allow")
                    <div class="col-md-12">
                        <input class="form-control" id="W_OTHER_ALL" readonly />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Total")
                    <div class="col-md-12">
                        <input class="form-control" id="W_TOTAL" readonly />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Salary Arears")
                    <div class="col-md-12">
                        <input class="form-control" id="W_BASIC_AREAR" readonly />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Taxable Package")
                    <div class="col-md-12">
                        <input class="form-control" id="W_TAX_PACK" readonly />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("GHA/+10C Bonus")
                    <div class="col-md-12">
                        <input class="form-control" id="W_10_BONUS" readonly />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Govt Allowance")
                    <div class="col-md-12">
                        <input class="form-control" id="W_GOVT_DISP" readonly />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Subs-Loan Tax")
                    <div class="col-md-12">
                        <input class="form-control" id="SUBS_LOAN_TAXAMT" readonly />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Inc Bonus ")
                    <div class="col-md-12">
                        <input class="form-control" id="W_INC_BONUS" readonly />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Actual OT Cost")
                    <div class="col-md-12">
                        <input class="form-control" id="W_ACTUAL_OT" readonly />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Average Months")
                    <div class="col-md-12">
                        <input class="form-control" id="W_OT_MONTHS" readonly />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Fo Al")
                    <div class="col-md-12">
                        <input class="form-control" id="W_FORCAST_ALL" readonly />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Average OT ")
                    <div class="col-md-12">
                        <input class="form-control" id="W_AVG" readonly />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("OT Arears")
                    <div class="col-md-12">
                        <input class="form-control" id="W_AREARS" readonly />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Forcast OT")
                    <div class="col-md-12">
                        <input class="form-control" id="W_FORCAST_OT" readonly />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Total OT Cost :")
                    <div class="col-md-12">
                        <input class="form-control" id="W_FORCAST" readonly />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Forcast Mon")
                    <div class="col-md-12">
                        <input class="form-control" id="W_FORCAST_MONTHS" readonly />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Taxable Inc")
                    <div class="col-md-12">
                        <input class="form-control" id="W_TAXABLE_INC" readonly />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Annual Tax")
                    <div class="col-md-12">
                        <input class="form-control" id="W_A_TAX" readonly />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Tax Refund")
                    <div class="col-md-12">
                        <input class="form-control" id="W_REFUND" readonly />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Total Income")
                    <div class="col-md-12">
                        <input class="form-control" id="W_INCOME" readonly />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Tax Paid Update")
                    <div class="col-md-12">
                        <input class="form-control" id="W_TAX_PAID" readonly />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Cur Month Tax")
                    <div class="col-md-12">
                        <input class="form-control" id="W_ITAX" readonly />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("MSG")
                    <div class="col-md-12">
                        <input class="form-control" id="W_MSG" readonly />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Test")
                    <div class="col-md-12">
                        <input class="form-control" id="W_TEST1" readonly />
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <table id="TAXINFORMATION_TABLE_1" class="table table-bordered text-center table-hover dTable">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>DATE</th>
                    <th>TAX PAID</th>
                </tr>
            </thead>
            <tbody id="TAXINFORMATION_TABLE_1">
            </tbody>
        </table>
    </div>
</div>


<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <table id="TAXINFORMATION_TABLE_2" class="table table-bordered text-center table-hover dTable">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>TYPE</th>
                    <th>DATE</th>
                    <th>PREV ASR</th>
                    <th>PRESENT ASR</th>
                </tr>
            </thead>
            <tbody id="TAXINFORMATION_TABLE_2">
            </tbody>
        </table>
    </div>
</div>
