﻿@{
    ViewBag.Title = "Finance Query";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Finance Query";
}
<style>
    .displayNone {
        display: none !important;
    }
</style>
<script>
    function AddNew() {
        location.reload();
    }
</script>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Payroll System Finance Query</h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp; Clear</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">

        <div class="row">
            <input id="ID" hidden/>
            <input id="PR_CATEGORY" hidden />
            <input id="PR_LEVEL" hidden />
            <input id="PR_BRANCH" hidden />
            <input id="FN_C_Ratio" hidden />
            <input id="FN_FIN_NO" hidden />
            <input id="FN_LIQ_FLAG" hidden />
           
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("P NO")
                   <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="PR_P_NO" disabled/>
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="btn_FN_PR_P_NO" name="btn_FN_PR_P_NO" data-toggle="modal" data-target="#PR_P_NOModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("First Name")
                    <div class="col-md-12">
                        <input class="form-control" id="P_Name" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Loan Pack")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_NEW_ANNUAL_PACK" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Type")
                    <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="FN_Type" disabled />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="btn_FN_TYPE" name="btn_FN_TYPE" data-toggle="modal" data-target="#FN_TYPEModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Descrip")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_Desc" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Repay")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_Schedule" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Markup")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_Markup" disabled />
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Credit Ratio")
                    <div class="col-md-12">
                        <input class="form-control" id="CREDIT_RATIO" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Availab Ratio")
                    <div class="col-md-12">
                        <input class="form-control" id="AVAILABLE" disabled />
                    </div>
                </div>
            </div>
            
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Factor")
                    <div class="col-md-12">
                        <input class="form-control" id="FACTOR" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Min Cap")
                    <div class="col-md-12">
                        <input class="form-control" id="MIN_CAP" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Less Ratio Availed")
                    <div class="col-md-12">
                        <input class="form-control" id="RATIO_AVAILED" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Amt Of Loan Can Be Availed")
                    <div class="col-md-12">
                        <input class="form-control" id="CAN_BE" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Total Monthly Installments")
                    <div class="col-md-12">
                        <input class="form-control" id="TOT_MONTHLY_INSTALL" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Credit Ratio %")
                    <div class="col-md-12">
                        <input class="form-control" id="CREDIT_RATIO_PER" disabled />
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"> </h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <table id="tbl_dgvFnMoths" class="table table-bordered text-center table-hover  table-sm" width="100%">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>Fin./Loan Number</th>
                    <th>Monthly Deduction</th>
                    <th>Markup</th>
                    <th>Balance</th>
                    <th>Liquidate[L]</th>
                </tr>
            </thead>
            <tbody id="">
            </tbody>
        </table>
    </div>
</div>


<div class="modal fade" id="PR_P_NOModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_FN_Q_PR_P_NO" class="table table-bordered text-center table-hover table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>P NAME</th>
                                <th>PR P NO</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="FN_TYPEModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_FN_TYPE" class="table table-bordered text-center table-hover table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>Type</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

