﻿@{
    ViewBag.Title = "Finance Type Entry";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Finance Type Entry";
}
<style>
    .displayNone {
        display: none !important;
    }
</style>
<script>
    function AddNew() {
        location.reload();
    }
</script>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">FINANCE SYSTEM TYPE ENTRY</h3>
        <div class="card-tools">
            <input type="button" name="Submit_FinanceTypeEntry" id="Submit_FinanceTypeEntry" value="Submit" class="btn btn-outline-primary" />

            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp; Clear</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">

        <div class="row">
            <input id="ID" value="0" hidden />
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Type")
                   <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="FN_TYPE" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="btn_FN_TYPE_FnTypeEnt" name="btn_FN_TYPE_FnTypeEnt" data-toggle="modal" data-target="#FN_TYPEModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Description")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_DESC" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Mark Up %")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_MARKUP" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Credit Ratio %")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_C_RATIO" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Eligibility (In Months)")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_ELIG" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("OR On Confirmation")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_CONFIRM" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Payment")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_SCHEDULE" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Excise Levy %")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_EX_LESS" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("On Amt Less Than And Greater Than")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_LESS_AMT" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Excise Levy %")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_EX_GREAT" />
                    </div>
                </div>
            </div>

        </div>
       
    </div>
</div>

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">FINANCE SYSTEM SUB TYPE ENTRY</h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp; Clear</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <input id="ID1" value="0" hidden />

        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("SUBTYPE")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_SUBTYPE" />
                    </div>
                </div>
            </div>
            
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("SUBDESC")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_SUBDESC" />
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Finance Sub-Type</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <table id="tbl_Fin_Sub_Type" class="table table-bordered text-center table-hover  table-sm" width="100%">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>SUBTYPE</th>
                    <th>SUBDESC</th>
                </tr>
            </thead>
            <tbody id="">
            </tbody>
        </table>
    </div>
</div>


<div class="modal fade" id="FN_TYPEModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_FN_TYPE_FinTypeEnt" class="table table-bordered text-center table-hover  table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>TYPE</th>
                                <th>C RATIO</th>
                                <th>MARKUP</th>
                                <th>CONFIRM</th>
                                <th>SCHEDULE</th>
                                <th>DESC</th>
                                <th>ELIG</th>
                                <th>LESS AMT</th>
                                <th>EX LESS</th>
                                <th>EX GREATER</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

