﻿@{
    ViewBag.Title = "Finance Booking Entry";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Finance Booking Entry";
}
<style>
    .displayNone {
        display: none !important;
    }
</style>
<script>
    function AddNew() {location.reload();}
</script>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">FINANCE SYSTEM FINANCE BOOKING</h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp; Clear</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
</div>

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">

                <div id="FinanceBookingEntry_DIV_Functions">
                    <div class="row">

                        <div class="row">
                            <button type="button" id="FinanceBookingEntry_ADD_BTN" name="FinanceBookingEntry_ADD_BTN" class="btn btn-outline-primary">
                                Add
                            </button>
                            &nbsp;
                            <button type="button" id="FinanceBookingEntry_UPDATE_BTN" name="FinanceBookingEntry_UPDATE_BTN" class="btn btn-outline-success">
                                Update
                            </button>
                            &nbsp;
                            <button type="button" id="FinanceBookingEntry_DELETE_BTN" name="FinanceBookingEntry_DELETE_BTN" class="btn btn-outline-danger">
                                Delete
                            </button>
                            &nbsp;
                            <button type="button" id="FinanceBookingEntry_VIEW_BTN" name="FinanceBookingEntry_VIEW_BTN" class="btn btn-outline-info">
                                View
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <hr />


        <input id="ID" name="ID"  value="0" />
        <input id="FinanceBookingEntry" name="FinanceBookingEntry" hidden/>
        <input id="txtPrLevel" name="txtPrLevel" hidden value="0" />
        <input id="PR_CATEGORY" name="PR_CATEGORY" hidden value="0" />
        <input id="PR_NEW_ANNUAL_PACK" name="PR_NEW_ANNUAL_PACK" hidden value="0" />
        <input id="FN_BRANCH" name="FN_BRANCH" hidden value="0" />
        <input id="pr_d_birth" name="pr_d_birth" hidden value="0" />
        <input id="Functions" name="Functions" hidden />
        <input id="txtfnPaySchedule" name="txtfnPaySchedule" hidden />
        <input id="txtVal3" name="txtVal3" hidden />
        <input id="txtWTenCBonus" name="txtWTenCBonus" hidden />
        <input id="txtfnMonthly" name="txtfnMonthly" hidden />
        <input id="txtWBasic" name="txtWBasic" hidden />  
        
        <input id="finNoType" name="finNoType" hidden />
        <input id="gCount" name="gCount" hidden />
        <input id="gYear" name="gYear" hidden />
        <input id="txtFinanceNo" name="txtFinanceNo" hidden />

        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("P NO")
                   <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="PR_P_NO" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="btnFN_BOOK_PR_P_NO" name="btnFN_BOOK_PR_P_NO" data-toggle="modal" data-target="#PR_P_NOModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>          
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("First Name")
                    <div class="col-md-12">
                        <input class="form-control" id="P_Name" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("L/Fin Type")
                   <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="FN_TYPE" name="FN_TYPE" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="btnFN_BOOK_FN_TYPE" name="btnFN_BOOK_FN_TYPE" data-toggle="modal" data-target="#FN_TYPEModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("L/Fin SubType")
                   <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="FN_SUBTYPE" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="btnFN_BOOK_FN_SUBTYPE" name="btnFN_BOOK_FN_SUBTYPE" data-toggle="modal" data-target="#FN_SUBTYPEModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("L/Fin No")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_FIN_NO" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Start Date")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_START_DATE" type="date" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Expiry Date")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_END_DATE" type="date" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Extra Time")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_EXTRA_TIME" type="date" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Payroll Date")
                    <div class="col-md-12">
                        <input class="form-control" id="PAY_GEN_DATE" type="date" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Amount Taken")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_AMT_AVAILED" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Installment Amt")
                    <div class="col-md-12">
                        <input class="form-control" id="Installment" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Mark Up")
                    <div class="col-md-12">
                        <input class="form-control" id="BookMarkUp" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Credit Ratio %")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_C_RATIO_PER" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Mortg Property Address")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_MORTG_PROP_ADD" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Mortg Property City")
                   <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="FN_MORTG_PROP_CITY" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="btnFN_BOOK_FN_MORTG_PROP_CITY" name="btnFN_BOOK_FN_MORTG_PROP_CITY" data-toggle="modal" data-target="#FN_MORTG_PROP_CITYModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Value (Sales Agreement)")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_MORTG_PROP_VALSA" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Value (Valuation Agreement)")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_MORTG_PROP_VALVR" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Descrip")
                    <div class="col-md-12">
                        <input class="form-control" id="fn_desc" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Sub Descrip")
                    <div class="col-md-12">
                        <input class="form-control" id="fn_subdesc" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Markup %")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_MARKUP" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("CR %")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_C_RATIO" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Schedule")
                    <div class="col-md-12">
                        <input class="form-control" id="fn_schedule" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Credit Ratio")
                    <div class="col-md-12">
                        <input class="form-control" id="CREDIT_RATIO" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Less Ratio Availed")
                    <div class="col-md-12">
                        <input class="form-control" id="RATIO_AVAILED" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Available Ratio")
                    <div class="col-md-12">
                        <input class="form-control" id="AVAILABLE" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Factor/ Repayment")
                   <div class="row">
                        <div class="col-md-6">
                            <input class="form-control" id="FACTOR" />
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" id="Repay" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Amt Of Loan Can  Avail")
                    <div class="col-md-12">
                        <input class="form-control" id="CAN_BE" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Total Monthly Install")
                    <div class="col-md-12">
                        <input class="form-control" id="TOT_MONTHLY_INSTALL" />
                    </div>
                </div>
            </div>

        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="Submit_FBEnt" type="button" name="Submit_FBEnt" value="Submit" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="PR_P_NOModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_FN_Book_Ent_PR_P_NO" class="table table-bordered text-center table-hover  table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>P NAME</th>
                                <th>PR P NO</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="FN_TYPEModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_FN_BOOK_FN_TYPE" class="table table-bordered text-center table-hover table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>TYPE</th>
                                <th>C RATIO</th>
                                <th>MARKUP</th>
                                <th>SCHEDULE</th>
                                <th>DESC</th>                                
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="FN_MORTG_PROP_CITYModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_FN_BOOK_FN_MORTG_PROP_CITY" class="table table-bordered text-center table-hover table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>FN MORTG PROP CITY</th>                              
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="FN_SUBTYPEModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="TBL_FN_BOOK_FN_SUBTYPE" class="table table-bordered text-center table-hover  table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>SUBTYPE</th>
                                <th>SUB DESC</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="view_Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">VIEW</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <div class="row">

                        <div class="col-md-2">
                            <div class="form-group">
                                @Html.Label("FinType")
                                <div class="row">
                                    <div class="col-md-12">
                                        <input class="form-control" id="FinType" />
                                    </div>                                   
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                @Html.Label("FinNo")
                                <div class="row">
                                    <div class="col-md-12">
                                        <input class="form-control" id="FinNo" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                @Html.Label("StartDate")
                                <div class="row">
                                    <div class="col-md-12">
                                        <input class="form-control" id="StartDate" type="date" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                @Html.Label("ExpiryDate")
                                <div class="row">
                                    <div class="col-md-12">
                                        <input class="form-control" id="ExpiryDate" type="date" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                @Html.Label("InstallMentAmt")
                                <div class="row">
                                    <div class="col-md-12">
                                        <input class="form-control" id="InstallMentAmt" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                @Html.Label("CreditRatio")
                                <div class="row">
                                    <div class="col-md-12">
                                        <input class="form-control" id="CreditRatio" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                @Html.Label("Amt")
                                <div class="row">
                                    <div class="col-md-12">
                                        <input class="form-control" id="Amt" />
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="Delete_Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">VIEW</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <div class="row">

                        <div class="col-md-2">
                            <div class="form-group">
                                @Html.Label("FinType")
                                <div class="row">
                                    <div class="col-md-12">
                                        <input class="form-control" id="FinTypeD" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                @Html.Label("FinNo")
                                <div class="row">
                                    <div class="col-md-12">
                                        <input class="form-control" id="FinNoD" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                @Html.Label("StartDate")
                                <div class="row">
                                    <div class="col-md-12">
                                        <input class="form-control" id="StartDateD" type="date" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                @Html.Label("ExpiryDate")
                                <div class="row">
                                    <div class="col-md-12">
                                        <input class="form-control" id="ExpiryDateD" type="date" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                @Html.Label("InstallMentAmt")
                                <div class="row">
                                    <div class="col-md-12">
                                        <input class="form-control" id="InstallMentAmtD" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                @Html.Label("CreditRatio")
                                <div class="row">
                                    <div class="col-md-12">
                                        <input class="form-control" id="CreditRatioD" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                @Html.Label("Amt")
                                <div class="row">
                                    <div class="col-md-12">
                                        <input class="form-control" id="AmtD" />
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input id="Delete_FBEnt" type="button" name="Delete_FBEnt" value="Delete" class="btn btn-outline-danger" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

