﻿@{
    ViewBag.Title = "Finance Intsallment Entry For";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Finance Intsallment Entry For";
}
<style>
    .displayNone {
        display: none !important;
    }
</style>
<script>
    function AddNew() {
        location.reload();
    }
</script>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp; Clear</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
</div>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Payroll System Finance Installment(I.S. && Oth.)</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">

        <div class="row">
            <input id="ID" value="0" hidden />
            <input id="dl" value="0" hidden />
            <input id="pay" value="0" hidden />
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("P NO")
                    <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="PR_P_NO" disabled />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="btn_PR_P_NO_FN_IntsalEntryFor" name="btn_PR_P_NO_FN_IntsalEntryFor" data-toggle="modal" data-target="#PR_P_NOModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("First Name")
                    <div class="col-md-12">
                        <input class="form-control" id="P_Name" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Loan Type")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_TYPE" />
                    </div>                    
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Finance No")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_FIN_NO" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Availed Amount")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_AMT_AVAILED" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Credit Ratio")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_C_RATIO_PER"  />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Liquidation Flag")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_LIQUIDATE"/>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Branch")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_BRANCH"/>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Payment Schedule")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_PAY_SCHED" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Start Date")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_START_DATE" type="date" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("End Date")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_END_DATE" type="date" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Extra Time")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_EXTRA_TIME" type="date" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Monthly Deduction")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_MONTHLY_DED" />
                    </div>
                </div>
            </div>

        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="Submit_FN_IntsalEntryFor" id="Submit_FN_IntsalEntryFor" value="Submit" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
</div>


<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"> </h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <div class="row" id="Div1">
            <input id="ID1" value="0" hidden/>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("DATE")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_MDATE" type="date" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("DEBIT")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_DEBIT" value="0.00" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("CREDIT")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_CREDIT" value="0.00" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("MARKUP")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_MARKUP" value="0.00" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("O/S BALANCE")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_BALANCE" value="0.00" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("LOAN BALANCE")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_LOAN_BALANCE" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("PAY")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_PAY_LEFT" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("FLAG")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_LIQ_FLAG" disabled />
                    </div>
                </div>
            </div>

        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="Submit1_FN_IntsalEntryFor" id="Submit1_FN_IntsalEntryFor" value="Submit" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
</div>

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"> </h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body" id="Div12">
        <table id="tbl_DGVDetail_Finance" class="table table-bordered text-center table-hover table-sm" width="100%">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>DATE</th>
                    <th>DEBIT</th>
                    <th>CREDIT</th>
                    <th>MARKUP</th>
                    <th>O/S BALANCE</th>
                    <th>LOAN BALANCE</th>
                    <th>LEFT</th>
                    <th>FLAG</th>
                </tr>
            </thead>
            <tbody id="">
            </tbody>
        </table>
    </div>
</div>


<div class="modal fade" id="PR_P_NOModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_PR_P_NO_FN_IntsalEntryFor" class="table table-bordered text-center table-hover table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>P NAME</th>
                                <th>PR P NO</th>
                                <th>FN TYPE</th>
                                <th>FN FIN NO</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

