﻿@{
    ViewBag.Title = "Finance Application";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Finance Application";
}
<style>
    .displayNone {
        display: none !important;
    }
</style>
<script>
    function AddNew() {
        location.reload();
    }
</script>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp; Clear</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
</div>

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">  Personnel Info   </h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">       
        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("P NO")
                    <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="PR_P_NO" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="btn_PR_P_NO_FA" name="btn_PR_P_NO_FA" data-toggle="modal" data-target="#PrNo_Modal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("NAME")
                    <div class="col-md-12">
                        <input class="form-control" id="NAME" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Branch")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_NEW_BRANCH" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Date Of Birth")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_D_BIRTH" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Date Of Joining")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_JOINING_DATE" />
                    </div>
                </div>
            </div>
            
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Designation")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_DESIG" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Level")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_LEVEL" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Category")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_CATEGORY" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Annual Package")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_NEW_ANNUAL_PACK" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("10 C Bonus ")
                    <div class="col-md-12">
                        <input class="form-control" id="W_10_C" />
                    </div>
                </div>
            </div>

        </div>       
    </div>
</div>

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">  Finance Type   </h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">       
        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Finance Type")
                   <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="FN_TYPE" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="btn_FN_TYPE_FA" name="btn_FN_TYPE_FA" data-toggle="modal" data-target="#FN_TYPEModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>          
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Deccription")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_DESC" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Tenure")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_SCHEDULE" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Mark up")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_MARKUP" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Start Date")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_START_DATE" type="date"/>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("End Date")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_End_DATE" type="date" />
                    </div>
                </div>
            </div>
            
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Ratio")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_C_RATIO"/>
                    </div>
                </div>
            </div>
            Ratio
           
        </div>
    </div>
</div>

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"> </h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <table id="tbl_FA" class="table table-bordered text-center table-hover  table-sm" width="100%">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>FINANCE NO</th>
                    <th>INST</th>
                    <th>O/S BALANCE</th>
                    <th>LIQ REDUCE AMT</th>
                    <th>MNTH INST</th>
                    <th>O/S BALANCE</th>
                </tr>
            </thead>
            <tbody id="">
            </tbody>
        </table>
    </div>
</div>

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">

        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Amt of Loan Can Availd")
                    <div class="col-md-12">
                        <input class="form-control" id="AMT_OF_LOAN_CAN_AVAIL" />
                    </div>
                </div>
            </div>
            
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Cap Amount")
                    <div class="col-md-12">
                        <input class="form-control" id="AMT_OF_LOAN_CAN_AVAIL_CAP" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Disbursement Amount")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_AMT_AVAILED" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Total Month Install")
                    <div class="col-md-12">
                        <input class="form-control" id="TOT_MONTH_INST" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Exception Flag")
                    <div class="col-md-12">
                        <input class="form-control" id="EXCP_FLAG" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Exception Rem Option")
                    <div class="col-md-12">
                        <input class="form-control" id="EXP_REM_OPT" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Exception Remarks")
                    <div class="col-md-12">
                        <input class="form-control" id="EXCP_REM" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Remarks")
                    <div class="col-md-12">
                        <input class="form-control" id="REMARKS" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Credit Ratio")
                    <div class="col-md-12">
                        <input class="form-control" id="CREDIT_RATIO" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Less Ratio Availed ")
                    <div class="col-md-12">
                        <input class="form-control" id="LESS_RATIO_AVAILED" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Available Ratio")
                    <div class="col-md-12">
                        <input class="form-control" id="AVAILABLE_RATIO" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Factor")
                    <div class="col-md-12">
                        <input class="form-control" id="FACTOR" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Ins Coverage Amount ")
                    <div class="col-md-12">
                        <input class="form-control" id="INS_COV_AMT" />
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="modal fade" id="PrNo_Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_PrNo_FA" class="table table-bordered text-center table-hover table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>NAME</th>
                                <th>PR P NO</th>
                                <th>CATEGORY</th>
                                <th>LEVEL</th>
                                <th>DESIG</th>
                                <th>JOINING DATE</th>
                                <th>NEW BRANCH</th>
                                <th>D BIRTH</th>
                                <th>NEW ANNUAL PACK</th>
                                <th>ID CARD NO</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="FN_TYPEModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_FN_TYPE_FA" class="table table-bordered text-center table-hover table-sm" width="100%" >
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>TYPE</th>
                                <th>C RATIO</th>
                                <th>MARKUP</th>
                                <th>SCHEDULE</th>
                                <th>DESC</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
