﻿@{
    ViewBag.Title = "Fin Enhancement Entry";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Fin Enhancement Entry";
}
<style>
    .displayNone {
        display: none !important;
    }
</style>
<script>
    function AddNew() {
        location.reload();
    }
</script>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">FINANCE SYSTEM ENHANCEMENT OF FINANCE</h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp; Clear</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">           
                   
                <div id="Fin_Enhancement_Entry_DIV_Functions">
                    <div class="row">

                            <div class="row">
                            <button type="button" id="Fin_Enhancement_Entry_ADD_BTN" name="Fin_Enhancement_Entry_ADD_BTN" class="btn btn-outline-primary">
                                    Add
                                </button>
                                &nbsp;
                            <button type="button" id="Fin_Enhancement_Entry_UPDATE_BTN" name="Fin_Enhancement_Entry_UPDATE_BTN" class="btn btn-outline-success">
                                    Update
                                </button>
                                &nbsp;
                            <button type="button" id="Fin_Enhancement_Entry_DELETE_BTN" name="Fin_Enhancement_Entry_DELETE_BTN" class="btn btn-outline-danger">
                                    Delete
                                </button>
                                &nbsp;
                               <button type="button" id="Fin_Enhancement_Entry_VIEW_BTN" name="Fin_Enhancement_Entry_VIEW_BTN" class="btn btn-outline-info">
                                View
                                </button>
                            </div>                     

                    </div>                    
                </div>
            </div>
        </div>
        <hr />

        <div class="row">
            <input id="Fin_Enhancement_Entry_Functions" hidden />
            <input id="FN_M_BRANCH" hidden />
            <input id="PR_NEW_ANNUAL_PACK" hidden />
            <input id="pr_category" hidden />
            <input id="pr_level" hidden />
            <input id="pr_transfer" hidden />
            <input id="FN_C_RATIO" hidden />
            <input id="finMarkup" hidden />
            <input id="Functions" hidden />
            <input id="wval5" hidden />
            <input id="W_Bal" hidden />
            <input id="txtFnMonthCredit" hidden />
            <input id="txtFnMonthDebit" hidden />
            <input id="txtFnMonthMarkup" hidden />
            <input id="ID" value="0" hidden />
            <input id="FN_CREDIT"  hidden />
            
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Personnel No")
                   <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="PR_P_NO" disabled />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="btn_PR_P_NO_FEE" name="btn_PR_P_NO_FEE" data-toggle="modal" data-target="#PR_P_NOModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("First Name")
                    <div class="col-md-12">
                        <input class="form-control" id="Pr_Name" disabled/>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("L/Fin Type")
                   <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="FN_TYPE" disabled />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="btn_FN_TYPE_FEE" name="btn_FN_TYPE_FEE" data-toggle="modal" data-target="#FN_TYPEModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("L/Fin No")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_FIN_NO" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Next Payroll Date")
                    <div class="col-md-12">
                        <input class="form-control" id="dtPayG" type="date" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Start Date")
                    <div class="col-md-12">
                        <input class="form-control" id="Start_Date" type="date" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Expiry Date")
                    <div class="col-md-12">
                        <input class="form-control" id="End_Date" type="date" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Extra Time")
                    <div class="col-md-12">
                        <input class="form-control" id="ExtraTime" type="date" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Payroll Date")
                    <div class="col-md-12">
                        <input class="form-control" id="Pay_Gen_Date" type="date" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Enhancement Date")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_MDATE" type="date" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Enhancement Amount")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_DEBIT"/>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Credit Ratio %")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_C_RATIO_PER" />
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Credit Ratio")
                    <div class="col-md-12">
                        <input class="form-control" id="CreditRatio" />
                        <input id="txtVal3" value="0" hidden />
                    </div>
                </div>
            </div>
            
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Less Ratio Availed")
                    <div class="col-md-12">
                        <input class="form-control" id="RATIO_AVAILED" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Availab Ratio")
                    <div class="col-md-12">
                        <input class="form-control" id="AVAILABLE" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Factor")
                   <div class="row">
                        <div class="col-md-6">
                        <input class="form-control" id="Factor" />
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" id="FN_PAY_LEFT" value="0" />
                    </div>
                   </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Amt Of Loan Can Be Availed")
                    <div class="col-md-12">
                        <input class="form-control" id="CAN_BE" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Total Monthly Install")
                    <div class="col-md-12">
                        <input class="form-control" id="TOT_MONTHLY_INSTALL" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Balance")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_BALANCE" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Installment Received")
                    <div class="col-md-12">
                        <input class="form-control" id="TOT_INST" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Markup Received")
                    <div class="col-md-12">
                        <input class="form-control" id="MARKUP_REC" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Installment Amount")
                    <div class="col-md-12">
                        <input class="form-control" id="FIN_CREDIT" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Markup")
                    <div class="col-md-12">
                        <input class="form-control" id="Markup" />
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="FN_TYPEModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_FN_TYPE_FEE" class="table table-bordered text-center table-hover table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>FN TYPE</th>
                                <th>FN FIN NO</th>                               
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="PR_P_NOModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_PR_P_NO_FEE" class="table table-bordered text-center table-hover table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>PR P NO</th>
                                <th>PR NAME</th>                                
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
