﻿@{
    ViewBag.Title = "Fin Liquidation Entry";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Fin Liquidation Entry";
}
<style>
    .displayNone {
        display: none !important;
    }
</style>
<script>
    function AddNew() {
        location.reload();
    }
</script>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">FINANCE SYSTEM LIQUIDATION OF FINANCE</h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp; Clear</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">

        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Personnel No")
                    <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="PR_P_NO" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="btn_PR_P_NO_FLE" name="btn_PR_P_NO_FLE" data-toggle="modal" data-target="#PR_P_NOModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("First Name")
                    <div class="col-md-12">
                        <input class="form-control" id="Pr_Name" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("L/Fin Type")
                   <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="FN_TYPE" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="btn_FN_TYPE_FLE" name="btn_FN_TYPE_FLE" data-toggle="modal" data-target="#FN_TYPEModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("L/Fin No")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_FIN_NO" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Start Date")
                    <div class="col-md-12">
                        <input class="form-control" id="Start_Date" type="date" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Expiry Date")
                    <div class="col-md-12">
                        <input class="form-control" id="End_Date" type="date" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Extra Time")
                    <div class="col-md-12">
                        <input class="form-control" id="ExtraTime" type="date" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Payroll Date")
                    <div class="col-md-12">
                        <input class="form-control" id="DTPAY_GEN_DATE" type="date" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Adjustment Date")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_MDATE" type="date" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Principal Amount")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_CREDIT" value="0" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Markup Received")
                    <div class="col-md-12">
                        <input class="form-control" id="MarkUpRec" value="0" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Markup Left")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_MARKUP" value="0" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("No Of Inst Rec")
                    <div class="col-md-12">
                        <input class="form-control" id="InstRec" value="0"/>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("No Of Inst Left")
                    <div class="col-md-12">
                        <input class="form-control" id="InstLeft" value="0" />
                    </div>
                </div>
            </div>

            <input id="ID" value="0" hidden />
            <input id="pr_transfer_date" type="date" hidden />
            <input id="FN_C_RATIO" hidden value="0" />
            <input id="finMarkup" hidden value="0" />
            <input id="txtfndebit" hidden value="0" />
            <input id="txtBal" hidden value="0" />
            <input id="txtfnliqFlag" hidden />
            <input id="FN_M_BRANCH" hidden />
            
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="Submit_FLE" id="Submit_FLE" value="Submit" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
</div>

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">            
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">

        <div class="row">
            <input id="ID1" value="0" hidden />
         
            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("SEGMENT")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_SEGMENT" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("DEPT")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_DEPT" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("CONT")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_CONTRIB" />
                    </div>
                </div>
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="Submit_dtGrdDept_FLE" id="Submit_dtGrdDept_FLE" value="Submit" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
</div>


<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"> </h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <table id="TBL_dtGrdDept_FLE" class="table table-bordered text-center table-hover table-sm" width="100%">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>SEGMENT</th>
                    <th>DEPT</th>
                    <th>CONT</th>
                </tr>
            </thead>
            <tbody id="">
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="FN_TYPEModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_FN_TYPE_FLE" class="table table-bordered text-center table-hover table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>FN TYPE</th>
                                <th>FN FIN NO</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="PR_P_NOModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_PR_P_NO_FLE" class="table table-bordered text-center table-hover table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>PR P NO</th>
                                <th>PR NAME</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
