﻿@{
    ViewBag.Title = "Fin Reduction Entry";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Fin Reduction Entry";
}
<style>
    .displayNone {
        display: none !important;
    }
</style>
<script>
    function AddNew() { location.reload(); }
</script>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">FINANCE SYSTEM REDUCTION OF FINANCE</h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp; Clear</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">

                <div id="FinReductionEntry_DIV_Functions">
                    <div class="row">

                        <div class="row">
                            <button type="button" id="FinReductionEntry_ADD_BTN" name="FinReductionEntry_ADD_BTN" class="btn btn-outline-primary">
                                Add                   
                            </button>                 
                            &nbsp;                    
                            <button type="button" id="FinReductionEntry_UPDATE_BTN" name="FinReductionEntry_UPDATE_BTN" class="btn btn-outline-success">
                                Update                
                            </button>                 
                            &nbsp;                    
                            <button type="button" id="FinReductionEntry_DELETE_BTN" name="FinReductionEntry_DELETE_BTN" class="btn btn-outline-danger">
                                Delete                
                            </button>                 
                            &nbsp;                    
                            <button type="button" id="FinReductionEntry_VIEW_BTN" name="FinReductionEntry_VIEW_BTN" class="btn btn-outline-info">
                                View
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <input hidden id="FinReductionEntry" name="FinReductionEntry" value="0" />
        <hr />
        <input hidden id="ID" name="ID" value="0" />
        <input hidden id="FN_M_BRANCH" name="FN_M_BRANCH"/>       
        <input hidden id="pr_category" name="pr_category"/>
        <input hidden id="pr_level" name="pr_level"/>
        <input hidden id="pr_transfer" name="pr_transfer"/>
        <input hidden id="FN_C_RATIO" name="FN_C_RATIO" />
        <input hidden id="finMarkup" name="finMarkup" />
        <input hidden id="txtVal3" name="txtVal3" />
        <input hidden id="W_Bal" name="W_Bal" />
        <input hidden id="txtWTenCBonus" name="txtWTenCBonus" />
        <input hidden id="wval5" name="wval5" />
        <input hidden id="txtFnMonthDebit" name="txtFnMonthDebit" />
        <input hidden id="txtFnMonthCredit" name="txtFnMonthCredit" />
        <input hidden id="txtFnMonthMarkup" name="txtFnMonthMarkup" />
        
        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Personnel No")
                    <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="PR_P_NO" disabled />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#PR_P_NOModal" id="PR_P_NO_FRE_btn" name="PR_P_NO_FRE_btn">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("First Name")
                    <div class="col-md-12">
                        <input class="form-control" id="Pr_Name" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("L/Fin Type")
                    <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="FN_TYPE" disabled />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#FN_TYPEModal" id="FN_TYPE_FRE_btn" name="FN_TYPE_FRE_btn">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>                    
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("L/Fin No")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_FIN_NO" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Expected Payroll Date")
                    <div class="col-md-12">
                        <input class="form-control" id="Pay_Gen" type="date" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Start Date")
                    <div class="col-md-12">
                        <input class="form-control" id="Start_Date" type="date" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Expiry Date")
                    <div class="col-md-12">
                        <input class="form-control" id="End_Date" type="date" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Extra Time")
                    <div class="col-md-12">
                        <input class="form-control" id="ExtraTime" type="date" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Annual Pack")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_NEW_ANNUAL_PACK" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Payroll Date")
                    <div class="col-md-12">
                        <input class="form-control" id="Pay_Gen_Date" type="date" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Reduction Date")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_MDATE" type="date" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Reduction Amount")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_CREDIT" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Credit Ratio %")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_C_RATIO_PER" />
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Credit Ratio")
                    <div class="col-md-12">
                        <input class="form-control" id="CreditRatio" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Less Ratio Availed")
                    <div class="col-md-12">
                        <input class="form-control" id="RATIO_AVAILED" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Availab Ratio")
                    <div class="col-md-12">
                        <input class="form-control" id="AVAILABLE" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Factor")
                    <div class="row">
                        <div class="col-md-6">
                            <input class="form-control" id="Factor" />
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" id="FN_PAY_LEFT" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Amt Of Loan Can Be Availed")
                    <div class="col-md-12">
                        <input class="form-control" id="CAN_BE" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Total Monthly Install")
                    <div class="col-md-12">
                        <input class="form-control" id="TOT_MONTHLY_INSTALL" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Balance")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_BALANCE" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Installment Received")
                    <div class="col-md-12">
                        <input class="form-control" id="TOT_INST" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Markup Received")
                    <div class="col-md-12">
                        <input class="form-control" id="MARKUP_REC" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Installment Amount")
                    <div class="col-md-12">
                        <input class="form-control" id="FIN_CREDIT" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Markup")
                    <div class="col-md-12">
                        <input class="form-control" id="Markup" />
                    </div>
                </div>
            </div>

        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="Submit_FRE" type="button" name="Submit_FRE" value="Submit" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="FN_TYPEModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="FN_TYPE_FRE_tbl" class="table table-bordered text-center table-hover table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>FN TYPE</th>
                                <th>FN FIN NO</th>  
                                <th>FN C RATIO</th>
                                <th>FN MARKUP</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="PR_P_NOModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="PR_P_NO_FRE_tbl" class="table table-bordered text-center table-hover  table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>PR P NO</th>
                                <th>PR NAME</th>   
                                <th>FN_M_BRANCH</th>
                                <th>PR_NEW_ANNUAL_PACK</th>
                                <th>pr_category</th>
                                <th>pr_level</th>
                                <th>pr_transfer</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
