﻿@{
    ViewBag.Title = "Liquidated Finance Query";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Liquidated Finance Query";
}
<style>
    .displayNone {
        display: none !important;
    }
</style>
<script>
    function AddNew() {
        location.reload();
    }
</script>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Finance System Liquidated Loans / Finance Query</h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp; Clear</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">

        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Personnel No")
                   <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="PR_P_NO" disabled/>
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="btn_LFQ_PR_P_NO" name="btn_LFQ_PR_P_NO" data-toggle="modal" data-target="#PR_P_NOModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("First Name")
                    <div class="col-md-12">
                        <input class="form-control" id="Pr_Name" disabled />
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>


<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"> </h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <table id="tbl_DGVDetail_LFQ" class="table table-bordered text-center table-hover table-sm" width="100%">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>Finance Number</th>
                    <th>Disbursment Date</th>
                    <th>Disbursment Amount</th>
                    <th>Liquidation Date</th>
                    <th>Liquidation Amount</th>
                    <th>Exception Y/N</th>
                    <th>Exception  Remarks</th>
                </tr>
            </thead>
            <tbody id="">
            </tbody>
        </table>
    </div>
</div>


<div class="modal fade" id="PR_P_NOModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_LFQ_PR_P_NO" class="table table-bordered text-center table-hover table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>PR P NO</th>
                                <th>PR NAME</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
