﻿@{
    ViewBag.Title = "Mortgage Property Collateral Entry";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Mortgage Property Collateral Entry";
}
<style>
    .displayNone {
        display: none !important;
    }
</style>
<script>
    function AddNew() {
        location.reload();
    }
</script>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">FINANCE SYSTEM MORTGAGE PROPERTY COLLATERAL ENTRY </h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp; Clear</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">

        <div class="row">
            <input id="ID" value="0" hidden/>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Personnel No")
                   <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="PR_P_NO" disabled/>
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="btn_PR_P_NO_MPCE" name="btn_PR_P_NO_MPCE" data-toggle="modal" data-target="#PR_P_NOModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("First Name")
                    <div class="col-md-12">
                        <input class="form-control" id="Pr_Name" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Finance No")
                    <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="FN_FIN_NO" disabled />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="btn_FN_FIN_NO_MPCE" name="btn_FN_FIN_NO_MPCE" data-toggle="modal" data-target="#FN_FIN_NOModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Start Date")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_START_DATE" type="date" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Expiry Date")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_END_DATE" type="date" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("L/FinType")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_TYPE" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("L/Fin Sub Type")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_SUBTYPE" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Descrip")
                    <div class="col-md-12">
                        <input class="form-control" id="W_DESC" disabled />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Sub Descrip")
                    <div class="col-md-12">
                        <input class="form-control" id="W_SUBDESC" disabled />
                    </div>
                </div>
            </div>

        </div>
@* 
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="Submit_MPCE" id="Submit_MPCE" value="Submit" class="btn btn-outline-primary" />
            </div>
        </div> *@

        <div class="row">
            <input id="ID1" value="0" hidden />

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Collateral Code")                   
                    <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="FN_COLLAT_NO" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="btn_FN_COLLAT_NO_MPCE" name="btn_FN_COLLAT_NO_MPCE" data-toggle="modal" data-target="#FN_COLLAT_NOModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Collateral Description")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_COLLAT_DESC" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Party 1")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_PARTY1" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Party 2")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_PARTY2" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Collateral Date")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_COLLAT_DT" type="date" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Doc Receive Date")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_DOC_RCV_DT" type="date" />
                    </div>
                </div>
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="Submit_MPCE1" id="Submit_MPCE1" value="Submit" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
</div>
@* 
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"> </h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <table id="" class="table table-bordered text-center table-hover dTable">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>Collateral Code</th>
                    <th>Collateral Description</th>
                    <th>Party 1</th>
                    <th>Party 2</th>
                    <th>Collateral Date</th>
                    <th>Doc Receive Date</th>
                </tr>
            </thead>
            <tbody id="">
            </tbody>
        </table>
    </div>
</div>
 *@

<div class="modal fade" id="PR_P_NOModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_PR_P_NO_MPCE" class="table table-bordered text-center table-hover table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>EMPLOYEE NAME</th>
                                <th>EMPLOYEE</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="FN_FIN_NOModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_FN_FIN_NO_MPCE" class="table table-bordered text-center table-hover table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>FN FIN NO</th>
                                <th>FN TYPE</th>
                                <th>W DESC</th>
                                <th>W SUB DESC</th>
                                <th>FN SUB TYPE</th>
                                <th>FN START DATE</th>
                                <th>FN END DATE</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="FN_COLLAT_NOModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_FN_COLLAT_NO_MPCE" class="table table-bordered text-center table-hover table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>FN_COLLAT_NO</th>
                                <th>FN_COLLAT_DESC</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>