﻿@{
    ViewBag.Title = "Self Insurane Entry";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Self Insurane Entry";
}
<style>
    .displayNone {
        display: none !important;
    }
</style>
<script>
    function AddNew() {
        location.reload();
    }
</script>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">FINANCE SYSTEM SELF INSURANCE </h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp; Clear</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">

        <div class="row">
            <input id="ID" value="0" hidden />

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Personnel No")
                    <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="PR_P_NO" disabled/>
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="btn_PR_P_NO_SelfInsE" name="btn_PR_P_NO_SelfInsE" data-toggle="modal" data-target="#PR_P_NOModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("First Name")
                    <div class="col-md-12">
                        <input class="form-control" id="Pr_Name" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Insurance Company")
                    <div class="col-md-12">
                        <input class="form-control" id="FNI_COMP" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Policy No")
                    <div class="col-md-12">
                        <input class="form-control" id="FNI_POLICY" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Insurance Amount")
                    <div class="col-md-12">
                        <input class="form-control" id="FNI_INS_AMT" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Annual Premium")
                    <div class="col-md-12">
                        <input class="form-control" id="FNI_ANNUAL_PRE" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Date Last Payment")
                    <div class="col-md-12">
                        <input class="form-control" id="FNI_LAST_PAY" type="date" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Assigned to Bank")
                    <div class="col-md-12">
                        <input class="form-control" id="FNI_ASSIG_BANK" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("For the Month")
                    <div class="col-md-12">
                        <input class="form-control" id="Month" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Type of Insurance")
                    <div class="col-md-12">
                        <input class="form-control" id="FNI_TYPE" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Annual Reduction")
                    <div class="col-md-12">
                        <input class="form-control" id="FNI_ANNUAL_RED" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Date of Payment")
                    <div class="col-md-12">
                        <input class="form-control" id="FNI_PAY_DATE" type="date"/>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Nomination")
                    <div class="col-md-12">
                        <input class="form-control" id="FNI_NOMINATION" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Monthly Deduction")
                    <div class="col-md-12">
                        <input class="form-control" id="INS_PREMIUM" />
                    </div>
                </div>
            </div>

        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="Submit_SelfInsuraneEntry" id="Submit_SelfInsuraneEntry" value="Submit" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="PR_P_NOModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_PR_P_NO_SelfInsE" class="table table-bordered text-center table-hover table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>PR FIRST NAME</th>
                                <th>FNI P NO</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

