﻿@{
    ViewBag.Title = "Transfer Finance Type";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Transfer Finance Type";
}
<style>
    .displayNone {
        display: none !important;
    }
</style>
<script>
    function AddNew() {
        location.reload();
    }
</script>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Finance System Transfer Finance Type </h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp; Clear</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <input id="ID" value="0" hidden/>
        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Finance Number")
                    <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="FNT_FIN_NO" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="btn_FN_TF_Type" name="btn_FN_TF_Type" data-toggle="modal" data-target="#FNT_FIN_NOModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("MarkUp %")
                    <div class="col-md-12">
                        <input class="form-control" id="F_OMARKUP" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Old Finance Type")
                   <div class="row">
                        <div class="col-md-6">
                            <input class="form-control" id="FNT_OLD_TYPE" />
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" id="F_OLD_DESC" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Personnel Number")
                    <div class="row">
                        <div class="col-md-6">
                            <input class="form-control" id="FNT_P_NO" />
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" id="F_NAME" />
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Transfer Type")
                    <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="FNT_NEW_TYPE" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="btn_FNT_NEW_TYPE" name="btn_FNT_NEW_TYPE" data-toggle="modal" data-target="#FNT_NEW_TYPEModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("DESC")
                    <div class="col-md-12">
                        <input class="form-control" id="F_NEW_DESC" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("MarkUp %")
                    <div class="col-md-12">
                        <input class="form-control" id="F_OMARKUP1" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Transfer Date")
                    <div class="col-md-12">
                        <input class="form-control" id="FNT_DATE" type="date" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Adjustment Amount += DR  -= CR")
                    <div class="col-md-12">
                        <input class="form-control" id="FNT_ADJ_AMT" />
                    </div>                    
                </div>
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="Submit_TransferFinanceType" id="Submit_TransferFinanceType" value="Submit" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="FNT_FIN_NOModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_FNT_FIN_No" class="table table-bordered text-center table-hover table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>FNT P NO</th>
                                <th>F NAME</th>
                                <th>FNT FIN NO</th>
                                <th>FNT OLD TYPE</th>
                                <th>F O MARKUP</th>
                                <th>F OLD DESC</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="FNT_NEW_TYPEModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_FNT_NEW_TYPE" class="table table-bordered text-center table-hover table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>FNT NEW TYPE</th>
                                <th>FN MARKUP</th>
                                <th>F NEW DESC</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
