﻿@{
    ViewBag.Title = "Vehicle Insurance Entry";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Vehicle Insurance Entry";
}
<style>
    .displayNone {
        display: none !important;
    }
</style>
<script>
    function AddNew() {
        location.reload();
    }
</script>


<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">FINANCE SYSTEM VEHICLE INSURANCE ENTRY</h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp; Clear</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">

        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Personnel NO")
                   <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="PR_P_NO" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="btn_PR_P_NO_VIE" name="btn_PR_P_NO_VIE" data-toggle="modal" data-target="#PR_P_NOModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("First Name")
                    <div class="col-md-12">
                        <input class="form-control" id="PR_FIRST_NAME" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Finance No")
                    <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="FN_FINANCE_NO" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="btn_FN_FINANCE_NO_VIE" name="btn_FN_FINANCE_NO_VIE" data-toggle="modal" data-target="#FN_FINANCE_NOModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Finanace Type")
                    <div class="col-md-12">
                        <input class="form-control" id="fn_type" />
                    </div>
                </div>
            </div>
            
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Descrip")
                    <div class="col-md-12">
                        <input class="form-control" id="descrip" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Insurance Policy No")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_POLICY_NO" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Insurance Compnay")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_INSUR_COMP" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Policy Issue Date")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_POLICY_ISS_DATE" type="date" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Policy Expiry Date")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_POLICY_EXP_DATE" type="date" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Vehicle Registration No")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_VEHC_REG_NO" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Vehicle Engine No")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_VEHC_ENG_NO" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Vehicle Chasis No")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_VEHC_CHS_NO" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Vehicle Make")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_VEHC_MAKE" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Vehicle ModeL")
                    <div class="col-md-12">
                        <input class="form-control" id="FN_VEHC_MODEL" />
                    </div>
                </div>
            </div>

        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="Submit_VehicleInsuranceEntry" id="Submit_VehicleInsuranceEntry" value="Submit" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="PR_P_NOModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="TBL_PR_P_NO_VIE" class="table table-bordered text-center table-hover table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>PR FIRST NAME</th>
                                <th>PR P NO</th>                               
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="FN_FINANCE_NOModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="TBL_FN_FINANCE_NO_VIE" class="table table-bordered text-center table-hover table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>FN FINANCE NO</th>
                                <th>FN TYPE</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
