﻿@{
    ViewBag.Title = "Monthly PF Update";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Monthly PF Update";
}

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Report Parameters</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <div class="row">
            <input id="MPFU" hidden/>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Payroll Date")
                    <div class="col-md-12">
                        <input class="form-control" id="PayrollDate_MPFU" type="date" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Personnel No. Or NULL (ALL):")
                    <div class="col-md-12">
                        <input class="form-control" id="PNUM1" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Personnel No")
                    <div class="col-md-12">
                        <input class="form-control" id="PNUM" />
                    </div>
                </div>
            </div>

        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="RunMonthlyPFUpdate" id="RunMonthlyPFUpdate" value="Process Start" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
    
</div>
