﻿@{
    ViewBag.Title = "PF Contribution Update";
    ViewBag.Controller = "Home";
    ViewBag.Action = "PF Contribution Update";
}

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Report Parameters</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-outline-success AddPFContUpdateBtn"><i class="fas fa-plus"></i>Add New</button>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <div class="row">

            <input id="ID" hidden />

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Personal No")
                    <div class="col-md-12">
                        <input class="form-control" id="PFContributionUpdatePNO" />
                    </div>
                </div>
            </div>


            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Name")
                    <div class="col-md-12">
                        <input class="form-control" id="Name" readonly/>
                    </div>
                </div>
            </div>
            


            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Year")
                    <div class="col-md-12">
                        <input class="form-control" id="PFContributionUpdateYear" />
                    </div>
                </div>
            </div>

            

        </div>

        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Date")
                    <div class="col-md-12">
                        <input class="form-control" id="Date" type="date"/>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Employee Contribution")
                    <div class="col-md-12">
                        <input class="form-control" id="EmpCont" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Arear")
                    <div class="col-md-12">
                        <input class="form-control" id="Arear" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Flag")
                    <div class="col-md-12">
                        <input class="form-control" id="Flag" maxlength="1" />
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" name="RunPFContUpdate" value="Submit" class="btn btn-outline-primary SubmitPFContUpdateBtn" />
        </div>
    </div>
</div>


<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <table id="" class="table table-bordered text-center table-hover dTable">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>DATE</th>
                    <th>EMPLOYEE CONTRIBUTION</th>
                    <th>AREAR</th>
                    <th>FLAG</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody id="PFContUpdateList">
            </tbody>
        </table>
    </div>
</div>

