﻿@{
    ViewBag.Title = "PF Entry";
    ViewBag.Controller = "Home";
    ViewBag.Action = "PF Entry";
}

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Provident Fund Module PF Entry</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <div class="row">
            <input id="ID" hidden/>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Personnel No")
                    <div class="input-group">
                        <input class="form-control" id="PFEntryPNo" />
                        <div class="ml-1 input-group-append">
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#PNoModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Name")
                    <div class="col-md-12">
                        <input class="form-control" id="PFEntryName" readonly/>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("P Fund Year")
                    <div class="input-group">
                        <input class="form-control" id="PFEntryPF_YEAR" />
                        <div id="YearModalBtn" class="ml-1 input-group-append">
                            <button  type="button" class="btn btn-default" data-toggle="modal" data-target="#PFundYearModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Employee Cont")
                    <div class="col-md-12">
                        <input class="form-control" id="PFEntryPF_EMP_CONT" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Bank Cont")
                    <div class="col-md-12">
                        <input class="form-control" id="PFEntryPF_BNK_CONT" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Acc Interest")
                    <div class="col-md-12">
                        <input class="form-control" id="PFEntryPF_INTEREST" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Premium Amount")
                    <div class="col-md-12">
                        <input class="form-control" id="PFEntryPF_PREMIUM" />
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" name="RunPFEntry" value="Submit" class="btn btn-outline-primary PFEntrySubmitBtn" />
        </div>
    </div>
</div>


<div class="modal fade" id="PNoModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="" class="table table-bordered text-center table-hover dTable">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>PF NAME</th>
                                <th>PF PR P NO</th>
                            </tr>
                        </thead>
                        <tbody id="PFEntryNameList">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="PFundYearModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="" class="table table-bordered text-center table-hover dTable">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>Year</th>
                            </tr>
                        </thead>
                        <tbody id="PFEntryYearList">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
