﻿@{
	ViewBag.Title = "PF Interest Entry";
	ViewBag.Controller = "Home";
	ViewBag.Action = "PF Interest Entry";
}

<div class="card card-primary card-outline">
	<div class="card-header">
		<h3 class="card-title">Provident Fund Module PF Interest Entry</h3>
		<div class="card-tools">
			<button type="button" class="btn btn-outline-success PFundIntEntryAddBtn"><i class="fas fa-plus"></i>Add New</button>
			<button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
		</div>
	</div>
	<!-- /.Case Form Start -->
	<div class="card-body">

		<div class="row">
			<input id="ID" hidden />

			<div class="col-md-3">
				<div class="form-group">
					@Html.Label("Year")
					<div class="col-md-12">
						<input class="form-control" id="PFundIntEntryYear" />
					</div>
				</div>
			</div>

			<div class="col-md-3">
				<div class="form-group">
					@Html.Label("Interest Rate %")
					<div class="col-md-12">
						<input class="form-control" id="PFundIntEntryIntRate" />
					</div>
				</div>
			</div>

			<div class="col-md-3">
				<div class="form-group">
					@Html.Label("Resinges Interest Rate %")
					<div class="col-md-12">
						<input class="form-control" id="PFundIntEntryResIntRate" />
					</div>
				</div>
			</div>

		</div>

	</div>
	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<input type="button" name="RunPFIntEntry" value="Submit" class="btn btn-outline-primary PFundIntEntrySubmitBtn" />
		</div>
	</div>
</div>


<div class="card card-primary card-outline">
	<div class="card-header">
		<h3 class="card-title"></h3>
		<div class="card-tools">
			<button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
		</div>
	</div>
	<div class="card-body">
		<table id="" class="table table-bordered text-center table-hover dTable">
			<thead class="Custom-Table-Head">
				<tr>
					<th>YEAR</th>
					<th>INTEREST RATE %</th>
					<th>RESINGES INTEREST RATE %</th>
					<th>ACTION</th>
				</tr>
			</thead>
			<tbody id="PFundIntEntryList">
			</tbody>
		</table>
	</div>
</div>

