﻿@{
    ViewBag.Title = "PF Query";
    ViewBag.Controller = "Home";
    ViewBag.Action = "PF Query";
}
<script>
    function AddNew() {
        location.reload();
    }
</script>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Provident Fund Module PF Query</h3>
        <div class="card-tools">
            <a href="#" class="btn btn-outline-success" onclick="AddNew()"><i class="fas fa-plus"></i>&nbsp; Clear</a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <input id="dtww_date" hidden />
        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Personnel No")
                   <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" id="PNo" />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" id="btn_PNo_PFQ" name="btn_PNo_PFQ" data-toggle="modal" data-target="#PNoModal">
                                <i class="fas fa-align-center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Name")
                    <div class="col-md-12">
                        <input class="form-control" id="Name" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Branch")
                    <div class="col-md-12">
                        <input class="form-control" id="Branch" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Balance")
                    <div class="col-md-12">
                        <input class="form-control" id="Balance" />
                    </div>
                </div>
            </div>


        </div>
    </div>

    <div class="card-body">
        <div class="row">
            <h5>Blance</h5>
        </div>

        <div class="row">

            <div class="col-md-2">
                <div class="form-group">
                    @Html.Label("Emp Cont")
                    <div class="col-md-12">
                        <input class="form-control" id="PF_EMP_CONT" />
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    @Html.Label("Bank Cont")
                    <div class="col-md-12">
                        <input class="form-control" id="PF_BNK_CONT" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Acc Interest")
                   <div class="row">
                        <div class="col-md-6">
                            <input class="form-control" id="PF_INTEREST" />
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" id="PF_TOTAL" />
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="card-body">
        <div class="row">

            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("Jan")
                    <div class="row">
                        <div class="col-md-2">
                            <input class="form-control" id="EMP_CONT1" />
                        </div>
                        <div class="col-md-2">
                            <input class="form-control" id="BNK_CONT1" />
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("Feb")
                    <div class="row">
                        <div class="col-md-2">
                            <input class="form-control" id="EMP_CONT2" />
                        </div>
                        <div class="col-md-2">
                            <input class="form-control" id="BNK_CONT2" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("Mar")
                   <div class="row">
                        <div class="col-md-2">
                            <input class="form-control" id="EMP_CONT3" />
                        </div>
                        <div class="col-md-2">
                            <input class="form-control" id="BNK_CONT3" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("Apr")
                   <div class="row">
                        <div class="col-md-2">
                            <input class="form-control" id="EMP_CONT4" />
                        </div>
                        <div class="col-md-2">
                            <input class="form-control" id="BNK_CONT4" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("May")
                   <div class="row">
                        <div class="col-md-2">
                            <input class="form-control" id="EMP_CONT5" />
                        </div>
                        <div class="col-md-2">
                            <input class="form-control" id="BNK_CONT5" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("Jun")
                    <div class="row">
                        <div class="col-md-2">
                            <input class="form-control" id="EMP_CONT6" />
                        </div>
                        <div class="col-md-2">
                            <input class="form-control" id="BNK_CONT6" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("Jul")
                    <div class="row">
                        <div class="col-md-2">
                            <input class="form-control" id="EMP_CONT7" />
                        </div>
                        <div class="col-md-2">
                            <input class="form-control" id="BNK_CONT7" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("Aug")
                    <div class="row">
                        <div class="col-md-2">
                            <input class="form-control" id="EMP_CONT8" />
                        </div>
                        <div class="col-md-2">
                            <input class="form-control" id="BNK_CONT8" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("Sep")
                   <div class="row">
                        <div class="col-md-2">
                            <input class="form-control" id="EMP_CONT9" />
                        </div>
                        <div class="col-md-2">
                            <input class="form-control" id="BNK_CONT9" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("Oct")
                   <div class="row">
                        <div class="col-md-2">
                            <input class="form-control" id="EMP_CONT10" />
                        </div>
                        <div class="col-md-2">
                            <input class="form-control" id="BNK_CONT10" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("Nov")
                   <div class="row">
                        <div class="col-md-2">
                            <input class="form-control" id="EMP_CONT11" />
                        </div>
                        <div class="col-md-2">
                            <input class="form-control" id="BNK_CONT11" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("Dec")
                   <div class="row">
                        <div class="col-md-2">
                            <input class="form-control" id="EMP_CONT12" />
                        </div>
                        <div class="col-md-2">
                            <input class="form-control" id="BNK_CONT12" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("Y-To - Dt")
                    <div class="row">
                        <div class="col-md-2">
                            <input class="form-control" id="EMP_YEAR_TOT" />
                        </div>
                        <div class="col-md-2">
                            <input class="form-control" id="BNK_YEAR_TOT" />
                        </div>
                        <div class="col-md-2">
                            <input class="form-control" id="INS_YEAR_TOT" />
                        </div>
                        <div class="col-md-2">
                            <input class="form-control" id="PF_YEAR_TOT" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    @Html.Label("Premium")
                    <div class="col-md-12">
                        <input class="form-control" id="F_PREMIUM" />
                    </div>                   
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("Total")
                   <div class="row">
                        <div class="col-md-2">
                            <input class="form-control" id="EMP_TOT" />
                        </div>
                        <div class="col-md-2">
                            <input class="form-control" id="BNK_TOT" />
                        </div>
                        <div class="col-md-2">
                            <input class="form-control" id="INS_TOT" />
                        </div>
                        <div class="col-md-2">
                            <input class="form-control" id="PF_TOT" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    @Html.Label("PFund Summary")
                    <div class="col-md-12">
                        <input type="button" name="PFundSummary" value="Calculate" class="btn btn-outline-primary" data-toggle="modal" data-target="#PFSummaryModal" />
                    </div>
                </div>
            </div>
        </div>
    </div>

   @*  <div class="card-body">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="RunPFQuery" value="Run" class="btn btn-outline-primary" />
            </div>
        </div>
    </div> *@
</div>


<div class="modal fade" id="PNoModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Of Records</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tbl_PNo_PFQ" class="table table-bordered text-center table-hover table-sm" width="100%">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>PF NAME</th>
                                <th>PF PR P NO</th>
                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="PFSummaryModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">PFund Summary</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                @Html.Label("From Date")
                                <div class="col-md-12">
                                    <input class="form-control" id="FDate" type="date"/>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                @Html.Label("To Date")
                                <div class="col-md-12">
                                    <input class="form-control" id="TDate" type="date" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                @Html.Label("Employeer Share")
                                <div class="col-md-12">
                                    <input class="form-control" id="PF_YEAR_TOT1" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                @Html.Label("Employee Share")
                                <div class="col-md-12">
                                    <input class="form-control" id="PF_YEAR_TOT2" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                @Html.Label("Total Amount")
                                <div class="col-md-12">
                                    <input class="form-control" id="PF_YEAR_TOT3" />
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="button" name="btn_Cal_PFQ" id="btn_Cal_PFQ" value="Calculate" class="btn btn-outline-primary" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

