﻿@{
    ViewBag.Title = "Resign I Sand Other Settlement";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Resign I Sand Other Settlement";
}

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Report Parameters</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Destination Type")
                    <div class="col-md-12">
                        <select class="form-control" id="DesType">
                            <option value="" selected>--Select--</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Today")
                    <div class="col-md-12">
                        <input class="form-control" id="Today" type="date"/>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Year")
                    <div class="col-md-12">
                        <input class="form-control" id="Year" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("PERSONNEL NO FROM")
                    <div class="col-md-12">
                        <input class="form-control" id="PNOF" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("ENTER BRANCH OR ALL")
                    <div class="col-md-12">
                        <input class="form-control" id="w_brn" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("ENTER DEPARTMENT OR ALL")
                    <div class="col-md-12">
                        <input class="form-control" id="w_dept" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Termination Dt")
                    <div class="col-md-12">
                        <input class="form-control" id="termination_dt" type="date"/>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Trustee 1")
                    <div class="col-md-12">
                        <input class="form-control" id="Trustee1" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Trustee 2")
                    <div class="col-md-12">
                        <input class="form-control" id="Trustee2" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Zakat Deduction")
                    <div class="col-md-12">
                        <input class="form-control" id="zakat" />
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" name="RunResignISandOtherSettl" value="Run" class="btn btn-outline-primary" />
        </div>
    </div>
</div>
