﻿@{
    ViewBag.Title = "Year End Closing Process";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Year End Closing Process";
}

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">PROVIDENT FUND MODULE Year End P.Fund Closing Process
        </h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Enter the Provident Fund Processing Year :")
                    <div class="col-md-12">
                        <input class="form-control" id="Year" />
                    </div>
                </div>
            </div>

        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="RunYearEndClosingProcess" id="RunYearEndClosingProcess" value="Run" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>    
</div>
